div.wrapper {
  padding: 0.25rem 0.125rem 0 0.125rem;
  margin: 0.25rem 0.125rem 0.25rem 0;
  border-radius: 3px;
  background: #eee;
}

.flex-container {
  display: flex;
}

.flex-content-main {
  flex: 1;
}

input {
  width: 100%;
}

clr-icon {
  margin: 0 .125rem;
}

input[type=text],
input[type=text]:focus,
input[type=text]:not([readonly]),
input[type=text]:not([readonly]):focus {
  border-top: none;
  border-right: none;
  border-left: none;
}
