.cohort-search-wrapper {
  padding: 1rem 1rem 2rem;
  margin-right: 45px;
  position: relative;
}
.cohort-name {
  color: #262262;
  font-size: 16px;
}
.root-spinner {
  left: 50%;
  top: 50%;
}
:host::ng-deep .modal-dialog {
  width: 20rem;
}
.modal-title {
  color: #262262;
}
