<div #wrapper class="cohort-search-wrapper">
  <div class="row">
    <div class="col-xl-4 col-lg-6" id="include-groups">
      <app-search-group-list
        [role]="'includes'"
        [groups$]="includeGroups$">
      </app-search-group-list>
    </div>

    <div class="col-xl-4 col-lg-6" id="exclude-groups">
      <app-search-group-list
        *ngIf="(initShowChart$ | async)"
        [role]="'excludes'"
        [groups$]="excludeGroups$">
      </app-search-group-list>
    </div>

    <div class="col-xl-4 col-lg-12" id="charts">
      <app-overview
        *ngIf="(initShowChart$ | async)"
        [total$]="total$"
        [chartData$]="chartData$"
        [isRequesting$]="isRequesting$">
      </app-overview>
    </div>
  </div>
</div>
<app-modal></app-modal>
