::ng-deep .modal-dialog {
  width: 18rem;
}

.modal-title {
  color: #302973;
}

.num-participants {
  height: 1.25rem;
  min-width: 7rem;
  border: 1px solid #C5C5C5;
  border-radius: 3px;
  margin-top: 0.5rem;
}

.num-participants::placeholder {
  font-size: 10px;
}

.btn {
  padding: 0.2rem 0.5rem;
}

.btn.btn-link {
  margin-right: 1rem;
  font-weight: bold;
  color: #000000;
}

.btn.btn-primary {
  height: auto;
  background: #302C71;
}
.btn.btn-primary:disabled {
  background: #9B9B9B;
  color: #C9C8C8;
  border: 1px solid #9B9B9B;
  opacity: 1;
}
