.table-header-descriptor {
  margin-top: 0;
  padding-right: 0.5rem;
  vertical-align: middle;
  color: #262262;
  font-size: 20px;
  font-weight: 500;
}

.table-header {
  margin: 2rem 0 0.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.spinner-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 1.5rem;
  width: 100%;
}

.spinner {
  margin-top: 1rem;
}

.spinner-header {
  color: #007CBB;
  font-size: 16px;
  font-weight: bold;
}

.spinner-text {
  text-align: center;
  /* This forces the flex layout to put the text on a new line. */
  width: 100%;
}

.card {
  width: 12rem;
  height: 9rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card *.date-text {
  font-size: 12px;
  line-height: 17px;
}

.card *.status-text {
  margin-top: auto;
}

.alert.alert-warning {
  background-color: #FFFCEB;
  border: none;
}

.alert-item * {
  color: #E28327;
  font-size: 10px;
  font-weight: 300;
}

.alert-item *.warning-link {
  color: #2691D0;
}

.create-workspace-card {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card .create-workspace-text {
  color: #216FB4;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  width: 6rem;
}

.card .plus-circle {
  margin-top: 0.25rem;
  width: 32px;
  height: 32px;
  color: #216FB4;
}

.header-area {
  display: flex;
  align-items: flex-start;
}

.workspace-name {
  color: #216FB4;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 18px;
  word-break: break-all;
  cursor: pointer;
}

clr-dropdown-menu {
  padding: 0;
}

.dropdown button.dropdown-toggle:not(.btn) {
  padding: 0;
}

.action-item {
  text-align: left;
  color: #4A4A4A;
  background-color: white;
  fill: none;
  cursor: pointer;
  border: none;
  width: 100%;
}

.action-item:hover {
  background-color: #E0EAF1;
}

.action-item.disabled {
  color: #AAAFB4;
  cursor: not-allowed;
}

.action-item.disabled:hover {
  background-color: white;
}

.action-item.disabled {
  outline: none;
}

.ellipsis-vertical {
  width: 21px;
  height: 21px;
  margin-left: -9px;
  color: #216FB4;
}

.ellipsis-vertical.disabled {
  color: #AAAFB4;
  cursor: not-allowed;
}

.padding-wrapper {
  padding: 1rem;
}
