<div class="area-block">
  <app-top-box>
    <div class="padding-wrapper">
      <h3 class="table-header-descriptor">
        Workspaces
      </h3>
      <div class="alert alert-warning" *ngIf="twoFactorBannerEnabled">
        <div class="alert-items" style="width: 24rem;">
          <div class="alert-item static">
            <span class="alert-text">
              Please add a second layer of protection with 2-Step Verification. After three days your account will be suspended.
              If you already completed setup, please ignore this message.
              <a class="warning-link" href="https://myaccount.google.com/security">Set up 2-Step Verification here</a>.
            </span>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="errorText">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">{{errorText}}</span>
          </div>
        </div>
      </div>
      <div class="card-area">
        <div *ngIf="workspacesLoading" class="spinner-container">
          <span class="spinner spinner-lg"></span>
          <p *ngIf="billingProjectInitialized === false" class="spinner-text">
            <span class="spinner-header">Initializing Researcher Account</span>
            <br>
            May take a few minutes
          </p>
        </div>
        <div class="card create-workspace-card" (click)="addWorkspace()" *ngIf="!workspacesLoading">
          <div class="create-workspace-text">Create a New Workspace</div>
          <clr-icon class="plus-circle" shape="plus-circle"></clr-icon>
        </div>
        <div class="card workspace-card" *ngFor="let workspacePermissions of workspaceList">
          <div class="header-area">
            <clr-dropdown [clrCloseMenuOnItemClick]="false">
              <button type="button" [disabled]="actionsDisabled" clrDropdownTrigger>
                <clr-icon shape="ellipsis-vertical" class="ellipsis-vertical" [class.disabled]="actionsDisabled"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen>
                <button class="action-item clone-item"
                        routerLink="/workspaces/{{workspacePermissions.workspace.namespace}}/{{workspacePermissions.workspace.id}}/clone"
                        routerLinkActive="active">
                  <clr-icon shape="copy"></clr-icon>
                  Duplicate
                </button>
                <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-right">
                  <button class="action-item edit-item"
                          [disabled]="!workspacePermissions.canWrite"
                          [class.disabled]="!workspacePermissions.canWrite"
                          routerLink="/workspaces/{{workspacePermissions.workspace.namespace}}/{{workspacePermissions.workspace.id}}/edit"
                          routerLinkActive="active">
                    <clr-icon shape="pencil"></clr-icon>
                    Edit
                  </button>
                  <span *ngIf="!workspacePermissions.canWrite" class="tooltip-content">Requires Write Permission</span>
                </span>
                <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top-right">
                  <button class="action-item share-item"
                          [disabled]="!workspacePermissions.isOwner"
                          [class.disabled]="!workspacePermissions.isOwner"
                          (click)="openShare(workspacePermissions.workspace, workspacePermissions.accessLevel)">
                    <clr-icon shape="share"></clr-icon>
                    Share
                  </button>
                  <span *ngIf="!workspacePermissions.isOwner" class="tooltip-content">
                    Owner access is required to share the workspace.
                  </span>
                </span>
                <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-right">
                  <button class="action-item delete-item"
                          [disabled]="!workspacePermissions.isOwner"
                          [class.disabled]="!workspacePermissions.isOwner"
                          (click)="openConfirmDelete(workspacePermissions.workspace)">
                    <clr-icon shape="trash"></clr-icon>
                    Delete
                  </button>
                  <span *ngIf="!workspacePermissions.isOwner" class="tooltip-content">Requires Owner Permission</span>
                </span>
              </clr-dropdown-menu>
            </clr-dropdown>
            <div class="workspace-name" routerLink="{{workspacePermissions.workspace.namespace}}/{{workspacePermissions.workspace.id}}">
              {{workspacePermissions.workspace.name}}
            </div>
          </div>
          <div class="description">{{workspacePermissions.workspace.description}}</div>
          <div class="status-text">
            <div style="color: #f8c954" *ngIf="workspacePermissions.isPending; else rejected">
              <clr-icon shape="exclamation-triangle" class="is-solid" style="fill: #f8c954"></clr-icon>
              Pending Approval
            </div>
            <ng-template #rejected>
              <div style="color: #f58771" *ngIf="workspacePermissions.isRejected; else permissions">
                <clr-icon shape="exclamation-triangle" class="is-solid" style="fill: #f58771"></clr-icon>
                Rejected
              </div>
            </ng-template>
          </div>
          <div style="display:flex; flex-direction:row; justify-content:space-between; align-items:center">
            <div class="date-text">
              Last Changed:<br>
              {{workspacePermissions.workspace.lastModifiedTime | date:'short'}}
            </div>
            <div class="permission-box {{workspacePermissions.accessLevel | lowercase}}-permission">
              {{workspacePermissions.accessLevel}}
            </div>
          </div>
          <!-- TODO: Add collaborator pictures. -->
          <!-- TODO: Add view of locked workspace when that functionality exists. -->
        </div>
      </div>
    </div>
  </app-top-box>
</div>
<app-bug-report *ngIf="bugReportOpen"
                [bugReportDescription]="bugReportDescription"
                [onClose]="closeBugReport"></app-bug-report>
<clr-modal [(clrModalOpen)]="workspaceDeletionError">
  <h3 class="modal-title">Error:</h3>
  <div class="modal-body">Could not delete workspace '{{workspace.name}}'. Please <a (click)="submitWorkspaceDeleteBugReport()">submit a bug report.</a></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="workspaceDeletionError = false">Ok</button>
  </div>
</clr-modal>
<app-confirm-delete-modal *ngIf="confirmDeleting"
                          [resourceType]="'workspace'"
                          [resourceName]="workspace.name"
                          [receiveDelete]="receiveDelete"
                          [closeFunction]="closeConfirmDelete"></app-confirm-delete-modal>
<app-workspace-share *ngIf="sharing"
                     [onClose]="closeShare"
                     [workspace]="workspace"
                     [accessLevel]="accessLevel"
                     [userEmail]="username"
                     [sharing]="sharing"></app-workspace-share>
