<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9">

    <div class="page-header">
      <div>
        <h2> {{title}} </h2>
      </div>
    </div>

    <div class="row page-align">
      <div *ngFor="let item of conceptGroups" class="button-item">
        <button (click)="showMeasurement(item, item.concepts[0])" [ngClass]="{active:selectedGroup === item}"
                class="btn btn-primary"> {{item.groupName}} </button>
      </div>
    </div>
    <div *ngIf="loading()" class="loading white-card-box ">
      <div class="row flex-items-xs-middle">
        <div class="col-xs-12">
          <span  class="spinner spinner-lg hidden-sm-down">Loading ...</span>
          <span  class="spinner spinner-md hidden-md-up hidden-xs-down"></span>
          <span  class="spinner spinner-sm hidden-sm-up"></span>
        </div>
      </div>
    </div>

    <div *ngIf="!loading()" class="measurement white-card-box ">
      <div class="row box-title">
        <div class="col-md-4">
          <h5 class="box-title"> {{selectedGroup.groupName}}</h5>
        </div>
        <div *ngIf="selectedGroup.concepts.length > 1" class="col-md">
          <button *ngFor="let c of selectedGroup.concepts" [ngClass]="{active:selectedConcept === c}" (click)="showMeasurement(selectedGroup, c)" class="btn btn-link">{{c.conceptName}} </button>
        </div>
      </div>

      <div class="row" *ngIf="selectedConcept.analyses && selectedConcept.analyses.genderAnalysis" >
        <!-- Loop through the genders we have results for showing the graph -->
        <div *ngFor="let gender of selectedConcept.analyses.genderAnalysis.results" class="col-md-4 col-xs-12 chart-wrapper">
          <app-chart *ngIf="[dbc.FEMALE_GENDER_ID, dbc.MALE_GENDER_ID, dbc.INTERSEX_GENDER_ID, dbc.NONE_GENDER_ID].includes(gender.stratum2) && selectedConcept.analyses &&
                         selectedConcept.analyses.measurementValueGenderAnalysis" [genderId]="gender.stratum2"
                     [chartTitle]="gender.analysisStratumName + ' - ' + gender.countValue.toLocaleString()"
                     [chartType]="selectedConcept.chartType"
                     [analysis]="selectedConcept.analyses.measurementValueGenderAnalysis[0]"></app-chart>
        </div>

        <!-- show Age totals -->
        <div *ngIf="selectedConcept.analyses && selectedConcept.analyses.ageAnalysis" class="col-md-4 col-xs-12 chart-wrapper" >
          <app-chart [analysis]="selectedConcept.analyses.ageAnalysis" [pointWidth]="20" [backgroundColor]="backgroundColor"> </app-chart>
        </div>

        <!-- Todo wait on design for further dev -->

      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <img [src]="pageImage" />
  </div>
</div>
