<div class="row">

  <div class="col-xs-12">
    <div class="page-header">
      <div>
        <h2> {{title}} Survey Module </h2>
        <h4 class="view-sub-title">{{subtitle}} </h4>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div *ngFor="let item of concepts" class="button-item">
    <button (click)="showMeasurement(item)" class="btn btn-primary">{{item.conceptName}}</button>
  </div>
</div>

<div class="row measurement white-card-box ">
  <div class="row box-title"> {{selectedConcept.conceptName}}</div>
  <div *ngIf="selectedConcept.analyses" class="chart-wrapper">
    <app-chart [chartTitle]="'Female ' + selectedConcept.conceptAnalyses.genderAnalysis.results[0].countValue " [chartType]="'histogram'" [analysis]="selectedConcept.analyses.femaleAnalysis"></app-chart>
  </div>
</div>

<div class="row">
  <p>
    <a target="_blank" href="https://projects.invisionapp.com/d/main/default/#/console/13577480/306624424/preview" >
    Link to Mock Up
    </a>
  </p>
</div>
