.modal-dialog .modal-content {
    padding-left:0.3rem;
}

.modal-header {
    padding:0rem!important;
}

:host::ng-deep .modal-dialog {
    width: 20rem;
}

:host::ng-deep .modal-content {
    border-radius: 8px;
}

.annotation-modal .modal-title{
    color: #262262;
    font-weight: 500;
    font-size: 16px;
}

.annotation-modal .modal-body {
    margin-top: -0.7rem;
    width:452px;
    /*max-height:15rem;*/
    min-height: 12rem;
}
.modal-dialog{
    width: 452px!important;
}
