<!--This modal is for create-->
<clr-modal class="annotation-modal" [(clrModalOpen)]="open" [clrModalClosable]="false">
  <h3 class="modal-title">
    Create a Cohort-wide Annotation
  </h3>
  <div class="modal-body">
      <app-set-annotation-create (onFinish)="mode = 'list'"></app-set-annotation-create>
  </div>
</clr-modal>
<!--This modal is for edit-->
<clr-modal class="annotation-modal" [(clrModalOpen)]="openEdit" [clrModalClosable]="false">
  <h3 class="modal-title">
    Edit Cohort-wide Annotation
</h3>
  <div class="modal-body">
      <app-set-annotation-list></app-set-annotation-list>
  </div>
</clr-modal>
