@media screen and (min-height: 1201px) {
  .dg-wrapper{
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
}

@media screen and (max-height: 1200px) {
  .dg-wrapper{
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
}

@media screen and (max-height: 991px) {
  .dg-wrapper{
    display: flex;
    flex-direction: column;
    height: 70vh;
  }
}

@media screen and (max-height: 767px) {
  .dg-wrapper{
    display: flex;
    flex-direction: column;
    height: 60vh;
  }

}

@media screen and (max-height: 479px) {
  .dg-wrapper{
    display: flex;
    flex-direction: column;
    height: 50vh;
  }
}
