<div class="dg-wrapper">
  <clr-datagrid>
    <clr-dg-column>Drug Name<clr-dg-string-filter [clrDgStringFilter]="medsFilter"></clr-dg-string-filter></clr-dg-column>
    <clr-dg-column>Mentions<clr-dg-string-filter [clrDgStringFilter]="medsFilter"></clr-dg-string-filter></clr-dg-column>
    <clr-dg-column>First Mention<clr-dg-string-filter [clrDgStringFilter]="medsFilter"></clr-dg-string-filter></clr-dg-column>
    <clr-dg-column>Last Mention<clr-dg-string-filter [clrDgStringFilter]="medsFilter"></clr-dg-string-filter></clr-dg-column>

    <clr-dg-row *ngFor="let summary of medicationSummary">
      <clr-dg-cell>{{summary.drugName}}</clr-dg-cell>
      <clr-dg-cell>{{summary.mentions}}</clr-dg-cell>
      <clr-dg-cell>{{summary.firstMention}}</clr-dg-cell>
      <clr-dg-cell>{{summary.lastMention}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>
