.error {
  background-color: #ffeeee;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.form-section {
  margin-top: 1rem;
}

.form-section:first {
  margin-top: 0rem;
}

.long-input {
  width: 16rem;
}

.short-input {
  width: 10rem;
}

.short-button {
  width: 10rem;
  height: 2rem;
  margin: 0rem;
}

.hint-section {
  display: inline-block;
  width: 8rem;
  vertical-align: middle;
  color: black;
}
