.error {
  padding: 0 0.5rem;
  font-weight: 600;
  color: #2F2E7E;
  margin-top: 0.2rem;
}

.form-section {
  margin-top: 1rem;
  min-width: 29rem;
}

.form-section:first {
  margin-top: 0rem;
}

.long-input {
  width: 16rem;
}

.short-button {
  width: 10rem;
  height: 2rem;
  margin: 0rem;
}

.hint-section {
  display: inline-block;
  width: 8rem;
  vertical-align: middle;
  color: black;
}

.is-solid.info-icon {
  color: #302C71;
  height: 22px;
  width: 22px;
}

.domain {
  font-size: 16px;
  font-weight: 400;
  color: #302C71;
}

.icon-area {
  display: inline-block;
  margin-left: -30px;
  min-width: 30px;
}

input[type=text]:not([readonly]).successfulInput,
textarea:not([readonly]).successfulInput,
input[type=password]:not([readonly]).successfulInput {
  border-color: #7AC79B;
}

.success-standard {
  fill: #7AC79B;
  width: 20px;
  height: 20px;
}

input[type=text]:not([readonly]).unsuccessfulInput,
textarea:not([readonly]).unsuccessfulInput,
input[type=password]:not([readonly]).unsuccessfulInput {
  background-color: #FCEFEC;
  border-color: #F68D76;
}

.warning-standard {
  fill: #F68D76;
  width: 20px;
  height: 20px;
}

.form-section > textarea {
  max-width: 16rem;
  border-color: #9a9a9a;
  border-radius: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.vertical-align {
  vertical-align: middle;
  padding-left: .25rem;
  padding-top: 2.5rem;
}

.error-message {
  width: 12.5rem;
  padding: .25rem;
  float: right;
  margin-top: 0;
}
