<div style="padding: 1rem;">
  <div *ngIf="!accountCreated" class="form-area">
    <div class="form-section">
      <label>Given Name:</label>
      <input type="text" class="input" autofocus [(ngModel)]="profile.givenName">
    </div>
    <div class="form-section">
      <label>Family Name:</label>
      <input type="text" class="input" [(ngModel)]="profile.familyName">
    </div>
    <div class="form-section">
      <label>Username:</label>
      <input type="text" class="input" [(ngModel)]="profile.username" (ngModelChange)="usernameChanged()">
    </div>
    <div *ngIf="conflictError" class="error">
      Username is already taken.
    </div>
    <div class="form-section">
      <label>Contact Email:</label>
      <input type="text" class="input" [(ngModel)]="profile.contactEmail">
    </div>
    <div class="form-section">
      <label>Password:</label>
      <input type="password" class="input" [(ngModel)]="password">
    </div>
    <div class="form-section">
      <label>Password Again:</label>
      <input type="password" class="input" [(ngModel)]="passwordAgain">
    </div>
    <div class="form-section">
      <button (click)="createAccount()" class="btn btn-primary">Create Account</button>
      <span class="spinner spinner-inline" *ngIf="creatingAcccount">
        Creating account...
      </span>
    </div>
    <div *ngIf="showAllFieldsRequiredError" class="error">
      All fields are required.
    </div>
    <div *ngIf="showPasswordsDoNotMatchError" class="error">
      Passwords do not match.
    </div>
    <div style="margin-top: 2rem; text-align: center;">Already have an account?</div>
    <div style="display: flex; justify-content: space-around;">
      <button (click)="signIn()" class="btn btn-primary">Sign In</button>
    </div>
  </div>
  <div *ngIf="accountCreated">
    <div style="text-align: center; color: darkgreen;">Account created successfully.</div>
    <div style="text-align: center;">Sign-in to your new account below.</div>
    <div style="display: flex; justify-content: space-around;">
      <button (click)="signIn()" class="btn btn-primary">Sign In</button>
    </div>
  </div>
</div>
