<form (ngSubmit)="createAccount()" *ngIf="!accountCreated">
  <h2>Create your account</h2>
  <div class="form-area">
    <div class="form-section">
      <input type="text" class="long-input" id="givenName" name="givenName" autofocus [(ngModel)]="profile.givenName" placeholder="First Name"
             [ngClass]="{'successfulInput': showFirstNameValidationSuccess, 'unsuccessfulInput': !showFirstNameValidationSuccess}">
      <div *ngIf="!showFirstNameValidationSuccess" class="alert alert-danger error-message">
        First Name must be 80 characters or less.
      </div>
    </div>
    <div class="form-section">
      <input type="text" class="long-input" id="familyName" name="familyName" [(ngModel)]="profile.familyName" placeholder="Last Name"
             [ngClass]="{'successfulInput': showLastNameValidationSuccess, 'unsuccessfulInput': !showLastNameValidationSuccess}">
      <div *ngIf="!showLastNameValidationSuccess" class="alert alert-danger error-message">
        Last Name must be 80 characters or less.
      </div>
    </div>
    <div class="form-section">
      <input type="text" class="long-input" id="contactEmail" name="contactEmail" [(ngModel)]="profile.contactEmail" placeholder="Email Address">
    </div>
    <div class="form-section">
      <input type="text" class="long-input" id="currentPosition" name="currentPosition" [(ngModel)]="profile.currentPosition" placeholder="Your Current Position"
             [ngClass]="{'successfulInput': showCurrentPositionValidationSuccess, 'unsuccessfulInput': !showCurrentPositionValidationSuccess}">
      <div *ngIf="!showCurrentPositionValidationSuccess" class="alert alert-danger error-message">
        Current Position must be 255 characters or less.
      </div>
    </div>
    <div class="form-section">
      <input type="text" class="long-input" id="organization" name="organization" [(ngModel)]="profile.organization" placeholder="Your Organization"
             [ngClass]="{'successfulInput': showOrganizationValidationSuccess, 'unsuccessfulInput': !showOrganizationValidationSuccess}">
      <div *ngIf="!showOrganizationValidationSuccess" class="alert alert-danger error-message">
        Organization must be 255 characters or less.
      </div>
    </div>
    <div class="form-section flex-row">
      <textarea id="currentResearchWork" name="areaOfResearch" [(ngModel)]="profile.areaOfResearch" placeholder="Describe Your Current Research"></textarea>
      <clr-tooltip class="vertical-align">
        <clr-icon #infoIcon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition="middle-right" clrSize="lg" *clrIfOpen>
          <div>You are required to describe your current research, or the reason why you are conducting this study.
            This information, along with your name, will be posted on the publicly available All of Us website to
            inform our participants and other stakeholders about what kind of research their data is being used for.</div>
        </clr-tooltip-content>
      </clr-tooltip>
    </div>
    <div class="form-section">
      <input type="text" class="long-input" id="username" name="username"
             [(ngModel)]="profile.username" (ngModelChange)="usernameChanged()" (blur)="leaveFocusUsername()"
             (focus)="enterFocusUsername()" placeholder="New Username"
             [ngClass]="{'successfulInput': showUsernameValidationSuccess, 'unsuccessfulInput': showUsernameValidationError}">
      <div class="icon-area">
        <clr-icon shape="warning-standard" class="warning-standard is-solid" *ngIf="showUsernameValidationError"></clr-icon>
        <clr-icon shape="success-standard" class="success-standard is-solid" *ngIf="showUsernameValidationSuccess"></clr-icon>
      </div>
      <clr-tooltip>
        <clr-icon #infoIcon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
          <div>
            Usernames can contain only letters (a-z), numbers (0-9), dashes (-), underscores (_),
            apostrophes ('), and periods (.) (maximum of 64 characters).
          </div>
          <br>
          <div>
            Usernames cannot begin or end with a period (.) and may not contain more than one
            period (.) in a row.
          </div>
        </clr-tooltip-content>
      </clr-tooltip>
      <div style="height: 1.5rem;">
        <div *ngIf="usernameConflictError" class="error" id="username-taken-error">
          Username is already taken.
        </div>
        <div *ngIf="usernameInvalidError" class="error" id="username-invalid-error">
          Username is not a valid username.
        </div>
      </div>
    </div>
    <div class="form-section">
      <button type="submit"
          class="btn btn-primary short-button"
          [disabled]="creatingAccount || usernameCheckInProgress || isUsernameValidationError"
          [clrLoading]="creatingAccount">
        Next
      </button>
    </div>
    <div *ngIf="showAllFieldsRequiredError" class="error">
      All fields are required.
    </div>
  </div>
</form>
<div *ngIf="accountCreated">
  <app-account-creation-success [contactEmail]="profile.contactEmail"></app-account-creation-success>
</div>
