<div #searchBar class="dropdown" [class.open]="options.length || noResults">
  <div class="search-box">
    <clr-icon *ngIf="!loading" shape="search"></clr-icon>
    <span *ngIf="loading" class="spinner spinner-inline"></span>
    <input clrInput
     class="no-border"
     type="text"
     name="searchTerm"
     autocomplete="off"
     (keyup.enter)="enterSelect()"
     (keyup.arrowup)="moveUp()"
     (keyup.arrowdown)="moveDown()"
     [formControl]="searchTerm"/>
  </div>
  <div *ngIf="noResults" class="dropdown-menu">
    <button class="dropdown-item disabled">
      <em>No results based on your search</em>
    </button>
  </div>
  <div *ngIf="ingredientList.length" class="match-container">Ingredients in this brand: {{ingredientList.join(', ')}} </div>
  <div *ngIf="options.length" class="dropdown-menu" [class.overflow]="showOverflow">
    <app-list-option-info
      *ngFor="let option of options; let i = index"
      [option]="option"
      [highlighted]="i === highlightedOption"
      [searchTerm]="searchTerm.value"
      (click)="selectOption(option)">
    </app-list-option-info>
  </div>
</div>
