<clr-button-group id="workspace-top-nav-bar" class="btn-group" [clrMenuPosition]="'bottom-right'">
  <clr-button class="btn btn-primary btn-top" [routerLink]="['/workspaces', wsNamespace, wsId]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
    About
  </clr-button>
  <clr-button class="btn btn-primary btn-top" [routerLink]="['/workspaces', wsNamespace, wsId, 'notebooks']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
    Notebooks
  </clr-button>
  <clr-button class="btn btn-primary btn-top" [routerLink]="['/workspaces', wsNamespace, wsId, 'cohorts']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
    Cohorts
  </clr-button>
  <clr-button class="btn btn-primary btn-top btn-dropdown">
    <clr-dropdown class="nav-bar-dropdown">
      <button type="button" class="btn-dropdown-trigger" clrDropdownTrigger>
        <clr-icon shape="ellipsis-vertical"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <label class="dropdown-header">Workspace Actions</label>
        <button class="btn" routerLink="/workspaces/{{wsNamespace}}/{{wsId}}/clone" routerLinkActive="active">
          Clone
        </button>
        <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
          <button class="btn" [disabled]="!writePermission" routerLink="/workspaces/{{wsNamespace}}/{{wsId}}/edit"
                      routerLinkActive="active">
            Edit
          </button>
          <span *ngIf="!writePermission" class="tooltip-content">Requires Write Permission</span>
        </span>
        <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top-left">
          <button class="btn" [disabled]="!ownerPermission" (click)="share()">Share</button>
          <span *ngIf="!ownerPermission" class="tooltip-content">
            Owner access is required to share the workspace.
          </span>
        </span>
        <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
          <button class="btn" [disabled]="!ownerPermission" (click)="confirmDelete()">
            Delete
          </button>
          <span *ngIf="!ownerPermission" class="tooltip-content">Requires Owner Permission</span>
        </span>
      </clr-dropdown-menu>
    </clr-dropdown>
  </clr-button>

</clr-button-group>
<clr-modal [(clrModalOpen)]="workspaceDeletionError">
  <h3 class="modal-title">Error:</h3>
  <div class="modal-body">Could not delete workspace '{{workspace.name}}'. Please <a (click)="submitWorkspaceDeleteBugReport()">submit a bug report.</a></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="workspaceDeletionError = false">Ok</button>
  </div>
</clr-modal>

<app-workspace-share [workspace]="workspace" [accessLevel]="accessLevel"></app-workspace-share>
<app-confirm-delete-modal [resourceType]="'workspace'" [resource]="workspace" (receiveDelete)="receiveDelete($event)"></app-confirm-delete-modal>
<app-bug-report></app-bug-report>
<router-outlet></router-outlet>
