.dropdown-container {
  border: 1px solid grey;
  border-radius: 0.2rem;
  padding-top: 0.4rem;
  margin-top: -0.2rem;
}

.select select {
  height: 1.5rem;
}

.count-preview {
  background-color: #E4F3FC;
  padding: 0.5rem;
  margin-top: 1rem;
  position: absolute;
  width: 93%;
  bottom: 1rem;
}

.count-preview .calculate-btn {
  background-color: #2691D0;
  color: white;
}

.count-preview .disable-link {
  pointer-events: none;
  opacity: 0.3;
}

.count-preview .add-button {
  border-color: transparent;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  color: #2691D0;
}

.count-preview .text-bold {
  font-weight: bold;
  color: #4A4A4A;
}

.count-preview .result-text {
  font-weight: bold;
  color: #4A4A4A;
}

.count-preview .result-text {
  color: #262262;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

button.btn:focus {
  outline: none;
}

.number-container {
  border: 1px solid #C3C3C3;;
  width: 3rem;
  height: 1.4rem;
  text-align: center;
}

.range-container {
  padding-left: 0rem;
  margin-top: -0.2rem;
}

.range-container .number-container {
  border-radius: 0.2rem;

}

.text-padding {
  padding-top: 0.3rem;
}

.spin-top-padding {
  padding-top: 0.5rem;
}

.attr-name-color {
  color: #262262;
  padding: 0.5rem;
  font-weight: 500;
  display: flex;
}

.dropdown, .dropdown .dropdown-toggle {
  width: 100%;
  text-align: left;
}

.btn-info-outline .btn, .btn-outline .btn, .btn.btn-info-outline, .btn.btn-outline, .btn.btn-outline-info, .btn.btn-outline .btn {
  border: 1px solid #C3C3C3;
  color: #4A4A4A;
}

.dropdown .dropdown-toggle.btn clr-icon[shape^=caret] {
  color: #C3C3C3;
}

.dropdown-menu {
  width: 12rem;
}

.container {
  display: flex;
  padding-top: 0.2rem;
}

.container .dropdown-width {
  width: 12rem;
  margin-right: 1rem;
}

.container .and-text {
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
}

.form-group {
  padding-left: 0.5rem;
}

.or-circle {
  background-color: rgb(226, 226, 233);
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.75rem 3rem 0.25rem;
  line-height: 2.25rem;
  text-align: center;
  font-size: 0.45rem;
}

.form-group > .checkbox-inline {
  width: 24%;
  margin-right: 1%;
}

.greyed-button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
  background-color: #c3c3c3;
  border-radius: 0.125rem;
  border: transparent;
  color: white;
}

.range-padding {
  padding-top: 0.2rem;
}

clr-icon[shape^=error-standard] {
  color: #d9534f;
}
