.input {
  width: 100%;
}

#bug-report-type {
  text-transform: capitalize;
}

select {
  height: 35px;
  width: 17.7rem;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.form-section {
  margin-top: 1rem;
}

.form-section:first-child {
  margin-top: 0;
}

.form-section * {
  display: inline-block;
  vertical-align: middle;
}

.notebook-logs-label {
  /* Ideally this wouldn't be required, but clr-checkbox has an extra
     padding-bottom coming from somewhere, increase the line-height to better
     align the checkbox and its label. */
  line-height: 32px;
}


.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
