.input {
  width: 100%;
}

.form-section {
  margin-top: 1rem;
}

.form-section:first-child {
  margin-top: 0;
}

.notebook-logs {
  display: inline-block;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.error {
  color: #DC5030;
  background-color: #FFF1F0;
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}