<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-9">

    <div class="page-header">
      <div>
        <img class="title-logo" [src]="dbLogo"> </div>
      <p class="view-sub-title">{{subTitle}} </p>
    </div>
    <div class="white-card-box" >

      <div class="row flex-items-xs-middle">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <h5 class="box-title"> Search Across Data Types </h5>
            <p class="box-sub-title">
              Conduct a search across AoU Research Program data types, including surveys, physical measurements
              taken at the time of participant enrollment  (“program physical measurements”),
              and electronic health record (EHR) data. Search using common keywords and/or billing
              or data standards codes (ie SNOMED, CPT, ICD).
            </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 button-col">
          <button class="btn btn-primary search" [routerLink]="['quick-search']">Search</button>
        </div>
      </div>
    </div>

    <h4 class="box-heading"> Search and browse individual data types</h4>

    <div class="white-card-box" >
      <div class="row flex-items-xs-middle">
        <div class="col-sm-9 col-xs-12>">
          <h5 class="box-title"> Browse Participant Surveys </h5>
          <p class="box-sub-title">
            Participants are asked to complete The Basics survey at the time of enrollment and may
            choose to complete additional surveys as they become available.
            Use this tool to browse all survey questions as well as all response options for each question.
            The Data Browser provides a total count, grouped by age at occurrence and gender for each response option.
          </p>
        </div>
        <div class="col-sm-3  col-xs-12 button-col">
          <button class="btn btn-primary search" [routerLink]="['quick-search/surveys']">Browse</button>
        </div>
      </div>
    </div>

    <div class="white-card-box" >
      <div class="row flex-items-xs-middle">
        <div class="col-sm-9 col-xs-12>">
          <h5 class="box-title"> Browse Electronic Health Record (EHR) Data </h5>
          <p class="box-sub-title">
            Participants may consent to provide their electronic health record (EHR) data to the program.
            The Data Browser allows users to search for common keywords and/or billing or data standards codes to obtain counts
            of participants with at least one mention of
            the keyword or code in their medical records. Use this tool to conduct searches across electronic health record (EHR) data.
            Keywords or codes that are mentioned most frequently in participant records are returned at the top of the search results.
            The Data Browser provides a total count, grouped by age at occurrence and gender for each response option.
          </p>
        </div>
        <div class="col-sm-3 col-xs-12 button-col">
          <button class="btn btn-primary search" [routerLink]="['quick-search/ehr']">Browse</button>
        </div>
      </div>
    </div>

    <div class="white-card-box" >
      <div class="row flex-items-xs-middle">
        <div class="col-sm-9 col-xs-12>">
          <h5 class="box-title"> Browse Program Physical Measurements </h5>
          <p class="box-sub-title">
            Participants have the option to provide a standard set of physical measurements as part
            of the enrollment process  (“program physical measurements”).
            Use this tool to browse distributions of measurement values and counts,
            grouped by age at occurrence and gender, for each program physical measurement.
          </p>
        </div>
        <div class="col-sm-3 col-xs-12 button-col">
          <button class="btn btn-primary search" [routerLink]="['physical-measurements']">Browse</button>
        </div>
      </div>
    </div>



  </div>

  <div class="col-xs-12 col-sm-12 col-md-3">
    <img [src]="pageImage" />
  </div>

</div>


