.title-logo {
    height: 43px;
    width: 316px;
    color: #262262;
    font-family: "Gotham HTF";
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    /* the logo has a little padding in it not lining up with text so move it left a hair */
    margin-left: -.20rem;
}
