<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-9">

    <div class="page-header">
      <div> <img class="title-logo" [src]="dbLogo"> </div>
      <p class="view-sub-title">{{subTitle}} </p>
    </div>

    <div class="white-card-box" >
      <div class="row flex-items-xs-middle">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <h5 class="box-title"> Search by Keyword or Code</h5>
          <p class="box-sub-title">
            Search by keyword or data standards codes (eg ICD, SNOMED) across all All of Us Research Program data types,
            including electronic health records, surveys, and program physical measurements
          </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 button-col">
          <button class="btn btn-primary search" [routerLink]="['quick-search']">Search</button>
        </div>
      </div>
    </div>

    <h4 class="box-heading"> Search and browse individual data types</h4>

    <div class="white-card-box" >
      <div class="row flex-items-xs-middle">
        <div class="col-sm-9 col-xs-12>">
          <h5 class="box-title"> Browse Participant Surveys </h5>
          <p class="box-sub-title">
            View full survey content for each survey questionnaire. Explore aggregate views of All of Us participant responses.
          </p>
        </div>
        <div class="col-sm-3  col-xs-12 button-col">
          <button class="btn btn-primary search" [routerLink]="['quick-search/surveys']">Browse</button>
        </div>
      </div>
    </div>

    <div class="white-card-box" >
      <div class="row flex-items-xs-middle">
        <div class="col-sm-9 col-xs-12>">
          <h5 class="box-title"> Browse Electronic Health Data </h5>
          <p class="box-sub-title">
            View aggregate counts for medical concepts (eg diagnoses, procedures, medications and labs) from participant
            electronic health records
          </p>
        </div>
        <div class="col-sm-3 col-xs-12 button-col">
          <button class="btn btn-primary search" [routerLink]="['quick-search/ehr']">Browse</button>
        </div>
      </div>
    </div>

    <div class="white-card-box" >
      <div class="row flex-items-xs-middle">
        <div class="col-sm-9 col-xs-12>">
          <h5 class="box-title"> Browse Program Physical Measurements  </h5>
          <p class="box-sub-title">
            Program physical measurements are collected as part of participant enrollment for those participants who agree to provide them.
            View distributions of participant results for each program physical measurement.
          </p>
        </div>
        <div class="col-sm-3 col-xs-12 button-col">
          <button class="btn btn-primary search" [routerLink]="['physical-measurements']">Browse</button>
        </div>
      </div>
    </div>



  </div>

  <div class="col-xs-12 col-sm-12 col-md-3">
    <img [src]="pageImage" />
  </div>

</div>


