<div class="db-page-spinner" *ngIf="loading()" >
  <span  class="spinner">
    Loading...
  </span>
</div>

<div *ngIf="unitNames.length > 1" class="col-md">
  <button *ngFor="let u of unitNames.slice(0,8)" [ngClass]="{active:selectedUnit === u}" (click)="showMeasurementGenderHistogram(u)" class="btn btn-link">{{u}} </button>
  <clr-tooltip>
    <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
    <clr-tooltip-content clrPosition=right
                         clrSize="lg" *clrIfOpen>
      <div class="tooltip-label">Toggle here to view unit specific histograms</div>
    </clr-tooltip-content>
  </clr-tooltip>
</div>

<div *ngIf="!loading()" class="row concept-charts chart">
  <!-- show measurements binned by gender if we want -->
  <!-- Loop through the genders we have measurement results for  for showing the graph
   This looping variable is set if showMeasurements is passed in to the component-->
  <ng-container *ngIf="hasGenderAgeSourcesShowHelpText()">
    <div class="col-md-4 col-xs-12">
      <div class="col-md">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
          <clr-tooltip-content clrPosition=right
                             clrSize="lg" *clrIfOpen>
            <div class="tooltip-label">Gender Chart</div>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="col-md">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
          <clr-tooltip-content clrPosition=right
                             clrSize="lg" *clrIfOpen>
            <div class="tooltip-label">The age at occurrence bar chart provides a binned age
              distribution for participants at the time the medical concept being queried occurred in their records.
              If an individual’s record contains more than one mention of a concept,
              the age at occurrence is included for each mention.
              As a result, a participant may be counted more than once in the distribution.</div>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="col-md">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
          <clr-tooltip-content clrPosition=left
                             clrSize="lg" *clrIfOpen>
            <div class="tooltip-label">Individual health records often contain medical information that means the same thing but may be recorded in many different ways.
              The sources represent the many different ways that the standard medical concept returned in the search results has been recorded in patient records.
              The sources bar chart provides the top 10 source concepts from the AoU data. </div>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="hasGenderAgeShowHelpText()">
    <div class="col-md-4 col-xs-12">
      <div class="col-md">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
          <clr-tooltip-content clrPosition=right
                               clrSize="lg" *clrIfOpen>
            <div class="tooltip-label">Gender Chart</div>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="col-md">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
          <clr-tooltip-content clrPosition=right
                               clrSize="lg" *clrIfOpen>
            <div class="tooltip-label">The age at occurrence bar chart provides a binned age
              distribution for participants at the time the medical concept being queried occurred in their records.
              If an individual’s record contains more than one mention of a concept,
              the age at occurrence is included for each mention.
              As a result, a participant may be counted more than once in the distribution.</div>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="col-md">
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showAge && showMeasurementGenderBins">
    <div class="col-md-8 col-xs-12">
      <div class="col-md">

      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="col-md">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
          <clr-tooltip-content clrPosition=left
                               clrSize="lg" *clrIfOpen>
            <div class="tooltip-label">The age at occurrence bar chart provides a binned age
              distribution for participants at the time the medical concept being queried occurred in their records.
              If an individual’s record contains more than one mention of a concept,
              the age at occurrence is included for each mention.
              As a result, a participant may be counted more than once in the distribution.</div>
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
    </div>
  </ng-container>

  <div class="col-md-4 col-xs-12 chart" *ngFor="let gender of genderResults">
    <app-chart *ngIf="[dbc.FEMALE_GENDER_ID, dbc.MALE_GENDER_ID, dbc.INTERSEX_GENDER_ID, dbc.NONE_GENDER_ID, dbc.OTHER_GENDER_ID].includes(gender.stratum2)"
               [genderId]="gender.stratum2"
               [chartTitle]="gender.analysisStratumName + ' - ' + gender.countValue.toLocaleString()"
               [chartType]="'histogram'"
               [analysis]="toDisplayMeasurementGenderAnalysis"
               [backgroundColor]="backgroundColor"></app-chart>
  </div>

  <!-- show gender totals  if we want -->
  <div class="col-md-4 col-xs-12 chart" *ngIf="showGender && analyses.genderAnalysis; else genderIdentity"  >
    <app-chart [analysis]="analyses.genderAnalysis" [backgroundColor]="backgroundColor" [chartTitle]="'Biological Sex'"> </app-chart>
  </div>
  <ng-template #genderIdentity>
    <div class="col-md-4 col-xs-12 chart" *ngIf="showGenderIdentity">
      <app-chart [analysis]="analyses.genderIdentityAnalysis" [backgroundColor]="backgroundColor" [chartTitle]="'Gender Identity'"> </app-chart>
    </div>
  </ng-template>

  <!-- show age totals  if we want -->
  <div class="col-md-4 col-xs-12 chart" *ngIf="showAge && analyses.ageAnalysis" >
    <app-chart [analysis]="analyses.ageAnalysis" [pointWidth]="20" [backgroundColor]="backgroundColor"> </app-chart>
  </div>

  <!-- show sources totals  if we want -->
  <div class="col-md-4 col-xs-12 chart"  *ngIf="showSources && sourceConcepts && sourceConcepts.length">
    <app-chart [concepts]="sourceConcepts" [sources]="true" [pointWidth]="20"
               [backgroundColor]="backgroundColor" [chartTitle]="'Sources'">
    </app-chart>
  </div>

  <!-- show race totals  if we want -->
  <div class="col-md-4 col-xs-12 chart"  *ngIf="showRace && analyses.raceAnalysis ">
    <app-chart [analysis]="analyses.raceAnalysis" [pointWidth]="20"
               [backgroundColor]="backgroundColor" [chartTitle]="'Race'">
    </app-chart>
  </div>
  <!-- show ethnicity totals  if we want -->
  <div class="col-md-4 col-xs-12 chart"  *ngIf="showEthnicity && analyses.ethnicityAnalysis ">
    <app-chart [analysis]="analyses.ethnicityAnalysis" [pointWidth]="20"
               [backgroundColor]="backgroundColor" [chartTitle]="'Ethnicity'">
    </app-chart>
  </div>

</div>
