<div class="db-page-spinner" *ngIf="loading" >
  <span  class="spinner">
    Loading...
  </span>
</div>

<div class="row concept-charts"  >
  <div class="col-md col-xs-12" *ngIf="genderAnalysis"  >
    <app-chart [analysis]="genderAnalysis" [backgroundColor]="backgroundColor"> </app-chart>
  </div>
  <div class="col-md col-xs-12" *ngIf="ageAnalysis" >
    <app-chart [analysis]="ageAnalysis" [pointWidth]="20" [backgroundColor]="backgroundColor"> </app-chart>
  </div>

  <div class="col-md col-xs-12" >
    <button class="btn primary" (click)="toggleSourceConcepts()"> Show Sources </button>
    <app-chart *ngIf="sourceConcepts && sourceConcepts.length > 0"  [concepts]="sourceConcepts" [pointWidth]="20" [backgroundColor]="backgroundColor"> </app-chart>
  </div>
</div>
