.sliding-button {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
  border-radius: 3rem;
  background-color: #2691D0;
  height: 1.8rem;
  min-width: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.disable {
  background-color: grey;
  cursor: not-allowed;
}

.text {
  padding: 0;
  font-weight: 600;
  max-width: 0;
  overflow: hidden;
  text-transform: uppercase;
  transition: max-width 0.5s ease-out, padding 0.1s linear 0.2s;
  white-space: pre;
}

.text.hovering {
  padding: 0 0.5rem;
  /* Note: Ideally this would not be hardcoded since the expanded text value is
   * dynamic. Unfortunately using unset or a higher max-width results in a
   * choppy transition. This constant will need to be increased or made dynamic
   * if we decide to use longer expanded messages. */
  max-width: 200px;
}
