<!-- Cohort Review header -->
<div class="btn-group"
  [style.display]="'flex'"
  [style.align-items]="'center'"
  [style.justify-content]="'center'">
  <button
    disabled
    class="btn"
    title="Go to Cohort Overview"
    routerLink="../overview">
    <clr-icon shape="line-chart"></clr-icon>
    Overview
  </button>

  <button
    class="btn"
    title="Go to Participant Browser"
    routerLink="../participants">
    <clr-icon shape="users"></clr-icon>
    Participants
  </button>
</div>

<div>
  <em>Charts go here!</em>
</div>
