<!-- <clr-header>
  <ul class="header-nav">
    <a class="nav-link nav-text" #home routerLinkActive="active" routerLink="/home">Home</a>
    <a class="nav-link nav-text" routerLinkActive="active" routerLink="/browse">Browse</a>
  </ul>
  <div class="branding">
    <a class="nav-link">
      <span style = "font-size:1.5rem;"class="title">{{pageTitle}}</span>
    </a>
  </div>
</clr-header> -->


<!--<nav class="subnav" [clr-nav-level]="1">

  <ul class="nav navbar-nav ehr-nav">
    <li><a class="nav-link nav-text" #all [ngClass]="{'active': active(all)}" (click)="routeTo('all');emit('all')"><strong>All</strong></a></li>
    <li *ngFor="let section of sections;">

      <a class="nav-link nav-text" #item  [ngClass]="{'active': active(item)}" (click)="routeTo(section.name);emit(item)"> {{section.name}} </a>
    </li>
    <li><a class="nav-link nav-text" #ICD9CM [ngClass]="{'active': active(ICD9CM)}" (click)="routeTo('icd9cm'); emit(ICD9CM)">ICD9CM</a></li>
    <li><a class="nav-link nav-text" #ICD10 [ngClass]="{'active': active(ICD10)}" (click)="routeTo('icd10'); emit(ICD10)">ICD10</a></li>
    <li><a class="nav-link nav-text" #ICD10CM [ngClass]="{'active': active(ICD10CM)}" (click)="routeTo('icd10cm'); emit(ICD10CM)">ICD10CM</a></li>
    <li><a class="nav-link nav-text" #CPT4 [ngClass]="{'active': active(CPT)}" (click)="routeTo('cpt4'); emit(CPT4)">CPT4</a></li>
    <li><a class="nav-link nav-text" #SNOMED [ngClass]="{'active': active(SNOMED)}" (click)="routeTo('snomed'); emit(SNOMED)">SNOMED</a></li>
    <li><a class="nav-link nav-text" #PPI [ngClass]="{'active': active(PPI)}" (click)="routeTo('PPI'); emit(PPI)">PPI</a></li>

  </ul>


</nav>
-->
