<div class="box pl-1 codes-height w-100">
  <span class="font-weight-bold">Selected {{getTypeDescription()}}</span>
  <div #groupDiv class="criteria-group-height scrolling-criteria-group">
    <div *ngFor="let criteria of criteriaList; let i = index">
      <div class="row">

        <span *ngIf="criteria.group; then group else notGroup"></span>
        <ng-template #group>
          <div class="col-xs-12 text-truncate">
            <button type="button" class="btn btn-link btn-sm text-danger mr-0" (click)="removeCriteria(criteria)">
              <clr-icon shape="close" size="14"></clr-icon>
            </button>
            <span *ngIf="i > 0">
              <small class="font-weight-bold">OR</small>
            </span>
            <small class="text-muted">Group</small>
            <small class="font-weight-bold">{{criteria.code}}-{{criteria.name}}</small>
          </div>
        </ng-template>

        <ng-template #notGroup>
          <div class="col-xs-12 text-truncate">
            <button type="button" class="btn btn-link btn-sm text-danger mr-0" (click)="removeCriteria(criteria)">
              <clr-icon shape="close" size="14"></clr-icon>
            </button>
            <span *ngIf="i > 0">
              <small class="font-weight-bold">OR</small>
            </span>
            <span *ngIf="criteria.type === 'DEMO_GEN'">
              <small class="font-weight-bold">Gender-{{criteria.name}}</small>
            </span>
            <span *ngIf="criteria.type === 'DEMO_RACE'">
              <small class="font-weight-bold">Race/Ethnicity-{{criteria.name}}</small>
            </span>
            <span *ngIf="criteria.type === 'DEMO_AGE' || criteria.type === 'DEMO_DEC'">
              <small class="font-weight-bold">{{criteria.name}}</small>
            </span>
            <span *ngIf="criteria.type !== 'DEMO_GEN' && criteria.type !== 'DEMO_RACE' && criteria.type !== 'DEMO_AGE' && criteria.type !== 'DEMO_DEC'">
              <small class="font-weight-bold">{{criteria.code}}-{{criteria.name}}</small>
            </span>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
