<clr-modal [(clrModalOpen)]="creatingNotebook" [clrModalSize]="'md'">
  <div class="modal-title">
    <div class="modal-title-text">New Notebook</div>
  </div>
  <div class="modal-body">
    <div class="form-section">
      <label class="modal-label">Name:</label>
      <input id="new-name" type="text" class="input"
             [(ngModel)]="newName" (ngModelChange)="nameConflict = false">
      <div class="error" *ngIf="nameConflict">Notebook name in use</div>
      <label class="modal-label">Programming Language:</label>
      <div class="clr-control-container">
        <div class="clr-radio-wrapper">
          <!-- type="radio" required for angular to pick up this input correctly -->
          <input type="radio" name="language-radio" id="py-radio" class="clr-radio" (click)="kernelType = Kernels.Python3" checked/>
          <label>{{Kernels[Kernels.Python3]}}</label>
        </div>
        <div class="clr-radio-wrapper">
          <input type="radio" name="language-radio" id="r-radio" class="clr-radio" (click)="kernelType = Kernels.R"/>
          <label>{{Kernels[Kernels.R]}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="creatingNotebook=false">Cancel</button>
    <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
      <button type="button" class="btn btn-primary confirm-name-btn" id="rename"
              (click)="submitNewNotebook()" [clrLoading]="loading" [disabled]="newNotebookDisabled">
        Create Notebook
      </button>
      <span *ngIf="newNameEmpty" class="tooltip-content">A name is required</span>
    </span>
  </div>
</clr-modal>
