:host::ng-deep .modal-dialog {
  width: 18rem;
}

:host::ng-deep .modal-content {
  border-radius: 8px;
}

.modal-title-text {
  margin-top: 0;
  font-size: 16px;
  line-height: 19px;
  color: #262262;
  font-weight: 500;
}

label.modal-label {
  display: block;
  color: #262262;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 0.2rem;
}

input#new-name {
  margin-bottom: 1rem;
  width: 100%
}

select {
  font-size: 14px;
}
