*.pyc
*.swp
*~
.classpath
.project
.externalToolBuilders
.settings
/api/?/
/api/db/?/
/api/db-cdr/csv
/api/.project/common/
/api/.swagger-codegen/*
/api/out/*
/api/sa-key.json
/api/src/main/resources/merged.yaml
/api/src/main/webapp/WEB-INF/appengine-web.xml
/api/src/main/webapp/WEB-INF/sa-key.json
/api/src/main/webapp/WEB-INF/gsuite-admin-sa.json
/api/src/generated
/api/tools/build/*
/api/bin
/common-api/.swagger-codegen/*
/common-api/bin
/common-api/src/generated
/ui/package-lock.json
/ui/coverage
/ui/**/*.map
/ui/report.*.json
/ui/dist/**
/ui/sa-key.json
/ui/yarn-error.log
/libproject/swagger-codegen-cli.jar
/ui/src/generated/*
/ui/src/notebooks-generated/*
/ui/src/publicGenerated/*
/public-ui/package-lock.json
/public-ui/coverage
/public-ui/ui.iml
/public-ui/.idea/*
/public-ui/**/*.js
/public-ui/**/*.map
/public-ui/dist/**
/public-ui/yarn-error.log
/public-ui/src/publicGenerated/*
/public-ui/sa-key.json
cloud_sql_proxy
node_modules
npm-debug.log
tools/*.jar
tools/cloud_sql_proxy
.DS_Store
client/py/.pydevproject
Common-api/out/*
public-api/?/
public-api/wrapper
public-api/.swagger-codegen/*
public-api/src/generated/
public-api/src/main/webapp/WEB-INF/appengine-web.xml
public-api/src/main/resources/merged.yaml
public-api/gradle
public-api/gradlew
public-api/gradlew.bat
**/.idea
**/*.iml
**/*.ipr
**/*.iws
**/build
**/.gradle
