*.pyc
*.swp
*~
.classpath
.project
.externalToolBuilders
.settings
.idea/*
/.gradle/*
/api/?/
/api/db/?/
/api/.gradle/*
/api/.idea/*
/api/.project/common/
/api/.swagger-codegen/*
/api/api.iml
/api/api.ipr
/api/api.iws
/api/build/*
/api/db/.gradle
/api/db-cdr/.gradle
/api/out/*
/api/sa-key.json
/api/src/main/resources/merged.yaml
/api/src/main/webapp/WEB-INF/appengine-web.xml
/api/src/main/webapp/WEB-INF/sa-key.json
/api/src/main/webapp/WEB-INF/gsuite-admin-sa.json
/api/src/generated
/api/tools/build/*
/api/tools/.gradle/*
/build/*
/ci/ci.iml
/cli/cli.iml
/client/client.iml
/hooks/hooks.iml
/ui/package-lock.json
/ui/coverage
/ui/ui.iml
/ui/.idea/*
/ui/**/*.js
/ui/**/*.map
/ui/dist/**
/ui/yarn-error.log
/libproject/swagger-codegen-cli.jar
/ui/src/generated/*
/ui/src/publicGenerated/*
cloud_sql_proxy
node_modules
npm-debug.log
tools/*.jar
tools/tools.iml
tools/cloud_sql_proxy
.DS_Store
client/py/.pydevproject
common-api/.gradle/*
common-api/.idea/*
common-api/build/*
common-api/common-api.iml
Common-api/out/*
public-api/?/
public-api/.gradle
public-api/wrapper
public-api/.idea/*
public-api/.swagger-codegen/*
public-api/build/*
public-api/public-api.iml
public-api/src/generated/
public-api/src/main/webapp/WEB-INF/appengine-web.xml
