*.pyc
*.swp
*~
.classpath
.project
.externalToolBuilders
.settings
.idea/*
/.gradle/*
/api/?/
/api/db/?/
/api/.gradle/*
/api/.idea/*
/api/.project/common/
/api/.swagger-codegen/*
/api/api.iml
/api/api.ipr
/api/api.iws
/api/build/*
/api/db/.gradle
/api/db-cdr/.gradle
/api/out/*
/api/sa-key.json
/api/src/main/webapp/WEB-INF/appengine-web.xml
/api/src/main/webapp/WEB-INF/sa-key.json
/api/src/generated
/api/tools/build/*
/api/tools/.gradle/*
/build/*
/ui/ui.iml
/ui/.idea/*
/ui/**/*.js
/ui/**/*.map
/ui/dist/**
/libproject/swagger-codegen-cli.jar
/ui/src/generated/*
cloud_sql_proxy
node_modules
npm-debug.log
tools/*.jar
tools/cloud_sql_proxy
.DS_Store
