<app-data-browser-header></app-data-browser-header>
<!-- <div>the above header needs to be dynamic between current EHR data and Survey-Data.</div>
<ol>
  <li>PPI = survey data</li>
  <li>grab the sections out of the PPI data and display in secondary navbar (right now we have 4 sections: lifestyle, overall Health, family history, personal medical history) </li>
  <li>have the page default to 'lifestyle' </li>
  <li> defailts to lifestyle by giving life style data to the tree component </li>
  <li> </li>
</ol>


<div class="tree-container col-sm-2">

  <tree-root #tree [focused]="true" [nodes]="tree_nodes" [options]="tree_options">
    <ng-template #treeNodeWrapperTemplate let-node let-index="index">
      <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
        <tree-node-expander [node]="node"></tree-node-expander>
        <div class="node-content-wrapper">
          <tree-node-content [node]="node"></tree-node-content>
          <span class="mark"> {{node.data.display}}</span> <button (click)="consoleit(node.data)"></button>
        </div>
      </div>
    </ng-template>
  </tree-root>

</div> -->

<div class="dbcontainer">
<div class="row">
    <div *ngFor="let data of cardData"class="col-xl-3 col-lg-4 col-md-6  col-sm-12 ">
        <div class="card">
            <!-- <div class="card-header">
                {{data.title}}
            </div> -->
            <div class="card-block">
                <div class="card-title">
                  {{data.title}}
                </div>
                <div class="card-text">
                  {{data.desc}}
                </div>
            </div>
            <div class="card-footer">
                <button (click)="routeTo(data.title)" class="btn btn-sm btn-link">Browse {{data.title}} Data <clr-icon shape="bar-chart"></clr-icon></button>
                <!-- <button class="btn btn-sm btn-link">Footer Action 2</button> -->
            </div>
        </div>
    </div>
</div>
</div>
