/**
 * We have to override this so that the text will truncate correctly
 */
::ng-deep .clr-treenode-content {
  width: 100%!important;
}

.root-spinner {
  left: 50%;
  top: 50%;
}

.error {
  color: red;
}

.dropdown-search-container {
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.condition-dropdown{
  padding-right: 1.5rem;
}

.search-container {
  width:100%;
}

.search-width {
  width:100%;
}

.alert.alert-warning {
  color: #E28327;
  border: 0;
}

.alert.alert-warning .alert-icon {
  color: #E28327;
}
