<div class="dropdown-search-container">
  <div class="search-container">
<!--    <app-list-search-bar *ngIf="showSearch" [node]="node" (ingredients)="ingredients = $event"></app-list-search-bar>-->
  </div>
</div>

<div class="tree-container" [class.border]="showHeader" [class.no-search]="!showSearch">
  <div *ngIf="showHeader" class="tree-header">
    <div *ngIf="ingredients" class="ingredients">
      Ingredients in this brand: {{ingredients.join(', ')}}
    </div>
    <button class="btn btn-link" (click)="back()">Return to list</button>
  </div>
  <div *ngIf="isEmpty" class="alert alert-warning">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon is-solid" shape="exclamation-triangle"></clr-icon>
        </div>
        <span class="alert-text">Sorry, the request cannot be completed. Please try again or contact Support in the left hand navigation.</span>
      </div>
    </div>
  </div>
<!--  <crit-list-node *ngFor="let item of children" [node]="item" [wizard]="wizard"></crit-list-node>-->
</div>

<div *ngIf="loading" class="spinner root-spinner">
  Loading...
</div>
