<clr-datagrid [(clrDgSelected)]="selected">
  <!-- Actions -->
  <clr-dg-action-bar>
    <button
      class="btn btn-success-outline"
      (click)="add()">
      <clr-icon shape="plus"></clr-icon>
      Add New
    </button>
    <button
      class="btn btn-danger-outline"
      (click)="delete()"
      [disabled]="selected.length === 0"
      [clrLoading]="posting">
      <clr-icon shape="close"></clr-icon>
      Delete
    </button>
    <button
      class="btn btn-secondary-outline"
      (click)="edit()"
      *ngIf="selected.length === 1">
      <clr-icon shape="pencil"></clr-icon>
      Edit
    </button>
  </clr-dg-action-bar>

  <!-- Column defns -->
  <clr-dg-column [clrDgField]="'columnName'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'annotationType'">Type</clr-dg-column>

  <!-- Row iteration -->
  <clr-dg-row
    *clrDgItems="let annotation of (annotations$ | async)"
    [clrDgItem]="annotation">
    <clr-dg-cell>{{ annotation.columnName }}</clr-dg-cell>
    <clr-dg-cell>{{ annotation.annotationType | titlecase }}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
