<div class="card bg-faded">
  <span *ngIf="searchGroup.displayMessage.indexOf('Exclude') > -1; then exGroup else sGroup"></span>
  <div class="card-block pt-0 pb-2">
    <ng-template #sGroup>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-link btn-sm text-danger text-right close" (click)="removeSearchGroup(searchGroup)">
            <clr-icon shape="close" size="20"></clr-icon>
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #exGroup>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-link btn-sm text-danger text-right close" (click)="removeExclusionGroup(searchGroup)">
            <clr-icon shape="close" size="20"></clr-icon>
          </button>
        </div>
      </div>
    </ng-template>
    <div *ngFor="let searchResult of searchGroup.results; let i = index" class="pb-0">
      <app-search-result [searchResult]="searchResult" [index]="i" (onRemove)="removeSearchResult($event)" (click)="selectSearchGroup()"></app-search-result>
    </div>
    <app-wizard-select (click)="selectSearchGroup()"></app-wizard-select>
  </div>
  <div class="card-footer font-weight-bold bg-count text-right">
    Group Count: {{searchGroup.groupSet.length}}
  </div>
</div>
<br/>
