.dropdown, .dropdown .dropdown-toggle{
    text-align: left;
    width: 9rem;
}

/*.btn-info-outline .btn, .btn-outline .btn, .btn.btn-info-outline, .btn.btn-outline, .btn.btn-outline-info, .btn.btn-outline .btn {*/
/*border : 1px solid #C3C3C3;*/
/*color: #4A4A4A;*/
/*}*/

.dropdown .dropdown-toggle.btn clr-icon[shape^=caret] {
    color: #C3C3C3;
}