<clr-dropdown>
    <button type="button" class="btn btn-outline btn-outline-primary" clrDropdownTrigger>
        <span *ngIf = "dropDownSelected !== ''; else elseBlock">{{dropDownSelected}}</span>
        <ng-template #elseBlock>
            <span>ICD9 Codes</span>
        </ng-template>
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
        <ng-container *ngFor="let criteria of domainTypes">
            <button *ngIf="criteria.name ==='ICD9 Codes' || criteria.name ==='ICD10 Codes' "
                id="criteria.type"
                class="dropdown-item"
                type="button"
                (click)="launchTree(criteria)"
                clrDropdownItem>{{criteria.name}}</button>
        </ng-container>
    </clr-dropdown-menu>
</clr-dropdown>