<clr-dropdown>
    <button type="button" class="btn btn-outline btn-outline-primary" clrDropdownTrigger>
        {{dropDownSelected}}
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
        <ng-container *ngFor="let option of options">
            <button
                id="criteria.type"
                class="dropdown-item"
                type="button"
                (click)="launchTree(option)"
                clrDropdownItem>{{option.name}}</button>
        </ng-container>
    </clr-dropdown-menu>
</clr-dropdown>