.card {
  justify-content: space-between;
}

.card.item-card {
  width: 7.2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.75rem;
  box-shadow: 0 0 0 0;
}

.card.item-card.for-list {
  width: 200px;
  height: 223px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.75rem;
}

.card.item-card .name {
  cursor: pointer;
  word-wrap: break-word;
}

.card.item-card .name.disabled {
  cursor: not-allowed;
  word-wrap: break-word;
  color: #AAAFB4;
}

.ellipsis-vertical {
  width: 21px;
  height: 21px;
  margin-left: -9px;
  color: #216FB4;
}

.ellipsis-vertical.disabled {
  color: #AAAFB4;
  cursor: not-allowed;
}

.action-item {
  text-align: left;
  color: #4A4A4A;
  background-color: white;
  fill: none;
  cursor: pointer;
  border: none;
}

.action-item:hover {
  background-color: #E0EAF1;
}

.notebooks-header {
  color: #2F2E7E;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.header-area {
  display: flex;
  align-items: flex-start;
}

.header-area .name {
  cursor: pointer;
  word-break: break-all ;
}

.card .footer {
  position: absolute;
  bottom: .1rem;
}

.last-modified {
  left: -5rem;
}
