<div appFullPage>
  <!-- Annotations & Status sidebar -->
  <div appSidebar
    #sidebar="appSidebar"
    [position]="{top: 0, right: 0}">
    <a class="closebtn" (click)="closeSidebar()">&times;</a>
    <div class="status-wrapper">
      <app-participant-status></app-participant-status>
      <hr />
      <app-annotations></app-annotations>
    </div>
  </div>

  <!-- CohortReview main content -->
  <div class="cohort-review-main"
    [style.margin-right]="sidebar.isOpen ? '300px' : 0">
    <router-outlet></router-outlet>
  </div>

  <!-- CohortReview first time creation modal -->
  <app-create-review #createReviewModal>
  </app-create-review>

  <app-annotation-manager>
  </app-annotation-manager>
</div>
