<div appFullPage>
  <!-- Main participant navigation sidebar -->
  <div appSidebar
    #participantNav="appSidebar">
    <a class="closebtn" (click)="participantNav.close()">&times;</a>
    <app-participant-pager></app-participant-pager>
  </div>

  <!-- Annotations & Status sidebar -->
  <div appSidebar
    #statusBar="appSidebar"
    [position]="{top: 0, right: 0}">
    <a class="closebtn" (click)="statusBar.close()">&times;</a>
    <div class="status-wrapper">
      <app-participant-status></app-participant-status>
    </div>
  </div>

  <!-- Cohort Review header -->
  <div class="contents-centered btn-group">
    <button
      class="btn"
      title="Go to Cohort Overview"
      routerLink="./overview"
      routerLinkActive="active">
      <clr-icon shape="line-chart"></clr-icon>
      Overview
    </button>

    <button
      class="btn"
      title="Go to Participant Browser"
      routerLink="./participants">
      <clr-icon shape="users"></clr-icon>
      Participants
    </button>
  </div>

  <!-- CohortReview router -->
  <router-outlet></router-outlet>

  <!-- Cohort creation modal -->
  <app-create-review [(open)]="createReviewModalOpen">
  </app-create-review>
</div>
