.cohort-review-main {
  transition: margin-left .5s;
}

.status-wrapper {
  padding: 0.25rem;
  margin-left: 0.5rem;
}

[appSidebar] .closebtn {
  padding: .25rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: rgb(86, 86, 86);
  text-decoration: none;
  transition: 0.3s;
}

[appSidebar] .closebtn:hover {
  color: rgb(166, 166, 166);
}
