.sidebar-content {
  padding-right: 0.25rem;
}

.sidebar-content h4 {
  margin-top: 0.25rem;
}

.demographics-info {
  color: #111;
  margin-bottom: 1.5rem;
}

.sidebar-content .participant-color {
  color: #224F83;
  font-weight: bold;
  padding-bottom: 0.3rem;
}

.sidebar-content .participant-info {
  font-weight:bold
}

.sidebar-content .participant-flex {
  display: flex;
}
