<div class="sidebar-content">
  <h4 class="participant-color">Participant {{ participant?.participantId }}</h4>
  <div class="demographics-info">
    <div class="participant-flex">
      <div class="participant-info">DOB:</div>
      <div>{{ participant.birthDate }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Gender:</div>
      <div>{{ participant.gender | titlecase }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Race:</div>
      <div>{{ participant.race }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Ethnicity:</div>
      <div>{{ participant.ethnicity }}</div>
    </div>
  </div>

  <h4 class="participant-color">Participant Status</h4>
  <app-participant-status [participant]="participant">
  </app-participant-status>

  <app-annotation-list [participant]="participant">
  </app-annotation-list>
</div>

