<div class="sidebar-content">
  <h4 class="participant-color">Participant {{ participant?.participantId }}</h4>
  <div class="demographics-info">
    <div class="participant-flex">
      <div class="participant-info">DOB:&nbsp;</div>
      <div>{{ participant.birthDate }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Gender:&nbsp; </div>
      <div>{{ participant.gender | titlecase }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Race:&nbsp; </div>
      <div>{{ participant.race }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Ethnicity:&nbsp; </div>
      <div>{{ participant.ethnicity }}</div>
    </div>
  </div>

  <h4 class="participant-color">Participant Status</h4>
  <app-participant-status [participant]="participant">
  </app-participant-status>

  <app-annotation-list
    [participant]="participant"
    [annotations]="annotations"
    [annotationDefinitions]="annotationDefinitions"
    [setAnnotations]="setAnnotations"
    [openCreateDefinitionModal]="openCreateDefinitionModal"
    [openEditDefinitionsModal]="openEditDefinitionsModal"
  ></app-annotation-list>
</div>
