<h2>User Admin Table</h2>
  <clr-datagrid *ngIf="contentLoaded; else contentLoading">
    <clr-dg-column [style.width.%]="5" [clrDgField]="'disabled'">Disabled</clr-dg-column>
    <clr-dg-column [style.width.%]="15" [clrDgSortBy]="'familyName'">Name</clr-dg-column>
    <clr-dg-column [style.width.%]="20" [clrDgSortBy]="'username'">User Name</clr-dg-column>
    <clr-dg-column [style.width.%]="15" [clrDgSortBy]="'contactEmail'">Contact Email</clr-dg-column>
    <clr-dg-column [style.width.%]="15" [clrDgSortBy]="'betaAccessRequestTime'">Beta Access Time Requested</clr-dg-column>
    <clr-dg-column [style.width.%]="15">User Lockout
      <app-tooltip [direction]="'bottom-left'">
       <div class="tooltip-label">Disable or re-enable a user's access to the Workbench.  This should be used in the case of rejecting a user's request for beta access</div>
      </app-tooltip>
    </clr-dg-column>
    <clr-dg-column [style.width.%]="11">Bypass
      <app-tooltip [direction]="'bottom-left'">
        <div class="tooltip-label">Bypass a user from completing certain access modules to gain access to the Workbench.</div>
      </app-tooltip>
    </clr-dg-column>
    <clr-dg-placeholder>No rejected or unverified profiles found.</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let profile of profiles" class="table-row workspace-table-row">
      <clr-dg-cell>{{profile.disabled}}</clr-dg-cell>
      <clr-dg-cell>{{profile.familyName}}, {{profile.givenName}}</clr-dg-cell>
      <clr-dg-cell>{{profile.username}}</clr-dg-cell>
      <clr-dg-cell>{{profile.contactEmail}}</clr-dg-cell>
      <clr-dg-cell>{{profile.betaAccessRequestTime | date: 'medium'}}</clr-dg-cell>
      <clr-dg-cell>
          <button *ngIf="!profile.disabled" style="margin-top: 0" class="btn" (click)="updateUserDisabledStatus(true, profile)">Disable</button>
          <button *ngIf="profile.disabled" style="margin-top: 0" class="btn" (click)="updateUserDisabledStatus(false, profile)">Enable</button>
      </clr-dg-cell>
      <clr-dg-cell>
        <app-admin-user-bypass [profile]="profile"></app-admin-user-bypass>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
<ng-template #contentLoading>
  <div class="loading-area">
    <span class="spinner spinner-md" style="padding-top: 1rem"></span>
    <span class="loading-text">Loading profiles for review...</span>
  </div>
</ng-template>
