<h2>Set Cohort Info</h2>
<div class="form-area">
  <div>
    <label>Cohort Name:</label>
    <input type="text" class="input name" name="cohort-name" autofocus
        [(ngModel)]="cohort.name">
  </div>
  <div>
    <label>Description:</label>
    <textarea class="input description" name="cohort-description"
        [(ngModel)]="cohort.description">
    </textarea>
  </div>
  <div class="button">
    <div *ngIf="adding; else saveButton">
      <button class="btn add-button" [clrLoading]="buttonClicked" (click)="addCohort()">Add Cohort</button>
      <button class="btn" (click)="cancelAdd()">Cancel</button>
    </div>
    <ng-template #saveButton>
      <div>
        <button class="btn save-button" [clrLoading]="buttonClicked" (click)="saveCohort()">Save Cohort</button>
        <button class="btn" (click)="cancelSave()">Cancel</button>
      </div>
    </ng-template>
  </div>
</div>
