<h2>Set Cohort Info</h2>
<div class="form-area">
  <div>
    <label>Cohort Name:</label>
    <input type="text" class="input name" name="cohort-name" autofocus
        [(ngModel)]="cohort.name">
  </div>
  <div>
    <label>Description:</label>
    <textarea class="input description" name="cohort-description"
        [(ngModel)]="cohort.description">
    </textarea>
  </div>
  <div class="button">
    <button class="btn save-button" [clrLoading]="loading" (click)="save()">Save Cohort</button>
    <button class="btn" (click)="cancel()">Cancel</button>
  </div>
</div>
