.background-image {
    background-image: url('/assets/images/AoU-HP-background.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%
}

.card {
    border-radius: 5px;
}

.double {
    height: 332px;
    width: 548px;
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

.left {
    margin-left: 301px;
}

.right {
    margin-left: 23px;
}

.single {
    height: 349px;
    width: 1118px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
    margin-left: 301px;
}

.analyzeSingleHeader {
    height: 34px;
    width: 631px;
    opacity: 0.87;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 27px;
    margin-left:1%;
}

.heading {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    margin-top: 20px;
    align-content: center;
    height: 34px;
    width: 541px;
    margin-left: 25%;
}

.learnHeading {
    margin-left: 8%;
}
.analyzeHeading {
    height: 68px;	width: 65%;
    opacity: 0.87;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;	line-height: 34px;	text-align: center;
    margin-left: 18%;
}


.text {
    width: 70%;	color: #FFFFFF;
    font-size: 14px;	font-weight: 300;
    line-height: 19px;
    text-align: center;
    margin-top: 6px;
    align-self: center;
    margin-left: 20%;
}


.icon {
    box-sizing: border-box;
    align-self: center;
}

.analyzeIcon {
    height: 15%;
    width: 15%;
    margin-left:40%;
}

.iconImage {
    height: 95%;
    margin-left: 22px;
    margin-top:10px;
}

.learnIcon {
    height: 15%;
    width: 15%;
    margin-left:40%;
    margin-top:3%;
}

.topIcon {
    height: 65px;
    width: 94px;
    margin-top: 44px;
    margin-left: 225px;
    align-self: center;
}

.singleIcon {
    margin-left: 25px;
    margin-top: 10px;
}


.btn-homepage {
    height: 52px;
    width: 237px;
    border-radius: 5px;
    background-color: #302C71;
    margin-top:1%;
    color: white;
    margin-left:4%;
}


.footer {
    height: 300px;
    width: 100%;	border-radius: 5px;	background-color: #262262;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
    margin-top:30px;
}

.footerTitle {
    height: 34px;
    width: 688.13px;
    opacity: 0.87;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    margin-left: 320px;
    margin-top:32px;
}

.textGroup {
    margin-left: 260px;
}

.footerText {
    height: 176px;
    width: 372px;
    opacity: 0.87;
    color: #83C3EC;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 50px;
}

.footerText .title {
    color:white;
    margin-top: 20px;
}

.linkGroup {
    margin-top:16px;
}

.links {
    height: 56px;
    width: 158px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    margin-right: 45px;
}

.card.add-card {
    height: 223px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
    align-content: left;
    margin-left:25px;
}

.card-text {
    height: 56px;
    width: 284px;
    color: #216FB4;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 20%;
    margin-left:6%;

}

.plus-circle {
    width: 32px;
    height:32px;
}