<div class="background-image">
    <div class="row">
        <div *ngFor="let card of cardDetails">
            <div class="col">
                <div class="card double {{card.position}}">
                    <div class="row">
                        <img class="icon topIcon" src={{card.icon}}>
                    </div>
                    <div class="row heading">
                        {{card.title}}
                    </div>
                    <div class="row">
                        <label class="text">{{card.text}}</label>
                    </div>
                    <div class="row heading">
                        COMING SOON...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="firstTimeUser">
        <div class="row">
            <div class="col">
                <div class="card double left">
                    <div class="row">
                        <img class="icon analyzeIcon" src="/assets/icons/Analyze.svg">
                    </div>
                    <div class="row analyzeHeading">Analyze and Publish with Workspaces
                    </div>
                    <div class="row">
                        <label class="text">Dolor sit amet consectetuer adipiscing sed diam
                            euismod tincidunt ut laoreet dolore.</label>
                    </div>
                    <div class="row heading">
                        <button class="btn btn-homepage" (click)="addWorkspace()">CREATE WORKSPACE</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card double right">
                    <div class="row">
                        <img class="icon learnIcon" src="/assets/icons/learn-icon.svg">
                    </div>
                    <div class="row heading learnHeading">
                        Learn Researcher Workbench
                    </div>
                    <div class="row">
                        <label class="text">Dolor sit amet consectetuer adipiscing.</label>
                    </div>
                    <div class="row heading">
                        COMING SOON...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!firstTimeUser">
        <div class="row">
            <div class="card single">
                <div class="row">
                    <div class="col">
                        <img src='/assets/icons/Analyze.svg' class="iconImage">
                    </div>

                    <div class="col analyzeSingleHeader">Analyze and Publish With Workspaces</div>
                    <div class="col">
                        <div class="row linkGroup">
                            <div class="col">
                                <a class="links" [routerLink]="" (click)="addWorkspace()">Create a
                                    workspace</a>
                            </div>
                            <div class="col">
                                <a class="links" [routerLink]="">See All Notebooks</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="links" [routerLink]="" (click)="listWorkspaces()">See All
                                    Workspaces</a>
                            </div>
                            <div class="col">
                                <a class="links" [routerLink]="">See All Cohorts</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card add-card" (click)="addWorkspace()">
                        <div class="card-text">
                            Create a <br/> New Workspace <br/>
                            <clr-icon shape="plus-circle" class="plus-circle"></clr-icon>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="footerTitle">How to Use the AoU Researcher Workbench</div>
        </div>
        <div class="row options">
            <div class="footerText">
                <div class="title">Working Within Researcher Workbench</div>
                <ul class="bullet">
                    <li>Researcher Workbench Mission</li>
                    <li>User interface components</li>
                    <li>What to do when things go wrong</li>
                    <li>Contributing to the Workbench</li>
                </ul>
            </div>
            <div class="footerText">
                <div class="title">Workspace</div>
                <ul class="bullet">
                    <li>Workspace interface components</li>
                    <li>User interface components</li>
                    <li>Collaborating with other researchers</li>
                    <li>Sharing and Publishing Workspaces</li>
                </ul>
            </div>
            <div class="footerText">
                <div class="title">Working with Notebooks</div>
                <ul class="bullet">
                    <li>Notebook interface components</li>
                    <li>Notebooks and data</li>
                    <li>Collaborating with other researchers</li>
                    <li>Sharing and Publishing Notebooks</li>
                </ul>
            </div>
        </div>
    </div>
</div>