.background-image {
  background-image: url('/assets/images/AoU-HP-background.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-left: -1rem;
  margin-right: -0.6rem;
}

.card.double {
  height: 332px;
  width: 22rem;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 3px 2px 0 rgba(0, 0, 0, 0.12);
  border: none;
  margin-left: 1rem;
}

.card.single {
  height: 379px;
  max-width: 45rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 3px 2px 0 rgba(0, 0, 0, 0.12);
  border: none;
  margin-left: 1rem;
}

.analyzeSingleHeader {
  height: 34px;
  width: 631px;
  opacity: 0.87;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  margin-top: 2%;
  margin-left: 0.2rem;
}

.heading {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.analyzeHeading {
  opacity: 0.87;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  width: 65%;
  display: flex;
  text-align: center;
  margin-left: 18%;
  margin-top: 1%;
}

.text {
  width: 70%;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  margin-top: 2%;
  align-self: center;
  margin-left: 16%;
}

.double .text {
  margin-left: 15%;
}

.button {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  width: 541px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.analyzeIcon {
  height: 18%;
  width: 18%;
}

.learnIcon {
  height: 15%;
  width: 15%;
  margin-top: 3%;
}

.topIcon {
  height: 65px;
  width: 94px;
  margin-top: 8%;
}

.singleIcon {
  margin-top: 5%;
  height: 3rem;
  margin-left: 1.2rem;
}

.btn-homepage {
  height: 52px;
  border-radius: 5px;
  background-color: #302C71;
  color: white;
  margin-left: 31%;
  margin-top: 3%;
  font-weight: 500;
  font-size: 14px;
}

.footer {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  background-color: #262262;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 3px 2px 0 rgba(0, 0, 0, 0.12);
  margin-top: 3%;
}

.footerTitle {
  height: 34px;
  opacity: 0.87;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  margin-left: 12%;
  margin-top: 1.4rem;
}

.footerSubTitle {
  align-self: right;
}

.footerText {
  height: 176px;
  opacity: 0.87;
  color: #83C3EC;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.textGroup.ng-star-inserted {
  width: 33%;
}

.footerText .title {
  color: white;
  margin-top: 2%;
}

.linkGroup {
  display: flex;
  justify-content: right;
  width: 10%;
}

.links {
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 0.5rem;
  width: 7.5rem;
}

.card.add-card {
  height: 223px;
  width: 300px;
  background-color: #FFFFFF;
  align-content: left;
  margin-left: 25px;
  margin-top: 1.3rem;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 3px 2px 0 rgba(0, 0, 0, 0.12);
}

.card-text {
  height: 56px;
  width: 284px;
  color: #216FB4;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 20%;
  margin-left: 6%;
}

.plus-circle {
  width: 32px;
  height: 32px;
}

.bullets {
  color: #83C3EC;
}

.footerRtLink {
  display: flex;
  justify-content: space-evenly;
  margin-left: 75%;
}

.footerLink {
  color: #FFFFFF;
}

.bottom-banner {
  margin-bottom: 0;
  border-top-color: #5DAEE1;
  border-style: solid;
  border-top-width: .3rem;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  width: 100%;
  display: flex;
  background-color: #483F4B;
  height: 5rem;
}

.logo {
  top: 1rem;
  left: 6.25rem;
  height: 3.5rem;
  width: 7rem;
  position: relative;
  line-height: 85px;
}

.bottom-links {
  color: #9B9B9B;
  font-size: 0.7rem;
  height: 1rem;
  left: 5.5rem;
  top: 2rem;
  margin-left: 2.5rem;
  position: relative;
  font-weight: 300;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  top: -5px;
  right: 105%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

@media (min-width: 1200px) {
  .row {
    margin: 0rem;
  }
}
