.front-page {
    margin-left: -1rem;
    margin-right: -.6rem;
    text-align: center;
    position: relative;
}

.background-image {
    background-image: url('/assets/images/homepage.png');
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    /*height: calc(100vh - 3.3rem);*/
    height: 41rem;
}

.rectangle {
    opacity: .47;
    background-color: #000000;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.28);
    position: absolute;
    margin-top: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: 11rem;
    z-index: 1;
}

.invisible_rectangle {
    margin-top: 5rem;
    width: 80%;
    z-index: 2;
    height: 11rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.tip-title {
    color: #FFFFFF;
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.2rem;
    position: absolute;
}

.tip-subtitle {
    padding-top: 4.2rem;
    padding-left: 2.1rem;
    font-size: 1rem;
    line-height: 1.2rem;
}

.tip-description {
    padding-top: 5.75rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: lighter;
    text-align: left;
    width: 55%;
}

.learn-more-button {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 1.5rem;
    width: 6.5rem;
    -webkit-border-radius: .3125rem;
    -moz-border-radius: .3125rem;
    border-radius: .3125rem;
    background-color: #60AEE0;
    position: absolute;
    color: #FFFFFF;
    margin-top: 9rem;
    margin-left: 2rem;
    font-weight: 300;
    font-size: .75rem;
}

.profile-box {
    height: 11rem;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.28);
    float: right;
    position: relative;
    width: 24%;
    z-index: 1;
    text-align: left;
}

.profile-title {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1rem;
    font-size: .75rem;
    font-weight: 300;
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    padding-right: .2rem;
}

.profile-tips {
    line-height: .75rem;
    font-size: .5rem;
    font-weight: 100;
    padding-top: 0.2rem;
    margin-left: 1.2rem;
    padding-left: 0;
}

.profile-update-button {
    height: 1.3rem;
    width: 5rem;
    color: #FFFFFF;
    text-align: center;
    background-color: #302C71;
    margin-left: 1.4rem;
    -webkit-border-radius: .3125rem;
    -moz-border-radius: .3125rem;
    border-radius: .3125rem;
    margin-top: 1rem;
    padding-top: .1rem;
    font-size: .6rem;
    position: absolute;
}

.pie-chart-box {
    margin-left: 50%;
    width: 50%;
    position: absolute;
    padding-right: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.percent-text {
    position: absolute;
    color: #81BBED;
    font-size: 1.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-area {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    text-align: left
}

.card {
    width: 45%;
    height: 10rem;
    margin-bottom: .8rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-left: 1.2rem;
    padding-top: 1rem;
    position: relative;
}

.card *.title {
    color: #262262;
    font-size: .8rem;
    font-weight: 500;
}

.card *.description {
    font-size: .6rem;
    font-weight: 200;
    padding-top: .5rem;
    width: 66%;
}

.card *.button {
    height: 2rem;
    width: 8rem;
    background-color: #302C71;
    -webkit-border-radius: .3125rem;
    -moz-border-radius: .3125rem;
    border-radius: .3125rem;
    color: #FFFFFF;
    margin-top: 2.25rem;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.bottom-banner {
    margin-bottom: 0;
    margin-left: -1rem;
    border-top-color: #5DAEE1;
    border-style: solid;
    border-top-width: .3rem;
    width: 100%;
    display: flex;
    background-color: #483F4B;
    height: 5rem;
    position: absolute;
}

.logo {
    margin-left: 4rem;
    margin-top: 1rem;
    width: 12%;
    height: 90%
}

.bottom-links {
    color: #9B9B9B;
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
}