/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0.6rem 1.2rem 0 1.2rem;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  color: #6fb4ff;
  cursor: pointer;
  cursor: hand;
}

textarea {
  height: 10em;
  resize: none;
  padding: 0.1rem 0.2rem;
}

input[type=text] {
  border: 1px solid #9a9a9a;
}

input[type=text]:focus {
  border: 1px solid #0094d2;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.loading-text {
  padding-left: 0.3rem;
  color: #888;
}

.loading-area {
  padding-top: 0.3rem;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.required::after {
  content: " *";
  color: red;
}

.validation-error {
  background-color: #FFEEEE;
}

/*
 * ngx-popper => default background is transparent.
 * That is usually unusable.  Also we'd rather it wrap
 * at some point than just grow infinitely wide
 */
.ngxp__container {
  background: #fff;
  max-width: 12rem;
  /* I dunno why THEY don't set these /whatever */
  position: relative;
  z-index: 999;
}
