h1, h1 > *,
h2, h2 > *,
h3, h3 > * {
  color: rgb(38, 34, 98);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

body, input[text] {
  color: #888;
}

body * {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}

a {
  color: #6fb4ff;
  cursor: pointer;
  cursor: hand;
}

body {
  background-color: #e2e3e5;
  min-height: 100vh;
}

textarea {
  height: 10em;
  resize: none;
  padding: 0.1rem 0.2rem;
}

input[type=text], input[type=password] {
  border: 1px solid #9a9a9a;
}

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #0094d2;
}

.loading-text {
  padding-left: 0.3rem;
  color: #888;
}

.loading-area {
  padding-top: 0.3rem;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.required::after {
  content: " *";
  color: red;
}

.validation-error {
  background-color: #FFEEEE;
}

/*
 * ngx-popper => default background is transparent.
 * That is usually unusable.  Also we'd rather it wrap
 * at some point than just grow infinitely wide
 */
.ngxp__container {
  background: #fff;
  max-width: 12rem;
  /* I dunno why THEY don't set these /whatever */
  position: relative;
  z-index: 999;
}

/**
 * Style overrides for noUiSlider
 */
.noUi-connect {
  background: rgb(92, 183, 225);
}
