h1, h1 > *,
h2, h2 > *,
h3, h3 > * {
  color: rgb(38, 34, 98);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

body, input[text] {
  color: #888;
  font-weight: 300;
}

* {
  /*
   * Need to include elsewhere as well to override clarity's font styles.
   */
  font-family: 'Montserrat', sans-serif;
}

b,strong {
  font-weight: bold;
}

a {
  color: #6fb4ff;
  cursor: pointer;
  cursor: hand;
}

body {
  background-color: #FAFBFC;
  min-height: 100vh;
  width: 100%;
  min-width: 1080px;
}

textarea {
  height: 10em;
  resize: none;
  padding: 0.1rem 0.2rem;
}

input[type=text], input[type=password] {
  border: 1px solid #9a9a9a;
}

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #0094d2;
}

.loading-text {
  padding-left: 0.3rem;
  color: #888;
}

.loading-area {
  padding-top: 0.3rem;
}

.required::after {
  content: " *";
  color: red;
}

.validation-error {
  background-color: #FFEEEE;
}

/*
 * ngx-popper => default background is transparent.
 * That is usually unusable.  Also we'd rather it wrap
 * at some point than just grow infinitely wide
 */
.ngxp__container {
  background: #fff;
  max-width: 12rem;
  /* I dunno why THEY don't set these /whatever */
  position: relative;
  z-index: 999;
}

/**
 * Style overrides for noUiSlider
 */
.noUi-connect {
  background: rgb(92, 183, 225);
}

/*
 * Override clarity fonts
 */
body, html, .login,
.login-wrapper .login .title,
.login-wrapper .login .trademark,
.login-wrapper .login .subtitle,
.modal-header .modal-title,
.header .branding .title,
.sidenav .sidenav-content > .nav-link,
.sidenav .nav-group label,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


/*
 * Override clarity font weights. They default to 400 for normal, we want 300.
 */
body, body p, .btn,
.btn.btn-sm, .alert-app-level .alert-item .btn,
.btn-sm .btn, .alert-app-level .alert-item .btn .btn,
.btn-group.btn-sm .btn-group-overflow > .dropdown-toggle, .alert-app-level .alert-item .btn-group.btn .btn-group-overflow > .dropdown-toggle,
.dropdown-menu .btn,
.dropdown-menu .btn-secondary,
.dropdown-menu .btn-info,
.dropdown-menu .btn-outline,
.dropdown-menu .btn-outline-primary,
.dropdown-menu .btn-outline-secondary,
.dropdown-menu .btn-outline-warning,
.dropdown-menu .btn-outline-danger,
.dropdown-menu .btn-outline-success,
.dropdown-menu .btn-danger,
.dropdown-menu .btn-primary,
.dropdown-menu .btn-warning,
.dropdown-menu .btn-success,
.dropdown-menu .btn-link,
.dropdown-menu .dropdown-item,
.label, a.label,
header .branding .title,
.header .branding .title,
header .header-nav .nav-text,
.header .header-nav .nav-text,
header .settings .nav-text,
header .header-actions .nav-text,
.header .settings .nav-text,
.header .header-actions .nav-text,
.nav .nav-link,
.sidenav .sidenav-content > .nav-link,
.sidenav .nav-group,
.sidenav .nav-group label,
.clr-vertical-nav.has-nav-groups .nav-group-children .nav-link,
.tooltip.tooltip-top-right > .tooltip-content, .tooltip .tooltip-content.tooltip-top-right,
.tooltip.tooltip-top-left > .tooltip-content, .tooltip .tooltip-content.tooltip-top-left,
.tooltip.tooltip-bottom-right > .tooltip-content, .tooltip .tooltip-content.tooltip-bottom-right,
.tooltip.tooltip-bottom-left > .tooltip-content, .tooltip .tooltip-content.tooltip-bottom-left,
.tooltip.tooltip-right > .tooltip-content, .tooltip .tooltip-content.tooltip-right,
.tooltip.tooltip-left > .tooltip-content, .tooltip .tooltip-content.tooltip-left,
form .form-block > label,
.form .form-block > label,
.stack-view,
.stack-view .stack-block-label,
.datagrid .datagrid-column .datagrid-filter, .datagrid .datagrid-head .datagrid-row-actions .datagrid-filter,
.datagrid .datagrid-body .datagrid-row .datagrid-action-overflow,
.datagrid-foot .column-switch-wrapper .column-switch .switch-header,
.clr-wizard .clr-wizard-stepnav-item,
.clr-wizard .clr-wizard-stepnav-item.active {
  font-weight: 300;
}

button:focus {
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
  background: none;
}

/*
 * Force the Zendesk web widget "launcher" button to be hidden at all times.
 * This is a style-based workaround to ensure the Zendesk launcher button isn't
 * shown. Ideally, hiding the launcher would be possible via the Zendesk web widget
 * API, but certain API limitations don't make that possible. See the AoU Zendesk
 * integration doc for more details.
 */
iframe#launcher {
  display: none;
}

/**:focus {outline:none !important}*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
 * Hides the unnecessary "select all" header from the multiselect drop-down for the
 * Degrees multi-select in the Account Creation component.
 */
.create-account__degree-select .p-multiselect-header {
  display: none;
}

/*
 * Causes PDF pages to have space between them and be centered within their container.
 * The react-pdf <Page> component doesn't support inline styles, so we need to use a
 * CSS class and specify style overrides here.
 */
.pdf-page {
  margin-bottom: 1rem;
}

.pdf-page > canvas {
  margin: auto;
}
