<router-outlet></router-outlet>
<app-routing-spinner *ngIf="initialSpinner" [alwaysShow]="true">
</app-routing-spinner>
<div *ngIf="overriddenUrl" style="position: absolute; top: 0; left: 1rem;">
  <span style="font-size: 80%; color: darkred;">API URL: {{this.overriddenUrl}}</span>
</div>
<div *ngIf="localStorageDisabled">
  <div style="max-width: 500px; margin: 1rem; font-family: Montserrat;">
    <div><img alt="logo" src="/assets/images/logo-registration-non-signed-in.svg" width="314px"></div>
    <div style="font-size: 20pt; color: #2F2E7E; padding: 1rem 0 1rem 0;">Cookies are Disabled</div>
    <div style="font-size: 14pt; color: #000000">
      For full functionality of this site it is necessary to enable cookies.
      Here are the <a href="https://www.whatismybrowser.com/guides/how-to-enable-cookies/" style="color: #2691D0">
      instructions how to enable cookies in your web browser</a>.
    </div>
  </div>
</div>
