.sign-in-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: auto;
}

.sign-in-inner-container {
  background-color: #fcfcfc;
  border-radius: 0.3rem;
  padding-bottom: 1.5rem;
}

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.nav-bar {
  margin: 0rem -2rem;
  padding: 0rem 2rem;
  width: 103%;
}

.nav-link:hover {
  transition: box-shadow 0.05s ease-in;
}

.image-link-wrapper {
  text-decoration: none;
}

.top-nav {
  border-bottom: 1px solid #ccc;
  display: flex;
}

.tab-link {
  border-radius: 0;
  margin: 0;
  border: 1px solid #00537d;
}

.tab-link.active {
  border-bottom: 3px solid black;
  font-weight: bold;
}
