<ng-template *ngIf="(user | async).isSignedIn; then signedIn else notSignedIn"></ng-template>
<ng-template #logoImages>
  <a class="image-link-wrapper" routerLink="/">
    <img class="main-logo" src="assets/images/all-of-us-logo.svg" alt="All of Us"
    style="height: 100%;">
  </a>
  <img class="portal-logo" src="assets/images/portal-logo.svg" alt="Researcher Portal"
    style="margin-left: 0.5rem; height: 100%;">
</ng-template>
<ng-template #notSignedIn>

  <div *ngIf="currentUrl && currentUrl.indexOf('/data-browser/') === 0">
    <div class="page-container">
      <div style="height: 3rem;">
        <ng-template *ngIf="true; then logoImages"></ng-template>
      </div>
      <div>
        <button (click)="signIn()" class="btn">Sign In to Workbench</button>
      </div>
    </div>
    <div>
      <!--
        Angular's builtin Router module will attach specific views here
        based on clicking routerLink elements (above) or router.navigate calls.
      -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <div *ngIf="currentUrl && currentUrl.indexOf('/data-browser/') === -1" class="sign-in-container">
    <div class="sign-in-inner-container" [style.margin-top]="getTopMargin()">
      <div style="height: 2rem; margin: 0.5rem 2rem;">
        <ng-template *ngIf="true; then logoImages"></ng-template>
      </div>
      <div *ngIf="!_showCreateAccount;" style="margin-top: 1.5rem;">
        <div style="display: flex; justify-content: space-around;">
          <button (click)="showCreateAccount()" class="btn btn-primary">Create Account</button>
        </div>
        <div style="display: flex; justify-content: space-around;">
          <button (click)="signIn()" class="btn btn-primary">Sign In</button>
        </div>
      </div>
      <div *ngIf="_showCreateAccount;">
        <app-invitation-key></app-invitation-key>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #signedIn>
  <div class="page-container">
    <div style="height: 2rem;">
      <ng-template *ngIf="true; then logoImages"></ng-template>
    </div>
    <clr-dropdown>
      <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        <clr-icon shape="user" size="24"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <a routerLink="/profile" clrDropdownItem>Profile</a>
        <div class="dropdown-divider"></div>
        <a href="javascript:;" (click)="signOut()" clrDropdownItem>Sign Out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
  <div class="top-nav btn-primary">
    <button class="btn tab-link"
        [class.active]="workspacesActive"
        routerLink="/">My Workspaces</button>
    <button class="btn tab-link"
        [class.active]="reviewActive"
        *ngIf="hasReviewResearchPurpose"
        routerLink="/review">Review Research Purposes</button>
  </div>
  <div>
    <!--
      Angular's builtin Router module will attach specific views here
      based on clicking routerLink elements (above) or router.navigate calls.
    -->
    <router-outlet></router-outlet>
  </div>
</ng-template>
<div *ngIf="overriddenUrl" style="position: absolute; top: 0; left: 1rem;">
  <span style="font-size: 80%; color: darkred;">API URL: {{this.overriddenUrl}}</span>
</div>
