.sign-in-container {
  background-image: url('/assets/images/group.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.sign-in-inner-container {
  margin-top: 30vh;
  background-color: #fcfcfc;
  border-radius: 0.3rem;
}

.page-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin: 0rem -2rem;
  padding: 1rem 2rem 0.5rem 2rem;
}

.nav-bar {
  margin: 0rem -2rem;
  padding: 0rem 2rem;
  width: 103%;
}

.nav-link:hover {
  transition: box-shadow 0.05s ease-in;
}

.image-link-wrapper {
  text-decoration: none;
}
