.sign-in-container {
  background-image: url('/assets/images/group.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.sign-in-inner-container {
  margin-top: 30vh;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.page-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin: -1rem -2rem;
  padding: 1rem 2rem 0.5rem 2rem;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
