.modal-body {
  height: 100% !important;
  overflow: hidden;
}

.clr-wizard-content {
  height: 100% !important;
}

.modal-dialog.modal-xl {
  width: 88% !important;
}

.clr-wizard-page {
  height: 100% !important;
}

.clr-treenode-children {
  overflow: hidden!important;
}

.clr-treenode-content {
  width: 100%!important;
}

#criteria-page {
  height: 100%;
  display: flex;
  flex-flow: column;
}

#criteria-explorer {
  width: 100%;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 7;
  position: relative;
}

#criteria-selection {
  width: 100%;
  height: 30%;
  flex: 3;
  max-width: inherit;
  max-height: inherit;
  box-sizing: border-box;
}

@media all and (min-width: 1200px) {
  #criteria-page {
    flex-flow: row;
  }
  #criteria-explorer{
    width: 70%;
    height: 100%;
  }
  #criteria-selection {
    width: 30%;
    height: 100%;
  }
}
