<clr-wizard
  [clrWizardOpen]="open"
  (clrWizardOnCancel)="cancel()"
  (clrWizardOnFinish)="finish()">

  <clr-wizard-title>Add Criteria To Cohort</clr-wizard-title>

  <clr-wizard-page><!-- Criteria Selection Page -->
    <ng-template clrPageTitle>{{ critPageTitle }}</ng-template>
    <div id="criteria-page">

      <div class="criteria-tree-container">
        <crit-root-spinner
          [loading$]="loading$">
        </crit-root-spinner>

        <crit-alerts
          [errors$]="errors$">
        </crit-alerts>

        <div
          [style.display]="(settingAttributes$ | async) ? 'none' : 'initial'"
          class="tree-explorer">
          <crit-fuzzy-finder
            [criteriaType]="criteriaType">
          </crit-fuzzy-finder>

          <div class="search-results">
          </div>

          <div class="tree">
            <crit-tree [node]="rootNode">
            </crit-tree>
          </div>
        </div>

        <div *ngIf="(settingAttributes$ | async)"
          class="attribute-panel">
          <crit-attributes
            [node]="(nodeInFocus$ | async)">
          </crit-attributes>
        </div>
      </div>

      <div class="criteria-selection-container">
        <crit-selection>
        </crit-selection>
      </div>

    </div>
  </clr-wizard-page>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

</clr-wizard>
