.definition-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.definition-container .query-title {
  font-size: 16px;
  font-weight: 600;
  color: #262262;
}

.definition-container .group-background {
  background-color: #E2E2EA;
  color: black;
  padding: 0.3rem 0.6rem;
  margin: 0.7rem 0rem;
  display: inline-block;
}

.definition-container .circle-wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
}

.definition-container .and-circle {
  background-color: rgb(226, 226, 233);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.definition-container .exclude-wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
}

.definition-container .exclude {
  background-color: rgb(226, 226, 233);
  border-radius: 1rem;
  width: 4.5rem;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;

}

.definition-container .loading-spinner {
  margin-left: 5rem;
  margin-top: 1rem;
}

@media print{
  .page-break {
    page-break-inside: avoid;
  }

}