<clr-wizard
  #wizard
  [clrWizardOpen]="open"
  (clrWizardOnCancel)="cancel()"
  (clrWizardOnFinish)="finish()">

  <clr-wizard-title>Add Criteria To Cohort</clr-wizard-title>

  <clr-wizard-page><!-- Criteria Selection Page -->
    <ng-template clrPageTitle>Choose {{criteriaType.toUpperCase()}} Codes</ng-template>
    <div *ngIf="rootsAreLoading" class="spinner">Loading...</div>

    <div id="criteria-page">
      <div class="criteria-tree-container">
        <app-criteria-tree [node]="rootNode" (isLoading)="setLoading($event)"></app-criteria-tree>
      </div>
      <app-wizard-criteria-group></app-wizard-criteria-group>
    </div>
  </clr-wizard-page>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

</clr-wizard>
