<clr-wizard
  #wizard
  [clrWizardOpen]="open$ | async"
  (clrWizardOnCancel)="cancel()"
  (clrWizardOnFinish)="finish()">

  <clr-wizard-title>Add Criteria To Cohort</clr-wizard-title>

  <clr-wizard-page><!-- Criteria Selection Page -->
    <ng-template clrPageTitle>Choose {{(critType$ | async)?.toUpperCase()}} Codes</ng-template>
    <div id="criteria-page">
      <app-criteria-tree-root
        [critType]="(critType$ | async)?.toLowerCase()"
        [parentId]="0">
      </app-criteria-tree-root>
      <app-wizard-criteria-group></app-wizard-criteria-group>
    </div>
  </clr-wizard-page>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

</clr-wizard>
