<clr-wizard #wizard [(clrWizardOpen)]="open" [clrWizardSize]="'xl'" (clrWizardOnCancel)="doCancel()" [clrWizardPreventDefaultCancel]="true">
  <clr-wizard-title>Add Criteria To Cohort</clr-wizard-title>

  <clr-wizard-page>
    <ng-template clrPageTitle>Choose {{criteriaType.toUpperCase()}} Codes</ng-template>
    <app-wizard-tree-parent></app-wizard-tree-parent>
    <ng-template clrPageButtons>
      <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
      <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
      <button class="btn clr-wizard-btn btn-primary clr-wizard-btn--primary btn-success" type="button" (click)="doCustomClick('finish')">
        Finish
      </button>
    </ng-template>
  </clr-wizard-page>

  <!--<clr-wizard-page>-->
    <!--<ng-template clrPageTitle>Modifiers</ng-template>-->
    <!--<app-wizard-modifiers></app-wizard-modifiers>-->
    <!--<ng-template clrPageButtons>-->
      <!--<clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>-->
      <!--<clr-wizard-button [type]="'previous'">Back</clr-wizard-button>-->
      <!--<clr-wizard-button [type]="'next'">Next</clr-wizard-button>-->
      <!--<button class="btn clr-wizard-btn btn-primary clr-wizard-btn&#45;&#45;primary btn-success" type="button" (click)="doCustomClick('finish')">-->
        <!--Finish-->
      <!--</button>-->
    <!--</ng-template>-->
  <!--</clr-wizard-page>-->

  <!--<clr-wizard-page>-->
    <!--<ng-template clrPageTitle>Totals</ng-template>-->
    <!--<app-wizard-total></app-wizard-total>-->
    <!--<ng-template clrPageButtons>-->
      <!--<clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>-->
      <!--<clr-wizard-button [type]="'previous'">Back</clr-wizard-button>-->
      <!--<button class="btn clr-wizard-btn btn-primary clr-wizard-btn&#45;&#45;primary btn-success" type="button" (click)="doCustomClick('finish')">-->
        <!--Finish-->
      <!--</button>-->
    <!--</ng-template>-->
  <!--</clr-wizard-page>-->
</clr-wizard>
