.stigma-page {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  max-width: 50rem;
  height: 100%;
}

.stigma-header {
  color: #262262;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.stigma-subheader {
  font-size: 16px;
  color: #262262;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0.6rem;
}

.stigma-text {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.stigma-text.stigma-bold {
  font-weight: 500;
  color: #262262;
}

ol {
  padding-left: 1rem;
  list-style-position: outside;
  color: #262262;
  font-weight: 500;
}

li {
  margin: 1rem 0;
}
