<h3 class="cohorts-header">Cohorts</h3>
<div *ngIf="cohortsLoading" class="spinner-container">
  <span class="spinner spinner-lg"></span>
</div>
<div class="card-area">
  <div *ngIf="!cohortsLoading">
    <div role="tooltip" aria-haspopup="true" class="card add-card tooltip tooltip-md tooltip-top-right"
         [class.disabled]="!writePermission" (click)="!writePermission || buildCohort()">
      <div class="create-text">
        Create a <br/>New Cohort
        <clr-icon shape="plus-circle" class="plus-circle"></clr-icon>
      </div>
      <span *ngIf="!writePermission" class="tooltip-content">Write permission required to create cohorts</span>
    </div>
  </div>
  <div *ngFor="let cohort of resourceList">
    <app-resource-card [resourceCard]="cohort" [cssClass]="'for-list'"
                       (onUpdate)="reloadCohorts()">
    </app-resource-card>
  </div>
</div>
