.top-of-box {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 95.7%;
  border-top: 1px solid rgb(183, 183, 183);
  border-left: 1px solid rgb(183, 183, 183);
  border-right: 1px solid rgb(183, 183, 183);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  height: 8px;
}

.box-container {
  margin-left: auto;
  margin-right: auto;
  width: 95.7%;
  height: 8rem;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(236,236,236,0) 100%);
  border-image: linear-gradient(rgb(183, 183, 183), rgb(237, 237, 237) 125px) 1 100% / 1 / 0 stretch;
  border-left: 1px solid;
  border-right: 1px solid;
  overflow-y: visible;
}
