.explorer-panels {
  position: relative;
  clear: both;
}

.explorer-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
}

.active {
  display: block;
  opacity: 1;
}
