<crit-root-spinner [loading$]="loading$"></crit-root-spinner>
<crit-alerts [errors$]="errors$"></crit-alerts>

<crit-quicksearch
  [criteriaType]="criteriaType">
</crit-quicksearch>

<div class="container">
  <div class="content crit-tree">
    <crit-tree
      [node]="rootNode">
    </crit-tree>
  </div>

  <div class="content quicksearch-results">
    <crit-quicksearch-results>
    </crit-quicksearch-results>
  </div>

  <div class="content attributes">
    <crit-attributes
      [node]="(nodeInFocus$ | async)">
    </crit-attributes>
  </div>
</div>
