.ds-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.ds-options {
  min-width: 7rem;
}

.ds-options,
.ds-selected {
  margin: 0.25rem 0.5rem 0.25rem 0;
}

.box-header {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid gray;
}

.box-header input {
  flex: 1;
  border: none;
}

.box-header label clr-icon {
  cursor: pointer;
}

.box-header input:focus {
  /* Undoes the clarity animated background */
  background-size: 0;
}

.box-header:focus-within {
  border: 1px solid #0094d2;
  box-shadow: 0 0 2px 2px rgb(92, 183, 225);
}

.box-header clr-icon {
  margin: 0.25rem;
}

.option-list {
  overflow: auto;
}

.search-option-list {
  height: 8rem;
  overflow: auto;
}
.option {
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin-bottom: 0.5rem;
  padding: 0 .25rem;
  cursor: pointer;
}

.label.label-light-blue.clickable:hover,
.option:hover {
  background-color: rgb(219, 228, 233);
  cursor: pointer;
}

.demo-search-box {
  height: 40px;
  padding: 7px 14px;
  border-radius: 5px;
  background-color: #DFF0FA;
  margin: 0.2rem;
  border-bottom: none;
}

.items-selection-icon {
  margin-right: 0.25rem;
  color: rgb(98, 164, 32);
}

.items-disabled-icon {
  margin-right: 0.25rem;
  color: rgb(98, 164, 32);
  opacity: 0.4;
  pointer-events: none;
}

.disable-option{
  cursor: not-allowed;
}

.badge.badge-info {
  margin-left: 0.25rem;
}
