.crit-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0.25s linear, opacity 0.25s 0s, transform 0.25s;
  z-index: 102;
}

.crit-modal-container.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
}

.crit-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - calc(19rem + 60px));
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.crit-modal-content.demographics {
  width: 70vw;
  height: auto;
}

.title-bar {
  box-shadow: 0 0.12rem 0.125rem 0 #216FB4;
  margin-bottom: 0.5rem;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 59px;
  margin-top: 0.5rem;
}

.title {
  align-self: center;
  font-weight: 400;
  margin-right: 1.5rem;
}

.vbar {
  align-self: center;
  display: inline-block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  box-sizing: border-box;
  height: 26px;
  width: 1px;
  border: 1px solid #979797;
  margin-bottom: 0.5rem
}

.nav-link.active {
  -webkit-box-shadow: inset 0 -7px 0 #007cbb;
}

.nav .nav-link.btn {
  color: #216FB4!important;
}

.nav {
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}

.nav-link {
  margin-bottom: -4px!important;
}

button{
  font-weight:300!important;
}
button.tab.active {
  color: #216FB4;
  border-bottom: 7px solid #216FB4;
  font-size:14px;
  padding-bottom:1.8rem;
  font-weight:bold!important;
}

.tab-node{
  border-bottom: 7px solid #216FB4;
  padding-bottom:1.5rem;
  font-weight:bold!important;

}

.btn-link .btn, .btn.btn-link {
  font-size: 14px;
}

.btn-group > .btn.tab {
  letter-spacing: normal;
  margin: 0 1rem
}

.test:target {
  border-bottom: 5px solid red;
}

.close-button {
  color: rgb(245, 135, 113);
}

.close-button:hover {
  color: rgb(255, 186, 164);
}

.content {
  flex: 1;
  overflow: auto;
  height: 100%;
}

.demographics .content.left {
  padding-bottom: 3.25rem;
}

.footer {
  margin-top: 0.5rem;
  padding: 0.45rem 0rem;
  display: flex;
  justify-content: flex-end;
}

.footer > button {
  margin-left: 0.5rem;
}

.panel {
  display: none;
  height: 100%;
}

.panel.show {
  display: flex;
  animation: fadeEffect 1s;
}

.panel-left {
  display: none;
  flex: 1;
  min-width: 14rem;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-right: 0.4rem;
}

.panel-left.show {
  display: block;
  animation: fadeEffect 1s;
  padding-left: 1rem;
  max-height: 27rem;
  min-height: 27rem;
  overflow-y: auto;
}
.panel-right-container{
  width: 100%;
  padding-left: 1rem;
  padding-top: 0.5rem;
  background-color: rgb(241, 242, 242) ;
  height:100%;
}

.panel-right.selected {
  width: 95%;
  border: 2px solid #262262;
  height: 68vh;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 27.5rem;
  max-height: 27.5rem;
  background-color: white;
}
.demographics .panel-right.selected {
  height: calc(100% - 5.5rem);
  min-height: 10rem;
}

.title-margin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.title-margin .padding-zero{
  padding-left: 0;
  padding-right: 0;
}

.btn-color{
  color: #216FB4!important;
  font-weight:bold!important;
}

h5.selection-title {
  margin-top: 0;
  color: #262262;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.and-style {
  padding-left: 0.25rem;
}

.selection-header {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  color: #262262;
  padding: 0;
}

.explore-link {
  padding-bottom: 0.8rem;
}

.explore-link >a:visited {
  color: #007cbb;
}

@media all and (max-width: 900px) {
  .crit-modal-content.demographics {
    width: 90vw;
  }
  .panel {
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .panel-right.selected {
    flex: 1;
    width: 100%;
    min-height: 50%;
  }
  .panel-left {
    min-height: 50%;
    padding-bottom: 0.2rem;
  }
}

@media only screen and (min-width: 992px) and  (min-height: 400px){
  .crit-modal-content {
    width: calc(100vw - calc(1rem + 60px));
    overflow-y: auto;
    height: 100%;
  }

  .panel-right.selected {
    min-height: 26rem;
    max-height: 26rem;
  }
}

@media only screen and (min-width: 992px) and  (min-height: 780px){
  .crit-modal-content {
    width: calc(100vw - calc(1rem + 60px));
    overflow-y: auto;
    height: auto;
  }

  .panel-right.selected {
    min-height: 26rem;
    max-height: 26rem;
  }
}

@media only screen and (min-width: 1300px) and  (min-height: 400px){
  .crit-modal-content {
    width: calc(100vw - calc(6rem + 60px));
    overflow-y: auto;
    height: 100%;
  }

  .crit-modal-content.demographics {
    width: 60vw;
  }

  .panel-right.selected {
    min-height: 24.5rem;
    max-height: 24.5rem;
  }
}

@media only screen and (min-width: 1300px) and  (min-height: 780px){
  .crit-modal-content {
    width: calc(100vw - calc(6rem + 60px));
    overflow-y: auto;
    height: auto;
  }

  .crit-modal-content.demographics {
    width: 60vw;
  }

  .panel-right.selected {
    min-height: 24.5rem;
    max-height: 24.5rem;
  }
}

@media only screen and (min-width: 1500px) and  (min-height: 400px){
  .crit-modal-content {
    width: calc(100vw - calc(19rem + 60px));
    height: 100%;
    overflow-y: auto;
  }


  .crit-modal-content.demographics {
    width: 50vw;
  }

  .panel-right.selected {
    min-height: 24.5rem;
    max-height: 24.5rem;
  }
}

@media only screen and (min-width: 1500px) and  (min-height: 780px){
  .crit-modal-content {
    width: calc(100vw - calc(17rem + 60px));
    overflow-y: auto;
    height: auto;
  }


  .crit-modal-content.demographics {
    width: 50vw;
  }

  .panel-right.selected {
    min-height: 24.5rem;
    max-height: 24.5rem;
  }
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.disable-tree {
  pointer-events: none;
  opacity: 0.3;
}

.spin-in-overlay {
  position: absolute;
  top: 50%;
  right: 50%;
}
