<div class="crit-modal-container" *ngIf="wizard" [class.show]="open">
  <div class="crit-modal-content"
    [class.demographics]="wizard.domain === domainType.PERSON"
    [class.age]="wizard.type === criteriaType.AGE">
    <div class="container title-margin">
      <div class="row">
        <div class="col padding-zero" [ngClass]="treeClass">
          <div class="title-bar">
            <div class="btn-group btn-link">
              <ng-container>
                <button  *ngIf="!attributesNode"
                 type="button"
                 class="btn tab"
                 [disabled]="selections.length !== 0 && conceptType === 'standard'"
                 [class.active]="mode === 'list' || mode === 'tree'"
                 (click)="mode = backMode">
                  {{title}}
                </button>
                <button *ngIf="attributesNode"
                  type="button"
                  class="btn tab"
                  [class.active]="mode === 'attributes'"
                  (click)="mode = 'attributes'">
                  {{attributeTitle}}
                </button>
                <div *ngIf="showModifiers" class="vbar"></div>
                <button type="button"
                  class="btn tab"
                  *ngIf="showModifiers"
                  [class.active]="mode === 'modifiers'"
                  [disabled]="selections.length === 0"
                  (click)="setMode('modifiers')">
                  Modifiers
                </button>
              </ng-container>
            </div>
            <div class="link-container">
              <div class="inner-link-container">
                <div *ngIf="wizard.domain === domainType[domainType.DRUG]">
                  <a href="https://mor.nlm.nih.gov/RxNav/" target="_blank" rel="noopener noreferrer">
                    Explore
                  </a>
                  drugs by brand names outside of <i>All of Us</i>.
                </div>
                <div *ngIf="showDataBrowserLink">
                  Explore Source information on the
                  <a [href]="publicUiUrl" target="_blank" rel="noopener noreferrer">
                    Data Browser.
                  </a>
                </div>
              </div>
            </div>
            <button *ngIf="mode === 'attributes'"
              (click)="back()"
              class="btn btn-link btn-icon">
              <clr-icon size="24" shape="close"></clr-icon>
            </button>
          </div>
          <div class="content left" *ngIf="open">
            <ng-container [ngSwitch]="wizard.domain">
              <crit-list-demographics *ngSwitchCase="domainType[domainType.PERSON]"
                [dataFilters]="dataFilters"
                [select]="addSelection"
                [selectedIds]="selectedIds"
                [selections]="selections"
                [wizard]="wizard"></crit-list-demographics>
              <ng-container *ngSwitchDefault>
                <div *ngIf="loadingSubtree" class="spinner spinner-lg spin-in-overlay">
                  Loading...
                </div>
                <div
                  id="tree"
                  class="panel"
                  [class.disable-tree]="loadingSubtree"
                  [class.show]="['tree', 'list', 'modifiers', 'attributes'].includes(mode)">
                  <!-- Tree View -->
                  <div class="panel-left" [class.show]="mode === 'tree'">
                    <crit-tree *ngIf="hierarchyNode"
                      [autocompleteSelection]="autocompleteSelection"
                      [back]="back"
                      [groupSelections]="groupSelections"
                      [node]="hierarchyNode"
                      [scrollToMatch]="setScroll"
                      [searchTerms]="treeSearchTerms"
                      [select]="addSelection"
                      [selectedIds]="selectedIds"
                      [selectOption]="setAutocompleteSelection"
                      [setAttributes]="setAttributes"
                      [setSearchTerms]="setTreeSearchTerms"></crit-tree>
                  </div>
                  <!-- List View -->
                  <div class="panel-left" [class.show]="mode === 'list'">
                    <crit-list-search [hierarchy]="showHierarchy"
                      [select]="addSelection"
                      [selectedIds]="selectedIds"
                      [setAttributes]="setAttributes"
                      [wizard]="wizard"></crit-list-search>
                  </div>
                  <!-- Modifiers Page -->
                  <div class="panel-left" [class.show]="mode === 'modifiers'">
                    <crit-list-modifier-page *ngIf="showModifiers"
                      [dataFilters]="dataFilters"
                      [disabled]="modifiersFlag"
                      [wizard]="wizard"></crit-list-modifier-page>
                  </div>
                  <!-- Attributes Page -->
                  <div class="panel-left" [class.show]="mode === 'attributes'">
                    <crit-attributes-page *ngIf="attributesNode"
                      [close]="back"
                      [dataFilters]="dataFilters"
                      [node]="attributesNode"
                      [select]="addSelection"></crit-attributes-page>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div *ngIf="wizard.type === criteriaType.AGE" class="footer">
              <button type="button"
                (click)="close()"
                class="btn btn-link">
                Cancel
              </button>
              <button type="button"
                [disabled]="disableFlag"
                (click)="finish()"
                class="btn btn-primary">
                Finish
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="wizard.type !== criteriaType.AGE" class="col padding-zero" [ngClass]="sidebarClass">
          <div class="content right" *ngIf="open">
            <div class="panel-right-container">
              <h5 class="selection-title">Selected Criteria</h5>
              <div class="panel-right selected">
                <crit-list-selection-info
                  *ngFor="let parameter of selections; let p = index"
                  [index]="p"
                  [parameter]="parameter"
                  [remove]="removeSelection">
                </crit-list-selection-info>
              </div>
              <div class="footer">
                <button type="button"
                  (click)="close()"
                  class="btn btn-link">
                  Cancel
                </button>
                <button  *ngIf="showNext"
                  type="button"
                  [disabled]="selections.length === 0"
                  (click)="mode = 'modifiers'"
                  class="btn btn-primary">
                  Next
                </button>
                <button *ngIf="showBack"
                  type="button"
                  (click)="back()"
                  class="btn btn-primary">
                  Back
                </button>
                <button type="button"
                  [disabled]="disableFlag"
                  (click)="finish()"
                  class="btn btn-primary">
                  Finish
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

