<div class="crit-modal-container" [class.show]="open">
  <div class="crit-modal-content">
    <div class="container title-margin">
      <div class="row">
        <div class="col col-lg-9 padding-zero" [ngClass]="{'col col-lg-12': ctype === criteriaTypes.DEMO}">
          <div class="title-bar">
            <clr-tabs class="test" style="display:flex ">
              <clr-tab *ngIf="title !=='Physical Measurements' ">
                <button class="btn-color" clrTabLink (click)="mode = 'tree'">{{ title }}</button>
                <ng-template clrIfActive="{{title}}"></ng-template>
              </clr-tab>
              <clr-tab *ngIf="title ==='Physical Measurements' ">
                <button class="btn-color" clrTabLink *ngIf="attributesNode.size === 0" (click)="mode = 'tree'">{{ title }}</button>
                <ng-template clrIfActive="{{title}}"></ng-template>
                <button class="btn-color" clrTabLink *ngIf="attributesNode.size > 0">{{attributesNode.get('name')}}</button>
              </clr-tab>
              <!--<div class="vbar"></div>-->
              <div *ngIf="ctype !== criteriaTypes.DEMO">
                <clr-tab  *ngIf="ctype !== criteriaTypes.PM">
                  <button class="btn-color" (click)="mode = 'modifiers'" clrTabLink>Modifiers</button>
                  <ng-template *ngIf="ctype !== criteriaTypes.PM" [(clrIfActive)]="modifiers" ></ng-template>
                </clr-tab>
              </div>
            </clr-tabs>
            <div *ngIf="ctype === domainType[domainType.DRUG]">
              <a href="https://mor.nlm.nih.gov/RxNav/" target="_blank">
                Explore
              </a>
              drugs by brand names outside of AoU
            </div>
            <button *ngIf="attributesNode.size > 0"
                    (click)="back()"
                    class="btn btn-link btn-icon">
              <clr-icon size="24" shape="close"></clr-icon>
            </button>
          </div>
          <div class="content" *ngIf="open">
            <ng-container [ngSwitch]="ctype">
              <crit-demographics *ngSwitchCase="criteriaTypes.DEMO"
                                 (cancel)="cancel()"
                                 (finish)="finish()">
              </crit-demographics>

              <ng-container *ngSwitchDefault>
                <div id="tree" class="panel" [class.show]="mode === 'tree' || mode === 'modifiers' || mode === 'attributes'">
                  <!-- Tree Page -->
                  <div class="panel-left" [class.show]="mode === 'tree'">
                    <crit-tree [node]="rootNode"></crit-tree>
                  </div>
                  <!-- Modifiers Page -->
                  <div class="panel-left" [class.show]="mode === 'modifiers'">
                    <crit-modifier-page></crit-modifier-page>
                  </div>
                  <!-- Attributes Page -->
                  <div class="panel-left" [class.show]="mode === 'attributes'">
                    <crit-attributes-page [node]="attributesNode"></crit-attributes-page>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="col col-lg-3 padding-zero" *ngIf="ctype !== criteriaTypes.DEMO">
          <div class="content" *ngIf="open">
            <ng-container [ngSwitch]="ctype">
              <ng-container *ngSwitchDefault>
                <div class="panel-right-container">
                  <h5 class="selection-title">{{ selectionTitle }}</h5>
                  <div class="panel-right selected">
                    <crit-selection-info
                            *ngFor="let parameter of (selection$ | async); let i = index"
                            [index]="i"
                            [parameter]="parameter">
                    </crit-selection-info>
                  </div>
                  <div *ngIf="ctype !== criteriaTypes.DEMO" class="footer">
                    <button type="button"
                            (click)="cancel()"
                            class="btn btn-link">
                      Cancel
                    </button>
                    <button type="button"
                            [disabled]="noSelection"
                            (click)="finish()"
                            class="btn btn-primary">
                      Finish
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
