.crit-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0.25s linear, opacity 0.25s 0s, transform 0.25s;
}

.crit-modal-container.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
}

.crit-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.title-bar {
  box-shadow: 0 0.12rem 0.125rem 0 #d7d7d7;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  align-self: center;
  font-weight: 400;
  margin-right: 1.5rem;
}

.vbar {
  align-self: center;
  display: inline-block;
  margin: 0 0.75rem;
  box-sizing: border-box;
  height: 0.75rem;
  width: 1px;
  border: 1px solid #979797;
}

button.active {
  color: rgb(0, 74, 112);
}

.close-button {
  color: rgb(245, 135, 113);
}

.close-button:hover {
  color: rgb(255, 186, 164);
}

.content {
  flex: 1;
  padding: 0.2rem 0.4rem;
  overflow: auto;
}

.footer {
  margin-top: 0.5rem;
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: flex-end;
}

.footer > button {
  margin-left: 0.5rem;
}

.panel {
  display: none;
  height: 100%;
}

.panel.show {
  display: flex;
  animation: fadeEffect 1s;
}

.panel-left {
  display: none;
  flex: 1;
  min-width: 14rem;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-right: 0.4rem;
}

.panel-left.show {
  display: block;
  animation: fadeEffect 1s;
}

.panel-right.selected {
  width: 14rem;
  min-width: 14rem;
  border: 2px solid #d7d7d7;
  height: 100%;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

h5.selection-title {
  margin-top: 0;
}

@media all and (max-width: 900px) {
  .panel {
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .panel-right.selected {
    flex: 1;
    width: 100%;
    min-height: 50%;
  }
  .panel-left {
    min-height: 50%;
    padding-bottom: 0.2rem;
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
