.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 4px;
}

.top-bar {
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 0 0.12rem 0.125rem 0 #d7d7d7;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  fill: red;
}

.content {
  padding: 0.2rem;
}

