body {
  background-color: #f1f2f2;
}

.content-container {
  display: flex;
  /*View height minus top bar.*/
  min-height: calc(100vh - 4rem);
  position: relative;
}

.app-container {
  width: 100%;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  flex-grow: 1;
  /* Needed for absolute positioned child elements, e.g. spinner. */
  position: relative;
}

.background-image {
  background-image: url('/assets/images/BG-Pattern.png');
  background-size: 80px; /* half the size of the image */
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.minimize-chrome {
  padding-left: 0;
  padding-right: 0;
}

.create-account__degree-select .p-multiselect-header {
  display: none;
}
