<div class="body">
  <app-nav-bar
    [profile]="profile"
    [headerImg]="headerImg"
    [displayTag]="displayTag"
    [shouldShowDisplayTag]="shouldShowDisplayTag"
    [bannerAdminActive]="bannerAdminActive"
    [homeActive]="homeActive"
    [workspacesActive]="workspacesActive"
    [libraryActive]="libraryActive"
    [profileActive]="profileActive"
    [userAdminActive]="userAdminActive"
    [workspaceAdminActive]="workspaceAdminActive"
  ></app-nav-bar>

  <div class="content-container">
    <div class="background-image"></div>
    <div *ngIf="cdrVersionsInitialized && serverConfigInitialized"
         class="app-container"
         [class.minimize-chrome]="minimizeChrome">
      <!--
        Angular's builtin Router module will attach specific views here
        based on clicking routerLink elements (above) or router.navigate calls.
      -->
      <router-outlet></router-outlet>
      <app-routing-spinner></app-routing-spinner>
    </div>

    <app-text-modal *ngIf="showInactivityModal"
                [title]="'Your session is about to expire'"
                [body]="inactivityModalText"
                [buttonText]="'Extend Session'"
                [closeFunction]="closeInactivityModal"></app-text-modal>
  </div>

  <app-footer *ngIf="!minimizeChrome && enableSignedInFooter" [type]="footerTypeEnum.Workbench"></app-footer>
  <app-zendesk-widget></app-zendesk-widget>
</div>
