<clr-datagrid>
  <!-- <clr-dg-column>id</clr-dg-column> -->
  <clr-dg-column>Concept Name</clr-dg-column>
  <clr-dg-column>display</clr-dg-column>
  <clr-dg-column>count</clr-dg-column>
  <clr-dg-column>type</clr-dg-column>



  <clr-dg-row *clrDgItems="let item of concept">
    <clr-dg-cell>
      <clr-tooltip>
        <span clrTooltipTrigger>{{item.concept_name}}</span>
        <clr-tooltip-content *clrIfOpen>
          <span>{{item.concept_id}}</span>
        </clr-tooltip-content>
      </clr-tooltip>
    </clr-dg-cell>
    <clr-dg-cell>{{item.concept_name}}</clr-dg-cell>
    <clr-dg-cell>{{item.count_value}}</clr-dg-cell>
    <clr-dg-cell>{{item.vocabulary_id}}</clr-dg-cell>
    <clr-dg-row-detail>
      <app-concept-drawer style="width:100%;" *clrIfExpanded [concept]="item" [analyses]="analyses"></app-concept-drawer>
    </clr-dg-row-detail>
  </clr-dg-row>


</clr-datagrid>
