<clr-modal [(clrModalOpen)]="deleting" [clrModalSize]="'md'">
  <div class="modal-title">
    <!--The ngIf is to avoid null pointers before the modal is opened.-->
    <div *ngIf="deleting" class="modal-title-text">Are you sure you want to delete {{resourceType | titlecase}}: {{resource.name}}?</div>
    <div class="modal-title-subtext">This will permanently delete the {{resourceType}}.</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleting=false">Cancel</button>
    <button type="button" class="btn btn-primary confirm-delete-btn" (click)="emitDelete(resource)" [clrLoading]="loading" [disabled]="loading">Delete {{resourceType}}</button>
  </div>
</clr-modal>
