:host::ng-deep .modal-dialog {
  width: 18rem;
}

:host::ng-deep .modal-content {
  border-radius: 8px;
}

.modal-title-text {
  margin-top: 0;
  font-size: 20px;
  line-height: 28px;
  color: #302973;
  font-weight: 500;
}

.modal-title-subtext {
  margin-top: 0.2rem;
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 300;
  line-height: 28px;
}