.overview-container {
    height:20rem;
    width: 100%;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
    padding: 0.4rem;
}

.participant-container {
    display:flex;
    margin-bottom: 1rem;
}
.participant-container .participant-title {
    color: #262262;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    width: 78%;

}
.participant-container .total-heading {
    color: #262262;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.overview-small-container {
    height:2rem;
    width: 100%;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
    padding: 0.4rem;
}
.overview-title {
    color: #5FAEE0;
    font-size: 18px;
    font-weight: bold;
}

.play-icon {
    color: #5FAEE0;
    font-weight: bold;
    margin-left:0.5rem;
}

.button-chart-container {
    display: flex;
    padding: 0.4rem 0.2rem;
}
.button-chart-container .button-container {
   padding-right: 4rem;
}
.overview-buttons {
    width: 100%;
    border: 1px solid #0077b7;
    margin-bottom:0.7rem;
}

.chart-heading {
    padding-left: 32rem;
    color: #4A4A4A;
    font-size: 12px;
    font-weight: bold;
}



.loading-spinner {
    margin-left: 10rem;
    margin-top: 4rem;

}

.data-container {
   display: flex;
}
.data-blue {
    background-color: #216FB4;
    color: white;
    font-size: 10px;
    text-align: end;
    padding-right:0.2rem;
    font-weight: bold;
}

 .light-grey {
    background-color: #CCCCCC;
     width: 30rem;
     display: -webkit-box;
}
.divider {
    border-right: 1px solid black;
}
.data-bar-container {
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.data-heading {
    padding-top: 0.5rem;
    width: 16rem;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: end;
    padding-right: 0.5rem;
}
.data-percent {
    padding-top: 0.5rem;
    padding-left: 1rem;
    white-space: nowrap;
    font-size: 10px;
    font-weight: bold;
    color: #4a4a4a;
}
.count {
    padding-left: 0.2rem;
    font-size: 10px;
    font-weight: bold;
    color: #4a4a4a;
}

.selected-cohort {
    font-size: 20px;
    font-weight: 300;
    color: #4a4a4a;
    margin-bottom: 1rem;
}
/*.btn.btn-primary.overview-buttons.active {*/
    /*background-color: #4356a7;*/
    /*color: #f1f2f2;*/
    /*font-weight: bold;*/
/*}*/