# coding: utf-8

"""
    AllOfUs Workbench API

    The API for the AllOfUs workbench.

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..api_client import ApiClient


class BugReportApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def send_bug_report(self, bug_report, **kwargs):
        """
        Sends an email to developers about a user reported bug
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.send_bug_report(bug_report, async=True)
        >>> result = thread.get()

        :param async bool
        :param BugReport bug_report: user reported bug (required)
        :return: BugReport
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.send_bug_report_with_http_info(bug_report, **kwargs)
        else:
            (data) = self.send_bug_report_with_http_info(bug_report, **kwargs)
            return data

    def send_bug_report_with_http_info(self, bug_report, **kwargs):
        """
        Sends an email to developers about a user reported bug
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.send_bug_report_with_http_info(bug_report, async=True)
        >>> result = thread.get()

        :param async bool
        :param BugReport bug_report: user reported bug (required)
        :return: BugReport
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['bug_report']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method send_bug_report" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'bug_report' is set
        if ('bug_report' not in params) or (params['bug_report'] is None):
            raise ValueError("Missing the required parameter `bug_report` when calling `send_bug_report`")


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'bug_report' in params:
            body_params = params['bug_report']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = ['aou_oauth']

        return self.api_client.call_api('/api/v1/sendBugReport', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='BugReport',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
