<clr-modal
  [clrModalOpen]="open"
  (clrModalOpenChange)="openChange($event)"
  [clrModalStaticBackdrop]="true"
  [clrModalSize]="'lg'">

  <div class="modal-title">
    <h3>
    Choose Demographics Filters
    <clr-icon shape="info-circle" class="is-highlight"
      [popper]="explanation"
      [popperTrigger]="'hover'"
      [popperPlacement]="'right'">
    </clr-icon>
    </h3>
    <popper-content #explanation>
      <p>
        The four subcategories of Demographics (Age, Gender, Race, and Deceased
        Status) are joined together with a Boolean <strong>AND</strong>.  For
        example, you may wish to search for people who identify as Female
        <em>and</em> Asian.
      </p>
      <p>
        Values <em>within</em> a subcategory are joined with a Boolean
        <strong>OR</strong>.  For example, you may wish to search for people
        classified as White <em>or</em> as African American.
      </p>
      <p>
        The default behavior is to include as many participants as possible.  For
        example, selecting no gender filters is equivalent to <em>not</em>
        filtering by gender, which is equivalent to selecting <em>all</em>
        available filters.
      </p>
      <p>
        Filtering by <strong>Deceased Status</strong> will have the effect of
        including only deceased participant data.  If you would like to
        <em>exclude</em> deceased participant data, create a demographic
        profile in the <strong>Exclude Participants</strong> column.
      </p>
    </popper-content>
  </div>

  <div class="modal-body" id="demographics-modal-body">
    <div id="demo-form-spinner" [class.show]="loading">
      <div class="spinner spinner-lg">Loading...</div>
    </div>

    <div [class.blur]="loading">
      <form [formGroup]="demoForm" (ngSubmit)="onSubmit()">
        <section class="form-block">
          <label>Select participants who are...</label>

          <!-- Age -->
          <div class="form-group">
            <label>Within the age range</label>
            <div class="slider-container">
              <input type="number"
                id="min-age"
                [min]="minAge" [max]="maxAge"
                formControlName="ageMin"
                class="number-display">
              <div class="slider">
                <nouislider
                  [min]="minAge" [max]="maxAge" [step]="1"
                  [behaviour]="'drag'"
                  [connect]="true"
                  [formControl]="demoForm.controls.ageRange">
                </nouislider>
              </div>
              <input type="number"
                id="max-age"
                [min]="minAge" [max]="maxAge"
                formControlName="ageMax"
                class="number-display">
            </div>
          </div>

          <!-- Genders -->
          <div class="form-group">
            <label for="genders">
              And match any of these genders
            </label>
            <div class="select multiple">
              <select multiple
                size="5"
                [compareWith]="optionComparator"
                formControlName="genders"
                id="genders">
                <option *ngFor="let gender of genderNodes" [value]="gender">
                  {{ gender.get('name', '') }}
                  <span *ngIf="gender.get('count')">
                    ({{ gender.get('count') | number }})
                  </span>
                </option>
              </select>
            </div>
          </div>

          <!-- Races -->
          <div class="form-group">
            <label for="races">
              And match any of these races
            </label>
            <div class="select multiple">
              <select multiple
                size="5"
                [compareWith]="optionComparator"
                formControlName="races"
                id="races">
                <option *ngFor="let race of raceNodes" [value]="race">
                  {{ race.get('name', '') }}
                  <span *ngIf="race.get('count')">
                    ({{ race.get('count') | number }})
                  </span>
                </option>
              </select>
            </div>
          </div>

          <!-- Deceased status -->
          <div class="form-group">
            <label>
              And are deceased
            </label>
            <div class="checkbox">
              <input type="checkbox"
                formControlName="deceased"
                id="deceased"
                name="deceased">
              <label for="deceased">Deceased</label>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
      class="btn btn-secondary"
      (click)="onCancel()">
      Cancel
    </button>
    <button type="submit"
      class="btn btn-primary"
      (click)="onSubmit()"
      [disabled]="demoForm.invalid || !hasSelection">
      Finish
    </button>
  </div>
</clr-modal>
