<clr-modal
  [clrModalOpen]="open"
  (clrModalOpenChange)="openChange($event)"
  [clrModalStaticBackdrop]="true"
  [clrModalSize]="'xl'">
  <h3 class="modal-title">Choose Demographics Filters</h3>

  <div class="modal-body" id="demographics-modal-body">
    <div id="demo-form-spinner" [class.show]="loading">
      <div class="spinner spinner-lg">Loading...</div>
    </div>
    <div [class.blur]="loading">
      <form [formGroup]="demoForm" (ngSubmit)="onSubmit()">
        <section class="form-block">

          <!-- Age -->
          <div class="form-group">
            <label>Age Range</label>
            <div class="slider-container">
              <input type="number"
                id="min-age"
                [min]="minAge" [max]="maxAge"
                formControlName="ageMin"
                class="number-display">
              <div class="slider">
                <nouislider
                  [min]="minAge" [max]="maxAge" [step]="1"
                  [behaviour]="'step'"
                  [connect]="true"
                  [formControl]="demoForm.controls.ageRange">
                </nouislider>
              </div>
              <input type="number"
                id="max-age"
                [min]="minAge" [max]="maxAge"
                formControlName="ageMax"
                class="number-display">
            </div>
          </div>

          <!-- Genders -->
          <div class="form-group">
            <label for="genders">Choose Gender Filters</label>
            <div class="select multiple">
              <select multiple
                [compareWith]="optionComparator"
                formControlName="genders"
                id="genders">
                <option *ngFor="let gender of genderNodes" [value]="gender">
                  {{ gender.get('name', '') }}
                  <span *ngIf="gender.get('count')">
                    {{ gender.get('count') }}
                  </span>
                </option>
              </select>
            </div>
          </div>

          <!-- Races -->
          <div class="form-group">
            <label for="races">Choose Race Filters</label>
            <div class="select multiple">
              <select multiple
                [compareWith]="optionComparator"
                formControlName="races"
                id="races">
                <option *ngFor="let race of raceNodes" [value]="race">
                  {{ race.get('name', '') }}
                  <span *ngIf="race.get('count')">
                    {{ race.get('count') }}
                  </span>
                </option>
              </select>
            </div>
          </div>

          <!-- Deceased status -->
          <div class="form-group">
            <label>Filter By Deceased Status</label>
            <div class="checkbox">
              <input type="checkbox"
                formControlName="deceased"
                id="deceased"
                name="deceased">
              <label for="deceased">Deceased</label>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
      class="btn btn-secondary"
      (click)="onCancel()">
      Cancel
    </button>
    <button type="submit"
      class="btn btn-primary"
      (click)="onSubmit()"
      [disabled]="demoForm.invalid">
      Finish
    </button>
  </div>
</clr-modal>
