button {
  font-family: GothamMedium;
  font-size: 12px;
}

button.btn.btn-primary {
  background-color: #262262;
  border: none;
  padding: 0rem 0.77rem;
  border-radius: 0.3rem;
  cursor: pointer;
  cursor: hand;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.02rem;
  line-height: 0.77rem;
}

button.btn.btn-primary:hover {
  background-color: #4356A7;
  color: #fff;
}

button.btn.btn-primary:disabled {
  background-color: #c3c3c3;
  color: #fff;
  cursor: auto;
}

button.btn.btn-secondary {
  border: 2px solid #262262;
  padding: 0rem 0.77rem;
  border-radius: 0.2rem;
  cursor: pointer;
  cursor: hand;
  text-transform: uppercase;
  font-size: 10px;
  color: #262262;
  letter-spacing: 0.02rem;
  line-height: 0.77rem;
}

button.btn.btn-secondary:hover {
  background-color: #262262;
  color: #fff;
}

button.btn.btn-secondary:disabled {
  border: 2px solid #c3c3c3;
  background-color: #f1f2f2;
  color: #c3c3c3;
  cursor: auto;
}

button.btn.btn-lg {
  height: 2.5rem;
}

button.btn.btn-link {
  color: #4a4a4a;
  font-size: 14px;
}
