.card {
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.125rem 0.125rem 0 #d7d7d7;
}

.card * {
  margin-top: 0rem;
}

.card.create-card {
  padding: 0px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
  color: #216FB4;
  line-height: 22px;
  font-size: 18px;
}

.card.create-card.disabled {
  color: #AAAFB4;
}

.create-card-text {
  position: relative;
  top: 28%;
  transform: translateY(-50%);
  margin-left: 15%;
  font-weight: 500;
  cursor: pointer;
}
