.card {
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.125rem 0.125rem 0 #d7d7d7;
}

.card * {
  margin-top: 0rem;
}

.card.item-card {
  width: 200px;
  height: 223px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.75rem;
}

.card.add-card {
  width: 200px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  padding: 0px;
  height: 105px;
  color: #216FB4;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

.card.add-card.disabled {
  cursor: not-allowed;
  color: #AAAFB4;
  opacity: 0.5;
}

.card.add-card .create-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  position: relative;
  margin-top: 10%;
  margin-left: 12%;
}

.card.add-card .plus-circle {
  margin-top: 5px;
  width: 21px;
  height: 21px;
  display: block;
}

.card.item-card .footer {
  display: flex;
  flex-direction: column;
}

.card.item-card .name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #216FB4;
}

.card.item-card .item-type {
  height: 22px;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px 4px 0 0;
  background-color: #8BC990;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  display: flex;
  justify-content: center;
}

.card.item-card .item-type.cohort {
  background-color: #F8C954;
}

.card.item-card .item-type.notebook {
  background-color: #8BC990;
}

.item-type * {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
}


.card.item-card .last-modified {
  color: #4A4A4A;
  font-size: 11px;
  display: inline-block;
  line-height: 14px;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.card.item-card .description {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 300;
  line-height: 18px;
}

.help-tip {
  overflow: auto;
  padding-bottom: .25rem;
  border: 1px solid #89CBDF;
  margin-left: -1rem;
  margin-right: -1rem;
  border-radius: 3px;
  background-color: #E1F1F6;
  color: #216FB4;
  padding-left: .9rem;
  display: flex;
  position: relative
}

.help-tip .help-tip-title {
  border: 0px;
  /*height: 1.375rem;*/
  font-weight: 500;
  padding-top: .2rem;
}

.help-tip .help-tip-text {
  border: 0px;
  /*height: 1.375rem;*/
  font-weight: 300;
  padding-top: .2rem;
  padding-left: .75rem;
}

