.card {
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.125rem 0.125rem 0 #d7d7d7;
}

.card * {
  margin-top: 0rem;
}

.card.item-card {
  width: 200px;
  height: 223px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.75rem;
}

.card.add-card {
  width: 200px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  padding: 0px;
  height: 105px;
  color: #2691D0;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

.card.add-card.disabled {
  cursor: not-allowed;
  color: #AAAFB4;
  opacity: 0.5;
}

.card.add-card .create-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  position: relative;
  margin-top: 10%;
  margin-left: 12%;
}

.card.add-card .plus-circle {
  margin-top: 5px;
  width: 21px;
  height: 21px;
  display: block;
}

.card.item-card .footer {
  display: flex;
  flex-direction: column;
}

.card.item-card .name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #2691D0;
}

.card.item-card .item-type {
  height: 22px;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
}

.card.item-card .item-type.cohort {
  background-color: #F8C954;
}

.card.item-card .item-type.notebook {
  background-color: #8BC990;
}

.card.item-card .item-type.conceptSet {
  background-color: #AB87B3;
}

.item-type * {
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
}


.card.item-card .last-modified {
  color: #4A4A4A;
  font-size: 11px;
  display: inline-block;
  line-height: 14px;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

.card.item-card .description {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 300;
  line-height: 18px;
}

