h1 {
  color: #262262;
  font-family: GothamMedium;
  font-size: 1.6rem;
}
h2 {
  color: #262262;
  font-family: GothamBold;
  font-size: 1.25rem;
}
h3 {
  color: #262262;
  font-family: GothamBold;
  font-size: 1rem;
}
h4 {
  color: #000;
  font-family: GothamLight;
}
