h1 {
  color: #262262;
  font-weight: 500;
  font-size: 2.4rem;
}
h2 {
  color: #262262;
  font-weight: 800;
  font-size: 1.875rem;
}
h3 {
  color: #262262;
  font-weight: 800;
  font-size: 1.5rem;
}
h4 {
  font-weight: 300;
  color: #000;
}
