input[type=date]:not([readonly]),
input[type=datetime-local]:not([readonly]),
input[type=email]:not([readonly]),
input[type=number]:not([readonly]),
input[type=password]:not([readonly]),
input[type=tel]:not([readonly]),
input[type=text]:not([readonly]),
input[type=time]:not([readonly]),
input[type=url]:not([readonly]) {
  border-radius: 5px;
  background-color: white;
  line-height: 1.5rem;
  height: 1.5rem;
}


label {
  color: #262262;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
