<div>
  <div [ngSwitch]="annotation.definition.annotationType">

    <!-- STRING, DATE, INTEGER all rely on the blur event to update the annotation -->
    <div *ngSwitchCase="kinds.STRING">
      <div class="text-container">
        <label [for]="machineName" >
        <span class="flex-content-main items-text">
          {{ annotation.definition.columnName }}
        </span>
            <span  *ngIf="textSpinnerFlag" class="spinner spinner-inline spinner-md spin-in-overlay"> Loading...   </span>
           <span><clr-icon *ngIf="successIcon" class="success" shape="success-standard" ></clr-icon></span>
        </label>
      </div>
        <textarea
          class="textarea-wrapper"
          (blur)="textBlur()"
          [name]="machineName"
          [id]="machineName"
          [formControl]="control">
        </textarea>
    </div>

    <div *ngSwitchCase="kinds.DATE">
        <div class="text-container">
            <label [for]="machineName" class="">
        <span class="flex-content-main items-date">
          {{ annotation.definition.columnName }}
        </span>
                <span *ngIf="textSpinnerFlag" class="spinner spinner-inline spinner-md spin-in-overlay"> Loading...   </span>
                <span><clr-icon *ngIf="successIcon" class="success" shape="success-standard" ></clr-icon></span>
            </label>
        </div>
      <div (click)=" dateChange(myDate)" >
        <input class="modifier-calender" [ngModel]="myDate | date:'yyyy-MM-dd'"
               (ngModelChange)="myDate = $event" [name]="machineName" [id]="machineName" [formControl]="control"  type="date" clrDate>
      </div>
    </div>

    <div *ngSwitchCase="kinds.INTEGER" class="text-container">
      <label [for]="machineName" class="">
        <span class="flex-content-main items-Integer">
          {{ annotation.definition.columnName }}
        </span>
          <span *ngIf="textSpinnerFlag" class="spinner spinner-inline spinner-md spin-in-overlay"> Loading...   </span>
          <span><clr-icon *ngIf="successIcon" class="success" shape="success-standard" ></clr-icon></span>
      </label>
      <input
         class="integer-style"
        (blur)="textBlur()"
        type="number"
        [name]="machineName"
        [id]="machineName"
        [formControl]="control">
    </div>

    <!-- ENUM and BOOLEAN rely on the change event to update the annotation -->
    <div *ngSwitchCase="kinds.ENUM">
      <label [for]="machineName" class="">
        <span class="flex-content-main items-enum">
          {{ annotation.definition.columnName }}
        </span>
        <span *ngIf="textSpinnerFlag" class="spinner spinner-inline spinner-md spin-in-overlay"> Loading...   </span>
          <span><clr-icon *ngIf="successIcon" class="success" shape="success-standard" ></clr-icon></span>
      </label>
      <div>
        <clr-dropdown  class="participant-dropdown">
          <button type="button" class="btn btn-outline" clrDropdownTrigger>
            <span *ngIf = "defaultAnnotation; else elseBlock">{{annotationOption}}</span>
            <ng-template #elseBlock>
              <span>Select Operator</span>
            </ng-template>
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu   clrPosition="bottom-left" *clrIfOpen>
            <button [name]="machineName" [id]="machineName"
                    *ngFor="let value of annotation.definition.enumValues"
                    (click)="annotationOptionChange(value)"
                    class="dropdown-item"
                    type="button"
                    clrDropdownItem>{{ value | titlecase }}</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
    <div class="checkbox-container" *ngSwitchCase="kinds.BOOLEAN">
      <label [for]="machineName" class="flex-content-main items-check">
        {{ annotation.definition.columnName }}
        <!--<em>{{ datatypeDisplay | titlecase }}</em>-->
      </label>
        <input class="checkbox-style"
          (change)="textBlur()"
          type="checkbox"
          [name]="machineName"
          [id]="machineName"
          [formControl]="control">
        <span *ngIf="textSpinnerFlag" class="spinner spinner-inline spinner-md spin-in-overlay"> Loading...   </span>
        <span><clr-icon *ngIf="successIcon" class="success" shape="success-standard" ></clr-icon></span>

    </div>
</div>
</div>

