<div class="wrapper">
  <ng-container [ngSwitch]="annotation.definition.annotationType">

    <!-- STRING, DATE, INTEGER all rely on the blur event to update the annotation -->
    <div *ngSwitchCase="kinds.STRING">
      <label [for]="machineName" class="flex-container">
        <span class="flex-content-main">
          {{ annotation.definition.columnName }}
          <em>{{ datatypeDisplay | titlecase }}</em>
        </span>
        <clr-icon shape="caret" dir="down" (click)="toggleExpandText()"></clr-icon>
      </label>
      <input *ngIf="!expandText"
        type="text"
        (blur)="handleInput()"
        [name]="machineName"
        [id]="machineName"
        [formControl]="control">
        <textarea *ngIf="expandText"
          (blur)="handleInput()"
          [name]="machineName"
          [id]="machineName"
          [formControl]="control">
        </textarea>
    </div>

    <div *ngSwitchCase="kinds.DATE">
      <label [for]="machineName" class="flex-container">
        <span class="flex-content-main">
          {{ annotation.definition.columnName }}
          <em>{{ datatypeDisplay | titlecase }}</em>
        </span>
      </label>
      <input
        (blur)="handleInput()"
        type="date"
        [name]="machineName"
        [id]="machineName"
        [formControl]="control">
    </div>

    <div *ngSwitchCase="kinds.INTEGER">
      <label [for]="machineName" class="flex-container">
        <span class="flex-content-main">
          {{ annotation.definition.columnName }}
          <em>{{ datatypeDisplay | titlecase }}</em>
        </span>
      </label>
      <input
        (blur)="handleInput()"
        type="number"
        [name]="machineName"
        [id]="machineName"
        [formControl]="control">
    </div>

    <!-- ENUM and BOOLEAN rely on the change event to update the annotation -->
    <div *ngSwitchCase="kinds.ENUM">
      <label [for]="machineName" class="flex-container">
        <span class="flex-content-main">
          {{ annotation.definition.columnName }}
          <em>{{ datatypeDisplay | titlecase }}</em>
        </span>
      </label>
      <!--<h1>check</h1>-->
      <!--<div>-->
        <!--<clr-dropdown  class="participant-dropdown">-->
          <!--<button type="button" class="btn btn-outline" clrDropdownTrigger>-->
            <!--<span *ngIf = "defaultOption; else elseBlock">{{participantOption}}</span>-->
            <!--<ng-template #elseBlock>-->
              <!--<span>Select Operator</span>-->
            <!--</ng-template>-->
            <!--<clr-icon shape="caret down"></clr-icon>-->
          <!--</button>-->
          <!--<clr-dropdown-menu  clrPosition="bottom-left" *clrIfOpen>-->
            <!--<button-->
                    <!--*ngFor="let value of annotation.definition.enumValues"-->
                    <!--(click)="participantOptionChange(status)"-->
                    <!--class="dropdown-item"-->
                    <!--type="button"-->
                    <!--clrDropdownItem>{{ value | titlecase }}</button>-->
          <!--</clr-dropdown-menu>-->
        <!--</clr-dropdown>-->
      <!--</div>-->
      <div class="select">
        <select
          (change)="handleInput()"
          [name]="machineName"
          [id]="machineName"
          [formControl]="control">
          <option value=''><em>No Selection</em></option>
          <option *ngFor="let value of annotation.definition.enumValues" [value]="value">
            {{ value | titlecase }}
          </option>
        </select>
      </div>
    </div>

    <div *ngSwitchCase="kinds.BOOLEAN">
      <div class="checkbox-inline flex-container">
        <input
          (change)="handleInput()"
          type="checkbox"
          [name]="machineName"
          [id]="machineName"
          [formControl]="control">
        <label [for]="machineName" class="flex-content-main">
          {{ annotation.definition.columnName }}
          <em>{{ datatypeDisplay | titlecase }}</em>
        </label>
      </div>
    </div>

  </ng-container>
</div>
