<div *ngIf="!notFound else notFoundMessage">
  <h2 *ngIf="adding">Create a new Workspace</h2>
  <h2 *ngIf="!adding">Edit workspace "{{workspace.name}}"</h2>
  <div>* is a required field</div>
  <div class="form-area">
    <div class="name-area" [class.validation-error]="nameNotEntered">
      <label class="text-label required">Name:</label>
      <input type="text" class="input name" name="workspace-name" autofocus
          [(ngModel)]="workspace.name" [disabled]="!hasPermission()">
    </div>

    <div>
      <h3>Research Purpose</h3>
      <!-- TODO: Real description of workspace purpose -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      <div>
        <label class="text-label">Describe your research purpose:</label>
        <textarea class="input description" name="workspace-description"
            [(ngModel)]="workspace.description" [disabled]="!hasPermission()">
        </textarea>
      </div>
      <section class="form-block">
        <h4>Please select all that apply</h4>
        <div class="form-group">
          <div class="checkbox-group">
            <clr-checkbox
                name="disease-focused-research"
                id="disease-focused-research"
                [(ngModel)]="workspace.researchPurpose.diseaseFocusedResearch"
                [clrDisabled]="!adding">
              Disease focused research
            </clr-checkbox>
            <input type="text" class="input" name="disease-specification"
                [(ngModel)]="workspace.researchPurpose.diseaseOfFocus" [disabled]="!adding">
          </div>
          <div class="checkbox-group">
            <clr-checkbox
                name="methods-development"
                id="methods-development"
                [(ngModel)]="workspace.researchPurpose.methodsDevelopment"
                [clrDisabled]="!adding">
              Methods development/validation study
            </clr-checkbox>
          </div>
          <div class="checkbox-group">
            <clr-checkbox
                name="control-set"
                id="control-set"
                [(ngModel)]="workspace.researchPurpose.controlSet"
                [clrDisabled]="!adding">
              Control set
            </clr-checkbox>
          </div>
          <div class="checkbox-group">
            <clr-checkbox
                name="aggregate-analysis"
                id="aggregate-analysis"
                [(ngModel)]="workspace.researchPurpose.aggregateAnalysis"
                [clrDisabled]="!adding">
              Aggregate analysis to understand variation in general population
            </clr-checkbox>
          </div>
          <div class="checkbox-group">
            <clr-checkbox
                name="ancestry"
                id="ancestry"
                [(ngModel)]="workspace.researchPurpose.ancestry"
                [clrDisabled]="!adding">
              Population origins or ancestry
            </clr-checkbox>
          </div>
          <div class="checkbox-group">
            <clr-checkbox
                name="commercial-purpose"
                id="commercial-purpose"
                [(ngModel)]="workspace.researchPurpose.commercialPurpose"
                [clrDisabled]="!adding">
              Commercial purpose/entity
            </clr-checkbox>
          </div>
          <div class="checkbox-group">
            <clr-checkbox
                name="population"
                id="population"
                [(ngModel)]="workspace.researchPurpose.population"
                [clrDisabled]="!adding">
              Restricted to a specific population
            </clr-checkbox>
            <!-- TODO: Dropdown for population-->
          </div>
          <!-- TODO: Add includes an underserved population -->
          <h4>Request a Review of Your Research Purpose</h4>
          <!-- TODO: Replace with real request approval text. -->
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <div class="checkbox-group">
            <clr-checkbox
                name="requestApproval"
                id="requestApproval"
                [(ngModel)]="workspace.researchPurpose.reviewRequested"
                [clrDisabled]="!adding">
              Review my workspace
            </clr-checkbox>
          </div>
        </div>
      </section>
    </div>
    <div style="display: flex; flex: 0 0 0; padding: 0">
      <div class="button">
        <button *ngIf="adding else editing" class="btn add-button btn-primary" [clrLoading]="savingWorkspace" (click)="addWorkspace()">Create Workspace</button>
        <ng-template #editing>
          <button class="btn add-button btn-primary" [clrLoading]="savingWorkspace" (click)="updateWorkspace()" [disabled]="!hasPermission()">Update Workspace</button>
        </ng-template>
        <button class="btn" (click)="navigateBack()">Cancel</button>
      </div>
      <p *ngIf="valueNotEntered;">* is a required field</p>
    </div>
  </div>
</div>
<!-- TODO: Factor out to component -->
<ng-template #notFoundMessage>
  <h3>
    Workspace {{route.snapshot.params['ns']}}/{{route.snapshot.params['wsid']}} could not be found.
  </h3>
</ng-template>
<clr-modal [(clrModalOpen)]="workspaceCreationError">
  <h3 class="modal-title">Error:</h3>
  <div class="modal-body">Could not create workspace.</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="navigateBack()">Cancel Creation</button>
    <button type="button" class="btn btn-primary" (click)="resetWorkspaceEditor()">Keep Editing</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="workspaceUpdateError">
  <h3 class="modal-title">Error:</h3>
  <div class="modal-body">Could not update workspace.</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="navigateBack()">Cancel Edits</button>
    <button type="button" class="btn btn-primary" (click)="resetWorkspaceEditor()">Keep Editing</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="workspaceUpdateConflictError">
  <h3 class="modal-title">Conflicting update:</h3>
  <div class="modal-body">
    Another client has modified this workspace since the beginning of this
    editing session. Please reload to avoid overwriting those changes.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="reloadConflictingWorkspace()">Reload Workspace</button>
    <button type="button" class="btn btn-primary" (click)="resetWorkspaceEditor()">Keep Editing</button>
  </div>
</clr-modal>
