<h2>Create a new Workspace</h2>
<div>* is a required field</div>
<div class="form-area">
  <div class="name-area">
    <label class="text-label required">Name:</label>
    <input type="text" class="input name" name="workspace-name" autofocus
        [(ngModel)]="workspace.name">
  </div>

  <div>
    <h3>Research Purpose</h3>
    <!-- TODO: Real description of workspace purpose -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <div>
      <label class="text-label">Describe your research purpose:</label>
      <textarea class="input description" name="workspace-description"
          [(ngModel)]="this.workspace.researchPurpose.additionalNotes">
      </textarea>
    </div>
    <section class="form-block">
      <h4>Please select all that apply</h4>
      <div class="form-group">
        <div class="checkbox-group">
          <clr-checkbox
              name="disease-focused-research"
              id="disease-focused-research"
              [(ngModel)]="this.workspace.researchPurpose.diseaseFocusedResearch">
            Disease focused research
          </clr-checkbox>
          <input type="text" class="input" name="disease-specification"
              [(ngModel)]="this.workspace.researchPurpose.diseaseOfFocus">
        </div>
        <div class="checkbox-group">
          <clr-checkbox
              name="methods-development"
              id="methods-development"
              [(ngModel)]="this.workspace.researchPurpose.methodsDevelopment">
            Methods development/validation study
          </clr-checkbox>
        </div>
        <div class="checkbox-group">
          <clr-checkbox
              name="control-set"
              id="control-set"
              [(ngModel)]="this.workspace.researchPurpose.controlSet">
            Control set
          </clr-checkbox>
        </div>
        <div class="checkbox-group">
          <clr-checkbox
              name="aggregate-analysis"
              id="aggregate-analysis"
              [(ngModel)]="this.workspace.researchPurpose.aggregateAnalysis">
            Aggregate analysis to understand variation in general population
          </clr-checkbox>
        </div>
        <div class="checkbox-group">
          <clr-checkbox
              name="ancestry"
              id="ancestry"
              [(ngModel)]="this.workspace.researchPurpose.ancestry">
            Population origins or ancestry
          </clr-checkbox>
        </div>
        <div class="checkbox-group">
          <clr-checkbox
              name="commercial-purpose"
              id="commercial-purpose"
              [(ngModel)]="this.workspace.researchPurpose.commercialPurpose">
            Commercial purpose/entity
          </clr-checkbox>
        </div>
        <div class="checkbox-group">
          <clr-checkbox
              name="population"
              id="population"
              [(ngModel)]="this.workspace.researchPurpose.population">
            Restricted to a specific population
          </clr-checkbox>
          <!-- TODO: Dropdown for population-->
        </div>
        <!-- TODO: Add includes an underserved population -->
        <h4>Request a Review of Your Research Purpose</h4>
        <!-- TODO: Replace with real request approval check mark. -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <div class="checkbox-group">
          <clr-checkbox
              name="requestApproval"
              id="requestApproval"
              [(ngModel)]="this.workspace.researchPurpose.reviewRequested">
            Review my workspace
          </clr-checkbox>
        </div>
      </div>
    </section>
  </div>
  <div style="display: flex; flex: 0 0 0; padding: 0">
    <div class="button">
      <button class="btn add-button btn-primary" [clrLoading]="buttonClicked" (click)="addWorkspace()">Create Workspace</button>
      <button class="btn" routerLink="/../..">Cancel</button>
    </div>
    <p *ngIf="this.valueNotEntered;">* is a required field</p>
  </div>
</div>
