.page-header {
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #262262;
}

.text-label {
  display: block;
  padding: 0 0 0.4rem 0;
  color: #333;
}

.input {
  width: 20rem;
}

.input.description {
  margin-top: 0.5rem;
  width: 100%;
}

.checkbox-group {
  padding: 0.6rem 0;
}

.row .checkbox-group {
  width: 50%;
  display: inline-block;
  padding-right: 2rem;
}

.three-column {
  width: 15rem;
  display: inline-block;
  padding-right: 2rem;
  vertical-align: top;
}

.underserved-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #4356a7;
  margin-bottom: 0.6rem;
  color: #262262;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.underserved-icon {
  width: 18px;
  height: 18px;
  fill: #302C71;
}

.underserved-checkbox {
  padding-bottom: 0.6rem;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.checkbox-inline input[type=checkbox], .checkbox input[type=checkbox] {
  color: blue;
}

.checkbox-label {
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-right: 0;
  margin-left: 0;
}

.card {
  width: 60%;
  min-width: 835px;
}

.section {
  width: 60%;
  min-width: 835px;
  margin-top: 1rem;
}

.section-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #262262;
}

.section-sub-header {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.section-text {
  font-size: 13px;
  color: #4A4A4A;
  font-weight: 300;
  line-height: 24px;
}

.col-xs-6 {
  padding: 0;
}

:host ::ng-deep input[type=checkbox]+label:before {
  background-color: white;
}

:host ::ng-deep input[type=checkbox]:checked+label:before {
  background-color: #7CC79B;
}

:host ::ng-deep input[type=checkbox]:focus+label:before {
  box-shadow: 0 0 2px 2px #7CC79B
}

.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.required-field * {
  display: inline-block;
}

h3 {
  margin-top: 0;
}

.data-use-label {
  color: #262262;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.required-text {
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  line-height: 16px;
  color: #4A4A4A;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-content-wrapper {
  display: flex;
  align-items: center;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  left: 100%;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 200px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}