.text-label {
  display: block;
  padding: 0 0 0.4rem 0;
  color: #333;
}

.input {
  width: 20rem;
}

.checkbox-group {
  padding: 0.6rem 0;
}

.two-column {
  width: 20rem;
  display: inline-block;
  padding-right: 2rem;
  vertical-align: top;
}

.three-column {
  width: 15rem;
  display: inline-block;
  padding-right: 2rem;
  vertical-align: top;
}

.underserved-header {
  padding-top: 1rem;
  border-bottom: 1px solid #4356a7;
  margin-bottom: 0.6rem;
}

.underserved-checkbox {
  padding-bottom: 0.6rem;
}
