.text-label {
  display: block;
  padding: 0 0 0.4rem 0;
  color: #333;
}

.input {
  width: 20rem;
}

.input.description {
  width: 100%;
}

.checkbox-group {
  padding: 0.6rem 0;
}

.row .checkbox-group {
  width: 20rem;
  display: inline-block;
  padding-right: 2rem;
}

.three-column {
  width: 15rem;
  display: inline-block;
  padding-right: 2rem;
  vertical-align: top;
}

.underserved-header {
  padding-top: 1rem;
  border-bottom: 1px solid #4356a7;
  margin-bottom: 0.6rem;
}

.underserved-checkbox {
  padding-bottom: 0.6rem;
}

.checkbox-inline input[type=checkbox], .checkbox input[type=checkbox] {
  color: blue;
}

.checkbox-label {
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}