<clr-tabs>
  <clr-tab>
    <button clrTabLink id="detail-summary-tab">Summary</button>
    <ng-template [(clrIfActive)]="summaryActive">
      <clr-tab-content id="detail-summary-content" *clrIfActive>
        <div class="container summary-container">
          <div class="row">
            <div class="col-sm-4" *ngFor = "let charts of domainList; let i=index">
              <div *ngIf="chartData[charts].loading" class="loading-spinner spinner spinner-lg spin-in-overlay">
                Loading...
              </div>
              <clr-alert *ngIf="!chartData[charts].loading && !chartData[charts].items.length" [clrAlertClosable]="false">
                <clr-alert-item>
                  <span class="alert-text">
                    There are no {{chartData[charts].conditionTitle}} to show for this participant.
                  </span>
                </clr-alert-item>
              </clr-alert>
              <app-individual-participants-charts [chartData]="chartData[charts]">
              </app-individual-participants-charts>
            </div>
          </div>
        </div>
      </clr-tab-content>
    </ng-template>
  </clr-tab>

  <!-- All Events: the "combined tabs" view -->
  <clr-tab>
    <button clrTabLink id="detail-{{ allEvents.name | lowercase }}-tab" title="{{ allEvents.name | titlecase }}">
      {{ allEvents.name | titlecase }}
    </button>
    <clr-tab-content id="detail-{{ allEvents.name | lowercase }}-content" *clrIfActive>
      <div>
        <app-detail-tab-table
          [getFilteredData]=filteredData
          [filteredTab]="filterState[allEvents.domain]"
          [tabName]="allEvents.name"
          [columns]="allEvents.columns"
          [filterType]="allEvents.filterType"
          [domain]="allEvents.domain"
          [participantId]="participantId">
        </app-detail-tab-table>
        <div *ngIf="false" class="details">
          <h4>Details</h4>
          <div *ngIf="detailsLoading" class="spinner">Loading...</div>
          <div *ngIf="!detailsLoading && !details">No data</div>
          <div *ngIf="!detailsLoading && details">
            <div><b>Start Date:</b> <small>{{ details.itemDate | date:'yyyy-MM-dd HH:mm:ss' }}</small></div>
            <div *ngIf="details.dataType == 'ParticipantVisit'"><b>End Date:</b> <small>{{ details.endDate | date:'yyyy-MM-dd HH:mm:ss' }}</small></div>
            <div><b>Standard Vocabulary:</b> <small>{{ details.standardVocabulary }}</small></div>
            <div><b>Standard Name:</b> <small>{{ details.standardName }}</small></div>
            <div><b>Source Value:</b> <small>{{ details.valueSource }}</small></div>
            <div *ngIf="details.dataType == 'ParticipantDrug'"><b>Signature:</b> <small>{{ details.signature }}</small></div>
            <div><b>Source Vocabulary:</b> <small>{{ details.sourceVocabulary }}</small></div>
            <div><b>Source Name:</b> <small>{{ details.sourceName }}</small></div>
            <div><b>Age At Event:</b> <small>{{ details.age }}</small></div>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>

  <!-- Individual Tab Views -->
  <clr-tab *ngFor="let tab of tabs">
    <button clrTabLink id="detail-{{ tab.name | lowercase }}-tab" title="{{ tab.name | titlecase }}">
      {{ tab.name | titlecase }}
    </button>
    <clr-tab-content id="detail-{{ tab.name | lowercase }}-content" *clrIfActive>
      <app-detail-tab-table
        [getFilteredData]=filteredData
        [filteredTab]="filterState[tab.domain]"
        [tabName]="tab.name"
        [columns]="tab.columns"
        [filterType]="tab.filterType"
        [domain]="tab.domain"
        [participantId]="participantId">
      </app-detail-tab-table>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
