<clr-tabs>
  <clr-tab>
    <button clrTabLink id="detail-summary-tab">Summary</button>
    <clr-tab-content id="detail-summary-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-conditions-tab">Conditions</button>
    <clr-tab-content id="detail-conditions-content" *clrIfActive>
      <app-detail-conditions></app-detail-conditions>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-procedures-tab">Procedures</button>
    <clr-tab-content id="detail-procedures-content" *clrIfActive>
      <app-detail-procedures></app-detail-procedures>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-drugs-tab">Drugs</button>
    <clr-tab-content id="detail-drugs-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-measurements-tab">Measurements</button>
    <clr-tab-content id="detail-measurements-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-observations-tab">Observations</button>
    <clr-tab-content id="detail-observations-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-visits-tab">Visits</button>
    <clr-tab-content id="detail-visits-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-physical-measurements-tab">Physical Measurements</button>
    <clr-tab-content id="detail-physical-measurements-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-ppi-tab">PPI</button>
    <clr-tab-content id="detail-ppi-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-device-tab">Device</button>
    <clr-tab-content id="detail-device-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
