<clr-tabs>
  <clr-tab>
    <button clrTabLink id="detail-summary-tab">Summary</button>
    <clr-tab-content id="detail-summary-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>

  <!-- All Events: the "combined tabs" view -->
  <clr-tab>
    <button clrTabLink id="detail-{{ allEvents.name | lowercase }}-tab">
      {{ allEvents.name | titlecase }}
    </button>
    <clr-tab-content id="detail-{{ allEvents.name | lowercase }}-content" *clrIfActive>
      <div class="all-events-container">
        <app-detail-all-events
          [tabname]="allEvents.name"
          [columns]="allEvents.columns"
          [filterType]="allEvents.filterType"
          [reverseEnum]="allEvents.reverseEnum"
          (onRowClick)="detailView($event)"
          >
        </app-detail-all-events>
        <div class="details">
          <h4>Details</h4>
          <div *ngIf="detailsLoading" class="spinner">Loading...</div>
          <div *ngIf="!detailsLoading && !details">No data</div>
          <div *ngIf="!detailsLoading && details">
            <div><b>Date:</b> {{ details.itemDate }} </div>
            <div><b>Standard Vocabulary:</b> {{ details.standardVocabulary }} </div>
            <div><b>Standard Name:</b> {{ details.standardName }} </div>
            <div><b>Source Value:</b> {{ details.sourceValue }} </div>
            <div><b>Source Vocabulary:</b> {{ details.sourceVocabulary }} </div>
            <div><b>Source Name:</b> {{ details.sourceName }} </div>
            <div><b>Age At Event:</b> {{ details.age }} </div>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>

  <!-- Individual Tab Views -->
  <clr-tab *ngFor="let tab of tabs">
    <button clrTabLink id="detail-{{ tab.name | lowercase }}-tab">
      {{ tab.name | titlecase }}
    </button>
    <clr-tab-content id="detail-{{ tab.name | lowercase }}-content" *clrIfActive>
      <app-detail-tab-table
        [tabname]="tab.name"
        [columns]="tab.columns"
        [filterType]="tab.filterType"
        [reverseEnum]="tab.reverseEnum"
        >
      </app-detail-tab-table>
    </clr-tab-content>
  </clr-tab>

  <!-- Stubs: when the endpoint for each of these is available, make it a data
       entry and put it in the above for loop.  OR if it is too custom, make it
       a new component. -->
  <clr-tab *ngFor="let stub of stubs">
    <button clrTabLink id="detail-{{ stub }}-tab">
      {{ stub.replace('-', ' ') | titlecase }}
    </button>
    <clr-tab-content id="detail-{{ stub }}-content" *clrIfActive>
      <em>Charts go here</em>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
