<div
  class="card bg-faded"
  [style.margin-top]="'0'"
  [style.margin-bottom]="'0.6rem'">
  <div class="card-header">
    <span>Group {{index}}</span>
  </div>
  <div class="card-block">
    <clr-dropdown>
      <button [id]="role + '-button'" type="button" class="btn selection-button" (click)="setMenuPosition()" clrDropdownTrigger>
        ADD Criteria <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="{{position}}">
        <h4 class="dropdown-header">Program Data</h4>
        <clr-dropdown *ngFor="let criteria of programTypes">
          <button
            *ngIf="!criteria.children"
            [id]="criteria.type"
            class="dropdown-item"
            type="button"
            (click)="launchWizard(criteria)"
            clrDropdownItem>{{criteria.name}}</button>
          <ng-container *ngIf="criteria.children">
            <button
                [id]="'DEMO-' + index"
                class="dropdown-item"
                type="button"
                clrDropdownTrigger>{{criteria.name}}</button>
            <ng-template [(clrIfOpen)]="demoOpen || demoMenuHover">
              <clr-dropdown-menu [id]="'demo-menu-' + index">
                <button
                    *ngFor="let child of criteria.children"
                    [id]="child.type"
                    class="dropdown-item"
                    type="button"
                    (click)="launchWizard(child)"
                    clrDropdownItem>{{child.name}}</button>
              </clr-dropdown-menu>
            </ng-template>
          </ng-container>
        </clr-dropdown>
        <div class="dropdown-divider"></div>
        <h4 class="dropdown-header">Domains</h4>
          <button
            *ngFor="let criteria of domainTypes"
            [id]="criteria.type"
            class="dropdown-item"
            type="button"
            (click)="launchWizard(criteria)"
            clrDropdownItem>{{criteria.name}}</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</div>
