.selection-button {
  color: rgb(114, 114, 114);
  border-color: rgb(195, 195, 195);
  font-weight: 100 !important;
}

.selection-button:hover {
  background-color: rgb(219, 228, 233);
  color: rgb(114, 114, 114);
  border-color: rgb(195, 195, 195);
}

.dropdown-item:hover {
  background-color: rgb(219, 228, 233);
}
.card {
  border-color: rgba(215, 215, 215, 0.5);
}

.card-header {
  background-color: rgb(226, 226, 233);
  min-width: 100%;
}

.card-header > span {
  margin-left: calc(16px + 0.5rem);
  color: rgb(38, 34, 98);
  font-size: 14px;
  font-weight: 600;
}

clr-icon[shape=ellipsis-vertical] {
  margin-right: 0.5rem;
}

.spinner.spinner-inline {
  margin-left: 1rem;
}
