.row.search {
    margin: .25rem;
}
.white-card-box{
    padding: .25rem;
}
.white-card-box.top-stat {
    padding: 1rem;
}
.card-view {
    margin-top: .5rem;
}
.flex-xs-middle.code-tooltip {
    display: inline;
}
