<div class="row flex-items-xs-middle">
  <div class="col-xs-12 col-no-gutter">
    <h2 class="title">  {{title}} </h2>
  </div>
</div>

<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-xs-middle search-input-full">
  <div class="search-wrapper">
    <clr-icon shape="search" class="input-icon-absolute is-info search-icon"></clr-icon>
    <input type="text" id="search-db" placeholder="Keyword Search" [formControl]="searchText" autofocus>
  </div>
</div>

<div class="row ">
  <div class="col-md-4 col-sm-2 col-xs-1 flex-xs-middle" *ngIf="loading" >
    <span  class="spinner spinner-lg hidden-sm-down">Loading ...</span>
    <span  class="spinner spinner-md hidden-md-up hidden-xs-down"></span>
    <span  class="spinner spinner-sm hidden-sm-up"></span>
  </div>
</div>

<div  class="row result-list">
  <div class="col-xs-12 col-no-gutter">
    <div class="white-card-box">
      <div class="col-xs-12" *ngIf="items.length > 0">
        <!-- Top summary boxes -- only show if have results -->
        <div class="row domain-summary">
          <h5 class="box-title">
            {{ehrDomain.name}}
            <clr-tooltip>
              <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
              <clr-tooltip-content clrPosition=right
                                   clrSize="lg" *clrIfOpen>
                <div class="tooltip-label">{{domainHelpText[ehrDomain.domain.toLowerCase()]}}</div>
              </clr-tooltip-content>
            </clr-tooltip>
          </h5>
        </div>

        <div class="row domain-summary">
          <h5 class="box-title">
            <a class="toggle-link" (click)="toggleTopConcepts()"> Top 10 Medical Concepts by Descending Participant Counts
              <clr-icon *ngIf="!showTopConcepts" shape="caret" dir="right"></clr-icon> <clr-icon *ngIf="showTopConcepts" shape="caret" dir="down"></clr-icon>
            </a>
          </h5>
        </div>
        <div class="row grid-header top-concepts-chart" [hidden]="!showTopConcepts">
          <div class="chart-wrapper flex-xs-middle">
            <app-chart [concepts]="top10Results" [pointWidth]="10"> </app-chart>
          </div>
        </div>
      </div>
      <div class="results-grid" *ngIf="items.length > 0" >
        <div class="row col-xs-12 matching-concepts-help-text-display">
          <h5 class="box-title">
            Showing top {{items.length}}&nbsp;
          </h5>
          <h5 class="box-title" *ngIf="searchText.value.length === 0; else no_search_term">
            concepts for this domain
            <clr-tooltip>
              <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
              <clr-tooltip-content clrPosition=right
                                   clrSize="lg" *clrIfOpen>
                <div class="tooltip-label">{{matchingConceptsHelptText}}</div>
              </clr-tooltip-content>
            </clr-tooltip>
          </h5>
          <ng-template #no_search_term>
            <h5 class="box-title" *ngIf="searchText.value.length > 0">
              matching medical concepts
              <clr-tooltip>
                <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
                <clr-tooltip-content clrPosition=right
                                     clrSize="lg" *clrIfOpen>
                  <div class="tooltip-label">{{matchingConceptsHelptText}}</div>
                </clr-tooltip-content>
              </clr-tooltip>
            </h5>
          </ng-template>
        </div>
        <div class="row" *ngIf="items.length === 1 && items[0].standardConcept != 'S' && standardConcepts.length > 0">
          <div class="col-xs-12 db-alert">
            <clr-alert  [clrAlertClosable]="false" [clrAlertType]="info">
              Note: {{items[0].vocabularyId}} {{items[0].conceptCode}} "{{items[0].conceptName}}"
              maps to Standard Vocabulary {{standardConcepts[0].vocabularyId}} {{standardConcepts[0].conceptCode}}.
              Standard vocabularies capture data across a variety of source vocabularies.
            </clr-alert>
          </div>
        </div>
        <div class="row expandable-grid-row col-header-row">
          <div class="col-md grid-header flex-xs-middle info-text col-border"> {{ehrDomain.name}}
            <clr-tooltip>
              <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
              <clr-tooltip-content clrPosition=right
                                   clrSize="lg" *clrIfOpen>
                <div class="tooltip-label">{{domainHelpText[ehrDomain.domain.toLowerCase()]}}</div>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
          <div class="col-md grid-header flex-xs-middle info-text col-border"> Also Known As
            <clr-tooltip>
            <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
              <clr-tooltip-content clrPosition=right
                                 clrSize="lg" *clrIfOpen>
                <div class="tooltip-header">
                    Medical concepts often have alternative names and descriptions, known as synonyms.
                    Alternate names and descriptions,
                    if available, are listed for each medical concept.</div>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
          <div class="col-md-1 grid-header flex-items-xs-right info-text col-border"> Participants of <b> {{totalParticipants | number}}</b>
            <clr-tooltip>
              <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
              <clr-tooltip-content clrPosition=right
                                   clrSize="lg" *clrIfOpen>
                <div class="tooltip-label">The participant counts are the total number of participants in the
                  All of Us data that have at least one mention of a given medical concept
                  in their electronic health record (EHR).
                  Participants may have more than one mention of a medical concept in their records,
                  but they will only be counted once.</div>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
          <div class="col-md-1 grid-header flex-xs-middle info-text col-border">
            Vocabulary Code
            <clr-tooltip>
              <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
                <clr-tooltip-content clrPosition=left
                             clrSize="lg" *clrIfOpen>
                  <div class="tooltip-label">
                    Individual health records often contain medical information that means
                    the same thing but may be recorded in many different ways.
                    Source concepts are the way the data was originally represented in a patient’s record.
                    The vocabulary code listed here is a standard vocabulary code for the medical information.
                    Standard codes are ways of representing data that is recorded many different ways in original patient records but essentially means the same thing.
                  </div>
                </clr-tooltip-content>
            </clr-tooltip>
          </div>
          <div class="col-md-1 grid-header flex-xs-middle info-text col-border">
            Concept Code
            <clr-tooltip>
              <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
              <clr-tooltip-content clrPosition=bottom-left
                                   clrSize="lg" *clrIfOpen>
                <div class="tooltip-label">{{conceptCodeHelpText}}</div>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
          <div class="col-md-1 grid-header flex-xs-middle info-text"> View graphs
          </div>
        </div>
        <div class="row expandable-grid-row"
             *ngFor="let r of standardConcepts.concat(items), let i = index"
             [ngClass]="{'expanded-grid-row': r.expanded}">
          <div class="col-md flex-xs-middle" *ngIf="searchResult.matchType === 'CONCEPT_CODE' && r.standardConcept !='S';else code_match_standard">
            <div class="col-md flex-xs-middle code-tooltip">
              <app-highlight-search [text]="r.conceptName" [searchTerm]="prevSearchText" [isSource]="true"></app-highlight-search>
            </div>
        </div>
        <ng-template #code_match_standard>
          <div class="col-md flex-xs-middle" *ngIf="searchResult.matchType === 'CONCEPT_CODE' && r.standardConcept ==='S';else code_match_not_standard">
            <div class="col-md flex-xs-middle code-tooltip" *ngIf="searchResult.matchType === 'CONCEPT_CODE' && r.standardConcept ==='S';else code_match_not_standard">
              <app-highlight-search [isStandard]="true" [text]="r.conceptName" [searchTerm]="prevSearchText"></app-highlight-search>
            </div>
          </div>
        </ng-template>
        <ng-template #code_match_not_standard>
          <div class="col-md flex-xs-middle">
            <div class="col-md flex-xs-middle code-tooltip">
              <app-highlight-search [indNum]="i+1" [text]="r.conceptName" [searchTerm]="prevSearchText"></app-highlight-search>
            </div>
          </div>
        </ng-template>
        <div class="col-md flex-xs-middle hand-cursor" *ngIf="r.conceptSynonyms;else noConceptSynonyms">
          <app-highlight-search *ngIf="!showMoreSynonyms[r.conceptId]" [text]="synonymString[r.conceptId].substring(0,110)" [searchTerm]="prevSearchText"></app-highlight-search>
          <app-highlight-search *ngIf="showMoreSynonyms[r.conceptId]" [text]="synonymString[r.conceptId]" [searchTerm]="prevSearchText"></app-highlight-search>
          <a class="toggle-link" (click)="toggleSynonyms(r.conceptId)" *ngIf="synonymString[r.conceptId].length > 110 && showMoreSynonyms[r.conceptId]; else seeMore"> See Less
          </a>
          <ng-template #seeMore>
            <a class="toggle-link" (click)="toggleSynonyms(r.conceptId)" *ngIf="synonymString[r.conceptId].length > 100"> See More
              <clr-icon shape="ellipsis-horizontal"></clr-icon>
            </a>
          </ng-template>
        </div>
        <ng-template #noConceptSynonyms><div class="col-md flex-xs-middle"></div></ng-template>
        <div class="col-md-1 flex-items-xs-right card-view">
          {{r.countValue | number }}
        </div>
        <div class="col-md-1 flex-xs-middle">
          {{r.vocabularyId}} {{r.conceptCode}}
        </div>
        <div class="col-md-1 flex-xs-middle">
          {{r.conceptId}}
        </div>
        <div class="col-md-1 flex-xs-middle">
          <button class="icon-btn" (click)="expandRow(standardConcepts.concat(items),r)">
            <clr-icon shape="bar-chart" style="height: 1rem; width: 1rem;color: #2691D0;"></clr-icon>
          </button>
        </div>
        <div class="col-xs-12 row-expansion flex-xs-middle" *ngIf="r.expanded" #chartElement>
          <button *ngFor="let g of ['Biological Sex', 'Gender Identity', 'Age at Occurrence', 'Sources']" [ngClass]="{active:selectedGraph === g}" (click)="selectGraph(g)" class="btn btn-link">{{g}} <clr-tooltip>
            <clr-icon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
            <clr-tooltip-content clrPosition=right
                                 clrSize="lg" *clrIfOpen>
              <div class="tooltip-label">{{showToolTip(g)}}</div>
            </clr-tooltip-content>
          </clr-tooltip></button>
          <app-concept-charts [concept]="r" [showGraph]="graphToShow" [backgroundColor]="'#ECF1F4'">
          </app-concept-charts>
        </div>
        </div>
      </div>

      <div class="results-grid">
        <div class="row" *ngIf="!loading && items.length === 0">
          <div class="col-xs-12">
            <h5 class="no-results"> No results match your search. </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <button class="btn btn-primary btn-sm" [routerLink]="['/quick-search/ehr']"> Back to Quick Search </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
