:host {
    margin: auto auto;
    width: 100%;
}

.aka-text {
    width: auto;
    font-style: italic;
    color: rgb(150 150 150);
    display: flex;
    align-items: center;
}

.aka-info {
    opacity: .7;
}

#domain-name {
    padding-bottom: 12px;
    font-size: 30px;
    line-height: 31px;
}

#domain-summary {
    font-size: 23px;
    margin-bottom: 28px;
}

.domain-info-container {
    display: flex;
    align-items: center;
    padding: 0 var(--gutter)
}

.top-concepts-chart {
    width: 100%!important;
    margin: 0 auto;
    display: block!important;
}

.results-tbl-head {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    /* grid-gap: var(--gutter); */
    grid-template-areas: 'a a a a a a b b b b c c c c c d d d d e e e e';
    align-items: baseline;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.results-tbl-row-inner {
    width: 100%;
    padding: var(--gutter);
    padding-bottom: none;
    border-left: var(--tbl-border);
    border-right: var(--tbl-border);
}

.results-tbl-col {
    padding: 0 var(--gutter);
}

.results-tbl-col:first-of-type {
    padding: 0;
    grid-area: a
}

.results-tbl-col:nth-of-type(2) {
    grid-area: b
}

.results-tbl-col:nth-of-type(3) {
    grid-area: c
}

.results-tbl-col:nth-of-type(4) {
    grid-area: d
}

.results-tbl-col:nth-of-type(5) {
    grid-area: e
}

.tbl-r .tbl-d {
    max-width: 100%;
}

.aka {

    padding-bottom: var(--gutter);
    padding-left: var(--gutter);
}

.aka .info-icon {
    filter: contrast(43%) brightness(165%);
    transform: scale(0.7);
}

.see-more, .see-less {
    display: inline;
    color: var(--mid-blue);
    font-weight: 400;
    position: relative;
    z-index: 100;
}

.row-selected {
    background: var(--pale-grey);
}

.results-tbl-row-expanded .results-tbl-row .domain-info-container {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.tbl-head .tbl-r-group .tbl-d::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    background: url('/assets/icons/divider.svg');
    background-repeat: no-repeat;
    left: -10px;
  }

  .tbl-r.tbl-head {
    background: var(--pale-grey);
    border: var(--tbl-border);
    border-bottom: none;
  }

.icon-btn {
    position: relative;
    right: var(--gutter);
}



.tbl-r {
    border:none;
}

@media (max-width: 600px) {
    .chart-choice {
        font-size: 4vw;
        padding: 2px;
    }
}