.row.search {
    margin: .25rem;
}
.white-card-box{
    padding: .25rem;
}
.white-card-box.top-stat {
    padding: 1rem;
}

.emphatic-red {
    color: red;
}

.row.expandable-grid-row {
    font-size: larger !important;
    font-weight: 600 !important;
}

