

<div class="row">
  <div class="col-xs-12">
    <h2 class="title">  {{title}} </h2>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="white-card-box" >
      <div class="row search  flex-items-xs-between">
        <div class="col-xs-12 flex-xs-middle search-input-full">
          <div class="search-wrapper ">
            <clr-icon shape="search" class="input-icon-absolute is-info"></clr-icon>
            <input type="text" id="search-db" placeholder="Keyword Search" [formControl]="searchText" autofocus>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">


  <div class="col-md-12 col-sm col-xs-12">
    <div class="white-card-box top-stat one-row">
      <div class="row " *ngIf="searchResults.length > 0">
        <div class="col-md-4 col-xs-12">
          <h5 class="box-title">
            {{dbDomain.domainDisplay}}
          </h5>
          <div class="card-stat" >
            {{searchResults.length}}
          </div>

          <div class="card-text bottom info-text">
            <clr-icon class="" shape="info-standard" class="is-solid"></clr-icon> What is SNOMED?
          </div>
        </div>
        <div class="col-md-8 col-xs-12 chart-wrapper flex-xs-middle">
            <app-chart [concepts]="top10Results" [pointWidth]="20" [backgroundColor]="'#D9E4EA'"> </app-chart>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="db-page-spinner" *ngIf="loading" >
  <span  class="spinner">
    Loading...
  </span>
</div>

<div class="row result-list">
  <div class="col-xs-12">
    <div class="white-card-box">
      <div class="results-grid" *ngIf="searchResults.length > 0" >
        <div class="row expandable-grid-row" *ngFor="let r of searchResults, let i = index" [ngClass]="{'expanded-grid-row': r.expanded}" >
          <div class="col-md-4 flex-xs-middle"> {{i+1}}. {{r.conceptName | highlightSearch : searchText}} <span class="debug"> ( conceptId:{{r.conceptId}} Standard:{{r.standardConcept}} )</span></div>
          <div class="col-md-3 flex-xs-middle">
            {{r.countValue | number }} partipants
            <button class="icon-btn" (click)="r.expanded = !r.expanded">
              <clr-icon shape="bar-chart" style="height: 1rem; width: 1rem;color: #2691D0;"></clr-icon>
            </button>
          </div>
          <div class="col-md-4 flex-xs-middle">
            {{r.vocabularyId}} {{r.conceptCode}}
            <button class="icon-btn" (click)="toggleSources(r)" > <clr-icon shape="bar-chart" style="height: 1rem; width: 1rem; color: #2691D0;"></clr-icon> </button>
          </div>
          <!-- <div class="col-md-1 flex-xs-middle">
            <button class="icon-btn" (click)="r.expanded = !r.expanded">
              <clr-icon shape="bar-chart" style="height: 24px; color: #2691D0;"></clr-icon>
            </button>
          </div> -->
          <div class="col-xs-12 row-expansion flex-xs-middle" *ngIf="r.expanded">
            <app-concept-charts [concept]="r" [showSources]="r.showSources" [backgroundColor]="'#ECF1F4'"></app-concept-charts>
          </div>

        </div>
      </div>
      <div class="row"> <div class="col-md-4 col-xs-12">
        <button class="btn btn-primary" [routerLink]="['/quick-search']"> Start New Quick Search </button>
      </div>
    </div>
  </div>
</div>

