<clr-modal [(clrModalOpen)]="modalOpen" [clrModalSize]="'md'">
  <div class="modal-body">
   <h2 class="title">Create a Concept Set</h2>
    <div class="error" *ngIf="required">Name is a required field</div>
    <div class="error" *ngIf="alreadyExist">Concept '{{name}}' already exist. Please enter a different name</div>

    <input class="input-name input" type="text" [(ngModel)]="name" placeholder="Name">
    <input class="input-description input" type="text" [(ngModel)]="description" placeholder="Description">
    <select class="concept-select" [(ngModel)]="domain">
        <option *ngFor="let concept of conceptDomainList" [ngValue]="concept.domain">
          {{ concept.domain}}
        </option>
    </select>
    <div class="actions">
      <button class="btn btn-secondary" (click)="close()">Cancel</button>
      <button class="btn btn-primary" (click)="saveConceptSet()">Save</button>
    </div>
  </div>
</clr-modal>
