.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 500px;
}

.title {
  color: #262262;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1rem;
  padding-bottom: 0.7rem;
}

:host::ng-deep .modal-dialog {
  width: 20rem;
  height: 25rem;
}

.input {
  width: 16rem;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-top: 1rem;
}

.input-name {
  margin-top: 0rem;
}

.concept-select {
  width: 16rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1.5rem;
}

.actions {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right:3.8rem;
}

.error {
  width: 16rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 0rem;
  padding-right: 0rem;
}
