<div class="card">
  <div class=" text-center card-header">
    <div class="text-right"><button class="btn btn-sm btn-icon btn-danger-outline" style="margin-right:6px!important" (click)="sendRemove()"><clr-icon shape="times"></clr-icon></button></div>
    <h3 style="margin-top: .5rem; line-height:1.3; transform: translateY(-10%);" class="card-header-text">{{concept.concept_name}}</h3>
  </div>
  <div style="padding:0!important; padding-top:.5rem !important;" class="card-block">
    <div class="card-text">
      <table style="width:100%; margin-bottom : 1rem; padding-bottom:.7rem; border-bottom:1px solid #eeeeee" class="text-center">
        <tr>
          <th style="">Count:</th>
          <th style="">Prevalence:</th>
          <th style="">Code:</th>
        </tr>
        <tr>
          <td>{{concept.count_value | number}}</td>
          <td>
            {{concept.prevalence | percent}}
          </td>
          <td>{{concept.vocabulary_id}} {{concept.concept_code}}</td>
        </tr>
      </table>
      <div *ngIf="concept.count_value">
        <div class="col-sm-12" style="display:flex;justify-content: center; padding-bottom: .5rem;">

          <button class="btn btn-sm btn-outline right-gutter" [ngClass]="{'btn-primary': show_source_table}" *ngIf="concept.children.length > 0 && concept.domain_id !='PPI'" (click)="toggleGraphs(null, 'source-table')">
            Source Details <clr-icon size="16" shape="view-list"></clr-icon>
          </button>
          <button class="btn btn-sm btn-outline right-gutter" [ngClass]="{'btn-primary': show_source_graph}" *ngIf="concept.children.length > 0 && concept.domain_id !='PPI'" (click)="toggleGraphs(null,'source-graph')">
            Sources <clr-icon size="16" shape="bar-chart"></clr-icon>
          </button>
          <button class="btn btn-sm btn-outline right-gutter" [ngClass]="{'btn-primary': show_source_graph}" *ngIf="concept.children.length > 0 && concept.domain_id =='PPI'" (click)="toggleGraphs(null, 'ppi-answers')">
            Answers <clr-icon size="16" shape="bar-chart"></clr-icon>
          </button>

          <div *ngFor="let analysis of analyses">
            <button class="btn btn-sm btn-outline right-gutter" [ngClass]="{'btn-primary': analysis_show_graph[analysis.analysis_id] }" *ngIf="analysis.results.length>0" (click)="toggleGraphs(analysis)">
              {{analysis.analysis_name }} <clr-icon size="16" shape="bar-chart"></clr-icon>
            </button>
          </div>

        </div>
        <div>
        </div>


        <div style="height:100%; width:99%;margin:auto">

          <!-- Children column chart -->
          <div class="children-chart">
            <app-chart style="width:100%" *ngIf="concept.children.length>0 && show_source_graph" [redraw]="randNum" [concepts]="concept.children"></app-chart>
          </div>


          <!-- Children table -->
          <div style="width:100%" *ngIf="concept.children && concept.children.length && this.show_source_table">
            <div class="col-xs-12">
              <h4 *ngIf="concept.vocabulary_id.toLowerCase() != 'ppi'" class="text-center">
                Source Concepts for <b>{{concept.vocabulary_id}} - {{concept.concept_code}}</b>
              </h4>
              <div class="children-grid">
                <clr-datagrid>
                  <clr-dg-column>Concept Name</clr-dg-column>
                  <clr-dg-column *ngIf="route != 'PPI'" class="standard-column">Domain Id</clr-dg-column>
                  <clr-dg-column *ngIf="route != 'PPI'">Vocabulary Id</clr-dg-column>
                  <clr-dg-column *ngIf="route != 'PPI'">Source Code</clr-dg-column>
                  <clr-dg-column>Participant Count</clr-dg-column>
                  <clr-dg-row *clrDgItems="let item of concept.children">
                    <clr-dg-cell class="ellipsis">
                      <clr-tooltip>
                        <span clrTooltipTrigger>{{item.concept_name }}</span>
                        <clr-tooltip-content clrSize="md" *clrIfOpen>
                          <span>{{item.concept_name }} <br><br> <strong>Concept ID:</strong> {{item.concept_id}}</span>
                        </clr-tooltip-content>
                      </clr-tooltip>
                    </clr-dg-cell>
                    <clr-dg-cell >{{item.domain_id}}</clr-dg-cell>
                    <clr-dg-cell >{{item.vocabulary_id}}</clr-dg-cell>
                    <clr-dg-cell >{{item.concept_code}}</clr-dg-cell>
                    <clr-dg-cell>{{item.count_value}} </clr-dg-cell>
                    <clr-dg-row-detail>
                      <app-concept-drawer style="width:100%;" *clrIfExpanded="item.count_value" [concept]="item" [analyses]="analyses"></app-concept-drawer>
                    </clr-dg-row-detail>
                  </clr-dg-row>

                </clr-datagrid>
              </div>
            </div>
          </div>
          <div style="width:100%" *ngFor=" let analysis of analyses;let i=index ">
            <div style="width:100%">
              <app-chart style="width:100%" *ngIf="analysis.results.length>0 && analysis_show_graph[analysis.analysis_id]" [redraw]="true" [analysis]="analysis"></app-chart>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
