.flex-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item-info {
  min-width: 0;
  flex: 10;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.item-info > .name {
  flex: 1;
  padding-left: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-info > .name:hover {
  overflow: visible;
  white-space: normal;
  text-align: justify;
}

.item-meta {
  flex: 2;
  width: 100%;
  text-align: right;
  white-space: nowrap;
}
