<clr-tree-node>
  <div [id]="nodeId" class="clr-treenode-link container" (click)="toggleExpanded()">
    <crit-list-node-info [node]="node"></crit-list-node-info>
  </div>
  <ng-template *ngIf="node.group && !wizard.fullTree"
    [(clrIfExpanded)]="expanded"
    (clrIfExpandedChange)="loadChildren($event)">
    <ng-container [clrLoading]="loading">
      <div class="node-list">
        <div *ngIf="error || empty" class="alert alert-warning">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon is-solid" shape="exclamation-triangle"></clr-icon>
              </div>
              <span class="alert-text">
                Sorry, the request cannot be completed. Please try again or contact Support in the left hand navigation.
              </span>
            </div>
          </div>
        </div>
        <crit-list-node *ngFor="let item of children" [node]="item" [wizard]="wizard"></crit-list-node>
      </div>
    </ng-container>
  </ng-template>
  <ng-template *ngIf="node.group && wizard.fullTree"
    [(clrIfExpanded)]="expanded"
    (clrIfExpandedChange)="trackEvent()">
    <div class="node-list">
      <crit-list-node *ngFor="let item of node.children" [node]="item" [wizard]="wizard"></crit-list-node>
    </div>
  </ng-template>
</clr-tree-node>
