<clr-tree-node >

  <div class="clr-treenode-link container" (click)="toggleExpanded()">
    <crit-node-info [node]="node"></crit-node-info>
  </div>

  <ng-template *ngIf="node.get('group')"
    [clrIfExpanded]="expanded"
    (clrIfExpandedChange)="loadChildren($event)">
    <ng-container [clrLoading]="loading">
      <div class="node-list">
        <!-- TODO: This error handling is a stub until we can get a designer to look at it -->
        <div *ngIf="error" class="error">
          <clr-icon shape="error-standard"></clr-icon>
          <em>Failed to Load Criteria</em>
        </div>

        <crit-node *ngFor="let item of children" [node]="item"></crit-node>
      </div>
    </ng-container>
  </ng-template>

</clr-tree-node>
