.container {
  min-width: 100%;
}

.report-background {
  background-color: white;
  padding-top: 1rem;

}
.report-background .query-title {
  font-size: 16px;
  font-weight: 600;
  color: #262262;
}

.report-background .query-content {
  font-size: 13px
}

.header-border .btn-margin {
  margin-top : 0.7rem;
}

@media print{
  .doNotPrint{
    display:none !important;
    -webkit-print-color-adjust: exact;

  }
  .test-print {
    page-break-inside:auto;
  }

  .header-border {
    border-bottom: 1px solid #5FAEE0;
  }
}