<form [formGroup]="ageForm" (ngSubmit)="submit()">
  <section class="form-block">
    <label>Filter Participants By Age</label>

    <!-- Choose the Operator -->
    <div class="form-group">
      <label for="operator">Choose a Filter</label>
      <div class="select">
        <select id="operator" formControlName="operator">
          <option value="">Select Age Filter...</option>
          <option *ngFor="let op of opCodes" value="{{ op }}">{{ operators[op] }}</option>
        </select>
      </div>
    </div>

    <ng-container *ngIf="operatorIsValid">
      <ng-container *ngIf="!operatorIsRange">
        <div class="form-group">
          <label for="age">Select an Age</label>
          <label
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
            [class.invalid]="age.invalid && (age.dirty || age.touched)">
            <input
              id="age"
              formControlName="age"
              type="number"
              min="{{ minAge }}" max="{{ maxAge }}">
            <span
              *ngIf="age.errors?.required"
              class="tooltip-content">
              An age value is required.
            </span>
            <span
              *ngIf="age.errors?.min"
              class="tooltip-content">
              The value must be positive.
            </span>
            <span
              *ngIf="age.errors?.max"
              class="tooltip-content">
              The value must not exceed {{ maxAge }}.
            </span>
          </label>
        </div>
      </ng-container>

      <ng-container *ngIf="operatorIsRange">
        <div class="form-group">
          <label for="rangeOpen">Start Age</label>
          <label
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
            [class.invalid]="rangeOpen.invalid && (rangeOpen.dirty || rangeOpen.touched)">
            <input
              id="rangeOpen"
              formControlName="rangeOpen"
              type="number"
              min="{{ minAge }}" max="{{ maxAge }}">
            <span
              *ngIf="rangeOpen.errors?.required"
              class="tooltip-content">
              A range opening value is required.
            </span>
            <span
              *ngIf="rangeOpen.errors?.min"
              class="tooltip-content">
              The value must be positive.
            </span>
            <span
              *ngIf="rangeOpen.errors?.max"
              class="tooltip-content">
              The value must not exceed {{ maxAge }}.
            </span>
          </label>
        </div>
        <div class="form-group">
          <label for="rangeClose">Stop Age</label>
          <label
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
            [class.invalid]="rangeClose.invalid && (rangeClose.dirty || rangeClose.touched)">
            <input
              id="rangeClose"
              formControlName="rangeClose"
              type="number"
              min="{{ minAge }}" max="{{ maxAge }}">
            <span
              *ngIf="rangeClose.errors?.required"
              class="tooltip-content">
              A range closing value is required.
            </span>
            <span
              *ngIf="rangeClose.errors?.min"
              class="tooltip-content">
              The value must be positive.
            </span>
            <span
              *ngIf="rangeClose.errors?.max"
              class="tooltip-content">
              The value must not exceed {{ maxAge }}.
            </span>
          </label>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="errorList">
      <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false">
        <div 
          *ngFor="let err of errorList"
          clr-alert-item
          class="alert-item">
          <span class="alert-text">{{ err }}</span>
        </div>
      </clr-alert>
    </ng-container>

    <button
      type="submit"
      class="btn btn-submit-outline"
      [disabled]="ageForm.invalid">
      Submit
    </button>

    <button
      class="btn btn-danger-outline"
      (click)="cancel()">
      Cancel
    </button>

  </section>
</form>
