.heading-item{
  margin-left: 5rem;
  border-top: 2px black solid;
  border-left: 2px black solid;
  margin-top: 1rem;
  margin-bottom: -1rem;
  padding: 1rem;
  background: rgb(191, 191, 191);
  border-bottom: none;
}
.heading-item:last-of-type{
  border-bottom: 2px black solid;
  /*background: red;*/
}
.handle{
  font-size: 1.5em;
  margin: 0;
  /*background: red;*/
  padding:0;
  display: inline-block;
}
.heading-item li{
background: white;
  margin: 0;
  padding:.5rem;
  list-style: none;
  border-top: 1px black solid;
  border-left: 1px black solid;
}
