<clr-modal [(clrModalOpen)]="create" [clrModalSize]="'md'" [clrModalClosable]="false">
  <div class="modal-title">
    <!--The ngIf is to avoid null pointers before the modal is opened.-->
    <div *ngIf="create" class="modal-title-text">Create Review Set</div>
  </div>
  <div class="modal-body">
    Cohort {{ cohort.name }} has {{ review.matchedParticipantCount | number }}
    participants for possible review.  How many would you like to review?
    <span *ngIf="review.matchedParticipantCount > 10000">(max 10,000)</span>
    <form [formGroup]="reviewParamForm" (ngSubmit)="createReview()">
      <clr-alert
        *ngIf="numParticipants.invalid && (numParticipants.dirty || numParticipants.touched)"
        [clrAlertType]="'alert-danger'"
        [clrAlertClosable]="false"
        [clrAlertSizeSmall]="true">
        <div clr-alert-item class="alert-item">
          <span
            *ngIf="numParticipants.errors?.required"
            class="alert-text">
            You must select a number of participants for review.
          </span>
          <span
            *ngIf="numParticipants.errors?.min"
            class="alert-text">
            You must review more than zero participants.
          </span>
          <span
            *ngIf="numParticipants.errors?.max"
            class="alert-text">
            You may only review up to {{ maxParticipants | number }}.
          </span>
        </div>
      </clr-alert>
      <input
        id="numParticipants"
        formControlName="numParticipants"
        class="num-participants"
        placeholder="NUMBER OF PARTICIPANTS"
        type="number"
        min="0" max="maxParticipants"
        [attr.disabled]="creating ? '' : null">
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link"
      [disabled]="creating"
      (click)="cancelReview()">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="reviewParamForm.invalid || creating"
      [clrLoading]="creating"
      (click)="createReview()">
      Create Set
    </button>
  </div>
</clr-modal>
