<div #searchBar class="dropdown" [class.open]="options.length || noResults">
  <div class="search-box">
    <clr-icon *ngIf="!loading" shape="search"></clr-icon>
    <span *ngIf="loading" class="spinner spinner-inline"></span>
    <input clrInput
     class="no-border"
     type="text"
     name="searchTerm"
     (keyup.enter)="enterSelect()"
     (keyup.arrowup)="moveUp()"
     (keyup.arrowdown)="moveDown()"
     [(ngModel)]="searchTerm"
     (input)="inputChange($event.target.value)"/>
  </div>
  <div *ngIf="noResults" class="dropdown-menu">
    <button class="dropdown-item disabled">
      <em>No results based on your search</em>
    </button>
  </div>
  <div *ngIf="ingredientList.length" class="match-container">Ingredients in this brand: {{ingredientList.join(', ')}} </div>
  <div *ngIf="numMatches > 1 && !ingredientList.length" class="match-container">
    {{searchTerm}} exists {{numMatches}} times in the tree below
  </div>
  <div *ngIf="options.length" class="dropdown-menu">
    <button
      *ngFor="let option of options; let i = index"
      class="dropdown-item"
      type="button"
      [class.active]="i === highlightedOption"
      (click)="selectOption(option)"
      [innerHTML]="option.displayName | safeHtml">
    </button>
  </div>
</div>
