<div class="search-box">
  <clr-icon shape="search"></clr-icon>
  <input clrInput
   type="text"
   name="searchTerm"
   [(ngModel)]="searchTerm"
   (input)="inputChange($event.target.value)"/>
  <!-- <button class="btn btn-warning-outline btn-sm"
    title="Clear Search"
    [disabled]="!searchTerm && !filteredTree.size"
    (click)="clearSearch()">
    <clr-icon shape="times"></clr-icon>
  </button>
  <button
    class="btn btn-outline"
    [disabled]="searchTerm.length < 2"
    (click)="searchTree()">Search</button> -->
</div>
