<div [ngSwitch]="idvStatus">
  <p *ngSwitchCase="null">
    Loading...
  </p>
  <p *ngSwitchCase="IdVerificationStatus.REJECTED">
    Identity verification rejected, please create an account with an approved contact email or contact the DRC PI for your institution.
  </p>
  <p *ngSwitchCase="IdVerificationStatus.VERIFIED">
    Identity verified, completing additional researcher registration and redirecting...
  </p>
  <p *ngSwitchDefault>
    Your user account is pending verification. We will notify you as soon as the verification process is complete. This may take 24-48 hours from the time of account creation
  </p>
</div>
