<app-validator-errors [form]="form"></app-validator-errors>
<div *ngIf="(error$ | async)" class="alert alert-danger alert-sm">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-text">
        A problem occurred and we were not able to retrieve the requested data
      </div>
    </div>
  </div>
</div>
<form *ngIf="node.size" [formGroup]="form" (ngSubmit)="addAttrs()">
  <section class="form-block">
    <div *ngIf="isMeasurement">
      <div class="attr-name-color">
        {{displayName}}
      </div>
      <clr-checkbox
        type="checkbox"
        name="EXISTS"
        style="margin-left: 0.5rem"
        formControlName="EXISTS"
        [(ngModel)]="attrs.EXISTS"
        (change)="radioChange()" clrCheckbox>
        Any value (lab exists)
      </clr-checkbox>
      <div *ngIf="!attrs.EXISTS && attrs.NUM.length" class="or-circle">OR</div>
    </div>
    <ng-container *ngIf="!attrs.EXISTS" formGroupName="NUM">
      <div *ngFor="let attr of attrs.NUM; let i = index">
        <div class="attr-name-color">{{dropdowns.labels[i]}}</div>
          <div class="container" [formGroupName]="'num'+i">
            <div class="dropdown-width">
              <clr-dropdown>
                <button type="button" class="btn btn-outline" clrDropdownTrigger>
                  <span *ngIf="!attr.operator">Select Operator</span>
                  <span *ngIf="attr.operator">{{dropdowns.selected[i]}}</span>
                  <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                  <button
                  *ngFor="let option of options"
                  name="operator"
                  (click)="selectChange(i, option)"
                  class="dropdown-item"
                  type="button"
                  clrDropdownItem>{{option.name}}</button>
                </clr-dropdown-menu>
              </clr-dropdown>
              <input type="hidden" name="operator" formControlName="operator" [ngModel]="attr.operator">
            </div>
            <div *ngIf="showInput(i)" class="form-group range-container">
              <input class="number-container"
                type="number"
                [min]="attr.MIN"
                [max]="attr.MAX"
                name="valueA"
                formControlName="valueA"
                [(ngModel)]="attr.operands[0]"
                (ngModelChange)="inputChange($event, i, 'valueA')">
              <span *ngIf="hasUnits">{{units[node.get('subtype')]}}</span>
            </div>
            <div *ngIf="isBetween(i)" class="form-group and-text">
              <div>and</div>
            </div>
            <div *ngIf="isBetween(i)" class="form-group range-container">
              <input class="number-container"
                type="number"
                [min]="attr.MIN"
                [max]="attr.MAX"
                name="valueB"
                formControlName="valueB"
                [(ngModel)]="attr.operands[1]"
                (ngModelChange)="inputChange($event, i, 'valueB')">
              <span *ngIf="hasUnits">{{units[node.get('subtype')]}}</span>
            </div>
              <span class="range-padding" *ngIf="isMeasurement && showInput(i)">
              Range: {{attr.MIN}} - {{attr.MAX}}
              </span>
          </div>
      </div>
      <ng-container *ngIf="attrs.CAT.length">
        <div class="or-circle">OR</div>
        <div class="attr-name-color">Categorical Values</div>
        <div class="form-group">
          <clr-checkbox *ngFor="let attr of attrs.CAT" class="" [(clrChecked)]="attr.checked" [clrInline]="true">
            {{attr.conceptName}}
            <span class="badge badge-info">
              {{ attr.estCount }}
            </span>
          </clr-checkbox>
        </div>
      </ng-container>
    </ng-container>
    <div *ngIf="isValid || attrs.EXISTS" class="count-preview">
      <div class="row">
        <div *ngIf="showCalc" class="col-lg-3">
          <button type="button" [ngClass]="[loading ? 'greyed-button': 'calculate-btn']"
            class="btn"
            [disabled]="rangeAlert"
            [clrLoading]="loading"
            (click)="requestPreview()">
            Calculate
          </button>
        </div>
        <ng-container *ngIf="!loading">
          <div class="col-lg-5 text-padding" *ngIf="preview.get('count') >= 0">
            <div class="result-text">
              Results
            </div>
            <div>
              Number Participants:
              <span class="text-bold" *ngIf="!loading">
             {{ preview.get('count', 0)  | number }}
             </span>
            </div>
          </div>
        </ng-container>
        <div class="col-lg-3 button-padding" *ngIf="showAdd">
          <button class="btn add-button" type="submit" [disabled]="rangeAlert"> ADD THIS RESULT</button>
        </div>
      </div>
    </div>
  </section>
</form>
