<div class="title">
  {{node.get('name','')}}
</div>
<form #attrs="ngForm" (ngSubmit)="addAttrs(attrs)">
  <section class="form-block">
    <div class="form-group" *ngFor="let field of fields; let i = index">
      <label>{{field}}</label>
      <div class="select">
        <select [name]="'operator'+i" [ngModel]="'='" required>
          <option value="=">Equals</option>
          <option value=">=">Greater than or Equal to</option>
          <option value="<=">Less than or Equal to</option>
          <option value="between">Between</option>
        </select>
      </div>
      <input type="number" [name]="'valueA'+i" ngModel required>
      <label *ngIf="attrs.value['operator'+i] === 'between'">and</label>
      <input *ngIf="attrs.value['operator'+i] === 'between'" type="number" [name]="'valueB'+i" ngModel required>
    </div>
    <button class="btn link" type="button" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" type="submit" [disabled]="!attrs.valid">Add Item</button>
  </section>
</form>
