<form [formGroup]="form" ngSubmit="submit()" class="compact">
  <section class="form-block annotation-input-container">
    <!--<label>Create a Cohort-wide Annotation</label>-->

    <div class="">
      <!--<label for="name" class="required">2 Annotation Name</label>-->
      <!--[class.invalid]="name.invalid && (name.dirty || name.touched)"-->
      <label
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm tooltip-right">
        <input id="name"
               class="annotation-name-input"
          name="name"
          formControlName="name"
          type="text"
               placeholder="ANNOTATION NAME"
          autofocus >
        <span class="tooltip-content">
          A Name is required
        </span>
      </label>
    </div>

    <div class="annotation-dropdown">
      <clr-dropdown >
        <button type="button" class="btn btn-outline" clrDropdownTrigger>
          <!--<span *ngIf = "dropdownOption.selected[i] !== ''; else elseBlock">{{dropdownOption.selected[i]}}</span>-->
          <!--<ng-template #elseBlock>-->
            <span class="annotation-data-type">ANNOTATION DATA TYPE</span>
          <!--</ng-template>-->
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu  clrPosition="bottom-left" *clrIfOpen>
          <button
                  *ngFor="let dt of datatypes"
                  [value]="dt.value"

                  class="dropdown-item"
                  type="button"
                  clrDropdownItem>{{ dt.displayName }}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
      <!--<label for="kind" class="required">3 Annotation Data Type</label>-->
      <!--<div class="select">-->
        <!--<select id="kind" name="kind" formControlName="kind">-->
          <!--<option *ngFor="let dt of datatypes" [value]="dt.value">-->
              <!--{{ dt.displayName }}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->
    </div>
  </section>

  <!-- Specify the enumeration -->
  <ng-container *ngIf="isEnum">
    <hr />
    <section class="form-block">
      <label for="enum-values">Values</label>
      <div class="form-group">
        <label for="add-value">Add a Value</label>
        <input type="text"
          name="add-value"
          id="add-value"
          formControlName="addValue">
        <button type="button"
          class="btn btn-icon btn-sm"
          (click)="addEnumValue()">
          <clr-icon shape="plus" size="18"></clr-icon>
        </button>
      </div>
      <ul>
        <li *ngFor="let val of enumValues">
          <button type="button"
            class="btn btn-icon btn-link btn-sm text-danger"
            (click)="removeEnumValue(val)">
            <clr-icon shape="close" size="18"></clr-icon>
          </button>
          {{ val }}
        </li>
      </ul>
    </section>
  </ng-container>
  <div class="footer-button">
    <button
            type="button"
            class="btn btn-link cancel"
            (click)="open = false">
      Cancel
    </button>
    <!--[clrLoading]="posting"-->
    <!--[disabled]="formIsInvalid"-->
    <button
            type="button"
            class="btn btn-primary"
            (click)="create()"
            >
      Create
    </button>

  </div>

</form>
