<form [formGroup]="form" ngSubmit="submit()" class="compact">
  <section class="form-block annotation-input-container">
    <!--<label>Create a Cohort-wide Annotation</label>-->

    <div class="">
      <!--<label for="name" class="required">2 Annotation Name</label>-->
      <!--[class.invalid]="name.invalid && (name.dirty || name.touched)"-->
      <label
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
        [class.invalid]="name.invalid && (name.dirty || name.touched)">
        <input id="name"
               class="annotation-name-input"
          name="name"
          formControlName="name"
          type="text"
               placeholder="ANNOTATION NAME"
          autofocus >
        <span class="tooltip-content">
          A Name is required
        </span>
      </label>
    </div>

    <div class="annotation-dropdown">
      <clr-dropdown >
        <button type="button" class="btn btn-outline" clrDropdownTrigger>
          <span *ngIf = "annotationOptions !== ''; else elseBlock">{{annotationOptions}}</span>
            <ng-template #elseBlock>
            <span class="annotation-data-type">ANNOTATION DATA TYPE</span>
          </ng-template>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu  clrPosition="bottom-left" *clrIfOpen>
          <button id="kind" name="kind"
                  *ngFor="let dt of datatypes"
                  [value]="dt.value"
                  (click)="selectDropdownChange(dt)"
                  class="dropdown-item"
                  type="button"
                  clrDropdownItem>{{ dt.displayName }}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </section>

  <!-- Specify the enumeration -->
  <ng-container *ngIf="isEnum">
    <section class="form-block">
      <label class="value-text" for="enum-values">Values</label>
      <div class="">
        <ng-container *ngFor="let val of enumValues">
          <input type="text"
                 class="annotation-value-input"
                 value= {{val}}>
          <button type="button"
                  class="btn btn-icon btn-link btn-sm text-danger"
                  (click)="removeEnumValue(val)">
            <clr-icon shape="minus-circle" size="18"></clr-icon>
          </button>
        </ng-container>

      </div>
      <input type="text"
             class="annotation-value-input"
             placeholder="ADD A VALUE"
             name="add-value"
             id="add-value"
             formControlName="addValue">
      <button type="button"
              class="btn btn-icon btn-link"
              (click)="addEnumValue()">
        <clr-icon shape="plus-circle" size="18"></clr-icon>
      </button>

    </section>
  </ng-container>

  <!--<app-annotation-item-->
          <!--*ngFor="let anno of (annotations$ | async)"-->
          <!--[annotation]="anno"-->
          <!--[showDataType]="showDataType">-->
  <!--</app-annotation-item>-->

  <div class="footer-button">
    <button
            type="button"
            class="btn btn-link cancel"
            (click)="closeModal()">
      Cancel
    </button>

    <button
            type="button"
            class="btn btn-primary"
            [clrLoading]="posting"
            [disabled]="formIsInvalid"
            (click)="create()">
      Create
    </button>

  </div>

</form>
