<form [formGroup]="form" ngSubmit="submit()">
  <section class="form-block">
    <label>Create a new Cohort-wide Annotation</label>

    <div class="form-group">
      <label for="name" class="required">Annotation Name</label>
      <label
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation tooltip-sm"
        [class.invalid]="name.invalid && (name.dirty || name.touched)">
        <input id="name"
          name="name"
          formControlName="name"
          type="text"
          autofocus >
        <span class="tooltip-content">
          A Name is required
        </span>
      </label>
    </div>

    <div class="form-group">
      <label for="kind">Annotation Type</label>

      <!-- STRING -->
      <div class="radio">
        <input type="radio"
          name="kind"
          id="kind-string"
          formControlName="kind"
          [value]="kinds.STRING">
        <label for="kind-string">Text</label>
      </div>

      <!-- ENUM -->
      <div class="radio">
        <input type="radio"
          name="kind"
          id="kind-enum"
          formControlName="kind"
          [value]="kinds.ENUM">
        <label for="kind-enum">Enumeration</label>
      </div>

      <!-- DATE -->
      <div class="radio">
        <input type="radio"
          name="kind"
          id="kind-date"
          formControlName="kind"
          [value]="kinds.DATE">
        <label for="kind-date">Date</label>
      </div>

      <!-- Provisional Datatypes -->
      <!-- BOOLEAN -->
      <div class="radio">
        <input type="radio"
          name="kind"
          id="kind-boolean"
          formControlName="kind"
          [value]="kinds.BOOLEAN">
        <label for="kind-boolean">Boolean</label>
      </div>

      <!-- INTEGER -->
      <div class="radio">
        <input type="radio"
          name="kind"
          id="kind-integer"
          formControlName="kind"
          [value]="kinds.INTEGER">
        <label for="kind-integer">Integer</label>
      </div>
    </div>
  </section>

  <!-- Specify the enumeration -->
  <section *ngIf="kind.value === kinds.ENUM" class="form-block">
    <label for="enum-values">
      Enumerated Values
      <button
        type="button"
        class="btn btn-sm btn-icon btn-primary"
        (click)="addEnumValue()"
        title="Add a value to the enumeration">
        <clr-icon shape="plus"></clr-icon>
      </button>
    </label>
    <div formArrayName="enumValues">
      <div
        *ngFor="let valControl of enumValues.controls; let i=index"
        [formGroupName]="i"
        class="form-group">
        <label>
          {{ i }}
          <button
            type="button"
            class="btn btn-sm btn-icon btn-danger"
            (click)="removeEnumValue(i)"
            title="Remove this value from the enumeration">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </label>
        <input type="text" formControlName="value">
      </div>
    </div>
  </section>

  <button
    type="button"
    class="btn btn-primary-outline"
    (click)="create()"
    [clrLoading]="posting"
    [disabled]="form.invalid">
    Create
  </button>
  <button
    type="button"
    class="btn btn-danger-outline"
    (click)="cancel()">
    Cancel
  </button>
</form>
