<div style="width: 15rem;">
  <h1 style="margin-left:-0.5rem;">CONGRATULATIONS!</h1>
  <div class="row">
    <h4>Your All of Us research account has been created!</h4>
  </div>
  <div class="row">
    <h3>We've created a Google account for {{email}}@{{gsuiteDomain}} </h3>
  </div>
  <div class="row">
    <h4>Now you need to log in using this account</h4>
  </div>
  <div class="row" style="padding-top:0.5rem;">
    <button class="btn btn-primary" (click)="signIn()">LOGIN</button>
  </div>
</div>
