<div class="btn-group">
  <button
    class="btn"
    title="Get an overview of the cohort"
    (click)="state.participant.next(null); goToOverview.emit(true)"
    routerLink="overview"
    routerLinkActive="active">
    <clr-icon shape="line-chart"></clr-icon>
    Overview
  </button>

  <button
    class="btn"
    title="View all participants"
    (click)="toggleNav.emit(true)">
    <clr-icon shape="users"></clr-icon>
    Participants
  </button>
</div>

<button
  class="btn"
  title="View or set a participant's status"
  (click)="toggleStatusBar.emit(true)"
  [disabled]="(state.participant$ | async) === null">
  <clr-icon shape="info-standard"></clr-icon>
  Status
</button>
