<div class="crit-modal-container" [class.show]="open">
  <div class="crit-modal-content" [class.demographics]="wizard.domain === domainType.PERSON">
    <div class="container title-margin">
      <div class="row">
        <div class="col padding-zero" [ngClass]="treeClass">
          <div class="title-bar">
            <div class="btn-group btn-link">
              <ng-container>
                <button  *ngIf="!attributesCrit"
                 type="button"
                 class="btn tab"
                 [disabled]="!noSelection && conceptType === 'standard'"
                 [class.active]="mode === 'list' || mode === 'tree'"
                 (click)="setMode('tree')">
                  {{ title }}
                </button>
                <button  *ngIf="isCondOrProc"
                  type="button"
                  class="btn tab snomed-tab"
                  [disabled]="!noSelection && conceptType === 'source'"
                  [class.active]="mode === 'snomed'"
                  (click)="setMode('snomed')">
                  Search SNOMED
                </button>
                <button *ngIf="attributesCrit"
                  type="button"
                  class="btn tab-node">
                  {{attributeTitle}}
                </button>

                <div *ngIf="showModifiers" class="vbar"></div>
                <button type="button"
                  class="btn tab"
                  *ngIf="showModifiers"
                  [class.active]="mode === 'modifiers'"
                  [disabled]="noSelection"
                  (click)="setMode('modifiers')">
                  Modifiers
                </button>
              </ng-container>
            </div>
            <div class="explore-link" *ngIf="wizard.domain === domainType[domainType.DRUG]">
              <a href="https://mor.nlm.nih.gov/RxNav/" target="_blank" rel="noopener noreferrer">
                Explore
              </a>
              drugs by brand names outside of All of Us
            </div>
            <button *ngIf="attributesCrit"
              (click)="back()"
              class="btn btn-link btn-icon">
              <clr-icon size="24" shape="close"></clr-icon>
            </button>
          </div>
          <div class="content" *ngIf="open">
            <ng-container [ngSwitch]="wizard.domain">
              <crit-demographics *ngSwitchCase="domainType[domainType.PERSON]"></crit-demographics>
              <ng-container *ngSwitchDefault>
                <div *ngIf="disableCursor" class="spinner spinner-lg spin-in-overlay">
                  Loading...
                </div>
                <div
                  id="tree"
                  class="panel"
                  [ngClass]="{'disable-tree':disableCursor}"
                  [class.show]="['tree', 'list', 'modifiers', 'attributes', 'snomed'].includes(mode)">
                   <!-- SNOMED Search -->
                  <div *ngIf="isCondOrProc" class="panel-left" [class.show]="mode === 'snomed'">
                    <crit-tree [node]="snomedNode"></crit-tree>
                  </div>
                  <!-- Tree Page -->
                  <div class="panel-left" [class.show]="mode === 'tree'">
                    <crit-list-tree *ngIf="hierarchyCrit" [node]="hierarchyCrit"
                      [selections]="selectionIds"
                      [wizard]="wizard"
                      [back]="back"></crit-list-tree>
                  </div>
                  <!-- List View -->
                  <div class="panel-left" [class.show]="mode === 'list'">
                    <crit-list-search [hierarchy]="showHierarchy"
                      [selections]="selectionIds"
                      [wizard]="wizard"></crit-list-search>
                  </div>
                  <!-- Modifiers Page -->
                  <div class="panel-left" [class.show]="mode === 'modifiers'">
                    <crit-list-modifier-page [disabled]="modifiersFlag" [wizard]="wizard"></crit-list-modifier-page>
                  </div>
                  <!-- Attributes Page -->
                  <div class="panel-left" [class.show]="mode === 'attributes'">
                    <crit-list-attributes-page *ngIf="mode === 'attributes'"
                      [criterion]="attributesCrit"
                      [close]="back"></crit-list-attributes-page>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div *ngIf="subtype === treeSubType.AGE" class="footer">
              <button type="button"
                      (click)="close()"
                      class="btn btn-link">
                Cancel
              </button>
              <button type="button"
                      [disabled]="disableFlag"
                      (click)="finish()"
                      class="btn btn-primary">
                Finish
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="subtype !== treeSubType.AGE" class="col padding-zero" [ngClass]="sidebarClass">
          <div class="content" *ngIf="open">
            <div class="panel-right-container">
              <h5 class="selection-title">Selected Criteria</h5>
              <div class="panel-right selected">
                <crit-list-selection-info
                  *ngFor="let parameter of selectionList; let p = index"
                  [indexes]="[p]"
                  [parameter]="parameter">
                </crit-list-selection-info>
              </div>
              <div class="footer">
                <button type="button"
                  (click)="close()"
                  class="btn btn-link">
                  Cancel
                </button>
                <button  *ngIf="showNext"
                  type="button"
                  [disabled]="noSelection"
                  (click)="setMode('modifiers')"
                  class="btn btn-primary">
                  Next
                </button>
                <button *ngIf="showBack"
                  type="button"
                  (click)="setMode(backMode)"
                  class="btn btn-primary">
                  Back
                </button>
                <button type="button"
                  [disabled]="disableFlag"
                  (click)="finish()"
                  class="btn btn-primary">
                  Finish
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

