<div class="crit-modal-container" [class.show]="open">
  <div class="crit-modal-content" [class.demographics]="ctype === treeType.DEMO">
    <div class="container title-margin">
      <div class="row">
        <div class="col padding-zero" [ngClass]="treeClass">
          <div class="title-bar">
            <div class="btn-group btn-link">
              <ng-container>
                <button  *ngIf="!altTab"
                 type="button"
                 class="btn tab"
                 [disabled]="!noSelection && conceptType === 'standard'"
                 [class.active]="mode === 'tree'"
                 (click)="setMode('tree')">
                  {{ title }}
                </button>
                <button  *ngIf="isCondOrProc"
                  type="button"
                  class="btn tab snomed-tab"
                  [disabled]="!noSelection && conceptType === 'source'"
                  [class.active]="mode === 'snomed'"
                  (click)="setMode('snomed')">
                  Search SNOMED
                </button>
                <button *ngIf="attributesNode.size > 0"
                  type="button"
                  class="btn tab-node">
                  {{attributeTitle}}
                </button>

                <div *ngIf="showModifiers" class="vbar"></div>
                <button type="button"
                  class="btn tab"
                  *ngIf="showModifiers"
                  [class.active]="mode === 'modifiers'"
                  [disabled]="noSelection"
                  (click)="setMode('modifiers')">
                  Modifiers
                </button>
              </ng-container>
            </div>
            <div class="explore-link" *ngIf="ctype === domainType[domainType.DRUG]">
              <a href="https://mor.nlm.nih.gov/RxNav/" target="_blank" rel="noopener noreferrer">
                Explore
              </a>
              drugs by brand names outside of All of Us
            </div>
            <button *ngIf="altTab"
              (click)="back()"
              class="btn btn-link btn-icon">
              <clr-icon size="24" shape="close"></clr-icon>
            </button>
          </div>
          <div class="content" *ngIf="open">
            <ng-container [ngSwitch]="ctype">
              <crit-demographics *ngSwitchCase="treeType[treeType.DEMO]"></crit-demographics>
              <ng-container *ngSwitchDefault>
                <div *ngIf="disableCursor" class="spinner spinner-lg spin-in-overlay">
                  Loading...
                </div>
                <div
                  id="tree"
                  class="panel"
                  [ngClass]="{'disable-tree':disableCursor}"
                  [class.show]="mode === 'tree' || mode === 'modifiers' || mode === 'attributes' || mode === 'snomed'">
                   <!-- SNOMED Search -->
                  <div *ngIf="isCondOrProc" class="panel-left" [class.show]="mode === 'snomed'">
                    <crit-tree [node]="snomedNode"></crit-tree>
                  </div>
                  <!-- Tree Page -->
                  <div class="panel-left" [class.show]="mode === 'tree'">
                    <crit-list-search></crit-list-search>
                  </div>
                  <!-- Modifiers Page -->
                  <div class="panel-left" [class.show]="mode === 'modifiers'">
                    <crit-modifier-page (disabled)="modifiersDisabled = $event"></crit-modifier-page>
                  </div>
                  <!-- Attributes Page -->
                  <div class="panel-left" [class.show]="mode === 'attributes'">
                    <crit-attributes-page *ngIf="mode === 'attributes'"></crit-attributes-page>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div *ngIf="subtype === treeSubType.AGE" class="footer">
              <button type="button"
                      (click)="cancel()"
                      class="btn btn-link">
                Cancel
              </button>
              <button type="button"
                      [disabled]="disableFlag"
                      (click)="finish()"
                      class="btn btn-primary">
                Finish
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="subtype !== treeSubType.AGE" class="col padding-zero" [ngClass]="sidebarClass">
          <div class="content" *ngIf="open">
            <div class="panel-right-container">
              <h5 class="selection-title">Selected Criteria</h5>
              <div class="panel-right selected">
                <ng-container *ngFor="let type of objectKeys(selections); let i = index">
                  <span class="selection-header" *ngIf="isCondOrProc">{{selectionHeader(type)}}</span>
                  <crit-selection-info
                    *ngFor="let parameter of selections[type]; let p = index"
                    [indexes]="[i,p]"
                    [parameter]="parameter">
                  </crit-selection-info>
                </ng-container>
              </div>
              <div class="footer">
                <button type="button"
                  (click)="cancel()"
                  class="btn btn-link">
                  Cancel
                </button>
                <button  *ngIf="showNext"
                  type="button"
                  [disabled]="noSelection"
                  (click)="setMode('modifiers')"
                  class="btn btn-primary">
                  Next
                </button>
                <button *ngIf="showBack"
                  type="button"
                  (click)="setMode(backMode)"
                  class="btn btn-primary">
                  Back
                </button>
                <button type="button"
                  [disabled]="disableFlag"
                  (click)="finish()"
                  class="btn btn-primary">
                  Finish
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

