<ng-container [ngSwitch]="definition.annotationType">
  <div *ngSwitchCase="AnnotationType.STRING">
    <label [for]="machineName">{{ definition.columnName }}<em>{{ datatype | titlecase }}</em></label>
    <input type="text" [name]="machineName" [id]="machineName" [formControl]="control">
  </div>

  <div *ngSwitchCase="AnnotationType.BOOLEAN"
    class="is-checkbox">
    <clr-checkbox [clrInline]="true" [name]="machineName">
      {{ definition.columnName }}<em>{{ datatype | titlecase }}</em>
    </clr-checkbox>
  </div>

  <div *ngSwitchCase="AnnotationType.INTEGER">
    <label [for]="machineName">{{ definition.columnName }}<em>{{ datatype | titlecase }}</em></label>
    <input type="number" [name]="machineName" [id]="machineName" [formControl]="control">
  </div>

  <div *ngSwitchCase="AnnotationType.DATE">
    <label [for]="machineName">{{ definition.columnName }}<em>{{ datatype | titlecase }}</em></label>
    <input type="date" [name]="machineName" [id]="machineName" [formControl]="control">
  </div>

  <div *ngSwitchCase="AnnotationType.TIMESTAMP">
    <label [for]="machineName">{{ definition.columnName }}<em>{{ datatype | titlecase }}</em></label>
    <input type="text" [name]="machineName" [id]="machineName" [formControl]="control">
  </div>
</ng-container>
