<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <span class="title">AoU Discover</span>
    </div>
    <div class="header-nav">
      <a routerLink="../../cohorts/build" class="active nav-link nav-text">Search</a>
      <a routerLink="../../cohorts/1/build" class="nav-link nav-text">Review</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>Help</a>
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Close Search</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">

      <div class="row">

        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-8">
              <h3 class="mt-1">Include Participants</h3>
            </div>
            <div class="col-xs-4 text-right">
              <button
                 type="button"
                 class="btn btn-outline"
                 (click)="initGroup('includes')">
                <clr-icon shape="plus"></clr-icon> Add Group</button>
            </div>
          </div>

          <div id="scrollable-groups" class="scrolling-groups">
            <div class="my-border">
              <div *ngFor="let group of includes; let i = index">
                <div *ngIf="i > 0" class="text-center font-weight-bold">AND</div>
                <app-search-group [group]="group" [role]="'includes'">
                </app-search-group>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-8"><h3 class="mt-1">Exclude Participants</h3></div> <div class="col-xs-4 text-right">
              <button
                type="button"
                class="btn btn-outline"
                (click)="initGroup('excludes')">
                <clr-icon shape="plus"></clr-icon> Add Group</button>
            </div>
          </div>
          <div id="scrollable-groups1" class="scrolling-groups">
            <div class="my-border">
              <div *ngFor="let group of excludes; let i = index">
                <div *ngIf="i > 0" class="text-center font-weight-bold">AND</div>
                <app-search-group [group]="group" [role]="'excludes'">
                </app-search-group>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-4 text-left">
              <button type="button" class="btn btn-outline"
                (click)="save()"><clr-icon shape="floppy"></clr-icon> Save Set
              </button>
            </div>
            <div class="col-xs-8 text-right">

              <h3 class="mt-1">
                Set Total:
                <span *ngIf="isRequesting" class="spinner spinner-sm">
                  Loading...
                </span>
                <span *ngIf="!isRequesting">
                  {{ total$ | async }}
                </span>
              </h3>

            </div>
          </div>

          <!-- FIXME -->
          <app-charts [subjects]="[]"></app-charts>

        </div>
      </div>
    </div>
  </div>
  <app-wizard-modal
    *ngIf="open$ | async"
    [open]="open$ | async"
    [criteriaType]="criteriaType$ | async">
  </app-wizard-modal>
</clr-main-container>
