.scrolling-groups {
    height: 95%;
    overflow: auto;
}

.my-border {
    border-radius: 0.2rem;
    border: 1px solid #d7d7d7;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #e9f0f1;
}
