# Endpoints in this API are intended to be used by researchers in notebooks; make sure they
# are extra-well documented and designed and that we do not break backwards compatibility!

# For separate validation (with some false positives), do:
#     ./project.rb validate-swagger
swagger: '2.0'
info:
  version: "0.1.0"
  title: "AllOfUs Client API"
  description: "The API used by AllOfUs workbench clients (including both notebooks and our UI.)"
  termsOfService: "http://www.pmi-ops.org/terms_of_service.html"
  contact:
    name: "developer_help@pmi-ops.org"
  license:
    name: "MIT"
host: "api.pmi-ops.org"
securityDefinitions:
  # Establish the fact that *some endpoints* are OAuth protected
  # by defining an `aou_oauth` security mode, which we'll assing
  # to any protected endpoints below.
  aou_oauth:
    # TODO: Vet/fix this token and/or authorization URL to work in practice.
    # These are currently included simply to satisfy the Swagger specification,
    # as this is not directly used to dictate oauth details (just used to
    # annotate which methods require oauth).
    authorizationUrl: ""
    tokenUrl: ""
    type: oauth2
    flow: accessCode
schemes:
  - "https"
produces:
  - "application/json"
# Establish the fact that all endpoints are protected: this annotation
# ensures that client libraries know to send bearer tokens when calling
security:
  - aou_oauth: []

## Common Path Parameters
parameters:
  workspaceNamespace:
    in: path
    name: workspaceNamespace
    type: string
    description: The Workspace namespace
    required: true
  workspaceId:
    in: path
    name: workspaceId
    type: string
    description: The Workspace ID (a.k.a. the workspace's Firecloud name)
    required: true

paths:

  /v1/workspaces/{workspaceNamespace}/{workspaceId}/materializeCohort:
    parameters:
      - $ref: '#/parameters/workspaceNamespace'
      - $ref: '#/parameters/workspaceId'
    post:
      tags:
        - cohorts
      description: Materializes a cohort for a given CDR version to specified output
      operationId: "materializeCohort"
      parameters:
       - in: body
         name: request
         description: cohort materialization request
         schema:
           $ref: "#/definitions/MaterializeCohortRequest"
      responses:
        200:
          description: The results of materializing the cohort
          schema:
            $ref: "#/definitions/MaterializeCohortResponse"

definitions:

  MaterializeCohortRequest:
    type: object
    properties:
      cohortName:
        description: >
         The name of a cohort that is to be evaluated. Either this or cohortSpec should be specified
        type: string
      cohortSpec:
        description: >
          JSON representation of a cohort to be evaluated (using the same format used for saved
          cohorts). Either this or cohortName should be specified
        type: string
      statusFilter:
        description: >
          An array of status values; participants with these statuses will be included.
          Defaults to [NOT_REVIEWED, INCLUDED, NEEDS_FURTHER_REVIEW] -- everything but EXCLUDED.
          Only valid for use with cohortName (cohorts saved in the database.)
        type: array
        items:
          $ref: "#/definitions/CohortStatus"
      cdrVersionName:
        description: >
          The name of a CDR version to use when evaluating the cohort; if none is specified,
          the CDR version currently associated with the workspace will be used
        type: string
      pageToken:
        description: >
          Pagination token retrieved from a previous call to materializeCohort; used for
          retrieving additional pages of results. If this is specified, all other fields on
          MaterializeCohortRequest apart from pageSize must match the values specified
          on the request that generated this token.
        type: string
      pageSize:
        description: >
          Maximum number of results to return in a response. Defaults to 1000.
        type: integer
        format: int32
      fieldSet:
        description: >
          Specification defining what data to return for participants in the cohort. Defaults to
          just participant IDs.
        $ref: "#/definitions/FieldSet"
      # TODO: add output information

  MaterializeCohortResponse:
    type: object
    required:
      - results
    properties:
      results:
        description: >
          An array of JSON dictionaries representing results to the cohort materialization.
          (In Java, this is represented as Map<String, Object>[]. In Python clients, this is a
          list[object] where each object is a dictionary. In Typescript clients, this is an
          Array<any> where each object is a dictionary.) Keys in the dictionaries will be the
          columns selected in the field set provided in the request, and the values will
          be the values of those columns.
        type: array
        items:
          type: object
      nextPageToken:
        description: >
          Pagination token that can be used in a subsequent call to MaterializeCohortRequest to
          retrieve more results. If not set, there are no more results to retrieve.
        type: string

  FieldSet:
    type: object
    description: >
      A specification for fields to retrieve about participants in a cohort.
      Exactly one of the properties below should be specified.
    properties:
      tableQuery:
        description: >
          A query specifying how to pull data out of a single table. Either this or annotationQuery
          should be set (not both.)
        $ref: "#/definitions/TableQuery"
      annotationQuery:
        description: >
          A query specifying how to retrieve annotation values created about participants in a
          cohort during cohort review. Either this or tableQuery should be set (not both.)
        $ref: "#/definitions/AnnotationQuery"

  TableQuery:
    type: object
    description: >
      A specification for retrieving data from a single table.
    required:
      - tableName
    properties:
      tableName:
        description: >
          The name of a table containing a person_id column to retrieve data from (e.g. person, observation);
          should be in the OMOP CDM 5.2 schema.
        externalDocs:
          description: OMOP CDM 5.2 schema definition
          url: https://github.com/OHDSI/CommonDataModel/blob/v5.2.0/PostgreSQL/OMOP%20CDM%20ddl%20-%20PostgreSQL.sql                          
        type: string
      columns:
        description: >
          An array of columns to retrieve from the table, taken from the table specified above.
          Defaults to all columns.
        type: array
        items:
          type: string
      filters:
        description: >
          Filters on the results. Only results matching the criteria specified in the filters
          will be returned
        $ref: "#/definitions/ResultFilters"
      orderBy:
        description: >
          An array of columns to sort the resulting data by, taken from the table specified above,
          each one optionally enclosed in "DESCENDING()" for descending sort order.
          Default sort order is "person_id" (in ascending order) followed by the ID of the specified
          table (in ascending order.)
        type: array
        items:
          type: string

  AnnotationQuery:
    type: object
    description: >
      A specification for retrieving annotation values or review statuses entered for participants.
    properties:
      columns:
        description: >
          An array of names of annotations to retrieve about participants, or "review_status" for
          the cohort review status of the participant or "person_id" for the
          ID of the participant. Defaults to "person_id", "review_status", and the names of all
          defined annotations in the cohort review. This is only valid in combination with the use
          of cohortName above. Only data for participants in the cohort review will be returned;
          if no cohort review has been created, no results will be returned.
        type: array
        items:
          type: string
      orderBy:
        description: >
          An array of names of annotations, or "review status" or "person_id",
          each one optionally enclosed in "DESCENDING()" for descending
          sort order. Specifies the order that results should be returned. Defaults to "person_id"
          (in ascending order). Annotations referenced in orderBy must also be present in columns.
        type: array
        items:
          type: string

  ResultFilters:
    type: object
    description: >
      A list of filters applied to the results of a query. Only results matching the filter criteria
      should be returned. Exactly one of "allOf", "anyOf", and "columnFilter" should be set.
    properties:
      if_not:
        description: >
         Set to true if a result matching allOf or anyOf below should result in a result *not*
         being returned.
        type: boolean
      allOf:
        description: >
          A list of result filters. All filters matching means a result should be returned (or not returned
          if "not" is true.)
        type: array
        items:
          $ref: "#/definitions/ResultFilters"
      anyOf:
        description: >
          A list of column filters. Any filters matching means a result should be returned
          (or not returned if "not" is true.)
        type: array
        items:
          $ref: "#/definitions/ResultFilters"
      columnFilter:
        description: >
          A filter on a column in the table. Only a result matching this filter should be returned
          (or not returned if "not" is true.)
        $ref: "#/definitions/ColumnFilter"

  ColumnFilter:
    type: object
    required:
      - columnName
    description: >
      A filter applied to the results of a query, based on a column value in a table. Only results
      matching the filter will be returned. One (and only one) of the value columns should be populated.
      values and valueNumbers should only be used in conjunction with the "in" operator.
    properties:
      columnName:
        description: >
          The name of the column to filter on.
        type: string
      operator:
        description: >
          The operator to use when comparing values. Defaults to EQUAL. If the "in" operator is used,
          either values or valueNumbers should be populated.
        $ref: "#/definitions/Operator"
        externalDocs:
          description: "Documentation of BigQuery SQL operators"
          url: https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#comparison-operators
      value:
        description: >
          A string to use in comparisons (case-sensitive).
        type: string
      values:
        description: >
          An array of strings to use in comparisons (case-sensitive); used with the "in" operator.
        type: array
        items:
          type: string
      valueDate:
        description: >
          A date (yyyy-MM-dd) or datetime (yyyy-MM-dd HH:mm:ss zzz) value to use in comparisons.
        type: string
      valueNumber:
        description: >
          A number to use in comparisons (either integer or floating point.)
        type: number
      valueNumbers:
        description: >
          An array of numbers to use in comparisons (used with the "in" operator)
        type: array
        items:
          type: number
      valueNull:
        description: >
          Set to true if the column value should be compared to null.
        type: boolean

  CohortStatus:
    type: string
    description: possible values indicating whether participants are in or out of the cohort
    enum: [EXCLUDED, INCLUDED, NEEDS_FURTHER_REVIEW, NOT_REVIEWED]

  Operator:
    type: string
    enum: [EQUAL, NOT_EQUAL, LESS_THAN, GREATER_THAN, LESS_THAN_OR_EQUAL_TO, GREATER_THAN_OR_EQUAL_TO, LIKE, IN]
