# A subset of the FireCloud API spec that we use to generate Java client libraries. The
# original API spec can be found here:
# https://github.com/broadinstitute/firecloud-orchestration/blob/develop/src/main/resources/swagger/api-docs.yaml

swagger: '2.0'

info:
  title: FireCloud
  description: |
    Genome analysis execution service.
  version: "0.1"
  license:
    name: BSD
    url: http://opensource.org/licenses/BSD-3-Clause
  termsOfService: https://github.com/broadinstitute/firecloud-orchestration

host: "api.firecloud.org"
schemes:
  - "https"
basePath: /

produces:
  - application/json

security:
  - googleoauth:
      - openid
      - email
      - profile
      - https://www.googleapis.com/auth/devstorage.full_control

securityDefinitions:
  googleoauth:
    type: oauth2
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    flow: implicit
    scopes:
      openid: open id authorization
      email: email authorization
      profile: profile authorization
      https://www.googleapis.com/auth/devstorage.full_control: GCS storage
      https://www.googleapis.com/auth/cloud-billing: GCS billing

##########################################################################################
## PATHS
##########################################################################################
paths:

  /api/billing:
    post:
      responses:
        204:
          description: Successfully Created Billing Project in FireCloud and Google
        400:
          description: FireCloud billing user must be an admin of the billing account
          schema:
            $ref: '#/definitions/ErrorReport'
        403:
          description: You must be an admin of the google billing account
          schema:
            $ref: '#/definitions/ErrorReport'
        409:
          description: project already exists in FireCloud or google
        500:
          description: FireCloud Internal Error
          schema:
            $ref: '#/definitions/ErrorReport'
      parameters:
        - in: body
          description: create project request
          name: createProjectRequest
          required: true
          schema:
            $ref: '#/definitions/CreateRawlsBillingProjectFullRequest'
      tags:
        - Billing
      summary: create billing project in FireCloud and google
      operationId: createBillingProjectFull
      security:
        - googleoauth:
        - openid
        - email
        - profile
        - https://www.googleapis.com/auth/cloud-billing

  /api/billing/{projectId}/{role}/{email}:
      put:
        responses:
          200:
            description: Successfully Added User To Billing Project
          403:
            description: You must be a project owner to add a user to a billing project
            schema:
              $ref: '#/definitions/ErrorReport'
          404:
            description: User not found
            schema:
              $ref: '#/definitions/ErrorReport'
          500:
            description: FireCloud Internal Error
            schema:
              $ref: '#/definitions/ErrorReport'
        parameters:
          - in: path
            description: Project ID
            name: projectId
            required: true
            type: string
          - in: path
            description: role of user for project
            name: role
            required: true
            type: string
            enum: ["user", "owner"]
          - in: path
            description: email of user or group to add
            name: email
            required: true
            type: string
        tags:
          - Billing
        summary: add user to billing project the caller owns
        operationId: addUserToBillingProject
        security:
          - googleoauth:
              - openid
              - email
              - profile

  /api/profile/billing:
    get:
      tags:
        - Profile
      operationId: billing
      summary: List billing projects for a user
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BillingProjectMembership'
        404:
          description: User Not Found
        500:
          description: Internal Server Error

  /me:
    get:
      tags:
        - Profile
      operationId: me
      summary: Returns registration and activation status for the current user
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Me'
        401:
          description: Unauthorized. User is not allowed in FireCloud or has not signed in.
        403:
          description: Forbidden. User is registered in FireCloud, but not activated.
        404:
          description: Not Found. User is authenticated to Google but not a FireCloud member.
        500:
          description: Internal Server Error determining user status.
        503:
          description: Service Unavailable. Could not reach underlying services to determine user status.

  /register/profile:
      post:
        tags:
          - Profile
        operationId: setProfile
        summary: Sets a profile object in the user profile service for the currently logged-in user.
        parameters:
        - name: profile
          description: A complete profile
          in: body
          schema:
            $ref: '#/definitions/Profile'
        responses:
          200:
            description: OK
          400:
            description: Bad request
          500:
            description: Internal server error

##########################################################################################
## DEFINITIONS
##########################################################################################
definitions:

  BillingProjectMembership:
    description: ''
    required:
      - projectName
      - role
      - status
    type: object
    properties:
      projectName:
        type: string
        description: the name of the project to create
      role:
        type: string
        description: the role of the current user in the project
      status:
        type: string
        enum: ["Creating", "Ready", "Error"]
      message:
        type: string
        description: informational message about the project

  CreateRawlsBillingProjectFullRequest:
    description: ''
    required:
      - projectName
      - billingAccount
    type: object
    properties:
      projectName:
        type: string
        description: the name of the project to create
      billingAccount:
        type: string
        description: the id of the billing account to use, must start with 'billingAccounts/'

  Enabled:
    type: object
    properties:
      google:
        type: boolean
        description: User enabled via Google?
      ldap:
        type: boolean
        description: User enabled in LDAP?
      allUsersGroup:
        type: boolean
        description: User is a member of the "All Users" group?

  ErrorReport:
    description: ''
    required:
      - source
      - message
      - causes
      - stackTrace
    type: object
    properties:
      source:
        type: string
        description: service causing error
      message:
        type: string
        description: what went wrong
      statusCode:
        type: integer
        description: HTTP status code
      causes:
        type: array
        description: errors triggering this one
        items:
          $ref: '#/definitions/ErrorReport'
      stackTrace:
        type: array
        description: stack trace
        items:
          $ref: '#/definitions/StackTraceElement'

  Me:
    type: object
    properties:
      userInfo:
        $ref: '#/definitions/UserInfo'
      enabled:
        $ref: '#/definitions/Enabled'
  Profile:
      type: object
      properties:
        firstName:
          type: string
          description: User's first name
        lastName:
          type: string
          description: User's last name
        title:
          type: string
          description: User's title
        contactEmail:
          type: string
          description: User's contact email
        institute:
          type: string
          description: User's home institution
        institutionalProgram:
          type: string
          description: User's institutional program
        programLocationCity:
          type: string
          description: City where the program is run
        programLocationState:
          type: string
          description: State where the program is run
        programLocationCountry:
          type: string
          description: Country where the program is run
        pi:
          type: string
          description: Principal investigator for the program
        nonProfitStatus:
          type: string
          description: Non-profit status of the institution

  StackTraceElement:
      description: ''
      required:
        - className
        - methodName
        - fileName
        - lineNumber
      type: object
      properties:
        className:
          type: string
          description: class name
        methodName:
          type: string
          description: method name
        fileName:
          type: string
          description: source file name
        lineNumber:
          type: integer
          description: line number

  UserInfo:
    type: object
    properties:
      userSubjectId:
        type: string
        description: Subject ID (from Google)
      userEmail:
        type: string
        description: User's email
