---
swagger: '2.0'
x-aou-note: |
  This file is for endpoints we do NOT intend to generate client libraries for
  and advertise to notebook developers. Endpoints we DO want notebook developers to use should
  go in client_api.yaml.

  This file references parameters, paths, and definitions specified in
  client_api.yaml; the two files get merged together into a merged.yaml file at build time.

  If validation fails, gradle:generateWorkbenchApi fails claiming this file does not exist.

  For separate validation (with some false positives), do:
  ./project.rb validate-swagger
info:
  version: 0.1.0
  title: AllOfUs Workbench API
  description: |
    The API for the AllOfUs workbench.

    Throughout, we use integer/int64 in preference to string/date-time because Swagger's
    date formatting is inconsistent between server and client. Time values are stored as
    milliseconds since the UNIX epoch.

    Note: all requests tagged as "cron" must have the header X-Appengine-Cron:
    true, which app engine itself only sets when invoking as a cronjob.
    See https://cloud.google.com/appengine/docs/standard/java/config/cron#securing_urls_for_cron
    and o.p.w.interceptors.CronInterceptor which implements the header check.
  termsOfService: http://www.pmi-ops.org/terms_of_service.html
  contact:
    name: developer_help@pmi-ops.org
  license:
    name: BSD
host: api.pmi-ops.org
securityDefinitions:
  aou_oauth:
    x-aou-note: |
      Users authenticate with our API using a Google-issued OIDC access token.

      This is a non-standard use of Swagger 2.0's oauth2 type. The aou_auth
      entry under security (below) serves to establish the fact
      that all endpoints are protected. This annotation ensures that client
      libraries know to send bearer tokens when calling, but otherwise only
      provides a minimal OAuth2 implementation. Future Swagger versions may
      provide a better mapping to our authorization and authentication flows.

      We use the OAuth2 authorization code grant with the PKCE extension
      (https://oauth.net/2/pkce/) on public clients
      (https://oauth.net/2/client-types/). However, Google only supports the
      authorization code grant for confidential clients. To enable public client
      access, we provide an endpoint that forwards token-related requests to
      Google with the client secret added.

      Because we do not provide a full OAuth implementation, adding the scope
      property is at best documentation and at worst may lead to unexpected
      behavior. Instead, we document them here.

      Required Google scopes:
      - https://www.googleapis.com/auth/userinfo.email
      - openid
      - https://www.googleapis.com/auth/userinfo.profile

      In addition to the above, the following scope is required for endpoints
      that leverage billing information:
      - https://www.googleapis.com/auth/cloud-billing
    authorizationUrl: ''
    tokenUrl: /oauth2/token
    type: oauth2
    flow: accessCode
schemes:
- https
produces:
- application/json
security:
- aou_oauth: []

# Define an alias before using it. We can get rid of it after migrating to Swagger 3.0 definition.
# See https://precisionmedicineinitiative.atlassian.net/browse/RW-8978

parameters:
  userId:
    in: path
    name: userId
    type: integer
    format: int64
    required: true
  conceptSetId:
    in: path
    name: conceptSetId
    type: integer
    format: int64
    required: true
    description: Concept set ID
  dataSetId:
    in: path
    name: dataSetId
    type: integer
    format: int64
    required: true
    description: Data set ID
  workspaceNamespace:
    in: path
    name: workspaceNamespace
    type: string
    description: The Workspace namespace
    required: true
  workspaceId:
    in: path
    name: workspaceId
    type: string
    description: The Workspace ID (a.k.a. the workspace's Firecloud name)
    required: true
  cohortId:
    in: path
    name: cohortId
    type: integer
    format: int64
    required: true
    description: Cohort ID
  cohortReviewId:
    in: path
    name: cohortReviewId
    type: integer
    format: int64
    required: true
    description: Cohort Review ID
  cdrVersionId:
    in: path
    name: cdrVersionId
    type: integer
    format: int64
    required: true
    description: specifies which cdr version
  participantId:
    in: path
    name: participantId
    type: integer
    format: int64
    required: true
    description: specifies which participant
paths:
  "/v1/status":
    get:
      tags:
      - status
      description: Returns the status of the various services and integrations
      operationId: getStatus
      security: []
      responses:
        200:
          description: A map of system name to status.
          schema:
            "$ref": "#/definitions/StatusResponse"
  "/v1/config":
    get:
      tags:
      - config
      description: Returns some server configuration data.
      operationId: getConfig
      security: []
      responses:
        200:
          description: Configuration data
          schema:
            "$ref": "#/definitions/ConfigResponse"
  "/v1/featured-workspace-config":
    get:
      tags:
      - featured-workspaces-config
      description: Returns the featured workspaces config
      operationId: getFeaturedWorkspacesConfig
      security: []
      responses:
        200:
          description: List of featured workspaces
          schema:
            "$ref": "#/definitions/FeaturedWorkspacesConfigResponse"
  "/v1/cdrVersionsByTier":
    get:
      tags:
        - cdrVersions
      description: >
        Returns all curated data repository (CDR) versions in all tiers
        that the user has access to
      operationId: getCdrVersionsByTier
      responses:
        200:
          description: A mapping of tiers to CDR versions.
          schema:
            "$ref": "#/definitions/CdrVersionTiersResponse"
  "/v1/status-alert":
    get:
      tags:
      - status-alert
      description: Returns status alert information if any exists.
      operationId: getStatusAlert
      responses:
        200:
          description: 'A status alert information object.'
          schema:
            "$ref": "#/definitions/StatusAlert"
    post:
      tags:
      - status-alert
      description: Pushes new status alert information to all users
      operationId: postStatusAlert
      parameters:
      - in: body
        name: statusAlert
        description: the new status alert to use
        schema:
          "$ref": "#/definitions/StatusAlert"
      responses:
        200:
          description: 'A status alert information object.'
          schema:
            "$ref": "#/definitions/StatusAlert"
  "/v1/profile":
    get:
      tags:
      - profile
      description: Returns the user's profile information
      operationId: getMe
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
    patch:
      tags:
      - profile
      consumes:
      - application/json
      description: Updates a users profile
      operationId: updateProfile
      parameters:
      - in: body
        name: updatedProfile
        description: the new profile to use
        schema:
          "$ref": "#/definitions/Profile"
      responses:
        204:
          description: Request received.
        400:
          description: Bad request
          schema:
            "$ref": "#/definitions/ErrorResponse"
    delete:
      tags:
      - profile
      description: Deletes the user's profile and gsuite account, does not clean up
        in firecloud.
      operationId: deleteProfile
      responses:
        204:
          description: Request Received.

  "/v1/getUserTermsOfServiceStatus":
    get:
      tags:
        - profile
      description: Returns if the logged in user has accepted the latest versions of the All of Us and Terra Terms of Service agreements
      operationId: getUserTermsOfServiceStatus
      responses:
        200:
          description: Returns true if user has accepted latest versions of the All of Us and Terra Terms of Service agreements
          schema:
            type: boolean

  "/v1/signOut":
    post:
      tags:
        - user
      description: SignOut user's gsuite account
      operationId: signOut
      responses:
        204:
          description: User signout success

  "/v1/acceptTermsOfService":
    post:
      tags:
        - profile
      description: User accepts current version of Terra and specific version Of All of Us Terms of Service
      operationId: acceptTermsOfService
      parameters:
      - in: query
        name: termsOfServiceVersion
        type: integer
        format: int32
        description: 'Version of the All of Us TOS that the user has acknowledged'
      responses:
        204:
          description: User has accepted AOU and Terra Terms of service.

  "/v1/confirmProfile":
    post:
      tags:
        - profile
      description: Used by users to confirm that their profile is up to date, as part of the
        annual renewal compliance process.
      operationId: confirmProfile
      responses:
        204:
          description: Profile Confirmed.
  "/v1/confirmPublications":
    post:
      tags:
        - profile
      description: Used by users to confirm that they have either reported any AoU-related
        publications, or they have none.
      operationId: confirmPublications
      responses:
        204:
          description: Publications Confirmed.
  "/v1/is-username-taken":
    get:
      tags:
      - profile
      description: Checks to see if the given username is not available.
      operationId: isUsernameTaken
      security: []
      parameters:
      - in: query
        name: username
        type: string
        required: true
      responses:
        200:
          description: The answer.
          schema:
            "$ref": "#/definitions/UsernameTakenResponse"
  "/v1/update-contact-email":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Only for accounts that have not logged in yet, update contact email.
      operationId: updateContactEmail
      security: []
      parameters:
      - in: body
        name: updateContactEmailRequest
        schema:
          "$ref": "#/definitions/UpdateContactEmailRequest"
      responses:
        200:
          description: Contact Email Updated
        400:
          description: Invalid contact email address
        403:
          description: Unable to process this request
        500:
          description: Internal Server Error
  "/v1/resend-welcome-email":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Resend welcome email
      operationId: resendWelcomeEmail
      security: []
      parameters:
      - in: body
        name: resendWelcomeEmail
        schema:
          "$ref": "#/definitions/ResendWelcomeEmailRequest"
      responses:
        200:
          description: Welcome Email sent.
        500:
          description: Internal Server Error
  "/v1/send-billing-setup-email":
    post:
      tags:
        - profile
      consumes:
        - application/json
      description: Send billing setup email to GCP partner
      operationId: sendBillingSetupEmail
      parameters:
        - in: body
          name: sendBillingSetupEmail
          schema:
            "$ref": "#/definitions/SendBillingSetupEmailRequest"
      responses:
        200:
          description: Billing setup email sent.
        403:
          description: Forbidden
        500:
          description: Internal Server Error
  "/v1/google-account":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Creates an account in the researchallofus.org domain.
      operationId: createAccount
      security: []
      parameters:
      - in: body
        name: createAccountRequest
        schema:
          "$ref": "#/definitions/CreateAccountRequest"
      responses:
        200:
          description: Account created successfully.
          schema:
            "$ref": "#/definitions/Profile"
        400:
          description: Error occurred while creating account.
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/update-nih-token":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Updates a users NIH token
      operationId: updateNihToken
      parameters:
      - in: body
        name: token
        description: the token retrieved from NIH
        schema:
          "$ref": "#/definitions/NihToken"
      responses:
        200:
          description: The user's updated profile.
          schema:
            "$ref": "#/definitions/Profile"
        400:
          description: Bad request
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/user/link-ras-account":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Link user with a RAS account
      operationId: linkRasAccount
      parameters:
      - in: body
        name: rasLinkRequestBody
        description: The authorization code from RAS.
        schema:
          "$ref": "#/definitions/RasLinkRequestBody"
      responses:
        200:
          description: The user's account linking information.
          schema:
            "$ref": "#/definitions/Profile"
        400:
          description: Bad request
          schema:
            "$ref": "#/definitions/ErrorResponse"
        403:
          description: Forbidden
          schema:
            "$ref": "#/definitions/ErrorResponse"
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/page-visits":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Updates a users page visits
      operationId: updatePageVisits
      parameters:
      - in: body
        name: pageVisit
        description: the users pageVisits
        schema:
          "$ref": "#/definitions/PageVisit"
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
        400:
          description: Bad request
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/account/submit-data-user-code-of-conduct":
    post:
      tags:
        - profile
      description: Submits consent to the Data User Code of Conduct for researchers.
      operationId: submitDUCC
      parameters:
        - in: query
          name: duccSignedVersion
          description: Version \# of the Data User Code of Conduct that was signed.
          type: integer
          required: true
        - in: query
          name: initials
          description: Initials of the user on the form.
          type: string
          required: true
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
  "/v1/account/sync-training-status":
    post:
      tags:
      - profile
      summary: Sync compliance training status
      description: Retrieves moodleId(either from DB or call from Moodle API) and
        gets Training status on the basis of that
      operationId: syncComplianceTrainingStatus
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
        404:
          description: User not found
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/account/sync-era-commons-status":
    post:
      tags:
      - profile
      summary: Sync eRA Commons status
      description: Retrieves and stores the current user's NIH / eRA Commons linkage
        status, fetched via the FireCloud API.
      operationId: syncEraCommonsStatus
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
        404:
          description: User not found
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/account/sync-two-factor-auth-status":
    post:
      tags:
      - profile
      summary: Sync two factor auth status
      description: Syncs a user's 2FA status from google
      operationId: syncTwoFactorAuthStatus
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
        404:
          description: User not found
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/auth-domain/{groupName}":
    post:
      tags:
      - authDomain
      description: This endpoint will create the registered auth domain.
      operationId: createAuthDomain
      parameters:
      - in: path
        name: groupName
        description: groupName
        required: true
        type: string
      responses:
        200:
          description: Successfully created auth domain
          schema:
            "$ref": "#/definitions/AuthDomainCreatedResponse"
  "/v1/userSearch/{accessTierShortName}/{term}":
    get:
      tags:
        - user
      description: >
        Return a page of users matching a search term and an access tier.
        Used by autocomplete for workspace sharing.
      operationId: userSearch
      responses:
        200:
          description: The user information matching supplied search terms
          schema:
            "$ref": "#/definitions/UserResponse"
      parameters:
        - in: path
          name: accessTierShortName
          description: The shortName corresponding to an access tier to search in. Requesting user
            must also be a member of this tier.
          required: true
          type: string
        - in: path
          name: term
          description: String to find in user's name or email address. Search is a case-insensitive
            substring match.
          required: true
          type: string
        - in: query
          name: pageToken
          description: 'Pagination token retrieved from a previous call to user; used
         for retrieving additional pages of results.'
          type: string
          required: false
        - in: query
          name: pageSize
          description: 'Maximum number of results to return in a response. Defaults
         to 10.'
          type: integer
          required: false
        - in: query
          name: sortOrder
          description: Sort order, either 'asc' or 'desc'. Defaults to 'asc' on the
            user's email.
          type: string
          required: false
  "/v1/user/billingAccounts":
    get:
      tags:
      - user
      description: Returns a list of billing accounts the caller can set a workspace's
        billing account to
      operationId: listBillingAccounts
      responses:
        200:
          description: List of billing accounts
          schema:
            "$ref": "#/definitions/WorkbenchListBillingAccountsResponse"
  "/v1/admin/security/workspaces/{workspaceNamespace}/delete-runtimes":
    post:
      summary: Delete specified (or all if no specified list) runtimes in given workspace namespace.
      description: 'An admin gated endpoint that deletes given runtimes in a given
        workspaace.'
      operationId: deleteRuntimesInWorkspace
      tags:
        - workspaceAdmin
      parameters:
        - in: path
          name: workspaceNamespace
          description: The workspace's workspace namespace.
            the runtimes
          required: true
          type: string
        - in: body
          name: runtimesToDelete
          description: A list of names of runtimes to delete. To delete all runtimes,
            use an empty object, without providing a list property at all (e.g., {})
            An empty list will delete no runtimes.
          required: true
          schema:
            "$ref": "#/definitions/ListRuntimeDeleteRequest"
      responses:
        200:
          description: Runtimes deleted
          schema:
            type: array
            items:
              "$ref": "#/definitions/ListRuntimeResponse"
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/runtimes/{workspaceNamespace}":
    get:
      summary: Get the user's workspace runtime.
      description: "Returns the current user's runtime, if any, which has been created
        for the given workspace."
      operationId: getRuntime
      tags:
      - runtime
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      responses:
        200:
          description: The runtime for this user and workspace.
          schema:
            "$ref": "#/definitions/Runtime"
        404:
          description: No runtime exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"
    post:
      summary: Create a workspace runtime.
      description: |
        Creates a new runtime for the current user in the given billing project. If a runtime already exists for the user in this billing project, a 409 conflict error is returned (even if the runtime is still initializing or is not in a ready state).
        TODO(RW-3697): Custom runtime creation params should be added as a body param here.
      operationId: createRuntime
      tags:
      - runtime
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - in: body
        name: runtime
        description: notebooks runtime definition
        required: true
        schema:
          "$ref": "#/definitions/Runtime"
      responses:
        200:
          description: Runtime was created successfully
          schema:
            "$ref": "#/definitions/EmptyResponse"
        409:
          description: A runtime for this user and workspace already exists.
          schema:
            "$ref": "#/definitions/EmptyResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"
    patch:
      summary: Updates the configuration of a runtime
      description: In order to update the configuration of a runtime, it must first be running or paused
      operationId: updateRuntime
      tags:
      - runtime
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - in: body
          name: runtime
          schema:
            "$ref": "#/definitions/UpdateRuntimeRequest"
      responses:
        202:
          description: Runtime update request accepted
          schema:
            "$ref": "#/definitions/EmptyResponse"
        400:
          description: Bad Request
          schema:
            "$ref": "#/definitions/ErrorResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        500:
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
    delete:
      summary: Delete a workspace runtime.
      description: 'TODO(RW-3695): updateRuntime should be added as a PATCH endpoint
        here.'
      operationId: deleteRuntime
      tags:
      - runtime
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - in: query
        name: deleteDisk
        description: Whether or not disk should be deleted if the runtime is using persistent disk. Default to false if not specified
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: Success
          schema:
            "$ref": "#/definitions/EmptyResponse"
        404:
          description: No runtime exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/runtimes/{workspaceNamespace}/localize":
    post:
      summary: Localize files to the user's runtime.
      description: 'Localizes files to the runtime for the current user and given
        workspace. As a side-effect, JSON workspace environment files will also be
        localized to the runtime.'
      operationId: localize
      tags:
      - runtime
      consumes:
      - application/json
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - in: body
        name: body
        description: Localization request.
        schema:
          "$ref": "#/definitions/RuntimeLocalizeRequest"
      responses:
        200:
          description: Success
          schema:
            "$ref": "#/definitions/RuntimeLocalizeResponse"
        404:
          description: Runtime or Workspace not found
          schema:
            "$ref": "#/definitions/ErrorResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"

  "/v1/workspaces/{workspaceNamespace}/apps":
    get:
      summary: List user apps in workspace
      description: List user apps the caller has access to, in given workspaces
      operationId: listAppsInWorkspace
      tags:
        - apps
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
      responses:
        "200":
          description: List of user apps
          schema:
            "$ref": "#/definitions/ListAppsResponse"
        404:
          description: No user app exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"
    post:
      summary: Create a user app in this workspace.
      description: |
        Creates a new user app for the current user in the given workspace. If a user app already 
        exists for the user in this billing project, a 409 conflict error is returned (even if the 
        app is still initializing or is not in a ready state).
      operationId: createApp
      tags:
        - apps
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - in: body
          name: app
          description: User App definition
          required: true
          schema:
            "$ref": "#/definitions/CreateAppRequest"
      responses:
        200:
          description: User App was created successfully
          schema:
            "$ref": "#/definitions/EmptyResponse"
        404:
          description: The specified workspace was not found.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        409:
          description: A user app for this user and workspace already exists.
          schema:
            "$ref": "#/definitions/EmptyResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"

  "/v1/workspaces/{workspaceNamespace}/apps/{appName}":
    get:
      summary: Get the user's app by name in a workspace.
      description: "Returns the current user's app by name in a workspace if exists."
      operationId: getApp
      tags:
        - apps
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - in: path
          name: appName
          description: The name of the user app.
          required: true
          type: string
      responses:
        200:
          description: The user app for this user and workspace.
          schema:
            "$ref": "#/definitions/UserAppEnvironment"
        404:
          description: No user app exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"
    patch:
      summary: Updates the configuration of a user app
      description: In order to update the configuration of a user app, it must first be running or paused
      operationId: updateApp
      tags:
        - apps
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - in: path
          name: appName
          description: The name of the user app.
          required: true
          type: string
        - in: body
          name: app
          schema:
            "$ref": "#/definitions/UserAppEnvironment"
      responses:
        202:
          description: User App update request accepted
          schema:
            "$ref": "#/definitions/EmptyResponse"
        400:
          description: Bad Request
          schema:
            "$ref": "#/definitions/ErrorResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        500:
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
    delete:
      summary: Delete a workspace user app.
      operationId: deleteApp
      tags:
        - apps
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - in: path
          name: appName
          description: The name of the user app.
          required: true
          type: string
        - in: query
          name: deleteDisk
          description: Whether or not the disk should be deleted if the user app is using a persistent disk. Default to false if not specified
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: Success
          schema:
            "$ref": "#/definitions/EmptyResponse"
        404:
          description: No user app exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
        412:
          description: Compute is temporarily suspended for security reasons.
          schema:
            "$ref": "#/definitions/ErrorResponse"

  "/v1/workspaces/{workspaceNamespace}/disks":
    get:
      summary: Lists persistent disks in the user's workspace. Only disks in READY/CREATING/RESTORING state will be returned.
      operationId: listOwnedDisksInWorkspace
      tags:
        - disks
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
      responses:
        200:
          description: The persistent disk for this user and workspace.
          schema:
            "$ref": "#/definitions/ListDisksResponse"
        404:
          description: No persistent disk exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"

  "/v1/workspaces/{workspaceNamespace}/disks/{diskName}":
    get:
      summary: Get the user's workspace persistent disk by name.
      operationId: getDisk
      tags:
        - disks
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - in: path
          name: diskName
          description: diskName
          type: string
          required: true
      responses:
        200:
          description: The persistent disk for this user and workspace.
          schema:
            "$ref": "#/definitions/Disk"
        404:
          description: No persistent disk exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
    delete:
      summary: Delete a persistent disk.
      description: Delete the current user's latest created persistent disk
      operationId: deleteDisk
      tags:
        - disks
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - in: path
          name: diskName
          description: diskName
          type: string
          required: true
      responses:
        200:
          description: Success
          schema:
            "$ref": "#/definitions/EmptyResponse"
        404:
          description: No persistent disk exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
    patch:
      summary: Updates the configuration of a persistent disk
      description: In order to update the configuration of a persistent disk, it must first be ready
      operationId: updateDisk
      tags:
        - disks
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - in: path
          name: diskName
          description: diskName
          type: string
          required: true
        - in: query
          name: diskSize
          type: integer
          description: Update disk disk Size
          required: true
      responses:
        "200":
          description: Persistent disk update request accepted
          schema:
            "$ref": "#/definitions/EmptyResponse"
        "404":
          description: Bad Request
          schema:
            $ref: "#/definitions/ErrorResponse"

  "/v1/workspaces":
    get:
      tags:
      - workspaces
      description: Returns all workspaces that a user has access to
      operationId: getWorkspaces
      responses:
        200:
          description: A list of workspace definitions.
          schema:
            "$ref": "#/definitions/WorkspaceResponseListResponse"
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: Creates a workspace
      operationId: createWorkspace
      parameters:
      - in: body
        name: workspace
        description: workspace definition
        schema:
          "$ref": "#/definitions/Workspace"
      responses:
        200:
          description: The workspace that was created.
          schema:
            "$ref": "#/definitions/Workspace"
  "/v1/workspaces/createAsync":
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: Creates a workspace asynchronously
      operationId: createWorkspaceAsync
      parameters:
      - in: body
        name: workspace
        description: workspace definition
        schema:
          "$ref": "#/definitions/Workspace"
      responses:
        200:
          description: The workspace has been scheduled for creation.
          schema:
            "$ref": "#/definitions/WorkspaceOperation"
  "/v1/workspaces/operations/{id}":
    parameters:
    - in: path
      name: id
      type: integer
      format: int64
      description: The workspace operation ID
      required: true
    get:
      tags:
      - workspaces
      description: Returns a workspace operation, only accessible to the creator of the operation.
      operationId: getWorkspaceOperation
      responses:
        200:
          description: The asynchronous workspace operation.
          schema:
            "$ref": "#/definitions/WorkspaceOperation"
  "/v1/workspaces/published":
    get:
      tags:
      - workspaces
      description: Returns a list of published workspaces
      operationId: getPublishedWorkspaces
      responses:
        200:
          description: A list of workspace definitions.
          schema:
            "$ref": "#/definitions/WorkspaceResponseListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/isNotebookTransferComplete":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
    get:
      tags:
        - workspaces
      description: Checks if the notebooks have been copied to the workspace
      operationId: notebookTransferComplete
      responses:
        200:
          description: Returns true if the notebooks have been copied to the workspace
          schema:
            type: boolean
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - workspaces
      description: Returns the workspace definition with the specified ID and namespace
      operationId: getWorkspace
      responses:
        200:
          description: A workspace response containing workspace and access level
          schema:
            "$ref": "#/definitions/WorkspaceResponse"
        403:
          description: User doesnt have access to the workspace's access tier
          schema:
            "$ref": "#/definitions/ErrorResponse"
    patch:
      tags:
      - workspaces
      consumes:
      - application/json
      description: 'Modifies the workspace definition with the specified ID and namespace;
        fields that are omitted will not be modified'
      operationId: updateWorkspace
      parameters:
      - in: body
        name: workspace
        description: workspace definition
        schema:
          "$ref": "#/definitions/UpdateWorkspaceRequest"
      responses:
        200:
          description: The updated workspace definition
          schema:
            "$ref": "#/definitions/Workspace"
    delete:
      tags:
      - workspaces
      description: Deletes the workspace definition with the specified ID and namespace
      operationId: deleteWorkspace
      responses:
        202:
          description: Workspace deletion request accepted
          schema:
            "$ref": "#/definitions/EmptyResponse"

  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/markResearchPurposeReviewed":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - workspaces
      description: Mark workspace owner has reviewed research purpose
      operationId: markResearchPurposeReviewed
      responses:
        200:
          description: The billing usage for a workspace
          schema:
            "$ref": "#/definitions/Workspace"

  "/v2/workspaces/{workspaceNamespace}/{workspaceId}/resources":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
    get:
      parameters:
        - in: query
          name: resourceTypesToFetch
          description: Types of workspace resources to fetch. Currently only supports
            Cohorts, Cohort Reviews, Concept Sets, and Datasets
          type: array
          items:
            type: string
      tags:
      - workspaces
      description: Gets a user defined selection of objects contained within a workspace
      operationId: getWorkspaceResourcesV2
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/WorkspaceResourceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/billing-usage":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - workspaces
      description: Gets the free tier billing spend for a specified workspace
      operationId: getBillingUsage
      responses:
        200:
          description: The billing usage for a workspace
          schema:
            "$ref":
              "#/definitions/WorkspaceBillingUsageResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/creator-free-credits-remaining":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
    get:
      tags:
        - workspaces
      description: Gets the free credits remaining for the creator of a specified workspace
      operationId: getWorkspaceCreatorFreeCreditsRemaining
      responses:
        200:
          description: The free credits remaining for the creator of a workspace
          schema:
            "$ref":
              "#/definitions/WorkspaceCreatorFreeCreditsRemainingResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/share":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    patch:
      tags:
        - workspaces
      consumes:
        - application/json
      description: 'Shares/unshares a workspace with the given users and permissions. Use the
        WorkspaceAccessLevel enum value "NO ACCESS" to unshare.  All existing users and roles
        who are not specified in this request are not affected.'
      operationId: shareWorkspacePatch
      parameters:
        - in: body
          name: body
          description: users to share/unshare the workspace with
          schema:
            "$ref": "#/definitions/ShareWorkspaceRequest"
      responses:
        200:
          description: Successful share response
          schema:
            "$ref": "#/definitions/WorkspaceUserRolesResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/duplicate":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: |
        Duplicate an existing workspace, with given modifications to workspace metadata. Caller will own the newly duplicated workspace, and must have read access to the source workspace. In addition to workspace metadata, the following will also be duplicated:
          - the associated Firecloud workspace
          - cohorts, along with reviews and annotations
          - notebooks located in the default notebook directory for this workspace
      operationId: cloneWorkspace
      parameters:
      - in: body
        name: body
        schema:
          "$ref": "#/definitions/CloneWorkspaceRequest"
      responses:
        200:
          description: Successful duplicate response
          schema:
            "$ref": "#/definitions/CloneWorkspaceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/duplicateAsync":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: |
        Asynchronously duplicate an existing workspace. Semantics otherwise match cloneWorkspace.
      operationId: duplicateWorkspaceAsync
      parameters:
      - in: body
        name: body
        schema:
          "$ref": "#/definitions/CloneWorkspaceRequest"
      responses:
        200:
          description: Successful duplicate response
          schema:
            "$ref": "#/definitions/WorkspaceOperation"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/userRoles":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - workspaces
      description: Returns the user roles for all collaborators on a workspace
      operationId: getFirecloudWorkspaceUserRoles
      responses:
        200:
          description: A list of workspace collaborators
          schema:
            "$ref": "#/definitions/WorkspaceUserRolesResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/publish":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaceAdmin
      description: 'Makes a workspace public to all AoU registered users. Requires
        FEATURED_WORKSPACE_ADMIN authority.'
      operationId: publishWorkspace
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/unpublish":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaceAdmin
      description: 'Makes a workspace public to all AoU registered users. Requires
        FEATURED_WORKSPACE_ADMIN authority.'
      operationId: unpublishWorkspace
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/admin/workspaces/{workspaceNamespace}/audit":
    get:
      tags:
        - workspaceAdmin
      description: >
        Fetch audit logs involving this workspace as either a subject or object. Requires the
        RESEARCHER_DATA_VIEW authority.
      operationId: getAuditLogEntries
      parameters:
        - name: workspaceNamespace
          in: path
          type: string
          required: true
          description: >
            Firecloud Namespace for the AoU workspace to be queried.
        - name: limit
          in: query
          type: integer
          required: false
          default: 100
          description: >
            Maximum number of entries to return, sorted by timestamp descending.
        - name: after
          description: >
            Earliest time matched by the query (inclusive). Epoch millis.

            Note that while Swagger allows a date-time formatted string query parameter,
            it appears Spring doesn't handle that well today. It gives the error message described
            at https://github.com/swagger-api/swagger-codegen/issues/4113.
          in: query
          type: integer
          format: int64
          required: false
          default: 0
        - name: before
          description: >
             Upper bound on timestamp of most recent result (exclusive). Specified as milliseconds
             since Epoch (though declared as a string). Defaults to current timestamp.
          in: query
          type: integer
          format: int64
          required: false
      responses:
        200:
          description: >
            List of rows matching the query result. queryMetadata contains
            the workspaceDatabaaseId (for post-processing) as well as the query actually
            executed (as a starting point for exploring manually in BigQuery).
          schema:
            "$ref": "#/definitions/WorkspaceAuditLogQueryResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebook-list":
    get:
      summary: Get details of Python files from google Bucket directory notebook
      description: 'Returns list of name and path of python files from google bucket,
        directory notebook.'
      operationId: getNoteBookList
      tags:
      - notebooks
      parameters:
      - in: path
        name: workspaceNamespace
        description: workspaceNamespace
        required: true
        type: string
      - in: path
        name: workspaceId
        description: workspaceId
        required: true
        type: string
      responses:
        200:
          description: List of files
          schema:
            type: array
            items:
              "$ref": "#/definitions/FileDetail"
        404:
          description: Workspace not found
          schema:
            "$ref": "#/definitions/ErrorResponse"
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/unsafe-self-bypass-access-requirements":
    post:
      tags:
        - userAdmin
      description: 'Updates the given user to bypass all access requirements'
      operationId: unsafeSelfBypassAccessRequirements
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
        403:
          description: Self bypass is disallowed in this environment
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/users/{usernameWithoutGsuiteDomain}/audit":
    get:
      tags:
        - userAdmin
      description: >
        Fetch audit logs involving this user as either a subject or object. Requires the
        RESEARCHER_DATA_VIEW authority.
      operationId: getAuditLogEntries
      parameters:
        - name: usernameWithoutGsuiteDomain
          in: path
          type: string
          required: true
          description: >
            Username of user, not including the environment-specific domain, e.g.
            "@fake-research-aou.org".
        - name: limit
          in: query
          type: integer
          required: false
          default: 100
          description: >
            Maximum number of entries to return, sorted by timestamp descending. This entry count
            also determines (in a less predictable way) how many bundled actions are in the
            response.
        - name: after
          description: >
            Earliest time matched by the query (inclusive). Epoch millis.

            Note that while Swagger allows a date-time formatted string query parameter,
            it appears Spring doesn't handle that well today. It gives the error message described
            at https://github.com/swagger-api/swagger-codegen/issues/4113.
          in: query
          type: integer
          format: int64
          required: false
          default: 0
        - name: before
          description: >
            Upper bound on timestamp of most recent result (exclusive). Specified as milliseconds
            since Epoch (though declared as a string). Defaults to current timestamp.
          in: query
          type: integer
          format: int64
          required: false
      responses:
        200:
          description: >
            List of rows matching the query result. queryMetadata contains
            the workspaceDatabaaseId (for post-processing) as well as the query actually
            executed (as a starting point for exploring manually in BigQuery).
          schema:
            "$ref": "#/definitions/UserAuditLogQueryResponse"
  "/v1/admin/users/updateAccount":
    post:
      tags:
        - userAdmin
      consumes:
        - application/json
      description: 'Updates a subset of a user''s account metadata, as defined by the AccountPropertyUpdate object.  Requires ACCESS_CONTROL_ADMIN authority.'
      parameters:
        - in: body
          name: request
          description: The admin edit request to perform on a user
          schema:
            "$ref": "#/definitions/AccountPropertyUpdate"
      operationId: updateAccountProperties
      responses:
        200:
          description: 'The user''s updated profile'
          schema:
            "$ref": "#/definitions/Profile"
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          schema:
            "$ref": "#/definitions/ErrorResponse"
        404:
          description: User associated with request could not be found
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/users/getUserByUsername":
    get:
      tags:
        - userAdmin
      description: 'Returns a user''s profile for review. Requires ACCESS_CONTROL_ADMIN authority.'
      parameters:
        - in: query
          name: username
          type: string
          required: true
      operationId: getUserByUsername
      responses:
        200:
          description: A user's profile
          schema:
            "$ref": "#/definitions/Profile"
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/users/list":
    get:
      tags:
      - userAdmin
      description: 'Returns a list of profiles for users to be reviewed. Requires
        ACCESS_CONTROL_ADMIN authority.'
      operationId: getAllUsers
      responses:
        200:
          description: A list of users
          schema:
            "$ref": "#/definitions/AdminUserListResponse"
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/users/batchSyncAccess":
    post:
      tags:
        - userAdmin
      consumes:
        - application/json
      description: 'Batch sync user access modules, asynchronously. This is a work around until SAM
      supports batch update. See https://broadworkbench.atlassian.net/browse/CA-1504'
      parameters:
        - in: body
          name: request
          schema:
            "$ref": "#/definitions/BatchSyncAccessRequest"
      operationId: batchSyncAccess
      responses:
        200:
          description: 'The user''s updated profile'
          schema:
            "$ref": "#/definitions/BatchSyncAccessResponse"
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/workspaces/{workspaceNamespace}/locked":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
    post:
      tags:
        - workspaceAdmin
      consumes:
        - application/json
      description: Set admin locked state for the workspace
      operationId: setAdminLockedState
      parameters:
        - in: body
          name: AdminLockingRequest
          required: true
          schema:
            type: object
            required:
              - requestReason
              - requestDateInMillis
            properties:
              requestReason:
                type: string
              requestDateInMillis:
                type: integer
                format: int64
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
        400:
          description: Bad request
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/workspaces/{workspaceNamespace}/unlocked":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
    post:
      tags:
        - workspaceAdmin
      description: Set admin unlocked state for the workspace
      operationId: setAdminUnlockedState
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"

  "/v1/admin/workspaces/{workspaceNamespace}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    get:
      tags:
      - workspaceAdmin
      description: 'Given a workspace namespace (Google Cloud Platform  Project ID),
        returns workspace details. Requires the RESEARCHER_DATA_VIEW authority.'
      operationId: getWorkspaceAdminView
      responses:
        200:
          description: Federated details about the workspace.
          schema:
            "$ref": "#/definitions/WorkspaceAdminView"
        404:
          description: Workspace not found for namespace
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/workspaces/{workspaceNamespace}/cloudStorageTraffic":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    get:
      tags:
      - workspaceAdmin
      description: 'Returns a time series of cloud storage traffic for the given project.
        Requires the RESEARCHER_DATA_VIEW authority.'
      operationId: getCloudStorageTraffic
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/CloudStorageTraffic"
  "/v1/admin/workspaces/{workspaceNamespace}/notebooks/{notebookName}/readonly":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
    post:
      tags:
        - workspaceAdmin
      description: Get the HTML for a read only view of the notebook. RESEARCHER_DATA_VIEW authority required.
      operationId: adminReadOnlyNotebook
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      - in: body
        name: accessReason
        required: true
        schema:
          "$ref": "#/definitions/AccessReason"
      responses:
        200:
          description: HTML Read Only version of the notebook
          schema:
            "$ref": "#/definitions/ReadOnlyNotebookResponse"
  "/v1/admin/workspaces/{workspaceNamespace}/files":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
    get:
      tags:
        - workspaceAdmin
      description: >
        Get a list of files corresponding to the storage objects associated with the Workspace.
        RESEARCHER_DATA_VIEW authority required.
      operationId: listFiles
      responses:
        200:
          description: List of files in this Workspace's storage bucket
          schema:
            type: array
            items:
              "$ref": "#/definitions/FileDetail"

  "/v1/admin/egressEvents":
    post:
      tags:
        - egressEventsAdmin
      description: >
        Administrative API to receive a paginated list of egress events. Optionally
        filtered by different criteria.
      operationId: listEgressEvents
      parameters:
        - in: body
          name: request
          schema:
            "$ref": "#/definitions/ListEgressEventsRequest"
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/ListEgressEventsResponse"
  "/v1/admin/egressEvents/{id}":
    patch:
      tags:
        - egressEventsAdmin
      description: >
        Administrative API to update an egress event. Currently, only the
        following fields can be updated - all other fields are ignored:
          - status (REMEDIATED or VERIFIED_FALSE_POSITIVE)
      operationId: updateEgressEvent
      parameters:
        - in: path
          name: id
          description: The egress event ID
          required: true
          type: string
        - in: body
          name: request
          schema:
            "$ref": "#/definitions/UpdateEgressEventRequest"
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EgressEvent"
  "/v1/admin/egressEvents/{id}/audit":
    post:
      tags:
        - egressEventsAdmin
      description: >
        Administrative API to get audit details for an egress event.
      operationId: auditEgressEvent
      parameters:
        - in: path
          name: id
          description: The egress event ID
          required: true
          type: string
        - in: body
          description: Empty request object included for future extension.
          name: request
          schema:
            "$ref": "#/definitions/AuditEgressEventRequest"
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/AuditEgressEventResponse"
  "/v1/admin/sumo/egressEvent":
    post:
      tags:
      - sumoLogic
      description: 'Registers an egress event detected by SumoLogic with the Workbench.
        Forwards the event to Stackdriver for recording and potential alerting.'
      operationId: logEgressEvent
      security: []
      parameters:
      - in: body
        name: request
        description: Egress event request
        schema:
          "$ref": "#/definitions/SumologicEgressEventRequest"
      - in: header
        name: X-API-KEY
        description: 'Semi-secret API key sent by SumoLogic. This will be checked
          against the set of valid API keys stored in the per-environment credentials
          bucket.'
        required: true
        type: string
      responses:
        204:
          description: The egress event was successfully handled.
  "/v1/cron/checkRuntimes":
    get:
      security: []
      tags:
      - offlineRuntime
      - cron
      description: 'Endpoint meant to be called offline to trigger runtime checks
        and cleanup. Enforces upgrades for older runtime deployments. May be slow
        to execute. Only executable via App Engine cronjob.'
      operationId: checkRuntimes
      responses:
        204:
          description: Runtimes were checked and handled successfully.
  "/v1/cron/checkPersistentDisks":
    get:
      security: []
      tags:
      - offlineRuntime
      - cron
      description: 'Endpoint meant to be called offline to check for old / detached persistent disks.
        Notifies workspace owners at configurable intervals about old disks. Only executable via App Engine cronjob.
        Note: rerunning this out of band may result in the sending of duplicate emails.'
      operationId: checkPersistentDisks
      responses:
        204:
          description: Disks were checked and handled successfully.
  "/v1/cron/bulkAuditProjectAccess":
    get:
      security: []
      tags:
      - offlineUser
      - cron
      description: Audits project access for all users
      operationId: bulkAuditProjectAccess
      responses:
        204:
          description: All users' project access were audited.
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/exportToRdr":
    get:
      security: []
      tags:
      - offlineRdrExport
      - cron
      description: Send workbench data to RDR
      operationId: exportData
      responses:
        204:
          description: All modified/created workspaces and users were exported
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/checkFreeTierBillingUsage":
    get:
      security: []
      tags:
      - offlineBilling
      - cron
      description: Find and alert users that have exceeded their free tier billing
        usage
      operationId: checkFreeTierBillingUsage
      responses:
        204:
          description: No Error
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/synchronizeUserAccess":
    get:
      security: []
      tags:
      - offlineUser
      - cron
      description: >
        Check each user to ensure they still meet compliance guidelines. 
        If they do not, remove them from access tiers.
      operationId: synchronizeUserAccess
      responses:
        204:
          description: No Error
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/sendAccessExpirationEmails":
    get:
      security: []
      tags:
        - offlineUser
        - cron
      description: Check each user daily for access expiration (or approaching expiration) and
        send expiration or warning emails as appropriate.
      operationId: sendAccessExpirationEmails
      responses:
        204:
          description: No Error
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/monitoring/updateGaugeMetrics":
    get:
      tags:
      - offlineMonitoring
      - cron
      description: Trigger recording of all gauge metrics
      operationId: updateGaugeMetrics
      security: []
      responses:
        204:
          description: No content
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"

  "/v1/cron/uploadReportingSnapshot":
    get:
      tags:
        - offlineReporting
        - cron
      description: >
        Capture a reporting snapshot and begin the upload task to BigQuery reporting dataset.
      operationId: uploadReportingSnapshot
      security: []
      responses:
        204:
          description: No content
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/updateResearchPurposeReviewPrompt":
    get:
      tags:
      - offlineWorkspace
      - cron
      description: Show review research prompt if Workspace has been created 15 days/an year earlier
      operationId: updateResearchPurposeReviewPrompt
      security: []
      responses:
        204:
          description: No content
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/checkPendingEgressEvents":
    get:
      security: []
      tags:
      - offlineEgress
      - cron
      description: 'Endpoint meant to be called offline to trigger re-enqueueing of any pending
        egress events. Only executable via App Engine cronjob.'
      operationId: checkPendingEgressEvents
      responses:
        204:
          description: No content.
  "/v1/cron/checkObjectNameSize":
    get:
      security: []
      tags:
      - offlineObjectNameSize
      - cron
      description: ''
      operationId: checkObjectNameSize
      responses:
        204:
          description: No content.
  "/v1/cron/ensureTestUserTosCompliance":
    get:
      security: []
      tags:
        - offlineTestUsers
        - cron
      description: "Keep test users' TOS compliance statuses in the appropriate states"
      operationId: ensureTestUserTosCompliance
      responses:
        204:
          description: No content.
  "/v1/cron/emailNewUserSatisfactionSurveyLinks":
    get:
      security: []
      tags:
      - offlineNewUserSatisfactionSurvey
      - cron
      description: Email newly eligible users a link to take the new user satisfaction survey.
      operationId: emailNewUserSatisfactionSurveyLinks
      responses:
        204:
          description: No content.
  "/v1/cron/deleteTestUserWorkspaces":
    get:
      security: []
      tags:
        - offlineTestUsers
        - cron
      description: "Delete all test users' workspaces"
      operationId: deleteAllTestUserWorkspaces
      responses:
        204:
          description: No content.
  "/v1/cron/deleteTestUserWorkspacesOrphanedInRawls":
    get:
      security: []
      tags:
        - offlineTestUsers
        - cron
      description: "Delete all test users' workspaces from Rawls"
      operationId: deleteAllTestUserWorkspacesOrphanedInRawls
      responses:
        204:
          description: No content.

  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/readonly":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - notebooks
      description: Get the HTML for a read only view of the notebook
      operationId: readOnlyNotebook
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      responses:
        200:
          description: HTML Read Only version of the notebook
          schema:
            "$ref": "#/definitions/ReadOnlyNotebookResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/rename":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - notebooks
      consumes:
      - application/json
      description: Renames specified notebook
      operationId: renameNotebook
      parameters:
      - in: body
        name: NotebookRename
        description: new name for notebook
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
            newName:
              type: string
      responses:
        200:
          description: Successful rename
          schema:
            "$ref": "#/definitions/FileDetail"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/duplicate":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - notebooks
      description: Duplicates specified notebook
      operationId: cloneNotebook
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      responses:
        200:
          description: Successful duplicate
          schema:
            "$ref": "#/definitions/FileDetail"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/copy":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - in: path
      name: notebookName
      required: true
      type: string
    post:
      tags:
      - notebooks
      description: Copy specified notebook in path to specified workspace in body
      operationId: copyNotebook
      parameters:
      - in: body
        name: copyNotebookRequest
        required: true
        schema:
          "$ref": "#/definitions/CopyRequest"
      responses:
        200:
          description: Successful copy
          schema:
            "$ref": "#/definitions/FileDetail"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/kernel":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
    get:
      tags:
        - notebooks
      description: Get Kernel Type of notebook
      operationId: getNotebookKernel
      parameters:
        - in: path
          name: notebookName
          required: true
          type: string
      responses:
        200:
          description: Kernel Type
          schema:
            "$ref": "#/definitions/KernelTypeResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/delete":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    delete:
      tags:
      - notebooks
      description: Deletes specified notebook
      operationId: deleteNotebook
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      responses:
        200:
          description: Successful delete
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/lockingMetadata":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - notebooks
      summary: Get the locking metadata for a notebook
      description: |
        Get the locking metadata for a notebook, if available.  If the notebook is not locked
        (e.g. at first creation) this may be empty.  Additionally, the caller of this endpoint
        may not have the appropriate permissions to determine who is locking this notebook.
        When this is the case, the lastLockedBy field is set to UNKNOWN.
      operationId: getNotebookLockingMetadata
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      responses:
        200:
          description: The locking metadata fields for the notebook
          schema:
            "$ref": "#/definitions/NotebookLockingMetadataResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - cohortReview
      description: Returns all cohort reviews in a workspace
      operationId: getCohortReviewsInWorkspace
      responses:
        200:
          description: A list of cohort definitions.
          schema:
            "$ref": "#/definitions/CohortReviewListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews/{cohortId}":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: path
        name: cohortId
        type: integer
        format: int64
        required: true
        description: cohort primary key
    get:
      tags:
        - cohortReview
      description: Returns all cohort reviews per cohortId
      operationId: getCohortReviewsByCohortId
      responses:
        200:
          description: A list of cohort reviews.
          schema:
            "$ref": "#/definitions/CohortReviewListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews/{cohortReviewId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - in: path
      name: cohortReviewId
      type: integer
      format: int64
      required: true
      description: specifies which cohort review
    patch:
      tags:
      - cohortReview
      consumes:
      - application/json
      description: 'Modifies the cohort review with the specified ID; fields that
        are omitted will not be modified'
      operationId: updateCohortReview
      parameters:
      - in: body
        name: cohortReview
        description: cohort review
        schema:
          "$ref": "#/definitions/CohortReview"
      responses:
        200:
          description: The updated cohort review
          schema:
            "$ref": "#/definitions/CohortReview"
    delete:
      tags:
      - cohortReview
      description: Deletes the cohort review with the specified ID
      operationId: deleteCohortReview
      responses:
        202:
          description: ACCEPTED
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - cohorts
      description: Returns all cohort definitions in a workspace
      operationId: getCohortsInWorkspace
      responses:
        200:
          description: A list of cohort definitions.
          schema:
            "$ref": "#/definitions/CohortListResponse"
    post:
      tags:
      - cohorts
      consumes:
      - application/json
      description: Creates a cohort definition in a workspace.
      operationId: createCohort
      parameters:
      - in: body
        name: cohort
        description: cohort definition
        schema:
          "$ref": "#/definitions/Cohort"
      responses:
        200:
          description: The cohort definition that was created.
          schema:
            "$ref": "#/definitions/Cohort"
        400:
          description: Bad Request. Cohort name already exists
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/duplicate":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - cohorts
      description: Creates a duplicate of the cohort specified by cohortId
      operationId: duplicateCohort
      parameters:
      - in: body
        name: DuplicateCohortRequest
        description: Duplicate Cohort Request
        schema:
          "$ref": "#/definitions/DuplicateCohortRequest"
      responses:
        200:
          description: The cohort definition that was created.
          schema:
            "$ref": "#/definitions/Cohort"
        400:
          description: Bad Request. Cohort name already exists
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/{cohortId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortId"
    get:
      tags:
      - cohorts
      description: Returns the cohort definition with the specified ID
      operationId: getCohort
      responses:
        200:
          description: A cohort definition
          schema:
            "$ref": "#/definitions/Cohort"
    patch:
      tags:
      - cohorts
      consumes:
      - application/json
      description: 'Modifies the cohort definition with the specified ID; fields that
        are omitted will not be modified'
      operationId: updateCohort
      parameters:
      - in: body
        name: cohort
        description: cohort definition
        schema:
          "$ref": "#/definitions/Cohort"
      responses:
        200:
          description: The updated cohort definition
          schema:
            "$ref": "#/definitions/Cohort"
    delete:
      tags:
      - cohorts
      description: Deletes the cohort definition with the specified ID
      operationId: deleteCohort
      responses:
        202:
          description: ACCEPTED
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/user-recent-resources":
    get:
      tags:
      - userMetrics
      description: Returns the resources accessed by user order by access time desc
      operationId: getUserRecentResources
      responses:
        200:
          description: A list of resources order by last access time desc order
          schema:
            "$ref": "#/definitions/WorkspaceResourceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/update":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - userMetrics
      consumes:
      - application/json
      description: Add/update user recent resource
      operationId: updateRecentResource
      parameters:
      - in: body
        name: RecentResourceRequest
        description: request object for updating recent resource
        required: true
        schema:
          "$ref": "#/definitions/RecentResourceRequest"
      x-aou-note: |
        this response type is currently only ever used by Notebooks because other
        resources are stored in our db, and therefore cache ops are
        done for them in the backend
      responses:
        200:
          description: Successfully added/updated
          schema:
            "$ref": "#/definitions/WorkspaceResource"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/delete":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    delete:
      tags:
      - userMetrics
      description: Deletes entry from recent resource
      operationId: deleteRecentResource
      parameters:
      - in: body
        name: RecentResourceRequest
        description: request object for updating recent resource
        required: true
        schema:
          "$ref": "#/definitions/RecentResourceRequest"
      responses:
        200:
          description: Successfully deleted
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/user-recent-workspaces":
    get:
      tags:
      - workspaces
      description: Returns the workspaces edited by the user in descending order of
        update time
      operationId: getUserRecentWorkspaces
      responses:
        200:
          description: A list of workspaces order by last-updated time in descending
            order
          schema:
            "$ref": "#/definitions/RecentWorkspaceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-workspaces/update":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      description: Add/update user recent workspaces
      operationId: updateRecentWorkspaces
      responses:
        200:
          description: Successfully added/updated
          schema:
            "$ref": "#/definitions/RecentWorkspaceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - conceptSets
      description: Returns all concept sets in a workspace
      operationId: getConceptSetsInWorkspace
      responses:
        200:
          description: A list of concept sets.
          schema:
            "$ref": "#/definitions/ConceptSetListResponse"
    post:
      tags:
      - conceptSets
      consumes:
      - application/json
      description: Creates a concept set in a workspace.
      operationId: createConceptSet
      parameters:
      - in: body
        name: request
        description: create concept set request
        schema:
          "$ref": "#/definitions/CreateConceptSetRequest"
      responses:
        200:
          description: The concept set that was created.
          schema:
            "$ref": "#/definitions/ConceptSet"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/conceptSetId"
    get:
      tags:
      - conceptSets
      description: Returns the concept set definition with the specified ID
      operationId: getConceptSet
      responses:
        200:
          description: A concept set definition
          schema:
            "$ref": "#/definitions/ConceptSet"
    patch:
      tags:
      - conceptSets
      consumes:
      - application/json
      description: 'Modifies the name or description of the concept set with the specified
        ID; fields that are omitted will not be modified'
      operationId: updateConceptSet
      parameters:
      - in: body
        name: conceptSet
        description: concept set definition
        schema:
          "$ref": "#/definitions/ConceptSet"
      responses:
        200:
          description: The updated concept set.
          schema:
            "$ref": "#/definitions/ConceptSet"
    delete:
      tags:
      - conceptSets
      description: Deletes the concept set with the specified ID
      operationId: deleteConceptSet
      responses:
        202:
          description: ACCEPTED
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}/concept-count":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/conceptSetId"
    get:
      tags:
      - conceptSets
      description: The number of concepts in this concept-set.
      operationId: countConceptsInConceptSet
      responses:
        200:
          description: A count of concepts
          schema:
            type: integer
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}/concepts":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/conceptSetId"
    post:
      tags:
      - conceptSets
      consumes:
      - application/json
      description: 'Adds or removes concepts from the concept set.'
      operationId: updateConceptSetConcepts
      parameters:
      - in: body
        name: request
        description: update concept set request
        schema:
          "$ref": "#/definitions/UpdateConceptSetRequest"
      responses:
        200:
          description: The updated concept set.
          schema:
            "$ref": "#/definitions/ConceptSet"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}/copy":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - in: path
      name: conceptSetId
      required: true
      type: string
    post:
      tags:
      - conceptSets
      description: Copy specified concept set in path to specified workspace in body
      operationId: copyConceptSet
      parameters:
      - in: body
        name: copyConceptSetRequest
        required: true
        schema:
          "$ref": "#/definitions/CopyRequest"
      responses:
        200:
          description: Successful copy
          schema:
            "$ref": "#/definitions/ConceptSet"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/generateCode/{kernelType}":
    post:
      tags:
        - dataSet
      description: 'Given a Data Set, return the SQL query built from it.'
      operationId: generateCode
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - "$ref": "#/parameters/workspaceId"
        - in: path
          name: kernelType
          required: true
          type: string
        - in: body
          name: dataSet
          required: true
          schema:
            "$ref": "#/definitions/DataSetRequest"
      responses:
        200:
          description: 'A SQL query for each domain in the Data Set'
          schema:
            "$ref": "#/definitions/DataSetCodeResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/data-sets":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - dataSet
      description: 'Creates Data Set'
      operationId: createDataSet
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: dataSetRequest
        required: true
        schema:
          "$ref": "#/definitions/DataSetRequest"
      responses:
        200:
          description: Data set has been created successfully
          schema:
            "$ref": "#/definitions/DataSet"
        400:
          description: Invalid data set request
          schema:
            "$ref": "#/definitions/ErrorResponse"
        409:
          description: Data Set with the same name already exists
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/{workspaceNamespace}/{workspaceId}/data-sets/{dataSetId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/dataSetId"
    get:
      tags:
      - dataSet
      operationId: getDataSet
      responses:
        200:
          description: The data set with the specified ID
          schema:
            "$ref": "#/definitions/DataSet"
    patch:
      tags:
      - dataSet
      consumes:
      - application/json
      operationId: updateDataSet
      parameters:
      - in: body
        name: dataSet
        description: data set definition
        schema:
          "$ref": "#/definitions/DataSetRequest"
      responses:
        200:
          description: The updated data set.
          schema:
            "$ref": "#/definitions/DataSet"
        404:
          description: Data set to update does not exist.
          schema:
            "$ref": "#/definitions/DataSet"
        409:
          description: Data Set with the same name already exists
          schema:
            "$ref": "#/definitions/ErrorResponse"
    delete:
      tags:
      - dataSet
      description: Deletes the data set with the specified ID
      operationId: deleteDataSet
      responses:
        202:
          description: ACCEPTED
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/{workspaceNamespace}/{workspaceId}/data-sets/dataSetByResourceId":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      parameters:
      - in: body
        name: resourceType
        required: true
        schema:
          "$ref": "#/definitions/ResourceType"
      - in: query
        name: id
        type: integer
        format: int64
        required: true
      tags:
      - dataSet
      operationId: getDataSetByResourceId
      responses:
        200:
          description: A list of data sets containg cohort/concept Id passed.
          schema:
            "$ref": "#/definitions/DataSetListResponse"
  "/v1/{cdrVersionId}/dataDictionaryEntry/{domain}/{value}":
    get:
      parameters:
      - in: path
        name: cdrVersionId
        type: integer
        format: int64
        required: true
      - in: path
        name: domain
        required: true
        type: string
      - in: path
        name: value
        type: string
        required: true
      tags:
      - dataSet
      operationId: getDataDictionaryEntry
      responses:
        200:
          description: Detailed definition of a given domain value for the specified
            CDR Version
          schema:
            "$ref": "#/definitions/DataDictionaryEntry"
  "/v1/{workspaceNamespace}/{workspaceId}/data-set/markDirty":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      parameters:
      - in: body
        name: markDataSetRequest
        schema:
          "$ref": "#/definitions/MarkDataSetRequest"
      tags:
      - dataSet
      operationId: markDirty
      responses:
        200:
          description: Mark all dataset with cohort/concept id as dirty
          schema:
            type: boolean
            default: false
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/genomicExtractionJobs":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
    get:
      tags:
        - dataSet
      description: 'Retrieve Job details for given ID.
       Requires READER access on the workspace.'
      operationId: getGenomicExtractionJobs
      responses:
        200:
          description: The Terra Job for the extraction workflow
          schema:
            "$ref": "#/definitions/GenomicExtractionJobListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/datasets/{dataSetId}/extractGenomicData":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - "$ref": "#/parameters/dataSetId"
    post:
      tags:
        - dataSet
      description: 'Initiates a Terra Cromwell job to extract genomes of the given dataset.
        Requires WRITER access on the workspace.
        Workspace CDR must also have an associated WGS dataset'
      operationId: extractGenomicData
      responses:
        200:
          description: The Terra Job for the extraction workflow
          schema:
            "$ref": "#/definitions/GenomicExtractionJob"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/genomicExtractionJobs/{jobId}/abort":
    post:
      parameters:
        - in: path
          name: workspaceNamespace
          description: workspaceNamespace
          required: true
          type: string
        - in: path
          name: workspaceId
          description: workspaceId
          required: true
          type: string
        - in: path
          name: jobId
          type: string
          required: true
      tags:
        - dataSet
      description: 'Aborts a running genome extract job. Requires WRITER access on the workspace.
        Workspace CDR must also have access to a Wgs dataset'
      operationId: abortGenomicExtractionJob
      responses:
        204:
          description: Successful request
          schema:
            $ref: '#/definitions/EmptyResponse'
        404:
          description: Submission not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Internal Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  "/v1/{workspaceNamespace}/{workspaceId}/data-set/exportToNotebook":
    post:
      tags:
      - dataSet
      description: 'Exports a data set query to a notebook'
      operationId: exportToNotebook
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: dataSetExportRequest
        required: true
        schema:
          "$ref": "#/definitions/DataSetExportRequest"
      responses:
        200:
          description: Data set has been exported correctly
          schema:
            "$ref": "#/definitions/EmptyResponse"
        400:
          description: Invalid data set request
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/{workspaceNamespace}/{workspaceId}/data-set/exportToNotebook/preview":
    post:
      tags:
        - dataSet
      description: 'Preview notebook code generation'
      operationId: previewExportToNotebook
      parameters:
        - "$ref": "#/parameters/workspaceNamespace"
        - "$ref": "#/parameters/workspaceId"
        - in: body
          name: dataSetExportRequest
          required: true
          schema:
            "$ref": "#/definitions/DataSetExportRequest"
      responses:
        200:
          description: HTML Read Only version of the the notebook cells to be exported
          schema:
            "$ref": "#/definitions/ReadOnlyNotebookResponse"
        400:
          description: Invalid data set export request
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/preview":
    post:
      tags:
      - dataSet
      description: 'Preview data set'
      operationId: previewDataSetByDomain
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: dataSetPreviewRequest
        required: true
        schema:
          "$ref": "#/definitions/DataSetPreviewRequest"
      responses:
        200:
          description: 'A SQL query for each domain in the Data Set'
          schema:
            "$ref": "#/definitions/DataSetPreviewResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/concept-sets/domainValues/{domain}":
    get:
      tags:
      - dataSet
      description: 'Returns all column names/values for a given domain.'
      operationId: getValuesFromDomain
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: query
        name: conceptSetId
        required: false
        type: integer
        format: int64
      - in: path
        name: domain
        required: true
        type: string
      responses:
        200:
          description: the values/column names in the domain.
          schema:
            "$ref": "#/definitions/DomainValuesResponse"
  "/v1/cloudTask/exportResearcherData":
    x-aou-note: |
      Endpoints for task in cloud task queue
      Note: all requests tagged as "cloudTask" must have the header X-AppEngine-QueueName:
      to the queue name, which app engine itself only sets (and overrides internally) when invoking
      cloud task. See
      https://cloud.google.com/tasks/docs/creating-appengine-handlers#reading_app_engine_task_request_headers
      and o.p.w.interceptors.CloudTaskInterceptor which implements the header check.

      Using body parameter ref ArrayOfLong instead of defining array of type long here because of
      bug in swagger version 2.3.0 https://github.com/swagger-api/swagger-codegen/issues/6745.2.2.3
    post:
      tags:
      - cloudTaskRdrExport
      - cloudTask
      security: []
      description: 'Task handler which handle request from cloud task queue rdrQueueTest
        to send Researcher data'
      operationId: exportResearcherData
      consumes:
      - application/json
      parameters:
      - in: query
        name: backfill
        type: boolean
        required: false
      - in: body
        name: researcherIds
        required: true
        description: The IDs of Users to be exported to Rdr.
        schema:
          "$ref": "#/definitions/ArrayOfLong"
      responses:
        200:
          description: 'A SQL query for each domain in the Data Set'
  "/v1/cloudTask/exportWorkspaceData":
    post:
      tags:
      - cloudTaskRdrExport
      - cloudTask
      security: []
      description: 'Task handler which handle request from cloud task queue rdrQueueTest
        to send Workspace data'
      operationId: exportWorkspaceData
      parameters:
      - in: query
        name: backfill
        type: boolean
        required: false
      - in: body
        name: researchIds
        required: true
        description: The IDs of workspace to be exported to Rdr.
        schema:
          "$ref": "#/definitions/ArrayOfLong"
      responses:
        200:
          description: 'A SQL query for each domain in the Data Set'
  "/v1/cloudTask/auditProjectAccess":
    post:
      tags:
      - cloudTaskUser
      - cloudTask
      security: []
      description: "Audits the provided user's access to GCP resources"
      operationId: auditProjectAccess
      consumes:
      - application/json
      parameters:
      - in: body
        name: request
        required: true
        description: Audit configuration to run.
        schema:
          "$ref": "#/definitions/AuditProjectAccessRequest"
      responses:
        200:
          description: 'Audit ran successfully (possibly with audit findings)'
  "/v1/cloudTask/synchronizeUserAccess":
    post:
      tags:
      - cloudTaskUser
      - cloudTask
      security: []
      description: >
        Check each user to ensure they still meet compliance guidelines. 
        If they do not, remove them from access tiers.
      operationId: synchronizeUserAccess
      consumes:
      - application/json
      parameters:
      - in: body
        name: request
        required: true
        description: Users to synchronize.
        schema:
          "$ref": "#/definitions/SynchronizeUserAccessRequest"
      responses:
        200:
          description: 'User synchronization ran successfully'
  "/v1/cloudTask/processEgressEvent":
    post:
      tags:
      - cloudTaskEgress
      - cloudTask
      security: []
      description: "Processes and remediates the given PENDING egress event"
      operationId: processEgressEvent
      consumes:
      - application/json
      parameters:
      - in: body
        name: request
        required: true
        description: Event to be processed.
        schema:
          "$ref": "#/definitions/ProcessEgressEventRequest"
      responses:
        200:
          description: 'Egress event processed successfully'
  "/v1/cloudTask/createWorkspace":
    post:
      tags:
      - workspaces
      - cloudTask
      description: >
        Asynchronously creates a workspace. Note: unlike other cloud tasks,
        this task requires passing along the user's auth credential header.
      operationId: processCreateWorkspaceTask
      consumes:
      - application/json
      parameters:
      - in: body
        name: request
        required: true
        description: Workspace creation task to process.
        schema:
          "$ref": "#/definitions/CreateWorkspaceTaskRequest"
      responses:
        200:
          description: 'Workspace created'
  "/v1/cloudTask/duplicateWorkspace":
    post:
      tags:
        - workspaces
        - cloudTask
      description: >
        Asynchronously duplicates a workspace. Note: unlike other cloud tasks,
        this task requires passing along the user's auth credential header.
      operationId: processDuplicateWorkspaceTask
      consumes:
        - application/json
      parameters:
        - in: body
          name: request
          required: true
          description: Workspace duplication task to process.
          schema:
            "$ref": "#/definitions/DuplicateWorkspaceTaskRequest"
      responses:
        200:
          description: 'Workspace created'
  "/v1/cloudTask/deleteTestUserWorkspaces":
    post:
      security: []
      tags:
        - cloudTaskWorkspaces
        - cloudTask
      description: Deletes the requested test user workspaces.
      operationId: deleteTestUserWorkspaces
      consumes:
        - application/json
      parameters:
        - in: body
          name: request
          required: true
          description: Batch of workspace deletions to process.
          schema:
            "$ref": "#/definitions/DeleteTestUserWorkspacesRequest"
      responses:
        200:
          description: 'Workspaces deleted'
  "/v1/cloudTask/deleteTestUserWorkspacesInRawls":
    post:
      security: []
      tags:
        - cloudTaskWorkspaces
        - cloudTask
      description: >
[...]
