---
swagger: '2.0'
x-aou-note: |
  This file is for endpoints we do NOT intend to generate client libraries for
  and advertise to notebook developers. Endpoints we DO want notebook developers to use should
  go in client_api.yaml.

  This file references parameters, paths, and definitions specified in
  client_api.yaml; the two files get merged together into a merged.yaml file at build time.

  If validation fails, gradle:generateApi fails claiming this file does not exist.

  For separate validation (with some false positives), do:
  ./project.rb validate-swagger
info:
  version: 0.1.0
  title: AllOfUs Workbench API
  description: |
    The API for the AllOfUs workbench.

    Throughout, we use integer/int64 in preference to string/date-time because Swagger's
    date formatting is inconsistent between server and client. Time values are stored as
    milliseconds since the UNIX epoch.

    Note: all requests tagged as "cron" must have the header X-Appengine-Cron:
    true, which app engine itself only sets when invoking as a cronjob.
    See https://cloud.google.com/appengine/docs/standard/java/config/cron#securing_urls_for_cron
    and o.p.w.interceptors.CronInterceptor which implements the header check.
  termsOfService: http://www.pmi-ops.org/terms_of_service.html
  contact:
    name: developer_help@pmi-ops.org
  license:
    name: BSD
host: api.pmi-ops.org
securityDefinitions:
  aou_oauth:
    x-aou-note: |
      Establish the fact that *some endpoints* are OAuth protected
      by defining an `aou_oauth` security mode, which we'll assigning
      to any protected endpoints below.

      TODO: Vet/fix this token and/or authorization URL to work in practice.
      These are currently included simply to satisfy the Swagger specification,
      as this is not directly used to dictate oauth details (just used to
      annotate which methods require oauth).

      The aou_auth entry under security (below) serves to establish the fact
      that all endpoints are protected: this annotation ensures that client
      libraries know to send bearer tokens when calling
    authorizationUrl: ''
    tokenUrl: ''
    type: oauth2
    flow: accessCode
schemes:
- https
produces:
- application/json
security:
- aou_oauth: []
parameters:
  userId:
    in: path
    name: userId
    type: integer
    format: int64
    required: true
  conceptSetId:
    in: path
    name: conceptSetId
    type: integer
    format: int64
    required: true
    description: Concept set ID
  dataSetId:
    in: path
    name: dataSetId
    type: integer
    format: int64
    required: true
    description: Data set ID
  workspaceNamespace:
    in: path
    name: workspaceNamespace
    type: string
    description: The Workspace namespace
    required: true
  workspaceId:
    in: path
    name: workspaceId
    type: string
    description: The Workspace ID (a.k.a. the workspace's Firecloud name)
    required: true
  cohortId:
    in: path
    name: cohortId
    type: integer
    format: int64
    required: true
    description: Cohort ID
  cohortReviewId:
    in: path
    name: cohortReviewId
    type: integer
    format: int64
    required: true
    description: Cohort Review ID
  cdrVersionId:
    in: path
    name: cdrVersionId
    type: integer
    format: int64
    required: true
    description: specifies which cdr version
  participantId:
    in: path
    name: participantId
    type: integer
    format: int64
    required: true
    description: specifies which participant
paths:
  "/v1/status":
    get:
      tags:
      - status
      description: Returns the status of the various services and integrations
      operationId: getStatus
      security: []
      responses:
        200:
          description: A map of system name to status.
          schema:
            "$ref": "#/definitions/StatusResponse"
  "/v1/config":
    get:
      tags:
      - config
      description: Returns some server configuration data.
      operationId: getConfig
      security: []
      responses:
        200:
          description: Configuration data
          schema:
            "$ref": "#/definitions/ConfigResponse"
  "/v1/featured-workspace-config":
    get:
      tags:
      - featured-workspaces-config
      description: Returns the featured workspaces config
      operationId: getFeaturedWorkspacesConfig
      security: []
      responses:
        200:
          description: List of featured workspaces
          schema:
            "$ref": "#/definitions/FeaturedWorkspacesConfigResponse"
  "/v1/cdrVersions":
    get:
      tags:
      - cdrVersions
      description: Returns all curated data repository (CDR) versions that the user
        has access to
      operationId: getCdrVersions
      responses:
        200:
          description: A list of CDR versions.
          schema:
            "$ref": "#/definitions/CdrVersionListResponse"
  "/v1/status-alert":
    get:
      tags:
      - status-alert
      description: Returns status alert information if any exists.
      operationId: getStatusAlert
      responses:
        200:
          description: 'A status alert information object.'
          schema:
            "$ref": "#/definitions/StatusAlert"
    post:
      tags:
      - status-alert
      description: Pushes new status alert information to all users
      operationId: postStatusAlert
      parameters:
      - in: body
        name: statusAlert
        description: the new status alert to use
        schema:
          "$ref": "#/definitions/StatusAlert"
      responses:
        200:
          description: 'A status alert information object.'
          schema:
            "$ref": "#/definitions/StatusAlert"
  "/v1/profile":
    get:
      tags:
      - profile
      description: Returns the user's profile information
      operationId: getMe
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
    patch:
      tags:
      - profile
      consumes:
      - application/json
      description: Updates a users profile
      operationId: updateProfile
      parameters:
      - in: body
        name: updatedProfile
        description: the new profile to use
        schema:
          "$ref": "#/definitions/Profile"
      responses:
        204:
          description: Request received.
        400:
          description: Bad request
          schema:
            "$ref": "#/definitions/ErrorResponse"
    delete:
      tags:
      - profile
      description: Deletes the user's profile and gsuite account, does not clean up
        in firecloud.
      operationId: deleteProfile
      responses:
        204:
          description: Request Received.
  "/v1/is-username-taken":
    get:
      tags:
      - profile
      description: Checks to see if the given username is not available.
      operationId: isUsernameTaken
      security: []
      parameters:
      - in: query
        name: username
        type: string
        required: true
      responses:
        200:
          description: The answer.
          schema:
            "$ref": "#/definitions/UsernameTakenResponse"
  "/v1/update-contact-email":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Only for accounts that have not logged in yet, update contact email.
      operationId: updateContactEmail
      security: []
      parameters:
      - in: body
        name: updateContactEmailRequest
        schema:
          "$ref": "#/definitions/UpdateContactEmailRequest"
      responses:
        200:
          description: Contact Email Updated
        400:
          description: Invalid contact email address
        403:
          description: Unable to process this request
        500:
          description: Internal Server Error
  "/v1/resend-welcome-email":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Resend welcome email
      operationId: resendWelcomeEmail
      security: []
      parameters:
      - in: body
        name: resendWelcomeEmail
        schema:
          "$ref": "#/definitions/ResendWelcomeEmailRequest"
      responses:
        200:
          description: Welcome Email sent.
        500:
          description: Internal Server Error
  "/v1/invitation-key-verification":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Verifies invitation key.
      operationId: invitationKeyVerification
      security: []
      parameters:
      - in: body
        name: invitationVerificationRequest
        schema:
          "$ref": "#/definitions/InvitationVerificationRequest"
      responses:
        200:
          description: Invitation Key verified.
        400:
          description: Error occurred while verifying Invitation Key.
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/google-account":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Creates an account in the researchallofus.org domain.
      operationId: createAccount
      security: []
      parameters:
      - in: body
        name: createAccountRequest
        schema:
          "$ref": "#/definitions/CreateAccountRequest"
      responses:
        200:
          description: Account created successfully.
          schema:
            "$ref": "#/definitions/Profile"
        400:
          description: Error occurred while creating account.
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/beta-access":
    post:
      tags:
      - profile
      description: Request betaAccess.
      operationId: requestBetaAccess
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
  "/v1/update-nih-token":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Updates a users NIH token
      operationId: updateNihToken
      parameters:
      - in: body
        name: token
        description: the token retrieved from NIH
        schema:
          "$ref": "#/definitions/NihToken"
      responses:
        200:
          description: The user's updated profile.
          schema:
            "$ref": "#/definitions/Profile"
        400:
          description: Bad request
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/page-visits":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: Updates a users page visits
      operationId: updatePageVisits
      parameters:
      - in: body
        name: pageVisit
        description: the users pageVisits
        schema:
          "$ref": "#/definitions/PageVisit"
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
        400:
          description: Bad request
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/account/submit-data-use-agreement":
    post:
      tags:
      - profile
      description: Submits consent to the data use agreement for researchers.
      operationId: submitDataUseAgreement
      parameters:
      - in: query
        name: dataUseAgreementSignedVersion
        description: Version \# of the Data Use Agreement that was signed.
        type: integer
        required: true
      - in: query
        name: initials
        description: Initials of the user on the form.
        type: string
        required: true
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
  "/v1/account/sync-training-status":
    post:
      tags:
      - profile
      summary: Sync compliance training status
      description: Retrieves moodleId(either from DB or call from Moodle API) and
        gets Training status on the basis of that
      operationId: syncComplianceTrainingStatus
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
        404:
          description: User not found
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/account/sync-era-commons-status":
    post:
      tags:
      - profile
      summary: Sync eRA Commons status
      description: Retrieves and stores the current user's NIH / eRA Commons linkage
        status, fetched via the FireCloud API.
      operationId: syncEraCommonsStatus
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
        404:
          description: User not found
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/account/sync-two-factor-auth-status":
    post:
      tags:
      - profile
      summary: Sync two factor auth status
      description: Syncs a user's 2FA status from google
      operationId: syncTwoFactorAuthStatus
      responses:
        200:
          description: The user's profile.
          schema:
            "$ref": "#/definitions/Profile"
        404:
          description: User not found
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/auth-domain/{groupName}":
    post:
      tags:
      - authDomain
      description: This endpoint will create the registered auth domain.
      operationId: createAuthDomain
      parameters:
      - in: path
        name: groupName
        description: groupName
        required: true
        type: string
      responses:
        200:
          description: Successfully created group
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/auth-domain/users":
    post:
      tags:
      - authDomain
      consumes:
      - application/json
      responses:
        204:
          description: Successfully Updated User In Group
        403:
          description: You must be an admin of this group in order to enable/disable
            members
          schema:
            "$ref": "#/definitions/ErrorResponse"
        404:
          description: User not found
          schema:
            "$ref": "#/definitions/ErrorResponse"
        500:
          description: FireCloud Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
      parameters:
      - in: body
        name: request
        description: Request containing user email to update and a disabled status
          to update the user to.
        schema:
          "$ref": "#/definitions/UpdateUserDisabledRequest"
      summary: enable/disable a user to an auth domain if you have ID verification
        authority
      operationId: updateUserDisabledStatus
  "/v1/user/{term}":
    get:
      tags:
      - user
      description: Returns user information matching search terms
      operationId: user
      responses:
        200:
          description: The user information matching supplied search terms
          schema:
            "$ref": "#/definitions/UserResponse"
      parameters:
      - in: path
        name: term
        description: String to find in user's name or email address. Search is a case-insensitive
          substring match.
        required: true
        type: string
      - in: query
        name: pageToken
        description: 'Pagination token retrieved from a previous call to user; used
          for retrieving additional pages of results.

'
        type: string
        required: false
      - in: query
        name: pageSize
        description: 'Maximum number of results to return in a response. Defaults
          to 10.

'
        type: integer
        required: false
      - in: query
        name: sortOrder
        description: Sort order, either 'asc' or 'desc'. Defaults to 'asc' on the
          user's email.
        type: string
        required: false
  "/v1/user/billingAccounts":
    get:
      tags:
      - user
      description: Returns a list of billing accounts the caller can set a workspace's
        billing account to
      operationId: listBillingAccounts
      responses:
        200:
          description: List of billing accounts
          schema:
            "$ref": "#/definitions/WorkbenchListBillingAccountsResponse"
  "/v1/admin/security/clusters/{billingProjectId}/delete-clusters":
    post:
      summary: Delete specified (or all if no specified list) clusters in a project
      description: 'An admin gated endpoint that deletes given clusters in a given
        billing project.

'
      operationId: deleteClustersInProject
      tags:
      - cluster
      parameters:
      - in: path
        name: billingProjectId
        description: The unique identifier of the Google Billing Project containing
          the clusters
        required: true
        type: string
      - in: body
        name: clustersToDelete
        description: A list of names of clusters to delete. To delete all clusters,
          use an empty object, without providing a list property at all (e.g., {})
          An empty list will delete no clusters.
        required: true
        schema:
          "$ref": "#/definitions/ListClusterDeleteRequest"
      responses:
        200:
          description: Clusters deleted
          schema:
            type: array
            items:
              "$ref": "#/definitions/ListClusterResponse"
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/clusters/{workspaceNamespace}":
    get:
      summary: Get the user's workspace cluster.
      description: 'Returns the current user''s cluster, if any, which has been created
        for the given workspace.

'
      operationId: getCluster
      tags:
      - cluster
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      responses:
        200:
          description: The cluster for this user and workspace.
          schema:
            "$ref": "#/definitions/Cluster"
        404:
          description: No cluster exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
    post:
      summary: Create a workspace cluster.
      description: |
        Creates a new cluster for the current user in the given billing project. If a cluster already exists for the user in this billing project, a 409 conflict error is returned (even if the cluster is still initializing or is not in a ready state).
        TODO(RW-3697): Custom cluster creation params should be added as a body param here.
      operationId: createCluster
      tags:
      - cluster
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      responses:
        200:
          description: Returns the cluster that was created for this user and workspace.
          schema:
            "$ref": "#/definitions/Cluster"
        409:
          description: A cluster for this user and workspace already exists.
          schema:
            "$ref": "#/definitions/EmptyResponse"
    delete:
      summary: Delete a workspace cluster.
      description: 'TODO(RW-3695): updateCluster should be added as a PATCH endpoint
        here.

'
      operationId: deleteCluster
      tags:
      - cluster
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      responses:
        200:
          description: Success
          schema:
            "$ref": "#/definitions/EmptyResponse"
        404:
          description: No cluster exists for this user and workspace.
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/clusters/{workspaceNamespace}/localize":
    post:
      summary: Localize files to the user's cluster.
      description: 'Localizes files to the cluster for the current user and given
        workspace. As a side-effect, JSON workspace environment files will also be
        localized to the cluster.

'
      operationId: localize
      tags:
      - cluster
      consumes:
      - application/json
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - in: body
        name: body
        description: Localization request.
        schema:
          "$ref": "#/definitions/ClusterLocalizeRequest"
      responses:
        200:
          description: Success
          schema:
            "$ref": "#/definitions/ClusterLocalizeResponse"
        404:
          description: Cluster or Workspace not found
          schema:
            "$ref": "#/definitions/ErrorResponse"
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/billingProjects":
    get:
      tags:
      - profile
      operationId: getBillingProjects
      summary: List billing projects for a user
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/BillingProjectMembership"
        404:
          description: User Not Found
        500:
          description: Internal Server Error
  "/v1/workspaces":
    get:
      tags:
      - workspaces
      description: Returns all workspaces that a user has access to
      operationId: getWorkspaces
      responses:
        200:
          description: A list of workspace definitions.
          schema:
            "$ref": "#/definitions/WorkspaceResponseListResponse"
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: Creates a workspace
      operationId: createWorkspace
      parameters:
      - in: body
        name: workspace
        description: workspace definition
        schema:
          "$ref": "#/definitions/Workspace"
      responses:
        200:
          description: The workspace that was created.
          schema:
            "$ref": "#/definitions/Workspace"
  "/v1/workspaces/published":
    get:
      tags:
      - workspaces
      description: Returns a list of published workspaces
      operationId: getPublishedWorkspaces
      responses:
        200:
          description: A list of workspace definitions.
          schema:
            "$ref": "#/definitions/WorkspaceResponseListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - workspaces
      description: Returns the workspace definition with the specified ID and namespace
      operationId: getWorkspace
      responses:
        200:
          description: A workspace response containing workspace and access level
          schema:
            "$ref": "#/definitions/WorkspaceResponse"
    patch:
      tags:
      - workspaces
      consumes:
      - application/json
      description: 'Modifies the workspace definition with the specified ID and namespace;
        fields that are omitted will not be modified

'
      operationId: updateWorkspace
      parameters:
      - in: body
        name: workspace
        description: workspace definition
        schema:
          "$ref": "#/definitions/UpdateWorkspaceRequest"
      responses:
        200:
          description: The updated workspace definition
          schema:
            "$ref": "#/definitions/Workspace"
    delete:
      tags:
      - workspaces
      description: Deletes the workspace definition with the specified ID and namespace
      operationId: deleteWorkspace
      responses:
        202:
          description: Workspace deletion request accepted
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/billing-usage":
    parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - workspaces
      description: Gets the free tier billing spend for a specified workspace
      operationId: getBillingUsage
      responses:
        200:
          description: The billing usage for a workspace
          schema:
            "$ref":
              "#/definitions/WorkspaceBillingUsageResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/share":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: 'Shares a workspace with the given users and permissions. Note
        that the entire ACL must be provided to this method (including all existing
        users and roles), not just the additional roles desired. Clients should first
        fetch existing ACLs via the getFirecloudWorkspaceUserRoles method, make any
        changes desired, then pass the final list to this method.

'
      operationId: shareWorkspace
      parameters:
      - in: body
        name: body
        description: users to share the workspace with
        schema:
          "$ref": "#/definitions/ShareWorkspaceRequest"
      responses:
        200:
          description: Successful share response
          schema:
            "$ref": "#/definitions/WorkspaceUserRolesResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/duplicate":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: |
        Duplicate an existing workspace, with given modifications to workspace metadata. Caller will own the newly duplicated workspace, and must have read access to the source workspace. In addition to workspace metadata, the following will also be duplicated:
          - the associated Firecloud workspace
          - cohorts, along with reviews and annotations
          - notebooks located in the default notebook directory for this workspace
      operationId: cloneWorkspace
      parameters:
      - in: body
        name: body
        schema:
          "$ref": "#/definitions/CloneWorkspaceRequest"
      responses:
        200:
          description: Successful duplicate response
          schema:
            "$ref": "#/definitions/CloneWorkspaceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/userRoles":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - workspaces
      description: Returns the user roles for all collaborators on a workspace
      operationId: getFirecloudWorkspaceUserRoles
      responses:
        200:
          description: A list of workspace collaborators
          schema:
            "$ref": "#/definitions/WorkspaceUserRolesResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/publish":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      description: 'Makes a workspace public to all AoU registered users. Requires
        FEATURED_WORKSPACE_ADMIN authority.

'
      operationId: publishWorkspace
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/unpublish":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      description: 'Makes a workspace public to all AoU registered users. Requires
        FEATURED_WORKSPACE_ADMIN authority.

'
      operationId: unpublishWorkspace
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/admin/workspaces/review":
    get:
      tags:
      - workspaces
      description: 'Returns workspaces that need research purpose review. Requires
        REVIEW_RESEARCH_PURPOSE authority.

'
      operationId: getWorkspacesForReview
      responses:
        200:
          description: A list of workspaces
          schema:
            "$ref": "#/definitions/WorkspaceListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebook-list":
    get:
      summary: Get details of Python files from google Bucket directory notebook
      description: 'Returns list of name and path of python files from google bucket,
        directory notebook.

'
      operationId: getNoteBookList
      tags:
      - workspaces
      parameters:
      - in: path
        name: workspaceNamespace
        description: workspaceNamespace
        required: true
        type: string
      - in: path
        name: workspaceId
        description: workspaceId
        required: true
        type: string
      responses:
        200:
          description: List of files
          schema:
            type: array
            items:
              "$ref": "#/definitions/FileDetail"
        404:
          description: Workspace not found
          schema:
            "$ref": "#/definitions/ErrorResponse"
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/unsafe-self-bypass-access-requirement":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: 'Updates the given user to bypass the request access requirement

'
      parameters:
      - in: body
        name: bypassed
        schema:
          "$ref": "#/definitions/AccessBypassRequest"
        description: 'Whether the requirement should be bypassed or not. Defaults
          to true, so an empty body  will cause the requirement to be bypassed.

'
      operationId: unsafeSelfBypassAccessRequirement
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
        403:
          description: Self bypass is disallowed in this environment
          schema:
            "$ref": "#/definitions/ErrorResponse"
        400:
          description: No module exists with name submitted
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/users/{userId}/bypass-access-requirement":
    post:
      tags:
      - profile
      consumes:
      - application/json
      description: 'Updates the given user to bypass the request access requirement,
        e.g. "eraCommons", or "twoFactorAuth"

'
      parameters:
      - "$ref": "#/parameters/userId"
      - in: body
        name: bypassed
        schema:
          "$ref": "#/definitions/AccessBypassRequest"
        description: 'Whether the requirement should be bypassed or not. Defaults
          to true, so an empty body  will cause the requirement to be bypassed.

'
      operationId: bypassAccessRequirement
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          schema:
            "$ref": "#/definitions/ErrorResponse"
        400:
          description: No module exists with name submitted
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/users/{userId}":
    get:
      tags:
      - profile
      description: 'Returns a user''s profile for review.  Requires ACCESS_CONTROL_ADMIN
        authority.

'
      parameters:
      - "$ref": "#/parameters/userId"
      operationId: getUser
      responses:
        200:
          description: A user's profile
          schema:
            "$ref": "#/definitions/Profile"
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/users/list":
    get:
      tags:
      - profile
      description: 'Returns a list of profiles for users to be reviewed. Requires
        ACCESS_CONTROL_ADMIN authority.

'
      operationId: getAllUsers
      responses:
        200:
          description: A list of users
          schema:
            "$ref": "#/definitions/UserListResponse"
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/workspaces/{workspaceNamespace}/{workspaceId}/review":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: Sets a research purpose review result.
      operationId: reviewWorkspace
      parameters:
      - in: body
        name: review
        description: result of the research purpose review
        schema:
          "$ref": "#/definitions/ResearchPurposeReviewRequest"
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/admin/workspaces/{workspaceNamespace}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    get:
      tags:
      - workspaceAdmin
      description: 'Given a workspace namespace (Google Cloud Platform  Project ID),
        returns workspace details. Requires the WORKSPACES_VIEW authority.

'
      operationId: getFederatedWorkspaceDetails
      responses:
        200:
          description: Federated details about the workspace.
          schema:
            "$ref": "#/definitions/AdminFederatedWorkspaceDetailsResponse"
        404:
          description: Workspace not found for namespace
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/admin/workspaces/{workspaceNamespace}/cloudStorageTraffic":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    get:
      tags:
      - workspaceAdmin
      description: 'Returns a time series of cloud storage traffic for the given project.
        Requires the WORKSPACES_VIEW authority.

'
      operationId: getCloudStorageTraffic
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/CloudStorageTraffic"
  "/v1/admin/clusters/updateConfig":
    post:
      summary: Sets default cluster creation request parameters for a user.
      description: 'Clusters are created with a default machine configuration. Setting
        this override changes that configuration for subsequent cluster creations.
        This change only takes effect after a new cluster creation, e.g. due to standard
        cluster expiration (~2w) or via manual reset. Requires DEVELOPER authority.

'
      operationId: updateClusterConfig
      tags:
      - cluster
      parameters:
      - in: body
        name: body
        description: Cluster config update request.
        schema:
          "$ref": "#/definitions/UpdateClusterConfigRequest"
      responses:
        200:
          description: success
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/admin/sumo/egressEvent":
    post:
      tags:
      - sumoLogic
      description: 'Registers an egress event detected by SumoLogic with the Workbench.
        Forwards the event to Stackdriver for recording and potential alerting.

'
      operationId: logEgressEvent
      security: []
      parameters:
      - in: body
        name: request
        description: Egress event request
        schema:
          "$ref": "#/definitions/EgressEventRequest"
      - in: header
        name: X-API-KEY
        description: 'Semi-secret API key sent by SumoLogic. This will be checked
          against the set of valid API keys stored in the per-environment credentials
          bucket.

'
        required: true
        type: string
      responses:
        204:
          description: The egress event was successfully handled.
  "/v1/cron/auditBigQuery":
    x-aou-note: |
      Note: all requests tagged as "cron" must have the header X-Appengine-Cron:
      true, which app engine itself only sets when invoking as a cronjob.
      See https://cloud.google.com/appengine/docs/standard/java/config/cron#securing_urls_for_cron
      and o.p.w.interceptors.CronInterceptor which implements the header check.
    get:
      security: []
      tags:
      - offlineAudit
      - cron
      description: 'Endpoint meant to be called offline to trigger BigQuery auditing;
        may be slow to execute. Only executable via App Engine cronjob.

'
      operationId: auditBigQuery
      responses:
        200:
          description: Audit was successful.
          schema:
            "$ref": "#/definitions/AuditBigQueryResponse"
  "/v1/cron/checkClusters":
    get:
      security: []
      tags:
      - offlineCluster
      - cron
      description: 'Endpoint meant to be called offline to trigger cluster checks
        and cleanup. Enforces upgrades for older cluster deployments. May be slow
        to execute. Only executable via App Engine cronjob.

'
      operationId: checkClusters
      responses:
        200:
          description: Clusters were checked and handled successfully.
          schema:
            "$ref": "#/definitions/CheckClustersResponse"
  "/v1/cron/bulkSyncComplianceTrainingStatus":
    get:
      security: []
      tags:
      - offlineUser
      - cron
      description: sync moodle badge/training status for all users.
      operationId: bulkSyncComplianceTrainingStatus
      responses:
        204:
          description: The user table is updated with training status.
        404:
          description: User not found while retrieving  badge.
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/bulkSyncEraCommonsStatus":
    get:
      security: []
      tags:
      - offlineUser
      - cron
      description: sync eRA Commons linkage status for all users.
      operationId: bulkSyncEraCommonsStatus
      responses:
        204:
          description: All users' eRA Commons statuses were updated.
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/bulkSyncTwoFactorAuthStatus":
    get:
      security: []
      tags:
      - offlineUser
      - cron
      description: sync 2FA status for all users
      operationId: bulkSyncTwoFactorAuthStatus
      responses:
        204:
          description: All users' 2FA statuses were updated.
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/bulkAuditProjectAccess":
    get:
      security: []
      tags:
      - offlineUser
      - cron
      description: Audits project access for all users
      operationId: bulkAuditProjectAccess
      responses:
        204:
          description: All users' project access were audited.
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/exportToRdr":
    get:
      security: []
      tags:
      - offlineRdrExport
      - cron
      description: Send workbench data to RDR
      operationId: exportData
      responses:
        204:
          description: All modified/created workspaces and users were exported
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/bufferBillingProjects":
    get:
      security: []
      tags:
      - offlineBilling
      - cron
      description: If the AoU Billing Project buffer is not full, refill with one
        or more billing projects.
      operationId: bufferBillingProjects
      responses:
        204:
          description: No Error
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/syncBillingProjectStatus":
    get:
      security: []
      tags:
      - offlineBilling
      - cron
      description: Fetch a BillingProjectBufferEntry that is in the CREATING state
        and check its status on Firecloud
      operationId: syncBillingProjectStatus
      responses:
        204:
          description: No Error
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/cleanBillingBuffer":
    get:
      security: []
      tags:
      - offlineBilling
      - cron
      description: Find BillingProjectBufferEntries that have failed during the creation
        or assignment step and set their statuses to ERROR
      operationId: cleanBillingBuffer
      responses:
        204:
          description: No Error
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/checkFreeTierBillingUsage":
    get:
      security: []
      tags:
      - offlineBilling
      - cron
      description: Find and alert users that have exceeded their free tier billing
        usage
      operationId: checkFreeTierBillingUsage
      responses:
        204:
          description: No Error
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/billingProjectGarbageCollection":
    get:
      security: []
      tags:
      - offlineBilling
      - cron
      description: Trigger a bulk transfer of ownership of billing projects associated
        with deleted workspaces
      operationId: billingProjectGarbageCollection
      responses:
        204:
          description: Billing Project Garbage Collection was successful.
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/monitoring/billingProjectBufferStatus":
    get:
      tags:
      - monitoring
      description: Return statistics about the billing buffer.
      operationId: getBillingProjectBufferStatus
      responses:
        200:
          description: No Error
          schema:
            "$ref": "#/definitions/BillingProjectBufferStatus"
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/cron/monitoring/updateGaugeMetrics":
    get:
      tags:
      - offlineMonitoring
      - cron
      description: Trigger recording of all gauge metrics
      operationId: updateGaugeMetrics
      security: []
      responses:
        204:
          description: No content
        500:
          description: Internal Error
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/rename":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      consumes:
      - application/json
      description: Renames specified notebook
      operationId: renameNotebook
      parameters:
      - in: body
        name: NotebookRename
        description: new name for notebook
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
            newName:
              type: string
      responses:
        200:
          description: Successful rename
          schema:
            "$ref": "#/definitions/FileDetail"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/duplicate":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      description: Duplicates specified notebook
      operationId: cloneNotebook
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      responses:
        200:
          description: Successful duplicate
          schema:
            "$ref": "#/definitions/FileDetail"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/copy":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - in: path
      name: notebookName
      required: true
      type: string
    post:
      tags:
      - workspaces
      description: Copy specified notebook in path to specified workspace in body
      operationId: copyNotebook
      parameters:
      - in: body
        name: copyNotebookRequest
        required: true
        schema:
          "$ref": "#/definitions/CopyRequest"
      responses:
        200:
          description: Successful copy
          schema:
            "$ref": "#/definitions/FileDetail"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/delete":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    delete:
      tags:
      - workspaces
      description: Deletes specified notebook
      operationId: deleteNotebook
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      responses:
        200:
          description: Successful delete
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/readonly":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      description: Get the HTML for a read only view of the notebook
      operationId: readOnlyNotebook
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      responses:
        200:
          description: HTML Read Only version of the notebook
          schema:
            "$ref": "#/definitions/ReadOnlyNotebookResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/lockingMetadata":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - workspaces
      summary: Get the locking metadata for a notebook
      description: |
        Get the locking metadata for a notebook, if available.  If the notebook is not locked
        (e.g. at first creation) this may be empty.  Additionally, the caller of this endpoint
        may not have the appropriate permissions to determine who is locking this notebook.
        When this is the case, the lastLockedBy field is set to UNKNOWN.
      operationId: getNotebookLockingMetadata
      parameters:
      - in: path
        name: notebookName
        required: true
        type: string
      responses:
        200:
          description: The locking metadata fields for the notebook
          schema:
            "$ref": "#/definitions/NotebookLockingMetadataResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - cohortReview
      description: Returns all cohort reviews in a workspace
      operationId: getCohortReviewsInWorkspace
      responses:
        200:
          description: A list of cohort definitions.
          schema:
            "$ref": "#/definitions/CohortReviewListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews/{cohortReviewId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - in: path
      name: cohortReviewId
      type: integer
      format: int64
      required: true
      description: specifies which cohort review
    patch:
      tags:
      - cohortReview
      consumes:
      - application/json
      description: 'Modifies the cohort review with the specified ID; fields that
        are omitted will not be modified

'
      operationId: updateCohortReview
      parameters:
      - in: body
        name: cohortReview
        description: cohort review
        schema:
          "$ref": "#/definitions/CohortReview"
      responses:
        200:
          description: The updated cohort review
          schema:
            "$ref": "#/definitions/CohortReview"
    delete:
      tags:
      - cohortReview
      description: Deletes the cohort review with the specified ID
      operationId: deleteCohortReview
      responses:
        202:
          description: ACCEPTED
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - cohorts
      description: Returns all cohort definitions in a workspace
      operationId: getCohortsInWorkspace
      responses:
        200:
          description: A list of cohort definitions.
          schema:
            "$ref": "#/definitions/CohortListResponse"
    post:
      tags:
      - cohorts
      consumes:
      - application/json
      description: Creates a cohort definition in a workspace.
      operationId: createCohort
      parameters:
      - in: body
        name: cohort
        description: cohort definition
        schema:
          "$ref": "#/definitions/Cohort"
      responses:
        200:
          description: The cohort definition that was created.
          schema:
            "$ref": "#/definitions/Cohort"
        400:
          description: Bad Request. Cohort name already exists
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/duplicate":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - cohorts
      description: Creates a duplicate of the cohort specified by cohortId
      operationId: duplicateCohort
      parameters:
      - in: body
        name: DuplicateCohortRequest
        description: Duplicate Cohort Request
        schema:
          "$ref": "#/definitions/DuplicateCohortRequest"
      responses:
        200:
          description: The cohort definition that was created.
          schema:
            "$ref": "#/definitions/Cohort"
        400:
          description: Bad Request. Cohort name already exists
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/{cohortId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortId"
    get:
      tags:
      - cohorts
      description: Returns the cohort definition with the specified ID
      operationId: getCohort
      responses:
        200:
          description: A cohort definition
          schema:
            "$ref": "#/definitions/Cohort"
    patch:
      tags:
      - cohorts
      consumes:
      - application/json
      description: 'Modifies the cohort definition with the specified ID; fields that
        are omitted will not be modified

'
      operationId: updateCohort
      parameters:
      - in: body
        name: cohort
        description: cohort definition
        schema:
          "$ref": "#/definitions/Cohort"
      responses:
        200:
          description: The updated cohort definition
          schema:
            "$ref": "#/definitions/Cohort"
    delete:
      tags:
      - cohorts
      description: Deletes the cohort definition with the specified ID
      operationId: deleteCohort
      responses:
        202:
          description: ACCEPTED
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/materializeCohort":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - cohorts
      consumes:
      - application/json
      description: 'Materializes a cohort for a given CDR version to specified output.

'
      operationId: materializeCohort
      parameters:
      - in: body
        name: request
        description: cohort materialization request
        schema:
          "$ref": "#/definitions/MaterializeCohortRequest"
      responses:
        200:
          description: The results of materializing the cohort
          schema:
            "$ref": "#/definitions/MaterializeCohortResponse"
  "/v1/workspaces/user-recent-resources":
    get:
      tags:
      - userMetrics
      description: Returns the resources accessed by user order by access time desc
      operationId: getUserRecentResources
      responses:
        200:
          description: A list of resources order by last access time desc order
          schema:
            "$ref": "#/definitions/RecentResourceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/update":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - userMetrics
      consumes:
      - application/json
      description: Add/update user recent resource
      operationId: updateRecentResource
      parameters:
      - in: body
        name: RecentResourceRequest
        description: request object for updating recent resource
        required: true
        schema:
          "$ref": "#/definitions/RecentResourceRequest"
      x-aou-note: |
        this response type is currently only ever used by Notebooks because other
        resources are stored in our db, and therefore cache ops are
        done for them in the backend
      responses:
        200:
          description: Successfully added/updated
          schema:
            "$ref": "#/definitions/RecentResource"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/delete":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    delete:
      tags:
      - userMetrics
      description: Deletes entry from recent resource
      operationId: deleteRecentResource
      parameters:
      - in: body
        name: RecentResourceRequest
        description: request object for updating recent resource
        required: true
        schema:
          "$ref": "#/definitions/RecentResourceRequest"
      responses:
        200:
          description: Successfully deleted
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/user-recent-workspaces":
    get:
      tags:
      - workspaces
      description: Returns the workspaces edited by the user in descending order of
        update time
      operationId: getUserRecentWorkspaces
      responses:
        200:
          description: A list of workspaces order by last-updated time in descending
            order
          schema:
            "$ref": "#/definitions/RecentWorkspaceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-workspaces/update":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - workspaces
      description: Add/update user recent workspaces
      operationId: updateRecentWorkspaces
      responses:
        200:
          description: Successfully added/updated
          schema:
            "$ref": "#/definitions/RecentWorkspaceResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - conceptSets
      description: Returns all concept sets in a workspace
      operationId: getConceptSetsInWorkspace
      responses:
        200:
          description: A list of concept sets.
          schema:
            "$ref": "#/definitions/ConceptSetListResponse"
    post:
      tags:
      - conceptSets
      consumes:
      - application/json
      description: Creates a concept set in a workspace.
      operationId: createConceptSet
      parameters:
      - in: body
        name: request
        description: create concept set request
        schema:
          "$ref": "#/definitions/CreateConceptSetRequest"
      responses:
        200:
          description: The concept set that was created.
          schema:
            "$ref": "#/definitions/ConceptSet"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/survey-concept-sets/{surveyName}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - in: path
      name: surveyName
      type: string
      required: true
    get:
      tags:
      - conceptSets
      description: Returns all survey concept sets in a workspace
      operationId: getSurveyConceptSetsInWorkspace
      responses:
        200:
          description: A list of concept sets of type surveys.
          schema:
            "$ref": "#/definitions/ConceptSetListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/conceptSetId"
    get:
      tags:
      - conceptSets
      description: Returns the concept set definition with the specified ID
      operationId: getConceptSet
      responses:
        200:
          description: A concept set definition
          schema:
            "$ref": "#/definitions/ConceptSet"
    patch:
      tags:
      - conceptSets
      consumes:
      - application/json
      description: 'Modifies the name or description of the concept set with the specified
        ID; fields that are omitted will not be modified

'
      operationId: updateConceptSet
      parameters:
      - in: body
        name: conceptSet
        description: concept set definition
        schema:
          "$ref": "#/definitions/ConceptSet"
      responses:
        200:
          description: The updated concept set.
          schema:
            "$ref": "#/definitions/ConceptSet"
    delete:
      tags:
      - conceptSets
      description: Deletes the concept set with the specified ID
      operationId: deleteConceptSet
      responses:
        202:
          description: ACCEPTED
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}/concepts":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/conceptSetId"
    post:
      tags:
      - conceptSets
      consumes:
      - application/json
      description: 'Adds or removes concepts from the concept set.

'
      operationId: updateConceptSetConcepts
      parameters:
      - in: body
        name: request
        description: update concept set request
        schema:
          "$ref": "#/definitions/UpdateConceptSetRequest"
      responses:
        200:
          description: The updated concept set.
          schema:
            "$ref": "#/definitions/ConceptSet"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}/copy":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - in: path
      name: conceptSetId
      required: true
      type: string
    post:
      tags:
      - conceptSets
      description: Copy specified concept set in path to specified workspace in body
      operationId: copyConceptSet
      parameters:
      - in: body
        name: copyConceptSetRequest
        required: true
        schema:
          "$ref": "#/definitions/CopyRequest"
      responses:
        200:
          description: Successful copy
          schema:
            "$ref": "#/definitions/ConceptSet"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/domainInfo":
    get:
      tags:
      - concepts
      description: 'Returns information on the domains of data in the workspace''s
        CDR version along with participant and concept counts

'
      operationId: getDomainInfo
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      responses:
        200:
          description: information on the domains
          schema:
            "$ref": "#/definitions/DomainInfoResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/surveyInfo":
    get:
      tags:
      - concepts
      description: 'Returns survey information in the workspace''s CDR version along
        with participant and question count

'
      operationId: getSurveyInfo
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      responses:
        200:
          description: information about the surveys
          schema:
            "$ref": "#/definitions/SurveysResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/searchSurveys":
    post:
      tags:
      - concepts
      description: 'Searches for surveys in criteria table by synonyms or survey name

'
      operationId: searchSurveys
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: request
        description: survey search request
        schema:
          "$ref": "#/definitions/SearchSurveysRequest"
      responses:
        200:
          description: collection of survey questions
          schema:
            type: array
            items:
              "$ref": "#/definitions/SurveyQuestions"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/generateCode/{kernelType}":
    post:
      tags:
      - dataSet
      description: 'Given a Data Set, return the SQL query built from it.

'
      operationId: generateCode
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: path
        name: kernelType
        required: true
        type: string
      - in: body
        name: dataSet
        required: true
        schema:
          "$ref": "#/definitions/DataSetRequest"
      responses:
        200:
          description: 'A SQL query for each domain in the Data Set

'
          schema:
            "$ref": "#/definitions/DataSetCodeResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/data-sets":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    get:
      tags:
      - dataSet
      description: Returns all data sets in a workspace
      operationId: getDataSetsInWorkspace
      responses:
        200:
          description: A list of data sets.
          schema:
            "$ref": "#/definitions/DataSetListResponse"
    post:
      tags:
      - dataSet
      description: 'Creates Data Set

'
      operationId: createDataSet
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: dataSetRequest
        required: true
        schema:
          "$ref": "#/definitions/DataSetRequest"
      responses:
        200:
          description: Data set has been created successfully
          schema:
            "$ref": "#/definitions/DataSet"
        400:
          description: Invalid data set request
          schema:
            "$ref": "#/definitions/ErrorResponse"
        409:
          description: Data Set with the same name already exists
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/{workspaceNamespace}/{workspaceId}/data-sets/{dataSetId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/dataSetId"
    get:
      tags:
      - dataSet
      operationId: getDataSet
      responses:
        200:
          description: The data set with the specified ID
          schema:
            "$ref": "#/definitions/DataSet"
    patch:
      tags:
      - dataSet
      consumes:
      - application/json
      operationId: updateDataSet
      parameters:
      - in: body
        name: dataSet
        description: data set definition
        schema:
          "$ref": "#/definitions/DataSetRequest"
      responses:
        200:
          description: The updated data set.
          schema:
            "$ref": "#/definitions/DataSet"
        409:
          description: Data Set with the same name already exists
          schema:
            "$ref": "#/definitions/ErrorResponse"
    delete:
      tags:
      - dataSet
      description: Deletes the data set with the specified ID
      operationId: deleteDataSet
      responses:
        202:
          description: ACCEPTED
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/{workspaceNamespace}/{workspaceId}/data-sets/dataSetByResourceId":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      parameters:
      - in: body
        name: resourceType
        required: true
        schema:
          "$ref": "#/definitions/ResourceType"
      - in: query
        name: id
        type: integer
        format: int64
        required: true
      tags:
      - dataSet
      operationId: getDataSetByResourceId
      responses:
        200:
          description: A list of data sets containg cohort/concept Id passed.
          schema:
            "$ref": "#/definitions/DataSetListResponse"
  "/v1/cdrVersionId/{cdrVersionId}/domain/{domain}/domainValue/{domainValue}/dataDictionaryEntry":
    get:
      parameters:
      - in: path
        name: cdrVersionId
        type: integer
        format: int64
        required: true
      - in: path
        name: domain
        required: true
        type: string
      - in: path
        name: domainValue
        type: string
        required: true
      tags:
      - dataSet
      operationId: getDataDictionaryEntry
      responses:
        200:
          description: Detailed definition of a given domain value for the specified
            CDR Version
          schema:
            "$ref": "#/definitions/DataDictionaryEntry"
  "/v1/{workspaceNamespace}/{workspaceId}/data-set/markDirty":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      parameters:
      - in: body
        name: markDataSetRequest
        schema:
          "$ref": "#/definitions/MarkDataSetRequest"
      tags:
      - dataSet
      operationId: markDirty
      responses:
        200:
          description: Mark all dataset with cohort/concept id as dirty
          schema:
            type: boolean
            default: false
  "/v1/{workspaceNamespace}/{workspaceId}/data-set/exportToNotebook":
    post:
      tags:
      - dataSet
      description: 'Exports a data set query to a notebook

'
      operationId: exportToNotebook
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: dataSetExportRequest
        required: true
        schema:
          "$ref": "#/definitions/DataSetExportRequest"
      responses:
        200:
          description: Data set has been exported correctly
          schema:
            "$ref": "#/definitions/EmptyResponse"
        400:
          description: Invalid data set request
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/preview":
    post:
      tags:
      - dataSet
      description: 'Preview data set

'
      operationId: previewDataSetByDomain
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: dataSetPreviewRequest
        required: true
        schema:
          "$ref": "#/definitions/DataSetPreviewRequest"
      responses:
        200:
          description: 'A SQL query for each domain in the Data Set

'
          schema:
            "$ref": "#/definitions/DataSetPreviewResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/domainValues/{domain}":
    get:
      tags:
      - dataSet
      description: 'Returns all column names/values for a given domain.

'
      operationId: getValuesFromDomain
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: path
        name: domain
        required: true
        type: string
      responses:
        200:
          description: the values/column names in the domain.
          schema:
            "$ref": "#/definitions/DomainValuesResponse"
  "/v1/cloudTask/exportResearcherData":
    x-aou-note: |
      Endpoints for task in cloud task queue
      Note: all requests tagged as "cloudTask" must have the header X-AppEngine-QueueName:
      to the queue name, which app engine itself only sets (and overrides internally) when invoking
      cloud task. See
      https://cloud.google.com/tasks/docs/creating-appengine-handlers#reading_app_engine_task_request_headers
      and o.p.w.interceptors.CloudTaskInterceptor which implements the header check.

      Using body parameter ref ArrayOfLong instead of defining array of type long here because of
      bug in swagger version 2.3.0 https://github.com/swagger-api/swagger-codegen/issues/6745.2.2.3
    post:
      tags:
      - cloudTaskRdrExport
      - cloudTask
      security: []
      description: 'Task handler which handle request from cloud task queue rdrQueueTest
        to send Researcher data

'
      operationId: exportResearcherData
      consumes:
      - application/json
      parameters:
      - in: body
        name: researcherIds
        required: true
        description: The IDs of Users to be exported to Rdr.
        schema:
          "$ref": "#/definitions/ArrayOfLong"
      responses:
        200:
          description: 'A SQL query for each domain in the Data Set

'
  "/v1/cloudTask/exportWorkspaceData":
    post:
      tags:
      - cloudTaskRdrExport
      - cloudTask
      security: []
      description: 'Task handler which handle request from cloud task queue rdrQueueTest
        to send Workspace data

'
      operationId: exportWorkspaceData
      parameters:
      - in: body
        name: researchIds
        required: true
        description: The IDs of workspace to be exported to Rdr.
        schema:
          "$ref": "#/definitions/ArrayOfLong"
      responses:
        200:
          description: 'A SQL query for each domain in the Data Set

'
  "/v1/institutions":
    x-aou-note: Institution endpoints, for Verified Institutional Affiliation
    get:
      tags:
      - institution
      description: 'Gets the list of all Institutions. Requires INSTITUTION_ADMIN
        authority.'
      operationId: getInstitutions
      responses:
        200:
          description: 'A list of all Institutions'
          schema:
            "$ref": "#/definitions/GetInstitutionsResponse"
    post:
      tags:
      - institution
      description: 'Create an Institution. Requires INSTITUTION_ADMIN authority.'
      operationId: createInstitution
      parameters:
      - in: body
        name: institutionToCreate
        required: true
        description: The Institution to be created by this operation.
        schema:
          "$ref": "#/definitions/Institution"
      responses:
        200:
          description: 'The Institution created by this operation.'
          schema:
            "$ref": "#/definitions/Institution"
  "/v1/institutions/publicDetails":
    get:
      tags:
      - institution
      description: 'Gets the public details for the list of all Institutions.'
      operationId: getPublicInstitutionDetails
      security: []
      responses:
        200:
          description: 'A list of all Institutions'
          schema:
            "$ref": "#/definitions/GetPublicInstitutionDetailsResponse"
  "/v1/institutions/{shortName}":
    parameters:
    - in: path
      name: shortName
      required: true
      type: string
      description: 'A short unique name for the Institution used as an identifier,
        such as "VUMC"'
    get:
      tags:
      - institution
      description: 'Gets the Institution corresponding to the shortName ID. Requires
        INSTITUTION_ADMIN authority.'
      operationId: getInstitution
      responses:
        200:
          description: 'The Institution corresponding to the shortName ID.'
          schema:
            "$ref": "#/definitions/Institution"
    delete:
      tags:
      - institution
      description: 'Deletes the Institution corresponding to the shortName ID. Requires
        INSTITUTION_ADMIN authority.'
      operationId: deleteInstitution
      responses:
        204:
          description: 'Successful deletion of the Institution corresponding to the
            shortName ID.'
        409:
          description: Could not delete the Institution because it has verified affiliations.
    patch:
      tags:
      - institution
      description: 'Updates an Institution. Requires INSTITUTION_ADMIN authority.'
      operationId: updateInstitution
      parameters:
      - in: body
        name: institutionToUpdate
        required: true
        description: The Institution to update.
        schema:
          "$ref": "#/definitions/Institution"
      responses:
        200:
          description: The updated Institution.
          schema:
            "$ref": "#/definitions/Institution"
  "/v1/institutions/{shortName}/checkEmail/{email}/":
    parameters:
    - in: path
      name: shortName
      type: string
      description: 'The short name / key of the institution to check, e.g. "VUMC"'
      required: true
    - in: path
      name: email
      type: string
      description: Institutional contact email address to check.
      required: true
    get:
      tags:
        - institution
      operationId: checkEmail
      description: Checks whether the given email address is a verified member of an institution.
      x-aou-note: This endpoint is publicly-accessible and called by clients during user registration.
      security: []
      responses:
        200:
          description: Whether the email is a valid member of the institution.
          schema:
            "$ref": "#/definitions/CheckEmailResponse"
  "/v1/institutions/instructionsEmail":
    post:
      tags:
        - institution
      description: 'Sets or updates the Institution-specific user instructions to be sent
        by email after registration. Requires INSTITUTION_ADMIN authority.'
      operationId: setInstitutionUserInstructions
      parameters:
        - in: body
          name: userInstructions
          description: 'Text to include in an email sent to users for an Institution after they are registered.'
          schema:
            "$ref": "#/definitions/InstitutionUserInstructions"
      responses:
        200:
          description: 'Successfully set or updated the Institution-specific user instructions to be sent
            by email after registration.'
          schema:
            "$ref": "#/definitions/InstitutionUserInstructions"
  "/v1/institutions/instructionsEmail/{shortName}":
    parameters:
      - in: path
        name: shortName
        required: true
        type: string
        description: 'A short unique name for the Institution used as an identifier,
          such as "VUMC"'
    delete:
      tags:
        - institution
      description: 'Remove the Institution-specific user instructions to be sent
        by email after registration. Requires INSTITUTION_ADMIN authority.'
      operationId: deleteInstitutionUserInstructions
      responses:
        204:
          description: 'Successfully removed the Institution-specific user instructions to be sent
            by email after registration.'
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/getDataTableQuery":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - cohorts
      consumes:
      - application/json
      description: 'Translates a data table specification into a SQL query to run
        against the CDR.

'
      operationId: getDataTableQuery
      parameters:
      - in: body
        name: request
        description: a query specification for a data table
        schema:
          "$ref": "#/definitions/DataTableSpecification"
      responses:
        200:
          description: the query to run against the CDR to retrieve the data
          schema:
            "$ref": "#/definitions/CdrQuery"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/getCohortAnnotations":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    post:
      tags:
      - cohorts
      consumes:
      - application/json
      description: 'Retrieves annotations for a cohort in the workspace

'
      operationId: getCohortAnnotations
      parameters:
      - in: body
        name: request
        description: a request indicating what annotations to retrieve
        schema:
          "$ref": "#/definitions/CohortAnnotationsRequest"
      responses:
        200:
          description: the requested annotations
          schema:
            "$ref": "#/definitions/CohortAnnotationsResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/searchConcepts":
    post:
      tags:
      - concepts
      consumes:
      - application/json
      description: 'Searches for concepts in concept table by name, and optionally
        filter on domain, vocabulary IDs, or standard concept status. Uses the CDR
        version affiliated with the workspace specified in the path.

'
      operationId: searchConcepts
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: request
        description: concept search request
        schema:
          "$ref": "#/definitions/SearchConceptsRequest"
      responses:
        200:
          description: A collection of concepts
          schema:
            "$ref": "#/definitions/ConceptListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/domainCounts":
    post:
      tags:
      - concepts
      consumes:
      - application/json
      description: 'Searches for concepts in concept table by name, and optionally
        filter on domain, vocabulary IDs, or standard concept status. Uses the CDR
        version affiliated with the workspace specified in the path.

'
      operationId: domainCounts
      parameters:
      - "$ref": "#/parameters/workspaceNamespace"
      - "$ref": "#/parameters/workspaceId"
      - in: body
        name: request
        description: domain counts search request
        schema:
          "$ref": "#/definitions/DomainCountsRequest"
      responses:
        200:
          description: A collection of concepts
          schema:
            "$ref": "#/definitions/DomainCountsListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortId}/{cdrVersionId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortId"
    - "$ref": "#/parameters/cdrVersionId"
    post:
      tags:
      - cohortReview
      consumes:
      - application/json
      description: 'This endpoint will create an cohort review which is a participant
        cohort sample specified by the review size parameter.

'
      operationId: createCohortReview
      parameters:
      - in: body
        name: request
        required: true
        description: cohort review creation request body
        schema:
          "$ref": "#/definitions/CreateReviewRequest"
      responses:
        200:
          description: A cohortReviewId and cohort count
          schema:
            "$ref": "#/definitions/CohortReview"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortId}/{cdrVersionId}/participants":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortId"
    - "$ref": "#/parameters/cdrVersionId"
    post:
      tags:
      - cohortReview
      consumes:
      - application/json
      description: 'Returns a collection of participants for the specified cohortId
        and cdrVersionId. This endpoint does pagination based on page, limit, order
        and column.

'
      operationId: getParticipantCohortStatuses
      parameters:
      - in: body
        name: request
        required: true
        description: request body for getting list of ParticipantCohortStatuses.
        schema:
          "$ref": "#/definitions/PageFilterRequest"
      responses:
        200:
          description: A collection of participants
          schema:
            "$ref": "#/definitions/CohortReview"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/participants/{participantId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortReviewId"
    - "$ref": "#/parameters/participantId"
    get:
      tags:
      - cohortReview
      description: This endpoint will return a ParticipantCohortStatus
      operationId: getParticipantCohortStatus
      responses:
        200:
          description: The ParticipantCohortStatus definition
          schema:
            "$ref": "#/definitions/ParticipantCohortStatus"
    put:
      tags:
      - cohortReview
      consumes:
      - application/json
      description: Modifies the ParticipantCohortStatus status
      operationId: updateParticipantCohortStatus
      parameters:
      - in: body
        name: cohortStatusRequest
        description: Contains the new review status
        schema:
          "$ref": "#/definitions/ModifyCohortStatusRequest"
      responses:
        200:
          description: The updated ParticipantCohortStatus definition
          schema:
            "$ref": "#/definitions/ParticipantCohortStatus"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/participants/{participantId}/charts/{domain}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortReviewId"
    - "$ref": "#/parameters/participantId"
    get:
      tags:
      - cohortReview
      description: This endpoint will return a ParticipantCohortStatus
      operationId: getParticipantChartData
      parameters:
      - in: path
        name: domain
        type: string
        required: true
        description: specifies which domain the chart data should belong to.
      - in: query
        name: limit
        type: integer
        required: false
        description: the limit search results to
      responses:
        200:
          description: The Participant Chart data
          schema:
            "$ref": "#/definitions/ParticipantChartDataListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/charts/{domain}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortReviewId"
    get:
      tags:
      - cohortReview
      description: Returns a collection of CohortChartData for UI charting in cohort
        review.
      operationId: getCohortChartData
      parameters:
      - in: path
        name: domain
        type: string
        required: true
        description: specifies which domain the CohortChartData should belong to.
      - in: query
        name: limit
        type: integer
        required: false
        description: the limit search results to
      responses:
        200:
          description: A collection of CohortChartData
          schema:
            "$ref": "#/definitions/CohortChartDataListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/participants/{participantId}/annotations":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortReviewId"
    - "$ref": "#/parameters/participantId"
    post:
      tags:
      - cohortReview
      consumes:
      - application/json
      description: This endpoint will create a ParticipantCohortAnnotation.
      operationId: createParticipantCohortAnnotation
      parameters:
      - in: body
        name: request
        required: true
        description: ParticipantCohortAnnotation creation request body
        schema:
          "$ref": "#/definitions/ParticipantCohortAnnotation"
      responses:
        200:
          description: A ParticipantCohortAnnotation.
          schema:
            "$ref": "#/definitions/ParticipantCohortAnnotation"
    get:
      tags:
      - cohortReview
      description: This endpoint will get a collection of ParticipantCohortAnnotations.
      operationId: getParticipantCohortAnnotations
      responses:
        200:
          description: A collection of ParticipantCohortAnnotation.
          schema:
            "$ref": "#/definitions/ParticipantCohortAnnotationListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/participants/{participantId}/data":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortReviewId"
    - "$ref": "#/parameters/participantId"
    post:
      tags:
      - cohortReview
      consumes:
      - application/json
      description: 'Returns a collection of participant data for the specified params
        based off the PageFilterRequest. This endpoint does pagination based on page,
        limit, order and column.

'
      operationId: getParticipantData
      parameters:
      - in: body
        name: request
        required: true
        description: request body for getting list of participant data.
        schema:
          "$ref": "#/definitions/PageFilterRequest"
      responses:
        200:
          description: A collection of ParticipantConditions.
          schema:
            "$ref": "#/definitions/ParticipantDataListResponse"
  ? "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/participants/{participantId}/annotations/{annotationId}"
  : parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortReviewId"
    - "$ref": "#/parameters/participantId"
    - in: path
      name: annotationId
      type: integer
      format: int64
      required: true
      description: specifies which annotation
    put:
      tags:
      - cohortReview
      consumes:
      - application/json
      description: This endpoint will modify a ParticipantCohortAnnotation.
      operationId: updateParticipantCohortAnnotation
      parameters:
      - in: body
        name: request
        required: true
        description: ParticipantCohortAnnotation modification request body
        schema:
          "$ref": "#/definitions/ModifyParticipantCohortAnnotationRequest"
      responses:
        200:
          description: A ParticipantCohortAnnotation.
          schema:
            "$ref": "#/definitions/ParticipantCohortAnnotation"
    delete:
      tags:
      - cohortReview
      description: Deletes the ParticipantCohortAnnotation with the specified ID
      operationId: deleteParticipantCohortAnnotation
      responses:
        202:
          description: ParticipantCohortAnnotation deletion request accepted
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/vocabularies":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortReviewId"
    get:
      tags:
      - cohortReview
      description: This endpoint will get a collection of OMOP vocabularies per cdrVersionId.
      operationId: getVocabularies
      responses:
        200:
          description: A collection of OMOP vocabularies.
          schema:
            "$ref": "#/definitions/VocabularyListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/{cohortId}/annotationdefinitions":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortId"
    post:
      tags:
      - cohortAnnotationDefinition
      consumes:
      - application/json
      description: This endpoint will create a CohortAnnotationDefinition.
      operationId: createCohortAnnotationDefinition
      parameters:
      - in: body
        name: request
        required: true
        description: CohortAnnotationDefinition creation request body
        schema:
          "$ref": "#/definitions/CohortAnnotationDefinition"
      responses:
        200:
          description: A CohortAnnotationDefinition.
          schema:
            "$ref": "#/definitions/CohortAnnotationDefinition"
    get:
      tags:
      - cohortAnnotationDefinition
      description: Returns a collection of CohortAnnotationDefinition.
      operationId: getCohortAnnotationDefinitions
      responses:
        200:
          description: A collection of CohortAnnotationDefinition
          schema:
            "$ref": "#/definitions/CohortAnnotationDefinitionListResponse"
  "/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/{cohortId}/annotationdefinitions/{annotationDefinitionId}":
    parameters:
    - "$ref": "#/parameters/workspaceNamespace"
    - "$ref": "#/parameters/workspaceId"
    - "$ref": "#/parameters/cohortId"
    - in: path
      name: annotationDefinitionId
      type: integer
      format: int64
      required: true
      description: specifies which CohortAnnotationDefinition.
    get:
      tags:
      - cohortAnnotationDefinition
      description: Returns a CohortAnnotationDefinition.
      operationId: getCohortAnnotationDefinition
      responses:
        200:
          description: A CohortAnnotationDefinition
          schema:
            "$ref": "#/definitions/CohortAnnotationDefinition"
    put:
      tags:
      - cohortAnnotationDefinition
      consumes:
      - application/json
      description: modify the CohortAnnotationDefinition.
      operationId: updateCohortAnnotationDefinition
      parameters:
      - in: body
        name: cohortAnnotationDefinition
        description: Contains the new CohortAnnotationDefinition
        schema:
          "$ref": "#/definitions/CohortAnnotationDefinition"
      responses:
        200:
          description: The updated CohortAnnotationDefinition definition
          schema:
            "$ref": "#/definitions/CohortAnnotationDefinition"
    delete:
      tags:
      - cohortAnnotationDefinition
      description: Deletes the CohortAnnotationDefinition with the specified ID
      operationId: deleteCohortAnnotationDefinition
      responses:
        202:
          description: CohortAnnotationDefinition deletion request accepted
          schema:
            "$ref": "#/definitions/EmptyResponse"
  "/v1/cohortbuilder/{cdrVersionId}/criteria/menu":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: 'Returns criteria menu options

'
      operationId: findCriteriaMenuOptions
      responses:
        200:
          description: A collection of criteria menu options
          schema:
            "$ref": "#/definitions/CriteriaMenuOptionsListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/criteria/{domain}/search/term":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: 'Returns a collection of criteria per search term

'
      operationId: findCriteriaByDomainAndSearchTerm
      parameters:
      - in: path
        name: domain
        type: string
        required: true
        description: the specific type of domain
      - in: query
        name: term
        type: string
        required: true
        description: the term to search for
      - in: query
        name: limit
        type: integer
        required: false
        description: number of criteria matches to return
      responses:
        200:
          description: A collection of criteria
          schema:
            "$ref": "#/definitions/CriteriaListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/criteria/{domain}/{conceptId}":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: 'Returns a collection of criteria per concept id

'
      operationId: getStandardCriteriaByDomainAndConceptId
      parameters:
      - in: path
        name: domain
        type: string
        required: true
        description: the specific type of domain
      - in: path
        name: conceptId
        type: integer
        format: int64
        required: true
        description: the concept id to search for
      responses:
        200:
          description: A collection of criteria
          schema:
            "$ref": "#/definitions/CriteriaListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/criteria/{domain}":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: 'Returns a collection of criteria by optional query parameters
        of the following: type, subtype, parentId and/or allChildren

'
      operationId: getCriteriaBy
      parameters:
      - in: path
        name: domain
        type: string
        required: true
        description: the specific domain of criteria to get
      - in: query
        name: type
        type: string
        required: false
        description: the specific type of criteria to get
      - in: query
        name: standard
        type: boolean
        default: false
        required: false
        description: reveals if source or standard
      - in: query
        name: parentId
        type: integer
        format: int64
        required: false
        description: fetch direct children of parentId
      responses:
        200:
          description: A collection of criteria
          schema:
            "$ref": "#/definitions/CriteriaListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/criteria/{domain}/search":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: Returns matches on criteria table by code or name
      operationId: findCriteriaAutoComplete
      parameters:
      - in: path
        name: domain
        type: string
        required: true
        description: the specific domain of criteria to get
      - in: query
        name: type
        type: string
        required: false
        description: the type of the criteria were search for
      - in: query
        name: standard
        type: boolean
        default: false
        required: false
        description: the type of the criteria were search for
      - in: query
        name: term
        type: string
        required: true
        description: the term to search for
      - in: query
        name: limit
        type: integer
        required: false
        description: number of criteria matches to return
      responses:
        200:
          description: A collection of criteria
          schema:
            "$ref": "#/definitions/CriteriaListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/criteria/drug":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: Returns criteria tree matching value
      operationId: findDrugBrandOrIngredientByValue
      parameters:
      - in: query
        name: value
        type: string
        required: true
        description: matches name or code of drug
      - in: query
        name: limit
        type: integer
        required: false
        description: number of criteria matches to return
      responses:
        200:
          description: A collection of criteria
          schema:
            "$ref": "#/definitions/CriteriaListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/criteria/drug/ingredient/{conceptId}":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: Returns criteria tree with the specified name
      operationId: findDrugIngredientByConceptId
      parameters:
      - in: path
        name: conceptId
        type: integer
        format: int64
        required: true
        description: conceptId of brand
      responses:
        200:
          description: A collection of criteria
          schema:
            "$ref": "#/definitions/CriteriaListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/criteria/attribute/{conceptId}":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: Returns criteria tree with the specified name
      operationId: getCriteriaAttributeByConceptId
      parameters:
      - in: path
        name: conceptId
        type: integer
        format: int64
        required: true
        description: conceptId of brand
      responses:
        200:
          description: A collection of criteria
          schema:
            "$ref": "#/definitions/CriteriaAttributeListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/age/counts":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
      description: Return counts for age type and age
      operationId: findAgeTypeCounts
      responses:
        200:
          description: A collection age type counts
          schema:
            "$ref": "#/definitions/AgeTypeCountListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/search":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    post:
      tags:
      - cohortBuilder
      consumes:
      - application/json
      description: Searches for participants based on criteria, criteria specific
        parameters, and modifiers.
      operationId: countParticipants
      parameters:
      - in: body
        name: request
        description: object of parameters by which to perform the search
        schema:
          "$ref": "#/definitions/SearchRequest"
        required: true
      responses:
        200:
          description: A count of subjects
          schema:
            type: integer
            format: int64
  "/v1/cohortbuilder/{cdrVersionId}/chartinfo/{genderOrSex}/{age}":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    post:
      tags:
      - cohortBuilder
      consumes:
      - application/json
      description: Searches for demographic info about subjects.
      operationId: getDemoChartInfo
      parameters:
      - in: path
        name: genderOrSex
        type: string
        required: true
        description: represents gender or sex at birth
      - in: path
        name: age
        type: string
        required: true
        description: represents age, age at consent or age at cdr
      - in: body
        name: request
        description: object of parameters by which to perform the search
        schema:
          "$ref": "#/definitions/SearchRequest"
        required: true
      responses:
        200:
          description: A collection of criteria
          schema:
            "$ref": "#/definitions/DemoChartInfoListResponse"
  "/v1/cohortbuilder/{cdrVersionId}/demographics":
    parameters:
    - "$ref": "#/parameters/cdrVersionId"
    get:
      tags:
      - cohortBuilder
[...]
