openapi: 3.0.1
info:
  title: AllOfUs Workbench API
  description: |
    The API for the AllOfUs workbench.

    Throughout, we use integer/int64 in preference to string/date-time because Swagger's
    date formatting is inconsistent between server and client. Time values are stored as
    milliseconds since the UNIX epoch.

    Note: all requests tagged as "cron" must have the header X-Appengine-Cron:
    true, which app engine itself only sets when invoking as a cronjob.
    See https://cloud.google.com/appengine/docs/standard/java/config/cron#securing_urls_for_cron
    and o.p.w.interceptors.CronInterceptor which implements the header check.
  termsOfService: http://www.pmi-ops.org/terms_of_service.html
  contact:
    name: developer_help@pmi-ops.org
  license:
    name: BSD
  version: 0.1.0
servers:
- url: https://api.pmi-ops.org/
security:
- aou_oauth: []
paths:
  /v1/status:
    get:
      tags:
      - status
      description: Returns the status of the various services and integrations
      operationId: getStatus
      security: []
      responses:
        200:
          description: A map of system name to status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v1/config:
    get:
      tags:
      - config
      description: Returns some server configuration data.
      operationId: getConfig
      security: []
      responses:
        200:
          description: Configuration data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
  /v1/featured-workspace-config:
    get:
      tags:
      - featured-workspaces-config
      description: Returns the featured workspaces config
      operationId: getFeaturedWorkspacesConfig
      security: []
      responses:
        200:
          description: List of featured workspaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedWorkspacesConfigResponse'
  /v1/cdrVersionsByTier:
    get:
      tags:
      - cdrVersions
      description: |
        Returns all curated data repository (CDR) versions in all tiers that the user has access to
      operationId: getCdrVersionsByTier
      responses:
        200:
          description: A mapping of tiers to CDR versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdrVersionTiersResponse'
  /v1/status-alert:
    get:
      tags:
      - status-alert
      description: Returns status alert information if any exists.
      operationId: getStatusAlert
      responses:
        200:
          description: A status alert information object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusAlert'
    post:
      tags:
      - status-alert
      description: Pushes new status alert information to all users
      operationId: postStatusAlert
      requestBody:
        description: the new status alert to use
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/StatusAlert'
        required: false
      responses:
        200:
          description: A status alert information object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusAlert'
      x-codegen-request-body-name: statusAlert
  /v1/profile:
    get:
      tags:
      - profile
      description: Returns the user's profile information
      operationId: getMe
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
    delete:
      tags:
      - profile
      description: Deletes the user's profile and gsuite account, does not clean up
        in firecloud.
      operationId: deleteProfile
      responses:
        204:
          description: Request Received.
          content: {}
    patch:
      tags:
      - profile
      description: Updates a users profile
      operationId: updateProfile
      requestBody:
        description: the new profile to use
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        required: false
      responses:
        204:
          description: Request received.
          content: {}
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: updatedProfile
  /v1/getUserTermsOfServiceStatus:
    get:
      tags:
      - profile
      description: Returns if the logged in user has accepted the latest versions
        of the All of Us and Terra Terms of Service agreements
      operationId: getUserTermsOfServiceStatus
      responses:
        200:
          description: Returns true if user has accepted latest versions of the All
            of Us and Terra Terms of Service agreements
          content:
            application/json:
              schema:
                type: boolean
  /v1/signOut:
    post:
      tags:
      - user
      description: SignOut user's gsuite account
      operationId: signOut
      responses:
        204:
          description: User signout success
          content: {}
  /v1/acceptTermsOfService:
    post:
      tags:
      - profile
      description: User accepts current version of Terra and specific version Of All
        of Us Terms of Service
      operationId: acceptTermsOfService
      parameters:
      - name: termsOfServiceVersion
        in: query
        description: Version of the All of Us TOS that the user has acknowledged
        schema:
          type: integer
          format: int32
      responses:
        204:
          description: User has accepted AOU and Terra Terms of service.
          content: {}
  /v1/confirmProfile:
    post:
      tags:
      - profile
      description: Used by users to confirm that their profile is up to date, as part
        of the annual renewal compliance process.
      operationId: confirmProfile
      responses:
        204:
          description: Profile Confirmed.
          content: {}
  /v1/confirmPublications:
    post:
      tags:
      - profile
      description: Used by users to confirm that they have either reported any AoU-related
        publications, or they have none.
      operationId: confirmPublications
      responses:
        204:
          description: Publications Confirmed.
          content: {}
  /v1/is-username-taken:
    get:

      tags:
      - profile
      description: Checks to see if the given username is not available.
      operationId: isUsernameTaken
      security: []
      parameters:
      - name: username
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: The answer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameTakenResponse'
  /v1/update-contact-email:
    post:
      tags:
      - profile
      description: Only for accounts that have not logged in yet, update contact email.
      operationId: updateContactEmail
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactEmailRequest'
        required: false
      responses:
        200:
          description: Contact Email Updated
          content: {}
        400:
          description: Invalid contact email address
          content: {}
        403:
          description: Unable to process this request
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: updateContactEmailRequest
  /v1/resend-welcome-email:
    post:
      tags:
      - profile
      description: Resend welcome email
      operationId: resendWelcomeEmail
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendWelcomeEmailRequest'
        required: false
      responses:
        200:
          description: Welcome Email sent.
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: resendWelcomeEmail
  /v1/send-billing-setup-email:
    post:
      tags:
      - profile
      description: Send billing setup email to GCP partner
      operationId: sendBillingSetupEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendBillingSetupEmailRequest'
        required: false
      responses:
        200:
          description: Billing setup email sent.
          content: {}
        403:
          description: Forbidden
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: sendBillingSetupEmail
  /v1/google-account:
    post:
      tags:
      - profile
      description: Creates an account in the researchallofus.org domain.
      operationId: createAccount
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: false
      responses:
        200:
          description: Account created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Error occurred while creating account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: createAccountRequest
  /v1/update-nih-token:
    post:
      tags:
      - profile
      description: Updates a users NIH token
      operationId: updateNihToken
      requestBody:
        description: the token retrieved from NIH
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NihToken'
        required: false
      responses:
        200:
          description: The user's updated profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: token
  /v1/user/link-ras-account:
    post:
      tags:
      - profile
      description: Link user with a RAS account
      operationId: linkRasAccount
      requestBody:
        description: The authorization code from RAS.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RasLinkRequestBody'
        required: false
      responses:
        200:
          description: The user's account linking information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: rasLinkRequestBody
  /v1/page-visits:
    post:
      tags:
      - profile
      description: Updates a users page visits
      operationId: updatePageVisits
      requestBody:
        description: the users pageVisits
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageVisit'
        required: false
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: pageVisit
  /v1/account/submit-data-user-code-of-conduct:
    post:
      tags:
      - profile
      description: Submits consent to the Data User Code of Conduct for researchers.
      operationId: submitDUCC
      parameters:
      - name: duccSignedVersion
        in: query
        description: Version \# of the Data User Code of Conduct that was signed.
        required: true
        schema:
          type: integer
      - name: initials
        in: query
        description: Initials of the user on the form.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /v1/account/sync-training-status:
    post:
      tags:
      - profile
      summary: Sync compliance training status
      description: Retrieves moodleId(either from DB or call from Moodle API) and
        gets Training status on the basis of that
      operationId: syncComplianceTrainingStatus
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/account/use-absorb:
    get:
      tags:
      - profile
      summary: Whether the user should use Absorb for compliance training
      operationId: useAbsorb
      responses:
        200:
          description: Whether the user should use Absorb for compliance training
          content:
            application/json:
              schema:
                type: boolean
  /v1/account/sync-era-commons-status:
    post:
      tags:
      - profile
      summary: Sync eRA Commons status
      description: Retrieves and stores the current user's NIH / eRA Commons linkage
        status, fetched via the FireCloud API.
      operationId: syncEraCommonsStatus
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/account/sync-two-factor-auth-status:
    post:
      tags:
      - profile
      summary: Sync two factor auth status
      description: Syncs a user's 2FA status from google
      operationId: syncTwoFactorAuthStatus
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/auth-domain/{groupName}:
    post:
      tags:
      - authDomain
      description: This endpoint will create the registered auth domain.
      operationId: createAuthDomain
      parameters:
      - name: groupName
        in: path
        description: groupName
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successfully created auth domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthDomainCreatedResponse'
  /v1/userSearch/{accessTierShortName}/{term}:
    get:
      tags:
      - user
      description: |
        Return a page of users matching a search term and an access tier. Used by autocomplete for workspace sharing.
      operationId: userSearch
      parameters:
      - name: accessTierShortName
        in: path
        description: The shortName corresponding to an access tier to search in. Requesting
          user must also be a member of this tier.
        required: true
        schema:
          type: string
      - name: term
        in: path
        description: String to find in user's name or email address. Search is a case-insensitive
          substring match.
        required: true
        schema:
          type: string
      - name: pageToken
        in: query
        description: Pagination token retrieved from a previous call to user; used
          for retrieving additional pages of results.
        schema:
          type: string
      - name: pageSize
        in: query
        description: Maximum number of results to return in a response. Defaults to
          10.
        schema:
          type: integer
      - name: sortOrder
        in: query
        description: Sort order, either 'asc' or 'desc'. Defaults to 'asc' on the
          user's email.
        schema:
          type: string
      responses:
        200:
          description: The user information matching supplied search terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
  /v1/user/billingAccounts:
    get:
      tags:
      - user
      description: Returns a list of billing accounts the caller can set a workspace's
        billing account to
      operationId: listBillingAccounts
      responses:
        200:
          description: List of billing accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbenchListBillingAccountsResponse'
  /v1/admin/security/workspaces/{workspaceNamespace}/delete-runtimes:
    post:
      tags:
      - workspaceAdmin
      summary: Delete specified (or all if no specified list) runtimes in given workspace
        namespace.
      description: An admin gated endpoint that deletes given runtimes in a given
        workspaace.
      operationId: deleteRuntimesInWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The workspace's workspace namespace. the runtimes
        required: true
        schema:
          type: string
      requestBody:
        description: A list of names of runtimes to delete. To delete all runtimes,
          use an empty object, without providing a list property at all (e.g., {})
          An empty list will delete no runtimes.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ListRuntimeDeleteRequest'
        required: true
      responses:
        200:
          description: Runtimes deleted
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListRuntimeResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: runtimesToDelete
  /v1/runtimes/{workspaceNamespace}:
    get:
      tags:
      - runtime
      summary: Get the user's workspace runtime.
      description: Returns the current user's runtime, if any, which has been created
        for the given workspace.
      operationId: getRuntime
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      responses:
        200:
          description: The runtime for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runtime'
        404:
          description: No runtime exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - runtime
      summary: Create a workspace runtime.
      description: |
        Creates a new runtime for the current user in the given billing project. If a runtime already exists for the user in this billing project, a 409 conflict error is returned (even if the runtime is still initializing or is not in a ready state).
        TODO(RW-3697): Custom runtime creation params should be added as a body param here.
      operationId: createRuntime
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      requestBody:
        description: notebooks runtime definition
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Runtime'
        required: true
      responses:
        200:
          description: Runtime was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        409:
          description: A runtime for this user and workspace already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: runtime
    delete:
      tags:
      - runtime
      summary: Delete a workspace runtime.
      description: 'TODO(RW-3695): updateRuntime should be added as a PATCH endpoint
        here.'
      operationId: deleteRuntime
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: deleteDisk
        in: query
        description: Whether or not disk should be deleted if the runtime is using
          persistent disk. Default to false if not specified
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: No runtime exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - runtime
      summary: Updates the configuration of a runtime
      description: In order to update the configuration of a runtime, it must first
        be running or paused
      operationId: updateRuntime
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateRuntimeRequest'
        required: false
      responses:
        202:
          description: Runtime update request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: runtime
  /v1/runtimes/{workspaceNamespace}/localize:
    post:
      tags:
      - runtime
      summary: Localize files to the user's runtime.
      description: Localizes files to the runtime for the current user and given workspace.
        As a side-effect, JSON workspace environment files will also be localized
        to the runtime.
      operationId: localize
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      requestBody:
        description: Localization request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuntimeLocalizeRequest'
        required: false
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeLocalizeResponse'
        404:
          description: Runtime or Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
  /v1/workspaces/{workspaceNamespace}/apps:
    get:
      tags:
      - apps
      summary: List user apps in workspace
      description: List user apps the caller has access to, in given workspaces
      operationId: listAppsInWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      responses:
        200:
          description: List of user apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponse'
        404:
          description: No user app exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - apps
      summary: Create a user app in this workspace.
      description: "Creates a new user app for the current user in the given workspace.\
        \ If a user app already \nexists for the user in this billing project, a 409\
        \ conflict error is returned (even if the \napp is still initializing or is\
        \ not in a ready state).\n"
      operationId: createApp
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      requestBody:
        description: User App definition
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
        required: true
      responses:
        200:
          description: User App was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: The specified workspace was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: A user app for this user and workspace already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: app
  /v1/workspaces/{workspaceNamespace}/apps/{appName}:
    get:
      tags:
      - apps
      summary: Get the user's app by name in a workspace.
      description: Returns the current user's app by name in a workspace if exists.
      operationId: getApp
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: appName
        in: path
        description: The name of the user app.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The user app for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAppEnvironment'
        404:
          description: No user app exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - apps
      summary: Delete a workspace user app.
      operationId: deleteApp
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: appName
        in: path
        description: The name of the user app.
        required: true
        schema:
          type: string
      - name: deleteDisk
        in: query
        description: Whether or not the disk should be deleted if the user app is
          using a persistent disk. Default to false if not specified
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: No user app exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - apps
      summary: Updates the configuration of a user app
      description: In order to update the configuration of a user app, it must first
        be running or paused
      operationId: updateApp
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: appName
        in: path
        description: The name of the user app.
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UserAppEnvironment'
        required: false
      responses:
        202:
          description: User App update request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        412:
          description: Compute is temporarily suspended for security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: app
  /v1/workspaces/{workspaceNamespace}/apps/{appName}/localize:
    post:
      tags:
      - apps
      summary: Localize files to the user's GKE App.
      description: Localize files to the user's GKE App.
      operationId: localizeApp
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: appName
        in: path
        description: The name of the user app.
        required: true
        schema:
          type: string
      requestBody:
        description: Localization request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppLocalizeRequest'
        required: false
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppLocalizeResponse'
      x-codegen-request-body-name: body
  /v1/workspaces/{workspaceNamespace}/disks:
    get:
      tags:
      - disks
      summary: Lists persistent disks in the user's workspace. Only disks in READY/CREATING/RESTORING
        state will be returned.
      operationId: listOwnedDisksInWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      responses:
        200:
          description: The persistent disk for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDisksResponse'
        404:
          description: No persistent disk exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/workspaces/{workspaceNamespace}/disks/{diskName}:
    get:
      tags:
      - disks
      summary: Get the user's workspace persistent disk by name.
      operationId: getDisk
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: diskName
        in: path
        description: diskName
        required: true
        schema:
          type: string
      responses:
        200:
          description: The persistent disk for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disk'
        404:
          description: No persistent disk exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - disks
      summary: Delete a persistent disk.
      description: Delete a persistent disk by name.
      operationId: deleteDisk
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: diskName
        in: path
        description: diskName
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: No persistent disk exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - disks
      summary: Updates the configuration of a persistent disk
      description: In order to update the configuration of a persistent disk, it must
        first be ready
      operationId: updateDisk
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: diskName
        in: path
        description: diskName
        required: true
        schema:
          type: string
      - name: diskSize
        in: query
        description: Update disk disk Size
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Persistent disk update request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/workspaces:
    get:
      tags:
      - workspaces
      description: Returns all workspaces that a user has access to
      operationId: getWorkspaces
      responses:
        200:
          description: A list of workspace definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponseListResponse'
    post:
      tags:
      - workspaces
      description: Creates a workspace
      operationId: createWorkspace
      requestBody:
        description: workspace definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        required: false
      responses:
        200:
          description: The workspace that was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
      x-codegen-request-body-name: workspace
  /v1/workspaces/createAsync:
    post:
      tags:
      - workspaces
      description: Creates a workspace asynchronously
      operationId: createWorkspaceAsync
      requestBody:
        description: workspace definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        required: false
      responses:
        200:
          description: The workspace has been scheduled for creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceOperation'
      x-codegen-request-body-name: workspace
  /v1/workspaces/operations/{id}:
    get:
      tags:
      - workspaces
      description: Returns a workspace operation, only accessible to the creator of
        the operation.
      operationId: getWorkspaceOperation
      parameters:
      - name: id
        in: path
        description: The workspace operation ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: The asynchronous workspace operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceOperation'
  /v1/workspaces/published:
    get:
      tags:
      - workspaces
      description: Returns a list of published workspaces
      operationId: getPublishedWorkspaces
      responses:
        200:
          description: A list of workspace definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponseListResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/isNotebookTransferComplete:
    get:
      tags:
      - workspaces
      description: Checks if the notebooks have been copied to the workspace
      operationId: notebookTransferComplete
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: Returns true if the notebooks have been copied to the workspace
          content:
            application/json:
              schema:
                type: boolean
  /v1/workspaces/access/{workspaceNamespace}:
    get:
      tags:
      - workspaces
      description: Returns the WorkspaceAccessLevel Enum as String for  workspace
        namespace
      operationId: getWorkspaceAccess
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      responses:
        200:
          description: A workspace access level string
          content:
            application/json:
              schema:
                type: string
        403:
          description: Forbidden
          content: {}
  /v1/workspaces/{workspaceNamespace}/{workspaceId}:
    get:
      tags:
      - workspaces
      description: Returns the workspace definition with the specified ID and namespace
      operationId: getWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: A workspace response containing workspace and access level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
        403:
          description: User doesnt have access to the workspace's access tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - workspaces
      description: Deletes the workspace definition with the specified ID and namespace
      operationId: deleteWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        202:
          description: Workspace deletion request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    patch:
      tags:
      - workspaces
      description: Modifies the workspace definition with the specified ID and namespace;
        fields that are omitted will not be modified
      operationId: updateWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      requestBody:
        description: workspace definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
        required: false
      responses:
        200:
          description: The updated workspace definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
      x-codegen-request-body-name: workspace
  /v2/workspaces/{workspaceNamespace}/{workspaceId}/resources:
    get:
      tags:
      - workspaces
      description: Gets a user defined selection of objects contained within a workspace
      operationId: getWorkspaceResourcesV2
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: resourceTypesToFetch
        in: query
        description: Types of workspace resources to fetch. Currently only supports
          Cohorts, Cohort Reviews, Concept Sets, and Datasets
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResourceResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/billing-usage:
    get:
      tags:
      - workspaces
      description: Gets the free tier billing spend for a specified workspace
      operationId: getBillingUsage
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: The billing usage for a workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBillingUsageResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/creator-free-credits-remaining:
    get:
      tags:
      - workspaces
      description: Gets the free credits remaining for the creator of a specified
        workspace
      operationId: getWorkspaceCreatorFreeCreditsRemaining
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: The free credits remaining for the creator of a workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCreatorFreeCreditsRemainingResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/share:
    patch:
      tags:
      - workspaces
      description: Shares/unshares a workspace with the given users and permissions.
        Use the WorkspaceAccessLevel enum value "NO ACCESS" to unshare.  All existing
        users and roles who are not specified in this request are not affected.
      operationId: shareWorkspacePatch
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      requestBody:
        description: users to share/unshare the workspace with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareWorkspaceRequest'
        required: false
      responses:
        200:
          description: Successful share response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceUserRolesResponse'
      x-codegen-request-body-name: body
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/duplicate:
    post:
      tags:
      - workspaces
      description: |
        Duplicate an existing workspace, with given modifications to workspace metadata. Caller will own the newly duplicated workspace, and must have read access to the source workspace. In addition to workspace metadata, the following will also be duplicated:
          - the associated Firecloud workspace
          - cohorts, along with reviews and annotations
          - notebooks located in the default notebook directory for this workspace
      operationId: cloneWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneWorkspaceRequest'
        required: false
      responses:
        200:
          description: Successful duplicate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneWorkspaceResponse'
      x-codegen-request-body-name: body
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/duplicateAsync:
    post:
      tags:
      - workspaces
      description: |
        Asynchronously duplicate an existing workspace. Semantics otherwise match cloneWorkspace.
      operationId: duplicateWorkspaceAsync
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneWorkspaceRequest'
        required: false
      responses:
        200:
          description: Successful duplicate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceOperation'
      x-codegen-request-body-name: body
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/userRoles:
    get:
      tags:
      - workspaces
      description: Returns the user roles for all collaborators on a workspace
      operationId: getFirecloudWorkspaceUserRoles
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list of workspace collaborators
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceUserRolesResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/publish:
    post:
      tags:
      - workspaceAdmin
      description: Makes a workspace public to all AoU registered users. Requires
        FEATURED_WORKSPACE_ADMIN authority.
      operationId: publishWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/unpublish:
    post:
      tags:
      - workspaceAdmin
      description: Makes a workspace public to all AoU registered users. Requires
        FEATURED_WORKSPACE_ADMIN authority.
      operationId: unpublishWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /v1/admin/workspaces/{workspaceNamespace}/audit:
    get:
      tags:
      - workspaceAdmin
      description: |
        Fetch audit logs involving this workspace as either a subject or object. Requires the RESEARCHER_DATA_VIEW authority.
      operationId: getWorkspaceAuditLogEntries
      parameters:
      - name: workspaceNamespace
        in: path
        description: |
          Firecloud Namespace for the AoU workspace to be queried.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: |
          Maximum number of entries to return, sorted by timestamp descending.
        schema:
          type: integer
          default: 100
      - name: after
        in: query
        description: |
          Earliest time matched by the query (inclusive). Epoch millis.
          Note that while Swagger allows a date-time formatted string query parameter, it appears Spring doesn't handle that well today. It gives the error message described at https://github.com/swagger-api/swagger-codegen/issues/4113.
        schema:
          type: integer
          format: int64
          default: 0
      - name: before
        in: query
        description: |
          Upper bound on timestamp of most recent result (exclusive). Specified as milliseconds since Epoch (though declared as a string). Defaults to current timestamp.
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: |
            List of rows matching the query result. queryMetadata contains the workspaceDatabaaseId (for post-processing) as well as the query actually executed (as a starting point for exploring manually in BigQuery).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAuditLogQueryResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebook-list:
    get:
      tags:
      - notebooks
      summary: Get details of Python files from google Bucket directory notebook
      description: Returns list of name and path of python files from google bucket,
        directory notebook.
      operationId: getNoteBookList
      parameters:
      - name: workspaceNamespace
        in: path
        description: workspaceNamespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: workspaceId
        required: true
        schema:
          type: string
      responses:
        200:
          description: List of files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileDetail'
        404:
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/unsafe-self-bypass-access-requirements:
    post:
      tags:
      - userAdmin
      description: Updates the given user to bypass all access requirements
      operationId: unsafeSelfBypassAccessRequirements
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        403:
          description: Self bypass is disallowed in this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/users/{usernameWithoutGsuiteDomain}/audit:
    get:
      tags:
      - userAdmin
      description: |
        Fetch audit logs involving this user as either a subject or object. Requires the RESEARCHER_DATA_VIEW authority.
      operationId: getUserAuditLogEntries
      parameters:
      - name: usernameWithoutGsuiteDomain
        in: path
        description: |
          Username of user, not including the environment-specific domain, e.g. "@fake-research-aou.org".
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: |
          Maximum number of entries to return, sorted by timestamp descending. This entry count also determines (in a less predictable way) how many bundled actions are in the response.
        schema:
          type: integer
          default: 100
      - name: after
        in: query
        description: |
          Earliest time matched by the query (inclusive). Epoch millis.
          Note that while Swagger allows a date-time formatted string query parameter, it appears Spring doesn't handle that well today. It gives the error message described at https://github.com/swagger-api/swagger-codegen/issues/4113.
        schema:
          type: integer
          format: int64
          default: 0
      - name: before
        in: query
        description: |
          Upper bound on timestamp of most recent result (exclusive). Specified as milliseconds since Epoch (though declared as a string). Defaults to current timestamp.
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: |
            List of rows matching the query result. queryMetadata contains the workspaceDatabaaseId (for post-processing) as well as the query actually executed (as a starting point for exploring manually in BigQuery).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuditLogQueryResponse'
  /v1/admin/users/updateAccount:
    post:
      tags:
      - userAdmin
      description: Updates a subset of a user's account metadata, as defined by the
        AccountPropertyUpdate object.  Requires ACCESS_CONTROL_ADMIN authority.
      operationId: updateAccountProperties
      requestBody:
        description: The admin edit request to perform on a user
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPropertyUpdate'
        required: false
      responses:
        200:
          description: The user's updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: User associated with request could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: request
  /v1/admin/users/getUserByUsername:
    get:
      tags:
      - userAdmin
      description: Returns a user's profile for review. Requires ACCESS_CONTROL_ADMIN
        authority.
      operationId: getUserByUsername
      parameters:
      - name: username
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: A user's profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/users/list:
    get:
      tags:
      - userAdmin
      description: Returns a list of profiles for users to be reviewed. Requires ACCESS_CONTROL_ADMIN
        authority.
      operationId: getAllUsers
      responses:
        200:
          description: A list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserListResponse'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/users/batchSyncAccess:
    post:
      tags:
      - userAdmin
      description: Batch sync user access modules, asynchronously. This is a work
        around until SAM supports batch update. See https://broadworkbench.atlassian.net/browse/CA-1504
      operationId: batchSyncAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSyncAccessRequest'
        required: false
      responses:
        200:
          description: The user's updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSyncAccessResponse'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: request
  /v1/admin/workspaces/{workspaceNamespace}/locked:
    post:
      tags:
      - workspaceAdmin
      description: Set admin locked state for the workspace
      operationId: setAdminLockedState
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLockingRequest'
        required: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/workspaces/{workspaceNamespace}/unlocked:
    post:
      tags:
      - workspaceAdmin
      description: Set admin unlocked state for the workspace
      operationId: setAdminUnlockedState
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /v1/admin/workspaces/{workspaceNamespace}:
    get:
      tags:
      - workspaceAdmin
      description: Given a workspace namespace (Google Cloud Platform  Project ID),
        returns workspace details. Requires the RESEARCHER_DATA_VIEW authority.
      operationId: getWorkspaceAdminView
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      responses:
        200:
          description: Federated details about the workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAdminView'
        404:
          description: Workspace not found for namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/workspaces/{workspaceNamespace}/cloudStorageTraffic:
    get:
      tags:
      - workspaceAdmin
      description: Returns a time series of cloud storage traffic for the given project.
        Requires the RESEARCHER_DATA_VIEW authority.
      operationId: getCloudStorageTraffic
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudStorageTraffic'
  /v1/admin/workspaces/{workspaceNamespace}/notebooks/{notebookName}/readonly:
    post:
      tags:
      - workspaceAdmin
      description: Get the HTML for a read only view of the notebook. RESEARCHER_DATA_VIEW
        authority required.
      operationId: adminReadOnlyNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: notebookName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccessReason'
        required: true
      responses:
        200:
          description: HTML Read Only version of the notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadOnlyNotebookResponse'
      x-codegen-request-body-name: accessReason
  /v1/admin/workspaces/{workspaceNamespace}/files:
    get:
      tags:
      - workspaceAdmin
      description: |
        Get a list of files corresponding to the storage objects associated with the Workspace. RESEARCHER_DATA_VIEW authority required.
      operationId: listFiles
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: onlyAppFiles
        in: query
        schema:
          type: boolean
      responses:
        200:
          description: List of files in this Workspace's storage bucket
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileDetail'
  /v1/admin/egressEvents:
    post:
      tags:
      - egressEventsAdmin
      description: |
        Administrative API to receive a paginated list of egress events. Optionally filtered by different criteria.
      operationId: listEgressEvents
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ListEgressEventsRequest'
        required: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEgressEventsResponse'
      x-codegen-request-body-name: request
  /v1/admin/egressEvents/{id}:
    patch:
      tags:
      - egressEventsAdmin
      description: |
        Administrative API to update an egress event. Currently, only the following fields can be updated - all other fields are ignored:
          - status (REMEDIATED or VERIFIED_FALSE_POSITIVE)
      operationId: updateEgressEvent
      parameters:
      - name: id
        in: path
        description: The egress event ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateEgressEventRequest'
        required: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressEvent'
      x-codegen-request-body-name: request
  /v1/admin/egressEvents/{id}/audit:
    post:
      tags:
      - egressEventsAdmin
      description: |
        Administrative API to get audit details for an egress event.
      operationId: auditEgressEvent
      parameters:
      - name: id
        in: path
        description: The egress event ID
        required: true
        schema:
          type: string
      requestBody:
        description: Empty request object included for future extension.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AuditEgressEventRequest'
        required: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEgressEventResponse'
      x-codegen-request-body-name: request
  /v1/admin/sumo/egressEvent:
    post:
      tags:
      - sumoLogic
      description: Registers an egress event detected by SumoLogic with the Workbench.
        Forwards the event to Stackdriver for recording and potential alerting.
      operationId: logEgressEvent
      security: []
      parameters:
      - name: X-API-KEY
        in: header
        description: Semi-secret API key sent by SumoLogic. This will be checked against
          the set of valid API keys stored in the per-environment credentials bucket.
        required: true
        schema:
          type: string
      requestBody:
        description: Egress event request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SumologicEgressEventRequest'
        required: false
      responses:
        204:
          description: The egress event was successfully handled.
          content: {}
      x-codegen-request-body-name: request
  /v1/admin/users/{userId}/egressBypassWindow:
    get:
      tags:
      - userAdmin
      description: |
        List all of the user's egress bypass windows.  Require RESEARCHER_DATA_VIEW authority
      operationId: listEgressBypassWindows
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEgressBypassWindowResponse'
    post:
      tags:
      - userAdmin
      description: |
        Administrative API to add egress bypass window to allow user download files without  triggering egress alerts. Require SECURITY_ADMIN authority
      operationId: createEgressBypassWindow
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateEgressBypassWindowRequest'
        required: false
      responses:
        204:
          description: success
          content: {}
      x-codegen-request-body-name: request
  /v1/cron/deleteOldRuntimes:
    get:
      tags:
      - offlineRuntime
      - cron
      description: Endpoint meant to be called offline to trigger runtime checks and
        cleanup. Enforces upgrade by deletion and re-creation for older runtime deployments.
        May be slow to execute. Only executable via App Engine cronjob.
      operationId: deleteOldRuntimes
      security: []
      responses:
        204:
          description: Runtimes were checked and handled successfully.
          content: {}
  /v1/cron/checkPersistentDisks:
    get:
      tags:
      - offlineRuntime
      - cron
      description: 'Endpoint meant to be called offline to check for old / detached
        persistent disks. Notifies workspace owners at configurable intervals about
        old disks. Only executable via App Engine cronjob. Note: rerunning this out
        of band may result in the sending of duplicate emails.'
      operationId: checkPersistentDisks
      security: []
      responses:
        204:
          description: Disks were checked and handled successfully.
          content: {}
  /v1/cron/bulkAuditProjectAccess:
    get:
      tags:
      - offlineUser
      - cron
      description: Audits project access for all users
      operationId: bulkAuditProjectAccess
      security: []
      responses:
        204:
          description: All users' project access were audited.
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/exportToRdr:
    get:
      tags:
      - offlineRdrExport
      - cron
      description: Send workbench data to RDR
      operationId: exportData
      security: []
      responses:
        204:
          description: All modified/created workspaces and users were exported
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/checkFreeTierBillingUsage:
    get:
      tags:
      - offlineBilling
      - cron
      description: Find and alert users that have exceeded their free tier billing
        usage
      operationId: checkFreeTierBillingUsage
      security: []
      responses:
        204:
          description: No Error
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/checkFreeTierBillingUsageCloudTask:
    get:
      tags:
        - offlineBilling
        - cron
      description: Find and alert users that have exceeded their free tier billing
        usage
      operationId: checkFreeTierBillingUsageCloudTask
      security: [ ]
      responses:
        204:
          description: No Error
          content: { }
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/groupAndPushSynchronizeAccessTasks:
    get:
      tags:
      - offlineUser
      - cron
      description: |
        This cron job ensures that cloud tasks are created to support /v1/cloudTask/synchronizeUserAccess.
      operationId: groupAndPushSynchronizeAccessTasks
      security: []
      responses:
        204:
          description: No Error
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/sendAccessExpirationEmails:
    get:
      tags:
      - offlineUser
      - cron
      description: Check each user daily for access expiration (or approaching expiration)
        and send expiration or warning emails as appropriate.
      operationId: sendAccessExpirationEmails
      security: []
      responses:
        204:
          description: No Error
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/monitoring/updateGaugeMetrics:
    get:
      tags:
      - offlineMonitoring
      - cron
      description: Trigger recording of all gauge metrics
      operationId: updateGaugeMetrics
      security: []
      responses:
        204:
          description: No content
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/uploadReportingSnapshot:
    get:
      tags:
      - offlineReporting
      - cron
      description: |
        Capture a reporting snapshot and begin the upload task to BigQuery reporting dataset.
      operationId: uploadReportingSnapshot
      security: []
      responses:
        204:
          description: No content
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/checkPendingEgressEvents:
    get:
      tags:
      - offlineEgress
      - cron
      description: Endpoint meant to be called offline to trigger re-enqueueing of
        any pending egress events. Only executable via App Engine cronjob.
      operationId: checkPendingEgressEvents
      security: []
      responses:
        204:
          description: No content.
          content: {}
  /v1/cron/checkObjectNameSize:
    get:
      tags:
      - offlineObjectNameSize
      - cron
      operationId: checkObjectNameSize
      security: []
      responses:
        204:
          description: No content.
          content: {}
  /v1/cron/ensureTestUserTosCompliance:
    get:
      tags:
      - offlineTestUsers
      - cron
      description: Keep test users' TOS compliance statuses in the appropriate states
      operationId: ensureTestUserTosCompliance
      security: []
      responses:
        204:
          description: No content.
          content: {}
  /v1/cron/emailNewUserSatisfactionSurveyLinks:
    get:
      tags:
      - offlineNewUserSatisfactionSurvey
      - cron
      description: Email newly eligible users a link to take the new user satisfaction
        survey.
      operationId: emailNewUserSatisfactionSurveyLinks
      security: []
      responses:
        204:
          description: No content.
          content: {}
  /v1/cron/deleteTestUserWorkspaces:
    get:
      tags:
      - offlineTestUsers
      - cron
      description: Delete all test users' workspaces
      operationId: deleteAllTestUserWorkspaces
      security: []
      responses:
        204:
          description: No content.
          content: {}
  /v1/cron/deleteTestUserWorkspacesOrphanedInRawls:
    get:
      tags:
      - offlineTestUsers
      - cron
      description: Delete all test users' workspaces from Rawls
      operationId: deleteAllTestUserWorkspacesOrphanedInRawls
      security: []
      responses:
        204:
          description: No content.
          content: {}
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/readonly:
    post:
      tags:
      - notebooks
      description: Get the HTML for a read only view of the notebook
      operationId: readOnlyNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: notebookName
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: HTML Read Only version of the notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadOnlyNotebookResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/rename:
    post:
      tags:
      - notebooks
      description: Renames specified notebook
      operationId: renameNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      requestBody:
        description: new name for notebook
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotebookRename'
        required: true
      responses:
        200:
          description: Successful rename
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/duplicate:
    post:
      tags:
      - notebooks
      description: Duplicates specified notebook
      operationId: cloneNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: notebookName
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful duplicate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/copy:
    post:
      tags:
      - notebooks
      description: Copy specified notebook in path to specified workspace in body
      operationId: copyNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: notebookName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyRequest'
        required: true
      responses:
        200:
          description: Successful copy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
      x-codegen-request-body-name: copyNotebookRequest
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/kernel:
    get:
      tags:
      - notebooks
      description: Get Kernel Type of notebook
      operationId: getNotebookKernel
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: notebookName
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Kernel Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KernelTypeResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/delete:
    delete:
      tags:
      - notebooks
      description: Deletes specified notebook
      operationId: deleteNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: notebookName
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/lockingMetadata:
    get:
      tags:
      - notebooks
      summary: Get the locking metadata for a notebook
      description: |
        Get the locking metadata for a notebook, if available.  If the notebook is not locked
        (e.g. at first creation) this may be empty.  Additionally, the caller of this endpoint
        may not have the appropriate permissions to determine who is locking this notebook.
        When this is the case, the lastLockedBy field is set to UNKNOWN.
      operationId: getNotebookLockingMetadata
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: notebookName
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: The locking metadata fields for the notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotebookLockingMetadataResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews:
    get:
      tags:
      - cohortReview
      description: Returns all cohort reviews in a workspace
      operationId: getCohortReviewsInWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list of cohort definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReviewListResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews/{id}:
    get:
      tags:
      - cohortReview
      description: Returns all cohort reviews per cohortId
      operationId: getCohortReviewsByCohortId
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: cohort primary key
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A list of cohort reviews.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReviewListResponse'
    delete:
      tags:
      - cohortReview
      description: Deletes the cohort review with the specified ID
      operationId: deleteCohortReview
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: specifies which cohort review
        required: true
        schema:
          type: integer
          format: int64
      responses:
        202:
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    patch:
      tags:
      - cohortReview
      description: Modifies the cohort review with the specified ID; fields that are
        omitted will not be modified
      operationId: updateCohortReview
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: specifies which cohort review
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: cohort review
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortReview'
        required: false
      responses:
        200:
          description: The updated cohort review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReview'
      x-codegen-request-body-name: cohortReview
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts:
    get:
      tags:
      - cohorts
      description: Returns all cohort definitions in a workspace
      operationId: getCohortsInWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      responses:
        200:
          description: A list of cohort definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortListResponse'
    post:
      tags:
      - cohorts
      description: Creates a cohort definition in a workspace.
      operationId: createCohort
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      requestBody:
        description: cohort definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cohort'
        required: false
      responses:
        200:
          description: The cohort definition that was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
        400:
          description: Bad Request. Cohort name already exists
          content: {}
      x-codegen-request-body-name: cohort
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/duplicate:
    post:
      tags:
      - cohorts
      description: Creates a duplicate of the cohort specified by cohortId
      operationId: duplicateCohort
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      requestBody:
        description: Duplicate Cohort Request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DuplicateCohortRequest'
        required: false
      responses:
        200:
          description: The cohort definition that was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
        400:
          description: Bad Request. Cohort name already exists
          content: {}
      x-codegen-request-body-name: DuplicateCohortRequest
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/{cohortId}:
    get:
      tags:
      - cohorts
      description: Returns the cohort definition with the specified ID
      operationId: getCohort
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: cohortId
        in: path
        description: Cohort ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A cohort definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
    delete:
      tags:
      - cohorts
      description: Deletes the cohort definition with the specified ID
      operationId: deleteCohort
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: cohortId
        in: path
        description: Cohort ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        202:
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    patch:
      tags:
      - cohorts
      description: Modifies the cohort definition with the specified ID; fields that
        are omitted will not be modified
      operationId: updateCohort
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      - name: cohortId
        in: path
        description: Cohort ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: cohort definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cohort'
        required: false
      responses:
        200:
          description: The updated cohort definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
      x-codegen-request-body-name: cohort
  /v1/workspaces/user-recent-resources:
    get:
      tags:
      - userMetrics
      description: Returns the resources accessed by user order by access time desc
      operationId: getUserRecentResources
      responses:
        200:
          description: A list of resources order by last access time desc order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResourceResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/update:
    post:
      tags:
      - userMetrics
      description: Add/update user recent resource
      operationId: updateRecentResource
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        schema:
          type: string
      requestBody:
        description: request object for updating recent resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecentResourceRequest'
        required: true
      responses:
        200:
          description: Successfully added/updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResource'
      x-aou-note: |
        this response type is currently only ever used by Notebooks because other
        resources are stored in our db, and therefore cache ops are
        done for them in the backend
      x-codegen-request-body-name: RecentResourceRequest
  /v1/workspaces/user-recent-workspaces:
    get:
      tags:
      - workspaces
      description: Returns the workspaces edited by the user in descending order of
        update time
      operationId: getUserRecentWorkspaces
      responses:
        200:
          description: A list of workspaces order by last-updated time in descending
            order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentWorkspaceResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-workspaces/update:
    post:
      tags:
      - workspaces
      description: Add/update user recent workspaces
[...]
