openapi: 3.0.1
info:
  title: AllOfUs Workbench API
  description: |
    The API for the AllOfUs workbench.

    Throughout, we use integer/int64 in preference to string/date-time because Swagger's
    date formatting is inconsistent between server and client. Time values are stored as
    milliseconds since the UNIX epoch.

    Note: all requests tagged as "cron" must have the header X-Appengine-Cron:
    true, which app engine itself only sets when invoking as a cronjob.
    See https://cloud.google.com/appengine/docs/standard/java/config/cron#securing_urls_for_cron
    and o.p.w.interceptors.CronInterceptor which implements the header check.
  termsOfService: http://www.pmi-ops.org/terms_of_service.html
  contact:
    name: developer_help@pmi-ops.org
  license:
    name: BSD
  version: 0.1.0
servers:
  - url: https://api.pmi-ops.org/
security:
  - aou_oauth: []
paths:
  /v1/status:
    get:
      tags:
        - status
      description: Returns the status of the various services and integrations
      operationId: getStatus
      responses:
        200:
          description: A map of system name to status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v1/config:
    get:
      tags:
        - config
      description: Returns some server configuration data.
      operationId: getConfig
      responses:
        200:
          description: Configuration data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
  /v1/featured-workspace-config:
    get:
      tags:
        - featured-workspaces-config
      description: Returns the featured workspaces config
      operationId: getFeaturedWorkspacesConfig
      responses:
        200:
          description: List of featured workspaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedWorkspacesConfigResponse'
  /v1/cdrVersions:
    get:
      tags:
        - cdrVersions
      description: Returns all curated data repository (CDR) versions that the user
        has access to
      operationId: getCdrVersions
      responses:
        200:
          description: A list of CDR versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdrVersionListResponse'
  /v1/status-alert:
    get:
      tags:
        - status-alert
      description: Returns status alert information if any exists.
      operationId: getStatusAlert
      responses:
        200:
          description: A status alert information object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusAlert'
    post:
      tags:
        - status-alert
      description: Pushes new status alert information to all users
      operationId: postStatusAlert
      requestBody:
        description: the new status alert to use
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/StatusAlert'
        required: false
      responses:
        200:
          description: A status alert information object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusAlert'
      x-codegen-request-body-name: statusAlert
  /v1/profile:
    get:
      tags:
        - profile
      description: Returns the user's profile information
      operationId: getMe
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
    delete:
      tags:
        - profile
      description: Deletes the user's profile and gsuite account, does not clean up
        in firecloud.
      operationId: deleteProfile
      responses:
        204:
          description: Request Received.
          content: {}
    patch:
      tags:
        - profile
      description: Updates a users profile
      operationId: updateProfile
      requestBody:
        description: the new profile to use
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        required: false
      responses:
        204:
          description: Request received.
          content: {}
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: updatedProfile
  /v1/is-username-taken:
    get:
      tags:
        - profile
      description: Checks to see if the given username is not available.
      operationId: isUsernameTaken
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: The answer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameTakenResponse'
  /v1/update-contact-email:
    post:
      tags:
        - profile
      description: Only for accounts that have not logged in yet, update contact email.
      operationId: updateContactEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactEmailRequest'
        required: false
      responses:
        200:
          description: Contact Email Updated
          content: {}
        400:
          description: Invalid contact email address
          content: {}
        403:
          description: Unable to process this request
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: updateContactEmailRequest
  /v1/resend-welcome-email:
    post:
      tags:
        - profile
      description: Resend welcome email
      operationId: resendWelcomeEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendWelcomeEmailRequest'
        required: false
      responses:
        200:
          description: Welcome Email sent.
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: resendWelcomeEmail
  /v1/invitation-key-verification:
    post:
      tags:
        - profile
      description: Verifies invitation key.
      operationId: invitationKeyVerification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationVerificationRequest'
        required: false
      responses:
        200:
          description: Invitation Key verified.
          content: {}
        400:
          description: Error occurred while verifying Invitation Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: invitationVerificationRequest
  /v1/google-account:
    post:
      tags:
        - profile
      description: Creates an account in the researchallofus.org domain.
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: false
      responses:
        200:
          description: Account created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Error occurred while creating account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: createAccountRequest
  /v1/beta-access:
    post:
      tags:
        - profile
      description: Request betaAccess.
      operationId: requestBetaAccess
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /v1/update-nih-token:
    post:
      tags:
        - profile
      description: Updates a users NIH token
      operationId: updateNihToken
      requestBody:
        description: the token retrieved from NIH
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NihToken'
        required: false
      responses:
        200:
          description: The user's updated profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: token
  /v1/page-visits:
    post:
      tags:
        - profile
      description: Updates a users page visits
      operationId: updatePageVisits
      requestBody:
        description: the users pageVisits
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageVisit'
        required: false
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: pageVisit
  /v1/account/submit-data-use-agreement:
    post:
      tags:
        - profile
      description: Submits consent to the data use agreement for researchers.
      operationId: submitDataUseAgreement
      parameters:
        - name: dataUseAgreementSignedVersion
          in: query
          description: Version \# of the Data Use Agreement that was signed.
          required: true
          schema:
            type: integer
        - name: initials
          in: query
          description: Initials of the user on the form.
          required: true
          schema:
            type: string
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /v1/account/sync-training-status:
    post:
      tags:
        - profile
      summary: Sync compliance training status
      description: Retrieves moodleId(either from DB or call from Moodle API) and
        gets Training status on the basis of that
      operationId: syncComplianceTrainingStatus
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/account/sync-era-commons-status:
    post:
      tags:
        - profile
      summary: Sync eRA Commons status
      description: Retrieves and stores the current user's NIH / eRA Commons linkage
        status, fetched via the FireCloud API.
      operationId: syncEraCommonsStatus
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/account/sync-two-factor-auth-status:
    post:
      tags:
        - profile
      summary: Sync two factor auth status
      description: Syncs a user's 2FA status from google
      operationId: syncTwoFactorAuthStatus
      responses:
        200:
          description: The user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/auth-domain/{groupName}:
    post:
      tags:
        - authDomain
      description: This endpoint will create the registered auth domain.
      operationId: createAuthDomain
      parameters:
        - name: groupName
          in: path
          description: groupName
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successfully created group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /v1/auth-domain/users:
    post:
      tags:
        - authDomain
      summary: enable/disable a user to an auth domain if you have ID verification
        authority
      operationId: updateUserDisabledStatus
      requestBody:
        description: Request containing user email to update and a disabled status
          to update the user to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDisabledRequest'
        required: false
      responses:
        204:
          description: Successfully Updated User In Group
          content: {}
        403:
          description: You must be an admin of this group in order to enable/disable
            members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: FireCloud Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: request
  /v1/user/{term}:
    get:
      tags:
        - user
      description: Returns user information matching search terms
      operationId: user
      parameters:
        - name: term
          in: path
          description: String to find in user's name or email address. Search is a case-insensitive
            substring match.
          required: true
          schema:
            type: string
        - name: pageToken
          in: query
          description: |
            Pagination token retrieved from a previous call to user; used for retrieving additional pages of results.
          schema:
            type: string
        - name: pageSize
          in: query
          description: |
            Maximum number of results to return in a response. Defaults to 10.
          schema:
            type: integer
        - name: sortOrder
          in: query
          description: Sort order, either 'asc' or 'desc'. Defaults to 'asc' on the
            user's email.
          schema:
            type: string
      responses:
        200:
          description: The user information matching supplied search terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
  /v1/user/billingAccounts:
    get:
      tags:
        - user
      description: Returns a list of billing accounts the caller can set a workspace's
        billing account to
      operationId: listBillingAccounts
      responses:
        200:
          description: List of billing accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbenchListBillingAccountsResponse'
  /v1/admin/security/clusters/{billingProjectId}/delete-clusters:
    post:
      tags:
        - cluster
      summary: Delete specified (or all if no specified list) clusters in a project
      description: |
        An admin gated endpoint that deletes given clusters in a given billing project.
      operationId: deleteClustersInProject
      parameters:
        - name: billingProjectId
          in: path
          description: The unique identifier of the Google Billing Project containing
            the clusters
          required: true
          schema:
            type: string
      requestBody:
        description: A list of names of clusters to delete. To delete all clusters,
          use an empty object, without providing a list property at all (e.g., {})
          An empty list will delete no clusters.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ListClusterDeleteRequest'
        required: true
      responses:
        200:
          description: Clusters deleted
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListClusterResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: clustersToDelete
  /v1/clusters/{workspaceNamespace}:
    get:
      tags:
        - cluster
      summary: Get the user's workspace cluster.
      description: |
        Returns the current user's cluster, if any, which has been created for the given workspace.
      operationId: getCluster
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
      responses:
        200:
          description: The cluster for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        404:
          description: No cluster exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - cluster
      summary: Create a workspace cluster.
      description: |
        Creates a new cluster for the current user in the given billing project. If a cluster already exists for the user in this billing project, a 409 conflict error is returned (even if the cluster is still initializing or is not in a ready state).
        TODO(RW-3697): Custom cluster creation params should be added as a body param here.
      operationId: createCluster
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
      responses:
        200:
          description: Returns the cluster that was created for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        409:
          description: A cluster for this user and workspace already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    delete:
      tags:
        - cluster
      summary: Delete a workspace cluster.
      description: |
        TODO(RW-3695): updateCluster should be added as a PATCH endpoint here.
      operationId: deleteCluster
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        404:
          description: No cluster exists for this user and workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/clusters/{workspaceNamespace}/localize:
    post:
      tags:
        - cluster
      summary: Localize files to the user's cluster.
      description: |
        Localizes files to the cluster for the current user and given workspace. As a side-effect, JSON workspace environment files will also be localized to the cluster.
      operationId: localize
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
      requestBody:
        description: Localization request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterLocalizeRequest'
        required: false
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterLocalizeResponse'
        404:
          description: Cluster or Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
  /v1/billingProjects:
    get:
      tags:
        - profile
      summary: List billing projects for a user
      operationId: getBillingProjects
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingProjectMembership'
        404:
          description: User Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /v1/workspaces:
    get:
      tags:
        - workspaces
      description: Returns all workspaces that a user has access to
      operationId: getWorkspaces
      responses:
        200:
          description: A list of workspace definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponseListResponse'
    post:
      tags:
        - workspaces
      description: Creates a workspace
      operationId: createWorkspace
      requestBody:
        description: workspace definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        required: false
      responses:
        200:
          description: The workspace that was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
      x-codegen-request-body-name: workspace
  /v1/workspaces/published:
    get:
      tags:
        - workspaces
      description: Returns a list of published workspaces
      operationId: getPublishedWorkspaces
      responses:
        200:
          description: A list of workspace definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponseListResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}:
    get:
      tags:
        - workspaces
      description: Returns the workspace definition with the specified ID and namespace
      operationId: getWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: A workspace response containing workspace and access level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
    delete:
      tags:
        - workspaces
      description: Deletes the workspace definition with the specified ID and namespace
      operationId: deleteWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        202:
          description: Workspace deletion request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    patch:
      tags:
        - workspaces
      description: |
        Modifies the workspace definition with the specified ID and namespace; fields that are omitted will not be modified
      operationId: updateWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: workspace definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
        required: false
      responses:
        200:
          description: The updated workspace definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
      x-codegen-request-body-name: workspace
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/billing-usage:
    get:
      tags:
        - workspaces
      description: Gets the free tier billing spend for a specified workspace
      operationId: getBillingUsage
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: The billing usage for a workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBillingUsageResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/share:
    post:
      tags:
        - workspaces
      description: |
        Shares a workspace with the given users and permissions. Note that the entire ACL must be provided to this method (including all existing users and roles), not just the additional roles desired. Clients should first fetch existing ACLs via the getFirecloudWorkspaceUserRoles method, make any changes desired, then pass the final list to this method.
      operationId: shareWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: users to share the workspace with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareWorkspaceRequest'
        required: false
      responses:
        200:
          description: Successful share response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceUserRolesResponse'
      x-codegen-request-body-name: body
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/duplicate:
    post:
      tags:
        - workspaces
      description: |
        Duplicate an existing workspace, with given modifications to workspace metadata. Caller will own the newly duplicated workspace, and must have read access to the source workspace. In addition to workspace metadata, the following will also be duplicated:
          - the associated Firecloud workspace
          - cohorts, along with reviews and annotations
          - notebooks located in the default notebook directory for this workspace
      operationId: cloneWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneWorkspaceRequest'
        required: false
      responses:
        200:
          description: Successful duplicate response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneWorkspaceResponse'
      x-codegen-request-body-name: body
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/userRoles:
    get:
      tags:
        - workspaces
      description: Returns the user roles for all collaborators on a workspace
      operationId: getFirecloudWorkspaceUserRoles
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of workspace collaborators
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceUserRolesResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/publish:
    post:
      tags:
        - workspaces
      description: |
        Makes a workspace public to all AoU registered users. Requires FEATURED_WORKSPACE_ADMIN authority.
      operationId: publishWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/unpublish:
    post:
      tags:
        - workspaces
      description: |
        Makes a workspace public to all AoU registered users. Requires FEATURED_WORKSPACE_ADMIN authority.
      operationId: unpublishWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /v1/admin/workspaces/review:
    get:
      tags:
        - workspaces
      description: |
        Returns workspaces that need research purpose review. Requires REVIEW_RESEARCH_PURPOSE authority.
      operationId: getWorkspacesForReview
      responses:
        200:
          description: A list of workspaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebook-list:
    get:
      tags:
        - workspaces
      summary: Get details of Python files from google Bucket directory notebook
      description: |
        Returns list of name and path of python files from google bucket, directory notebook.
      operationId: getNoteBookList
      parameters:
        - name: workspaceNamespace
          in: path
          description: workspaceNamespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: workspaceId
          required: true
          schema:
            type: string
      responses:
        200:
          description: List of files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileDetail'
        404:
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/unsafe-self-bypass-access-requirement:
    post:
      tags:
        - profile
      description: |
        Updates the given user to bypass the request access requirement
      operationId: unsafeSelfBypassAccessRequirement
      requestBody:
        description: |
          Whether the requirement should be bypassed or not. Defaults to true, so an empty body  will cause the requirement to be bypassed.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessBypassRequest'
        required: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: No module exists with name submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Self bypass is disallowed in this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: bypassed
  /v1/admin/users/{userId}/bypass-access-requirement:
    post:
      tags:
        - profile
      description: |
        Updates the given user to bypass the request access requirement, e.g. "eraCommons", or "twoFactorAuth"
      operationId: bypassAccessRequirement
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: |
          Whether the requirement should be bypassed or not. Defaults to true, so an empty body  will cause the requirement to be bypassed.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessBypassRequest'
        required: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: No module exists with name submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: bypassed
  /v1/admin/users/{userId}:
    get:
      tags:
        - profile
      description: |
        Returns a user's profile for review.  Requires ACCESS_CONTROL_ADMIN authority.
      operationId: getUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: A user's profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/users/list:
    get:
      tags:
        - profile
      description: |
        Returns a list of profiles for users to be reviewed. Requires ACCESS_CONTROL_ADMIN authority.
      operationId: getAllUsers
      responses:
        200:
          description: A list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/workspaces/{workspaceNamespace}/{workspaceId}/review:
    post:
      tags:
        - workspaces
      description: Sets a research purpose review result.
      operationId: reviewWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: result of the research purpose review
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearchPurposeReviewRequest'
        required: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      x-codegen-request-body-name: review
  /v1/admin/workspaces/{workspaceNamespace}:
    get:
      tags:
        - workspaceAdmin
      description: |
        Given a workspace namespace (Google Cloud Platform  Project ID), returns workspace details. Requires the WORKSPACES_VIEW authority.
      operationId: getFederatedWorkspaceDetails
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
      responses:
        200:
          description: Federated details about the workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFederatedWorkspaceDetailsResponse'
        404:
          description: Workspace not found for namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/admin/workspaces/{workspaceNamespace}/cloudStorageTraffic:
    get:
      tags:
        - workspaceAdmin
      description: |
        Returns a time series of cloud storage traffic for the given project. Requires the WORKSPACES_VIEW authority.
      operationId: getCloudStorageTraffic
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudStorageTraffic'
  /v1/admin/clusters/updateConfig:
    post:
      tags:
        - cluster
      summary: Sets default cluster creation request parameters for a user.
      description: |
        Clusters are created with a default machine configuration. Setting this override changes that configuration for subsequent cluster creations. This change only takes effect after a new cluster creation, e.g. due to standard cluster expiration (~2w) or via manual reset. Requires DEVELOPER authority.
      operationId: updateClusterConfig
      requestBody:
        description: Cluster config update request.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateClusterConfigRequest'
        required: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      x-codegen-request-body-name: body
  /v1/admin/sumo/egressEvent:
    post:
      tags:
        - sumoLogic
      description: |
        Registers an egress event detected by SumoLogic with the Workbench. Forwards the event to Stackdriver for recording and potential alerting.
      operationId: logEgressEvent
      parameters:
        - name: X-API-KEY
          in: header
          description: |
            Semi-secret API key sent by SumoLogic. This will be checked against the set of valid API keys stored in the per-environment credentials bucket.
          required: true
          schema:
            type: string
      requestBody:
        description: Egress event request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EgressEventRequest'
        required: false
      responses:
        204:
          description: The egress event was successfully handled.
          content: {}
      x-codegen-request-body-name: request
  /v1/cron/auditBigQuery:
    get:
      tags:
        - offlineAudit
        - cron
      description: |
        Endpoint meant to be called offline to trigger BigQuery auditing; may be slow to execute. Only executable via App Engine cronjob.
      operationId: auditBigQuery
      responses:
        200:
          description: Audit was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditBigQueryResponse'
    x-aou-note: |
      Note: all requests tagged as "cron" must have the header X-Appengine-Cron:
      true, which app engine itself only sets when invoking as a cronjob.
      See https://cloud.google.com/appengine/docs/standard/java/config/cron#securing_urls_for_cron
      and o.p.w.interceptors.CronInterceptor which implements the header check.
  /v1/cron/checkClusters:
    get:
      tags:
        - offlineCluster
        - cron
      description: |
        Endpoint meant to be called offline to trigger cluster checks and cleanup. Enforces upgrades for older cluster deployments. May be slow to execute. Only executable via App Engine cronjob.
      operationId: checkClusters
      responses:
        200:
          description: Clusters were checked and handled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckClustersResponse'
  /v1/cron/bulkSyncComplianceTrainingStatus:
    get:
      tags:
        - offlineUser
        - cron
      description: sync moodle badge/training status for all users.
      operationId: bulkSyncComplianceTrainingStatus
      responses:
        204:
          description: The user table is updated with training status.
          content: {}
        404:
          description: User not found while retrieving  badge.
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/bulkSyncEraCommonsStatus:
    get:
      tags:
        - offlineUser
        - cron
      description: sync eRA Commons linkage status for all users.
      operationId: bulkSyncEraCommonsStatus
      responses:
        204:
          description: All users' eRA Commons statuses were updated.
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/bulkSyncTwoFactorAuthStatus:
    get:
      tags:
        - offlineUser
        - cron
      description: sync 2FA status for all users
      operationId: bulkSyncTwoFactorAuthStatus
      responses:
        204:
          description: All users' 2FA statuses were updated.
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/bulkAuditProjectAccess:
    get:
      tags:
        - offlineUser
        - cron
      description: Audits project access for all users
      operationId: bulkAuditProjectAccess
      responses:
        204:
          description: All users' project access were audited.
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/exportToRdr:
    get:
      tags:
        - offlineRdrExport
        - cron
      description: Send workbench data to RDR
      operationId: exportData
      responses:
        204:
          description: All modified/created workspaces and users were exported
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/bufferBillingProjects:
    get:
      tags:
        - offlineBilling
        - cron
      description: If the AoU Billing Project buffer is not full, refill with one
        or more billing projects.
      operationId: bufferBillingProjects
      responses:
        204:
          description: No Error
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/syncBillingProjectStatus:
    get:
      tags:
        - offlineBilling
        - cron
      description: Fetch a BillingProjectBufferEntry that is in the CREATING state
        and check its status on Firecloud
      operationId: syncBillingProjectStatus
      responses:
        204:
          description: No Error
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/cleanBillingBuffer:
    get:
      tags:
        - offlineBilling
        - cron
      description: Find BillingProjectBufferEntries that have failed during the creation
        or assignment step and set their statuses to ERROR
      operationId: cleanBillingBuffer
      responses:
        204:
          description: No Error
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/checkFreeTierBillingUsage:
    get:
      tags:
        - offlineBilling
        - cron
      description: Find and alert users that have exceeded their free tier billing
        usage
      operationId: checkFreeTierBillingUsage
      responses:
        204:
          description: No Error
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/billingProjectGarbageCollection:
    get:
      tags:
        - offlineBilling
        - cron
      description: Trigger a bulk transfer of ownership of billing projects associated
        with deleted workspaces
      operationId: billingProjectGarbageCollection
      responses:
        204:
          description: Billing Project Garbage Collection was successful.
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/monitoring/billingProjectBufferStatus:
    get:
      tags:
        - monitoring
      description: Return statistics about the billing buffer.
      operationId: getBillingProjectBufferStatus
      responses:
        200:
          description: No Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProjectBufferStatus'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cron/monitoring/updateGaugeMetrics:
    get:
      tags:
        - offlineMonitoring
        - cron
      description: Trigger recording of all gauge metrics
      operationId: updateGaugeMetrics
      responses:
        204:
          description: No content
          content: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/rename:
    post:
      tags:
        - workspaces
      description: Renames specified notebook
      operationId: renameNotebook
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: new name for notebook
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newName:
                  type: string
        required: true
      responses:
        200:
          description: Successful rename
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
      x-codegen-request-body-name: NotebookRename
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/duplicate:
    post:
      tags:
        - workspaces
      description: Duplicates specified notebook
      operationId: cloneNotebook
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: notebookName
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful duplicate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/copy:
    post:
      tags:
        - workspaces
      description: Copy specified notebook in path to specified workspace in body
      operationId: copyNotebook
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: notebookName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyRequest'
        required: true
      responses:
        200:
          description: Successful copy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
      x-codegen-request-body-name: copyNotebookRequest
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/delete:
    delete:
      tags:
        - workspaces
      description: Deletes specified notebook
      operationId: deleteNotebook
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: notebookName
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/readonly:
    post:
      tags:
        - workspaces
      description: Get the HTML for a read only view of the notebook
      operationId: readOnlyNotebook
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: notebookName
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: HTML Read Only version of the notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadOnlyNotebookResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/lockingMetadata:
    get:
      tags:
        - workspaces
      summary: Get the locking metadata for a notebook
      description: |
        Get the locking metadata for a notebook, if available.  If the notebook is not locked
        (e.g. at first creation) this may be empty.  Additionally, the caller of this endpoint
        may not have the appropriate permissions to determine who is locking this notebook.
        When this is the case, the lastLockedBy field is set to UNKNOWN.
      operationId: getNotebookLockingMetadata
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: notebookName
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The locking metadata fields for the notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotebookLockingMetadataResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews:
    get:
      tags:
        - cohortReview
      description: Returns all cohort reviews in a workspace
      operationId: getCohortReviewsInWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of cohort definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReviewListResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews/{cohortReviewId}:
    delete:
      tags:
        - cohortReview
      description: Deletes the cohort review with the specified ID
      operationId: deleteCohortReview
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: cohortReviewId
          in: path
          description: specifies which cohort review
          required: true
          schema:
            type: integer
            format: int64
      responses:
        202:
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    patch:
      tags:
        - cohortReview
      description: |
        Modifies the cohort review with the specified ID; fields that are omitted will not be modified
      operationId: updateCohortReview
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: cohortReviewId
          in: path
          description: specifies which cohort review
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: cohort review
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortReview'
        required: false
      responses:
        200:
          description: The updated cohort review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReview'
      x-codegen-request-body-name: cohortReview
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts:
    get:
      tags:
        - cohorts
      description: Returns all cohort definitions in a workspace
      operationId: getCohortsInWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of cohort definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortListResponse'
    post:
      tags:
        - cohorts
      description: Creates a cohort definition in a workspace.
      operationId: createCohort
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: cohort definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cohort'
        required: false
      responses:
        200:
          description: The cohort definition that was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
        400:
          description: Bad Request. Cohort name already exists
          content: {}
      x-codegen-request-body-name: cohort
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/duplicate:
    post:
      tags:
        - cohorts
      description: Creates a duplicate of the cohort specified by cohortId
      operationId: duplicateCohort
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: Duplicate Cohort Request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DuplicateCohortRequest'
        required: false
      responses:
        200:
          description: The cohort definition that was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
        400:
          description: Bad Request. Cohort name already exists
          content: {}
      x-codegen-request-body-name: DuplicateCohortRequest
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/{cohortId}:
    get:
      tags:
        - cohorts
      description: Returns the cohort definition with the specified ID
      operationId: getCohort
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: cohortId
          in: path
          description: Cohort ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: A cohort definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
    delete:
      tags:
        - cohorts
      description: Deletes the cohort definition with the specified ID
      operationId: deleteCohort
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: cohortId
          in: path
          description: Cohort ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        202:
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    patch:
      tags:
        - cohorts
      description: |
        Modifies the cohort definition with the specified ID; fields that are omitted will not be modified
      operationId: updateCohort
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: cohortId
          in: path
          description: Cohort ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: cohort definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cohort'
        required: false
      responses:
        200:
          description: The updated cohort definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
      x-codegen-request-body-name: cohort
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/materializeCohort:
    post:
      tags:
        - cohorts
      description: |
        Materializes a cohort for a given CDR version to specified output.
      operationId: materializeCohort
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: cohort materialization request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterializeCohortRequest'
        required: false
      responses:
        200:
          description: The results of materializing the cohort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterializeCohortResponse'
      x-codegen-request-body-name: request
  /v1/workspaces/user-recent-resources:
    get:
      tags:
        - userMetrics
      description: Returns the resources accessed by user order by access time desc
      operationId: getUserRecentResources
      responses:
        200:
          description: A list of resources order by last access time desc order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentResourceResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/update:
    post:
      tags:
        - userMetrics
      description: Add/update user recent resource
      operationId: updateRecentResource
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: request object for updating recent resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecentResourceRequest'
        required: true
      responses:
        200:
          description: Successfully added/updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentResource'
      x-aou-note: |
        this response type is currently only ever used by Notebooks because other
        resources are stored in our db, and therefore cache ops are
        done for them in the backend
      x-codegen-request-body-name: RecentResourceRequest
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/delete:
    delete:
      tags:
        - userMetrics
      description: Deletes entry from recent resource
      operationId: deleteRecentResource
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: request object for updating recent resource
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RecentResourceRequest'
        required: true
      responses:
        200:
          description: Successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      x-codegen-request-body-name: RecentResourceRequest
  /v1/workspaces/user-recent-workspaces:
    get:
      tags:
        - workspaces
      description: Returns the workspaces edited by the user in descending order of
        update time
      operationId: getUserRecentWorkspaces
      responses:
        200:
          description: A list of workspaces order by last-updated time in descending
            order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentWorkspaceResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-workspaces/update:
    post:
      tags:
        - workspaces
      description: Add/update user recent workspaces
      operationId: updateRecentWorkspaces
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successfully added/updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentWorkspaceResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets:
    get:
      tags:
        - conceptSets
      description: Returns all concept sets in a workspace
      operationId: getConceptSetsInWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of concept sets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptSetListResponse'
    post:
      tags:
        - conceptSets
      description: Creates a concept set in a workspace.
      operationId: createConceptSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: create concept set request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConceptSetRequest'
        required: false
      responses:
        200:
          description: The concept set that was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptSet'
      x-codegen-request-body-name: request
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/survey-concept-sets/{surveyName}:
    get:
      tags:
        - conceptSets
      description: Returns all survey concept sets in a workspace
      operationId: getSurveyConceptSetsInWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: surveyName
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of concept sets of type surveys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptSetListResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}:
    get:
      tags:
        - conceptSets
      description: Returns the concept set definition with the specified ID
      operationId: getConceptSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: conceptSetId
          in: path
          description: Concept set ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: A concept set definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptSet'
    delete:
      tags:
        - conceptSets
      description: Deletes the concept set with the specified ID
      operationId: deleteConceptSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: conceptSetId
          in: path
          description: Concept set ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        202:
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    patch:
      tags:
        - conceptSets
      description: |
        Modifies the name or description of the concept set with the specified ID; fields that are omitted will not be modified
      operationId: updateConceptSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: conceptSetId
          in: path
          description: Concept set ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: concept set definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConceptSet'
        required: false
      responses:
        200:
          description: The updated concept set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptSet'
      x-codegen-request-body-name: conceptSet
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}/concepts:
    post:
      tags:
        - conceptSets
      description: |
        Adds or removes concepts from the concept set.
      operationId: updateConceptSetConcepts
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: conceptSetId
          in: path
          description: Concept set ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: update concept set request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConceptSetRequest'
        required: false
      responses:
        200:
          description: The updated concept set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptSet'
      x-codegen-request-body-name: request
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/concept-sets/{conceptSetId}/copy:
    post:
      tags:
        - conceptSets
      description: Copy specified concept set in path to specified workspace in body
      operationId: copyConceptSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: conceptSetId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyRequest'
        required: true
      responses:
        200:
          description: Successful copy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptSet'
      x-codegen-request-body-name: copyConceptSetRequest
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/domainInfo:
    get:
      tags:
        - concepts
      description: |
        Returns information on the domains of data in the workspace's CDR version along with participant and concept counts
      operationId: getDomainInfo
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: information on the domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainInfoResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/surveyInfo:
    get:
      tags:
        - concepts
      description: |
        Returns survey information in the workspace's CDR version along with participant and question count
      operationId: getSurveyInfo
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: information about the surveys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurveysResponse'
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/searchSurveys:
    post:
      tags:
        - concepts
      description: |
        Searches for surveys in criteria table by synonyms or survey name
      operationId: searchSurveys
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        description: survey search request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SearchSurveysRequest'
        required: false
      responses:
        200:
          description: collection of survey questions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SurveyQuestions'
      x-codegen-request-body-name: request
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/generateCode/{kernelType}:
    post:
      tags:
        - dataSet
      description: |
        Given a Data Set, return the SQL query built from it.
      operationId: generateCode
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: kernelType
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DataSetRequest'
        required: true
      responses:
        200:
          description: |
            A SQL query for each domain in the Data Set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetCodeResponse'
      x-codegen-request-body-name: dataSet
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/data-sets:
    get:
      tags:
        - dataSet
      description: Returns all data sets in a workspace
      operationId: getDataSetsInWorkspace
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of data sets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetListResponse'
    post:
      tags:
        - dataSet
      description: |
        Creates Data Set
      operationId: createDataSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DataSetRequest'
        required: true
      responses:
        200:
          description: Data set has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSet'
        400:
          description: Invalid data set request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: Data Set with the same name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: dataSetRequest
  /v1/{workspaceNamespace}/{workspaceId}/data-sets/{dataSetId}:
    get:
      tags:
        - dataSet
      operationId: getDataSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: dataSetId
          in: path
          description: Data set ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: The data set with the specified ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSet'
    delete:
      tags:
        - dataSet
      description: Deletes the data set with the specified ID
      operationId: deleteDataSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: dataSetId
          in: path
          description: Data set ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        202:
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    patch:
      tags:
        - dataSet
      operationId: updateDataSet
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: dataSetId
          in: path
          description: Data set ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: data set definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSetRequest'
        required: false
      responses:
        200:
          description: The updated data set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSet'
        409:
          description: Data Set with the same name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: dataSet
  /v1/{workspaceNamespace}/{workspaceId}/data-sets/dataSetByResourceId:
    post:
      tags:
        - dataSet
      operationId: getDataSetByResourceId
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResourceType'
        required: true
      responses:
        200:
          description: A list of data sets containg cohort/concept Id passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetListResponse'
      x-codegen-request-body-name: resourceType
  /v1/cdrVersionId/{cdrVersionId}/domain/{domain}/domainValue/{domainValue}/dataDictionaryEntry:
    get:
      tags:
        - dataSet
      operationId: getDataDictionaryEntry
      parameters:
        - name: cdrVersionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: domain
          in: path
          required: true
          schema:
            type: string
        - name: domainValue
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Detailed definition of a given domain value for the specified
            CDR Version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataDictionaryEntry'
  /v1/{workspaceNamespace}/{workspaceId}/data-set/markDirty:
    post:
      tags:
        - dataSet
      operationId: markDirty
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/MarkDataSetRequest'
        required: false
      responses:
        200:
          description: Mark all dataset with cohort/concept id as dirty
          content:
            application/json:
              schema:
                type: boolean
                default: false
      x-codegen-request-body-name: markDataSetRequest
  /v1/{workspaceNamespace}/{workspaceId}/data-set/exportToNotebook:
    post:
      tags:
        - dataSet
      description: |
        Exports a data set query to a notebook
      operationId: exportToNotebook
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DataSetExportRequest'
        required: true
      responses:
        200:
          description: Data set has been exported correctly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: Invalid data set request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: dataSetExportRequest
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/preview:
    post:
      tags:
        - dataSet
      description: |
        Preview data set
      operationId: previewDataSetByDomain
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DataSetPreviewRequest'
        required: true
      responses:
        200:
          description: |
            A SQL query for each domain in the Data Set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetPreviewResponse'
      x-codegen-request-body-name: dataSetPreviewRequest
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/domainValues/{domain}:
    get:
      tags:
        - dataSet
      description: |
        Returns all column names/values for a given domain.
      operationId: getValuesFromDomain
      parameters:
        - name: workspaceNamespace
          in: path
          description: The Workspace namespace
          required: true
          schema:
            type: string
        - name: workspaceId
          in: path
          description: The Workspace ID (a.k.a. the workspace's Firecloud name)
          required: true
          schema:
            type: string
        - name: domain
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: the values/column names in the domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainValuesResponse'
  /v1/cloudTask/exportResearcherData:
    post:
      tags:
        - cloudTaskRdrExport
        - cloudTask
      description: |
        Task handler which handle request from cloud task queue rdrQueueTest to send Researcher data
      operationId: exportResearcherData
      requestBody:
        description: The IDs of Users to be exported to Rdr.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArrayOfLong'
        required: true
      responses:
        200:
          description: |
            A SQL query for each domain in the Data Set
          content: {}
      x-codegen-request-body-name: researcherIds
    x-aou-note: |
      Endpoints for task in cloud task queue
      Note: all requests tagged as "cloudTask" must have the header X-AppEngine-QueueName:
      to the queue name, which app engine itself only sets (and overrides internally) when invoking
      cloud task. See
      https://cloud.google.com/tasks/docs/creating-appengine-handlers#reading_app_engine_task_request_headers
      and o.p.w.interceptors.CloudTaskInterceptor which implements the header check.

      Using body parameter ref ArrayOfLong instead of defining array of type long here because of
      bug in swagger version 2.3.0 https://github.com/swagger-api/swagger-codegen/issues/6745.2.2.3
  /v1/cloudTask/exportWorkspaceData:
    post:
      tags:
        - cloudTaskRdrExport
        - cloudTask
      description: |
        Task handler which handle request from cloud task queue rdrQueueTest to send Workspace data
      operationId: exportWorkspaceData
      requestBody:
        description: The IDs of workspace to be exported to Rdr.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArrayOfLong'
        required: true
      responses:
        200:
          description: |
            A SQL query for each domain in the Data Set
          content: {}
      x-codegen-request-body-name: researchIds
  /v1/institutions:
    get:
      tags:
        - institution
      description: Gets the list of all Institutions. Requires INSTITUTION_ADMIN authority.
      operationId: getInstitutions
      responses:
        200:
          description: A list of all Institutions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstitutionsResponse'
    post:
      tags:
        - institution
      description: Create an Institution. Requires INSTITUTION_ADMIN authority.
      operationId: createInstitution
      requestBody:
        description: The Institution to be created by this operation.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Institution'
        required: true
      responses:
        200:
          description: The Institution created by this operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
      x-codegen-request-body-name: institutionToCreate
    x-aou-note: Institution endpoints, for Verified Institutional Affiliation
  /v1/institutions/publicDetails:
    get:
      tags:
        - institution
      description: Gets the public details for the list of all Institutions.
      operationId: getPublicInstitutionDetails
      responses:
        200:
          description: A list of all Institutions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicInstitutionDetailsResponse'
  /v1/institutions/{shortName}:
    get:
      tags:
        - institution
      description: Gets the Institution corresponding to the shortName ID. Requires
        INSTITUTION_ADMIN authority.
      operationId: getInstitution
      parameters:
        - name: shortName
          in: path
          description: A short unique name for the Institution used as an identifier,
            such as "VUMC"
          required: true
          schema:
            type: string
      responses:
        200:
          description: The Institution corresponding to the shortName ID.
          content:
            application/json:
              schema:
[...]
