swagger: '2.0'
info:
  version: "0.1.0"
  title: "AllOfUs Workbench API"
  description: "The API for the AllOfUs workbench."
  termsOfService: "http://www.pmi-ops.org/terms_of_service.html"
  contact:
    name: "developer_help@pmi-ops.org"
  license:
    name: "MIT"
host: "api.pmi-ops.org"
securityDefinitions:
  # Establish the fact that *some endpoints* are OAuth protected
  # by defining an `aou_oauth` security mode, which we'll assing
  # to any protected endpoints below.
  aou_oauth:
    type: oauth2
    flow: accessCode
schemes:
  - "https"
produces:
  - "application/json"
 # Establish the fact that all endpoints are protected: this annotation
# ensures that client libraries know to send bearer tokens when calling
security:
  - aou_oauth: []
##########################################################################################
## PATHS
##########################################################################################
paths:
   # User methods ########################################################################

  /api/v1/me:
    get:
      tags:
        - profile
      description: Returns the user's profile information
      operationId: "getMe"
      responses:
        "200":
          description: The user's profile.
          schema:
            $ref: "#/definitions/Profile"

  /api/v1/sendBug:
    post:
      tags:
        - bugs
      description: Sends an email to developers about a user reported bug
      operationId: "sendBug"
      parameters:
        - in: body
          name: bugReport
          description: user reported bug
          required: true
          schema:
            $ref: "#/definitions/BugReport"
      responses:
        "200":
          description: Success message
          schema:
            $ref: "#/definitions/BugReport"


  # Workspaces ###########################################################################

  /api/v1/workspaces:
    get:
      tags:
        - workspaces
      description: Returns all workspaces that a user has access to
      operationId: "getWorkspaces"
      responses:
        "200":
          description: A list of workspace definitions.
          schema:
            $ref: "#/definitions/WorkspaceListResponse"
    post:
      tags:
        - workspaces
      description: Creates a workspace
      operationId: "createWorkspace"
      parameters:
        - in: body
          name: workspace
          description: workspace definition
          schema:
            $ref: "#/definitons/Workspace"
      responses:
        "200":
          description: The workspace that was created.
          schema:
            $ref: "#/definitions/Workspace"
  /api/v1/workspaces/{workspaceNamespace}/{workspaceId}:
    get:
      tags:
        - workspaces
      description: Returns the workspace definition with the specified ID and namespace
      operationId: "getWorkspace"
      parameters:
        - in: path
          name: workspaceNamespace
          type: string
          required: true
          description: namespace of the workspace containing the cohort definition
        - in: path
          name: workspaceId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition
      responses:
        "200":
          description: A workspace definition
          schema:
            $ref: "#/definitions/Workspace"
    patch:
      tags:
        - workspaces
      description: >
        Modifies the workspace definition with the specified ID and namespace;
        fields that are omitted will not be modified
      operationId: "updateWorkspace"
      parameters:
        - in: path
          name: workspaceNamespace
          type: string
          required: true
          description: namespace of the workspace containing the cohort definition
        - in: path
          name: workspaceId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition
        - in: body
          name: workspace
          description: workspace definition
          schema:
            $ref: "#/definitions/Workspace"
      responses:
        "200":
          description: The updated workspace definition
          schema:
            $ref: "#/definitions/Workspace"
    delete:
      tags:
        - workspaces
      description: Deletes the workspace definition with the specified ID and namespace
      operationId: "deleteWorkspace"
      parameters:
        - in: path
          name: workspaceNamespace
          type: string
          required: true
          description: namespace of the workspace containing the cohort definition
        - in: path
          name: workspaceId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition


  # Cohorts ##############################################################################

  /api/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts:
    get:
      tags:
        - cohorts
      description: Returns all cohort definitions in a workspace
      operationId: "getCohortsInWorkspace"
      parameters:
       - in: path
         name: workspaceNamespace
         type: string
         required: true
         description: namespace containing the workspace to retrieve cohort definitions from
       - in: path
         name: workspaceId
         type: string
         required: true
         description: ID of the workspace to retrieve cohort definitions from.
      responses:
        "200":
          description: A list of cohort definitions.
          schema:
            $ref: "#/definitions/CohortListResponse"
    post:
      tags:
        - cohorts
      description: Creates a cohort definition in a workspace.
      operationId: "createCohort"
      parameters:
        - in: path
          name: workspaceNamespace
          type: string
          required: true
          description: namespace containing the workspace to create a cohort definition in
        - in: path
          name: workspaceId
          type: string
          required: true
          description: ID of the workspace to create a cohort definition in
        - in: body
          name: cohort
          description: cohort definition
          schema:
            $ref: "#/definitions/Cohort"
      responses:
        "200":
          description: The cohort definition that was created.
          schema:
            $ref: "#/definitions/Cohort"

  /api/v1/workspaces/{workspaceNamespace}/{workspaceId}/cohorts/{cohortId}:
    get:
      tags:
        - cohorts
      description: Returns the cohort definition with the specified ID
      operationId: "getCohort"
      parameters:
        - in: path
          name: workspaceNamespace
          type: string
          required: true
          description: namespace of the workspace containing the cohort definition
        - in: path
          name: workspaceId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition
        - in: path
          name: cohortId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition
      responses:
        "200":
          description: A cohort definition
          schema:
            $ref: "#/definitions/Cohort"
    patch:
      tags:
        - cohorts
      description: >
        Modifies the cohort definition with the specified ID; fields that are omitted
        will not be modified
      operationId: "updateCohort"
      parameters:
        - in: path
          name: workspaceNamespace
          type: string
          required: true
          description: namespace of the workspace containing the cohort definition
        - in: path
          name: workspaceId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition
        - in: path
          name: cohortId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition
        - in: body
          name: cohort
          description: cohort definition
          schema:
            $ref: "#/definitions/Cohort"
      responses:
        "200":
          description: The updated cohort definition
          schema:
            $ref: "#/definitions/Cohort"
    delete:
      tags:
        - cohorts
      description: Deletes the cohort definition with the specified ID
      operationId: "deleteCohort"
      parameters:
        - in: path
          name: workspaceNamespace
          type: string
          required: true
          description: namespace of the workspace containing the cohort definition
        - in: path
          name: workspaceId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition
        - in: path
          name: cohortId
          type: string
          required: true
          description: ID of the workspace containing the cohort definition

##########################################################################################
## DEFINITIONS
##########################################################################################
definitions:
  DataAccessLevel:
    type: string
    description: levels of access to data in the curated data repository
    enum: &DATA_ACCESS_LEVEL [registered, protected]

  WorkspaceListResponse:
    type: "object"
    required:
     - "items"
    properties:
      items:
        type: "array"
        items:
           $ref: "#/definitions/Workspace"

  Workspace:
    type: "object"
    required:
     - "name"
    properties:
      id:
        type: string
      name:
        type: string
      namespace:
        type: string
      description:
        type: string
      cdrVersionId:
        type: string
      creator:
        type: string
      dataAccessLevel:
        type: string
        enum: *DATA_ACCESS_LEVEL
      creationTime:
        type: string
        format: date-time
      lastModifiedTime:
        type: string
        format: date-time

  CohortListResponse:
    type: "object"
    required:
     - "items"
    properties:
      items:
        type: "array"
        items:
           $ref: "#/definitions/Cohort"

  Cohort:
    type: "object"
    required:
      - "name"
      - "criteria"
      - "type"
    properties:
      id:
        type: string
      name:
        type: string
      criteria:
        type: string
      type:
        type: string
      description:
        type: string
      creator:
        type: string
      creationTime:
        type: string
        format: date-time
      lastModifiedTime:
        type: string
        format: date-time

  BugReport:
    type: "object"
    required:
      - "shortDescription"
      - "reproSteps"
    properties:
      shortDescription:
        description: A short description of the bug
        type: string
      reproSteps:
        description: Steps to reproduce the bug
        type: string

  Profile:
    type: "object"
    required:
      - "email"
      - "enabledInFireCloud"
      - "dataAccessLevel"
    properties:
      email:
        description: email address of the user
        type: string
      enabledInFireCloud:
        description: true if the user is enabled in FireCloud, false if they are not
        type: boolean
      dataAccessLevel:
        description: what level of data access the user has
        type: string
        enum: *DATA_ACCESS_LEVEL
      fullName:
        description: the user's full name
        type: string
      givenName:
        description: the user's given name (e.g. Alice)
        type: string
      familyName:
        description: the user's family  name (e.g. Jones)
        type: string
