openapi: 3.0.0
info:
  title: AllOfUs Workbench API
  description: The API for the AllOfUs workbench.
  contact:
    name: developer_help@pmi-ops.org
  version: '0.1.0'
servers:
- url: https://api.pmi-ops.org
  variables: {}
- url: https://fake-authorization-url.pmi-ops.org
  variables: {}
- url: https://fake-token-url.pmi-ops.org
  variables: {}
paths:
  /v1/account/submit-data-use-agreement:
    post:
      tags:
      - profile
      summary: submitDataUseAgreement
      description: Submits consent to the data use agreement for researchers.
      operationId: submitDataUseAgreement
      parameters:
      - name: dataUseAgreementSignedVersion
        in: query
        description: Version \# of the Data Use Agreement that was signed.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: initials
        in: query
        description: Initials of the user on the form.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: The user's profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      deprecated: false
  /v1/account/submit-demographic-survey:
    post:
      tags:
      - profile
      summary: submitDemographicsSurvey
      description: Submits demographic survey responses.
      operationId: submitDemographicsSurvey
      parameters: []
      responses:
        200:
          description: The user's profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      deprecated: false
  /v1/account/sync-era-commons-status:
    post:
      tags:
      - profile
      summary: syncEraCommonsStatus
      description: Retrieves and stores the current user's NIH / eRA Commons linkage status, fetched via the FireCloud API.
      operationId: syncEraCommonsStatus
      parameters: []
      responses:
        200:
          description: The user's profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/account/sync-training-status:
    post:
      tags:
      - profile
      summary: syncComplianceTrainingStatus
      description: Retrieves moodleId(either from DB or call from Moodle API) and gets Training status on the basis of that
      operationId: syncComplianceTrainingStatus
      parameters: []
      responses:
        200:
          description: The user's profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/account/sync-two-factor-auth-status:
    post:
      tags:
      - profile
      summary: syncTwoFactorAuthStatus
      description: Syncs a user's 2FA status from google
      operationId: syncTwoFactorAuthStatus
      parameters: []
      responses:
        200:
          description: The user's profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        404:
          description: User not found
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/admin/unsafe-self-bypass-access-requirement:
    post:
      tags:
      - profile
      summary: unsafeSelfBypassAccessRequirement
      description: >
        Updates the given user to bypass the request access requirement
      operationId: unsafeSelfBypassAccessRequirement
      parameters: []
      requestBody:
        description: Whether the requirement should be bypassed or not. Defaults to true, so an empty body  will cause the requirement to be bypassed.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessBypassRequest'
        required: false
      responses:
        200:
          description: success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: No module exists with name submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Self bypass is disallowed in this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/admin/users/list:
    get:
      tags:
      - profile
      summary: getAllUsers
      description: >
        Returns a list of profiles for users to be reviewed. Requires ACCESS_CONTROL_ADMIN authority.
      operationId: getAllUsers
      parameters: []
      responses:
        200:
          description: A list of users
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/admin/users/{userId}:
    get:
      tags:
      - profile
      summary: getUser
      description: >
        Returns a user's profile for review.  Requires ACCESS_CONTROL_ADMIN authority.
      operationId: getUser
      parameters:
      - name: userId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A user's profile
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/admin/users/{userId}/bypass-access-requirement:
    post:
      tags:
      - profile
      summary: bypassAccessRequirement
      description: >
        Updates the given user to bypass the request access requirement, e.g. "eraCommons", or "twoFactorAuth"
      operationId: bypassAccessRequirement
      parameters:
      - name: userId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        description: Whether the requirement should be bypassed or not. Defaults to true, so an empty body  will cause the requirement to be bypassed.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessBypassRequest'
        required: false
      responses:
        200:
          description: success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: No module exists with name submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: User doesn't have the ACCESS_CONTROL_ADMIN authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/beta-access:
    post:
      tags:
      - profile
      summary: requestBetaAccess
      description: Request betaAccess.
      operationId: requestBetaAccess
      parameters: []
      responses:
        200:
          description: The user's profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      deprecated: false
  /v1/billingProjects:
    get:
      tags:
      - profile
      summary: getBillingProjects
      description: List billing projects for a user
      operationId: getBillingProjects
      parameters: []
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingProjectMembership'
                description: OK
        404:
          description: User Not Found
        500:
          description: Internal Server Error
      deprecated: false
  /v1/google-account:
    post:
      tags:
      - profile
      summary: createAccount
      description: Creates an account in the researchallofus.org domain.
      operationId: createAccount
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: false
      responses:
        200:
          description: Account created successfully.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Error occurred while creating account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/invitation-key-verification:
    post:
      tags:
      - profile
      summary: invitationKeyVerification
      description: Verifies invitation key.
      operationId: invitationKeyVerification
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationVerificationRequest'
        required: false
      responses:
        200:
          description: Invitation Key verified.
          headers: {}
        400:
          description: Error occurred while verifying Invitation Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/is-username-taken:
    get:
      tags:
      - profile
      summary: isUsernameTaken
      description: Checks to see if the given username is not available.
      operationId: isUsernameTaken
      parameters:
      - name: username
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: The answer.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameTakenResponse'
      deprecated: false
      security: []
  /v1/page-visits:
    post:
      tags:
      - profile
      summary: updatePageVisits
      description: Updates a users page visits
      operationId: updatePageVisits
      parameters: []
      requestBody:
        description: the users pageVisits
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageVisit'
        required: false
      responses:
        200:
          description: The user's profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/profile:
    delete:
      tags:
      - profile
      summary: deleteProfile
      description: Deletes the user's profile and gsuite account, does not clean up in firecloud.
      operationId: deleteProfile
      parameters: []
      responses:
        204:
          description: Request Received.
          headers: {}
      deprecated: false
    get:
      tags:
      - profile
      summary: getMe
      description: Returns the user's profile information
      operationId: getMe
      parameters: []
      responses:
        200:
          description: The user's profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      deprecated: false
    patch:
      tags:
      - profile
      summary: updateProfile
      description: Updates a users profile
      operationId: updateProfile
      parameters: []
      requestBody:
        description: the new profile to use
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        required: false
      responses:
        204:
          description: Request received.
          headers: {}
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/resend-welcome-email:
    post:
      tags:
      - profile
      summary: resendWelcomeEmail
      description: Resend welcome email
      operationId: resendWelcomeEmail
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendWelcomeEmailRequest'
        required: false
      responses:
        200:
          description: Welcome Email sent.
          headers: {}
        500:
          description: Internal Server Error
      deprecated: false
      security: []
  /v1/update-contact-email:
    post:
      tags:
      - profile
      summary: updateContactEmail
      description: Only for accounts that have not logged in yet, update contact email.
      operationId: updateContactEmail
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactEmailRequest'
        required: false
      responses:
        200:
          description: Contact Email Updated
          headers: {}
        400:
          description: Invalid contact email address
        403:
          description: Unable to process this request
        500:
          description: Internal Server Error
      deprecated: false
      security: []
  /v1/update-nih-token:
    post:
      tags:
      - profile
      summary: updateNihToken
      description: Updates a users NIH token
      operationId: updateNihToken
      parameters: []
      requestBody:
        description: the token retrieved from NIH
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NihToken'
        required: false
      responses:
        200:
          description: The user's updated profile.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/admin/clusters/updateConfig:
    post:
      tags:
      - cluster
      summary: updateClusterConfig
      description: >
        Clusters are created with a default machine configuration. Setting this override changes that configuration for subsequent cluster creations. This change only takes effect after a new cluster creation, e.g. due to standard cluster expiration (~2w) or via manual reset. Requires DEVELOPER authority.
      operationId: updateClusterConfig
      parameters: []
      requestBody:
        description: Cluster config update request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusterConfigRequest'
        required: false
      responses:
        200:
          description: success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
  /v1/clusters/{billingProjectId}/{workspaceFirecloudName}:
    get:
      tags:
      - cluster
      summary: listClusters
      description: >
        Returns the clusters available to the current user in the given billing project. Currently there is a single default cluster supported per billing project and this cluster should always either exist or be in the process of being initialized. In a future where researchers have more control over cluster creation, this endpoint would be extended to return all clusters.
      operationId: listClusters
      parameters:
      - name: billingProjectId
        in: path
        description: The unique identifier of the Google Billing Project containing the clusters
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceFirecloudName
        in: path
        description: The firecloudName of the workspace whose notebook we're looking at
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Available clusters
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/clusters/{clusterNamespace}/{clusterName}:
    delete:
      tags:
      - cluster
      summary: deleteCluster
      description: Delete a cluster by name.
      operationId: deleteCluster
      parameters:
      - name: clusterNamespace
        in: path
        description: clusterNamespace
        required: true
        style: simple
        schema:
          type: string
      - name: clusterName
        in: path
        description: clusterName
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Deletion success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/clusters/{clusterNamespace}/{clusterName}/localize:
    post:
      tags:
      - cluster
      summary: localize
      description: Localize notebook files to the corresponding notebook cluster.
      operationId: localize
      parameters:
      - name: clusterNamespace
        in: path
        description: clusterNamespace
        required: true
        style: simple
        schema:
          type: string
      - name: clusterName
        in: path
        description: clusterName
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: Localization request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterLocalizeRequest'
        required: false
      responses:
        200:
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterLocalizeResponse'
        404:
          description: Cluster or Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/admin/workspaces/review:
    get:
      tags:
      - workspaces
      summary: getWorkspacesForReview
      description: >
        Returns workspaces that need research purpose review. Requires REVIEW_RESEARCH_PURPOSE authority.
      operationId: getWorkspacesForReview
      parameters: []
      responses:
        200:
          description: A list of workspaces
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResponse'
      deprecated: false
  /v1/admin/workspaces/{workspaceNamespace}/{workspaceId}/review:
    post:
      tags:
      - workspaces
      summary: reviewWorkspace
      description: Sets a research purpose review result.
      operationId: reviewWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: result of the research purpose review
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearchPurposeReviewRequest'
        required: false
      responses:
        200:
          description: success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
  /v1/workspaces:
    get:
      tags:
      - workspaces
      summary: getWorkspaces
      description: Returns all workspaces that a user has access to
      operationId: getWorkspaces
      parameters: []
      responses:
        200:
          description: A list of workspace definitions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponseListResponse'
      deprecated: false
    post:
      tags:
      - workspaces
      summary: createWorkspace
      description: Creates a workspace
      operationId: createWorkspace
      parameters: []
      requestBody:
        description: workspace definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        required: false
      responses:
        200:
          description: The workspace that was created.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
      deprecated: false
  /v1/workspaces/published:
    get:
      tags:
      - workspaces
      summary: getPublishedWorkspaces
      description: Returns a list of published workspaces
      operationId: getPublishedWorkspaces
      parameters: []
      responses:
        200:
          description: A list of workspace definitions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponseListResponse'
      deprecated: false
  /v1/workspaces/user-recent-workspaces:
    get:
      tags:
      - workspaces
      summary: getUserRecentWorkspaces
      description: Returns the workspaces edited by the user in descending order of update time
      operationId: getUserRecentWorkspaces
      parameters: []
      responses:
        200:
          description: A list of workspaces order by last-updated time in descending order
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecentWorkspace'
                description: A list of workspaces order by last-updated time in descending order
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}:
    delete:
      tags:
      - workspaces
      summary: deleteWorkspace
      description: Deletes the workspace definition with the specified ID and namespace
      operationId: deleteWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        202:
          description: Workspace deletion request accepted
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
    get:
      tags:
      - workspaces
      summary: getWorkspace
      description: Returns the workspace definition with the specified ID and namespace
      operationId: getWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: A workspace response containing workspace and access level
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
      deprecated: false
    patch:
      tags:
      - workspaces
      summary: updateWorkspace
      description: >
        Modifies the workspace definition with the specified ID and namespace; fields that are omitted will not be modified
      operationId: updateWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: workspace definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
        required: false
      responses:
        200:
          description: The updated workspace definition
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/duplicate:
    post:
      tags:
      - workspaces
      summary: cloneWorkspace
      description: >
        Duplicate an existing workspace, with given modifications to workspace metadata. Caller will own the newly duplicated workspace, and must have read access to the source workspace. In addition to workspace metadata, the following will also be duplicated:
          - the associated Firecloud workspace
          - cohorts, along with reviews and annotations
          - notebooks located in the default notebook directory for this workspace
      operationId: cloneWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneWorkspaceRequest'
        required: false
      responses:
        200:
          description: Successful duplicate response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneWorkspaceResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebook-list:
    get:
      tags:
      - workspaces
      summary: getNoteBookList
      description: >
        Returns list of name and path of python files from google bucket, directory notebook.
      operationId: getNoteBookList
      parameters:
      - name: workspaceNamespace
        in: path
        description: workspaceNamespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: workspaceId
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: List of files
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileDetail'
                description: List of files
        404:
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/rename:
    post:
      tags:
      - workspaces
      summary: renameNotebook
      description: Renames specified notebook
      operationId: renameNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: new name for notebook
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotebookRename'
        required: true
      responses:
        200:
          description: Successful rename
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/copy:
    post:
      tags:
      - workspaces
      summary: copyNotebook
      description: Copy specified notebook in path to specified workspace in body
      operationId: copyNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: notebookName
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyRequest'
        required: true
      responses:
        200:
          description: Successful copy
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/delete:
    delete:
      tags:
      - workspaces
      summary: deleteNotebook
      description: Deletes specified notebook
      operationId: deleteNotebook
      parameters:
      - name: notebookName
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful delete
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/duplicate:
    post:
      tags:
      - workspaces
      summary: cloneNotebook
      description: Duplicates specified notebook
      operationId: cloneNotebook
      parameters:
      - name: notebookName
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successful duplicate
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetail'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/lockingMetadata:
    get:
      tags:
      - workspaces
      summary: getNotebookLockingMetadata
      description: >
        Get the locking metadata for a notebook, if available.  If the notebook is not locked

        (e.g. at first creation) this may be empty.  Additionally, the caller of this endpoint

        may not have the appropriate permissions to determine who is locking this notebook.

        When this is the case, the lastLockedBy field is set to UNKNOWN.
      operationId: getNotebookLockingMetadata
      parameters:
      - name: notebookName
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: The locking metadata fields for the notebook
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotebookLockingMetadataResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/notebooks/{notebookName}/readonly:
    post:
      tags:
      - workspaces
      summary: readOnlyNotebook
      description: Get the HTML for a read only view of the notebook
      operationId: readOnlyNotebook
      parameters:
      - name: notebookName
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: HTML Read Only version of the notebook
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadOnlyNotebookResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/publish:
    post:
      tags:
      - workspaces
      summary: publishWorkspace
      description: >
        Makes a workspace public to all AoU registered users. Requires FEATURED_WORKSPACE_ADMIN authority.
      operationId: publishWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/share:
    post:
      tags:
      - workspaces
      summary: shareWorkspace
      description: >
        Shares a workspace with the given users and permissions. Note that the entire ACL must be provided to this method (including all existing users and roles), not just the additional roles desired. Clients should first fetch existing ACLs via the getFirecloudWorkspaceUserRoles method, make any changes desired, then pass the final list to this method.
      operationId: shareWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: users to share the workspace with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareWorkspaceRequest'
        required: false
      responses:
        200:
          description: Successful share response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceUserRolesResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/unpublish:
    post:
      tags:
      - workspaces
      summary: unpublishWorkspace
      description: >
        Makes a workspace public to all AoU registered users. Requires FEATURED_WORKSPACE_ADMIN authority.
      operationId: unpublishWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-workspaces/update:
    post:
      tags:
      - workspaces
      summary: updateRecentWorkspaces
      description: Add/update user recent workspaces
      operationId: updateRecentWorkspaces
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successfully added/updated
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecentWorkspace'
                description: Successfully added/updated
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/userRoles:
    get:
      tags:
      - workspaces
      summary: getFirecloudWorkspaceUserRoles
      description: Returns the user roles for all collaborators on a workspace
      operationId: getFirecloudWorkspaceUserRoles
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: A list of workspace collaborators
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceUserRolesResponse'
      deprecated: false
  /v1/auth-domain/users:
    post:
      tags:
      - authDomain
      summary: updateUserDisabledStatus
      description: enable/disable a user to an auth domain if you have ID verification authority
      operationId: updateUserDisabledStatus
      parameters: []
      requestBody:
        description: Request containing user email to update and a disabled status to update the user to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDisabledRequest'
        required: false
      responses:
        204:
          description: Successfully Updated User In Group
          headers: {}
        403:
          description: You must be an admin of this group in order to enable/disable members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: FireCloud Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/auth-domain/{groupName}:
    post:
      tags:
      - authDomain
      summary: createAuthDomain
      description: This endpoint will create the registered auth domain.
      operationId: createAuthDomain
      parameters:
      - name: groupName
        in: path
        description: groupName
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Successfully created group
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
  /v1/cdrVersionId/{cdrVersionId}/domain/{domain}/domainValue/{domainValue}/dataDictionaryEntry:
    get:
      tags:
      - dataSet
      summary: getDataDictionaryEntry
      operationId: getDataDictionaryEntry
      parameters:
      - name: cdrVersionId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: domain
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: domainValue
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: Detailed definition of a given domain value for the specified CDR Version
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataDictionaryEntry'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/generateCode/{kernelType}:
    post:
      tags:
      - dataSet
      summary: generateCode
      description: >
        Given a Data Set, return the SQL query built from it.
      operationId: generateCode
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: kernelType
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSetRequest'
        required: true
      responses:
        200:
          description: >
            A SQL query for each domain in the Data Set
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetCodeResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/data-set/preview:
    post:
      tags:
      - dataSet
      summary: previewDataSetByDomain
      description: >
        Preview data set
      operationId: previewDataSetByDomain
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSetPreviewRequest'
        required: true
      responses:
        200:
          description: >
            A SQL query for each domain in the Data Set
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetPreviewResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/data-sets:
    get:
      tags:
      - dataSet
      summary: getDataSetsInWorkspace
      description: Returns all data sets in a workspace
      operationId: getDataSetsInWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: A list of data sets.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetListResponse'
      deprecated: false
    post:
      tags:
      - dataSet
      summary: createDataSet
      description: >
        Creates Data Set
      operationId: createDataSet
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSetRequest'
        required: true
      responses:
        200:
          description: Data set has been created successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSet'
        400:
          description: Invalid data set request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: Data Set with the same name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/{workspaceNamespace}/{workspaceId}/data-set/exportToNotebook:
    post:
      tags:
      - dataSet
      summary: exportToNotebook
      description: >
        Exports a data set query to a notebook
      operationId: exportToNotebook
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSetExportRequest'
        required: true
      responses:
        200:
          description: Data set has been exported correctly
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        400:
          description: Invalid data set request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/{workspaceNamespace}/{workspaceId}/data-set/markDirty:
    post:
      tags:
      - dataSet
      summary: markDirty
      operationId: markDirty
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkDataSetRequest'
        required: false
      responses:
        200:
          description: Mark all dataset with cohort/concept id as dirty
          headers: {}
          content:
            text/plain:
              schema:
                type: boolean
                description: Mark all dataset with cohort/concept id as dirty
                example: false
              example: false
      deprecated: false
  /v1/{workspaceNamespace}/{workspaceId}/data-sets/dataSetByResourceId:
    get:
      tags:
      - dataSet
      summary: getDataSetByResourceId
      operationId: getDataSetByResourceId
      parameters:
      - name: resourceType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: A list of data sets containg cohort/concept Id passed.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetListResponse'
      deprecated: false
  /v1/{workspaceNamespace}/{workspaceId}/data-sets/{dataSetId}:
    delete:
      tags:
      - dataSet
      summary: deleteDataSet
      description: Deletes the data set with the specified ID
      operationId: deleteDataSet
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: dataSetId
        in: path
        description: Data set ID
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        202:
          description: ACCEPTED
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
    get:
      tags:
      - dataSet
      summary: getDataSet
      operationId: getDataSet
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: dataSetId
        in: path
        description: Data set ID
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: The data set with the specified ID
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSet'
      deprecated: false
    patch:
      tags:
      - dataSet
      summary: updateDataSet
      operationId: updateDataSet
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: dataSetId
        in: path
        description: Data set ID
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        description: data set definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSetRequest'
        required: false
      responses:
        200:
          description: The updated data set.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSet'
        409:
          description: Data Set with the same name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/cdrVersions:
    get:
      tags:
      - cdrVersions
      summary: getCdrVersions
      description: Returns all curated data repository (CDR) versions that the user has access to
      operationId: getCdrVersions
      parameters: []
      responses:
        200:
          description: A list of CDR versions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdrVersionListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/chartinfo:
    post:
      tags:
      - cohortBuilder
      summary: getDemoChartInfo
      description: Searches for demographic info about subjects.
      operationId: getDemoChartInfo
      parameters:
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        description: object of parameters by which to perform the search
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        200:
          description: A collection of criteria
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemoChartInfoListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/criteria/attribute/{conceptId}:
    get:
      tags:
      - cohortBuilder
      summary: getCriteriaAttributeByConceptId
      description: Returns criteria tree with the specified name
      operationId: getCriteriaAttributeByConceptId
      parameters:
      - name: conceptId
        in: path
        description: conceptId of brand
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of criteria
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriteriaAttributeListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/criteria/drug:
    get:
      tags:
      - cohortBuilder
      summary: getDrugBrandOrIngredientByValue
      description: Returns criteria tree matching value
      operationId: getDrugBrandOrIngredientByValue
      parameters:
      - name: value
        in: query
        description: matches name or code of drug
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: number of criteria matches to return
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of criteria
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriteriaListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/criteria/drug/ingredient/{conceptId}:
    get:
      tags:
      - cohortBuilder
      summary: getDrugIngredientByConceptId
      description: Returns criteria tree with the specified name
      operationId: getDrugIngredientByConceptId
      parameters:
      - name: conceptId
        in: path
        description: conceptId of brand
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of criteria
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriteriaListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/criteria/menu:
    get:
      tags:
      - cohortBuilder
      summary: findCriteriaMenuOptions
      description: >
        Returns criteria menu options
      operationId: findCriteriaMenuOptions
      parameters:
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of criteria menu options
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriteriaMenuOptionsListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/criteria/{domain}:
    get:
      tags:
      - cohortBuilder
      summary: getCriteriaBy
      description: >
        Returns a collection of criteria by optional query parameters of the following: type, subtype, parentId and/or allChildren
      operationId: getCriteriaBy
      parameters:
      - name: domain
        in: path
        description: the specific domain of criteria to get
        required: true
        style: simple
        schema:
          type: string
      - name: type
        in: query
        description: the specific type of criteria to get
        style: form
        explode: true
        schema:
          type: string
      - name: standard
        in: query
        description: reveals if source or standard
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          example: false
      - name: parentId
        in: query
        description: fetch direct children of parentId
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of criteria
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriteriaListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/criteria/{domain}/search:
    get:
      tags:
      - cohortBuilder
      summary: getCriteriaAutoComplete
      description: Returns matches on criteria table by code or name
      operationId: getCriteriaAutoComplete
      parameters:
      - name: domain
        in: path
        description: the specific domain of criteria to get
        required: true
        style: simple
        schema:
          type: string
      - name: type
        in: query
        description: the type of the criteria were search for
        style: form
        explode: true
        schema:
          type: string
      - name: standard
        in: query
        description: the type of the criteria were search for
        style: form
        explode: true
        schema:
          type: boolean
          default: false
          example: false
      - name: term
        in: query
        description: the term to search for
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: number of criteria matches to return
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of criteria
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriteriaListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/criteria/{domain}/search/term:
    get:
      tags:
      - cohortBuilder
      summary: findCriteriaByDomainAndSearchTerm
      description: >
        Returns a collection of criteria per search term
      operationId: findCriteriaByDomainAndSearchTerm
      parameters:
      - name: domain
        in: path
        description: the specific type of domain
        required: true
        style: simple
        schema:
          type: string
      - name: term
        in: query
        description: the term to search for
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: number of criteria matches to return
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of criteria
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriteriaListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/criteria/{domain}/{conceptId}:
    get:
      tags:
      - cohortBuilder
      summary: getStandardCriteriaByDomainAndConceptId
      description: >
        Returns a collection of criteria per concept id
      operationId: getStandardCriteriaByDomainAndConceptId
      parameters:
      - name: domain
        in: path
        description: the specific type of domain
        required: true
        style: simple
        schema:
          type: string
      - name: conceptId
        in: path
        description: the concept id to search for
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of criteria
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriteriaListResponse'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/demographics:
    get:
      tags:
      - cohortBuilder
      summary: getParticipantDemographics
      description: Will return a list all values for gender, race and ethnicity.
      operationId: getParticipantDemographics
      parameters:
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: An object which contains a list of all values for gender, race and ethnicity.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantDemographics'
      deprecated: false
  /v1/cohortbuilder/{cdrVersionId}/search:
    post:
      tags:
      - cohortBuilder
      summary: countParticipants
      description: Searches for participants based on criteria, criteria specific parameters, and modifiers.
      operationId: countParticipants
      parameters:
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        description: object of parameters by which to perform the search
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        200:
          description: A count of subjects
          headers: {}
          content:
            text/plain:
              schema:
                type: integer
                description: A count of subjects
                format: int64
      deprecated: false
  /v1/config:
    get:
      tags:
      - config
      summary: getConfig
      description: Returns some server configuration data.
      operationId: getConfig
      parameters: []
      responses:
        200:
          description: Configuration data
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
      deprecated: false
      security: []
  /v1/cron/auditBigQuery:
    get:
      tags:
      - offlineAudit
      summary: auditBigQuery
      description: >
        Endpoint meant to be called offline to trigger BigQuery auditing; may be slow to execute. Only executable via App Engine cronjob.
      operationId: auditBigQuery
      parameters: []
      responses:
        200:
          description: Audit was successful.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditBigQueryResponse'
      deprecated: false
      security: []
  /v1/cron/billingProjectGarbageCollection:
    get:
      tags:
      - offlineBilling
      summary: billingProjectGarbageCollection
      description: Trigger a bulk transfer of ownership of billing projects associated with deleted workspaces
      operationId: billingProjectGarbageCollection
      parameters: []
      responses:
        204:
          description: Billing Project Garbage Collection was successful.
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/bufferBillingProjects:
    get:
      tags:
      - offlineBilling
      summary: bufferBillingProjects
      description: If the AoU Billing Project buffer is not full, refill with one or more billing projects.
      operationId: bufferBillingProjects
      parameters: []
      responses:
        204:
          description: No Error
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/checkFreeTierBillingUsage:
    get:
      tags:
      - offlineBilling
      summary: checkFreeTierBillingUsage
      description: Find and alert users that have exceeded their free tier billing usage
      operationId: checkFreeTierBillingUsage
      parameters: []
      responses:
        204:
          description: No Error
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/cleanBillingBuffer:
    get:
      tags:
      - offlineBilling
      summary: cleanBillingBuffer
      description: Find BillingProjectBufferEntries that have failed during the creation or assignment step and set their statuses to ERROR
      operationId: cleanBillingBuffer
      parameters: []
      responses:
        204:
          description: No Error
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/syncBillingProjectStatus:
    get:
      tags:
      - offlineBilling
      summary: syncBillingProjectStatus
      description: Fetch a BillingProjectBufferEntry that is in the CREATING state and check its status on Firecloud
      operationId: syncBillingProjectStatus
      parameters: []
      responses:
        204:
          description: No Error
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/bulkAuditProjectAccess:
    get:
      tags:
      - offlineUser
      summary: bulkAuditProjectAccess
      description: Audits project access for all users
      operationId: bulkAuditProjectAccess
      parameters: []
      responses:
        204:
          description: All users' project access were audited.
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/bulkSyncComplianceTrainingStatus:
    get:
      tags:
      - offlineUser
      summary: bulkSyncComplianceTrainingStatus
      description: sync moodle badge/training status for all users.
      operationId: bulkSyncComplianceTrainingStatus
      parameters: []
      responses:
        204:
          description: The user table is updated with training status.
          headers: {}
        404:
          description: User not found while retrieving  badge.
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/bulkSyncEraCommonsStatus:
    get:
      tags:
      - offlineUser
      summary: bulkSyncEraCommonsStatus
      description: sync eRA Commons linkage status for all users.
      operationId: bulkSyncEraCommonsStatus
      parameters: []
      responses:
        204:
          description: All users' eRA Commons statuses were updated.
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/bulkSyncTwoFactorAuthStatus:
    get:
      tags:
      - offlineUser
      summary: bulkSyncTwoFactorAuthStatus
      description: sync 2FA status for all users
      operationId: bulkSyncTwoFactorAuthStatus
      parameters: []
      responses:
        204:
          description: All users' 2FA statuses were updated.
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/cron/checkClusters:
    get:
      tags:
      - offlineCluster
      summary: checkClusters
      description: >
        Endpoint meant to be called offline to trigger cluster checks and cleanup. Enforces upgrades for older cluster deployments. May be slow to execute. Only executable via App Engine cronjob.
      operationId: checkClusters
      parameters: []
      responses:
        200:
          description: Clusters were checked and handled successfully.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckClustersResponse'
      deprecated: false
      security: []
  /v1/cron/monitoring/updateGaugeMetrics:
    get:
      tags:
      - offlineMonitoring
      summary: updateGaugeMetrics
      description: Trigger recording of all gauge metrics
      operationId: updateGaugeMetrics
      parameters: []
      responses:
        204:
          description: No content
          headers: {}
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      security: []
  /v1/featured-workspace-config:
    get:
      tags:
      - featured-workspaces-config
      summary: getFeaturedWorkspacesConfig
      description: Returns the featured workspaces config
      operationId: getFeaturedWorkspacesConfig
      parameters: []
      responses:
        200:
          description: List of featured workspaces
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedWorkspacesConfigResponse'
      deprecated: false
      security: []
  /v1/monitoring/billingProjectBufferStatus:
    get:
      tags:
      - monitoring
      summary: getBillingProjectBufferStatus
      description: Return statistics about the billing buffer.
      operationId: getBillingProjectBufferStatus
      parameters: []
      responses:
        200:
          description: No Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProjectBufferStatus'
        500:
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /v1/status:
    get:
      tags:
      - status
      summary: getStatus
      description: Returns the status of the various services and integrations
      operationId: getStatus
      parameters: []
      responses:
        200:
          description: A map of system name to status.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: false
      security: []
  /v1/status-alert:
    get:
      tags:
      - status-alert
      summary: getStatusAlert
      description: Returns status alert information if any exists.
      operationId: getStatusAlert
      parameters: []
      responses:
        200:
          description: >
            A status alert information object.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusAlert'
      deprecated: false
  /v1/user/{term}:
    get:
      tags:
      - user
      summary: user
      description: Returns user information matching search terms
      operationId: user
      parameters:
      - name: term
        in: path
        description: String to find in user's name or email address. Search is a case-insensitive substring match.
        required: true
        style: simple
        schema:
          type: string
      - name: pageToken
        in: query
        description: Pagination token retrieved from a previous call to user; used for retrieving additional pages of results.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: Maximum number of results to return in a response. Defaults to 10.
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: sortOrder
        in: query
        description: Sort order, either 'asc' or 'desc'. Defaults to 'asc' on the user's email.
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: The user information matching supplied search terms
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      deprecated: false
  /v1/workspaces/user-recent-resources:
    get:
      tags:
      - userMetrics
      summary: getUserRecentResources
      description: Returns the resources accessed by user order by access time desc
      operationId: getUserRecentResources
      parameters: []
      responses:
        200:
          description: A list of resources order by last access time desc order
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecentResource'
                description: A list of resources order by last access time desc order
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/delete:
    delete:
      tags:
      - userMetrics
      summary: deleteRecentResource
      description: Deletes entry from recent resource
      operationId: deleteRecentResource
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: request object for updating recent resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecentResourceRequest'
        required: true
      responses:
        200:
          description: Successfully deleted
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/user-recent-resources/update:
    post:
      tags:
      - userMetrics
      summary: updateRecentResource
      description: Add/update user recent resource
      operationId: updateRecentResource
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: request object for updating recent resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecentResourceRequest'
        required: true
      responses:
        200:
          description: Successfully added/updated
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentResource'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews:
    get:
      tags:
      - cohortReview
      summary: getCohortReviewsInWorkspace
      description: Returns all cohort reviews in a workspace
      operationId: getCohortReviewsInWorkspace
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: A list of cohort definitions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReviewListResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/cohort-reviews/{cohortReviewId}:
    delete:
      tags:
      - cohortReview
      summary: deleteCohortReview
      description: Deletes the cohort review with the specified ID
      operationId: deleteCohortReview
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: cohortReviewId
        in: path
        description: specifies which cohort review
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        202:
          description: ACCEPTED
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: false
    patch:
      tags:
      - cohortReview
      summary: updateCohortReview
      description: >
        Modifies the cohort review with the specified ID; fields that are omitted will not be modified
      operationId: updateCohortReview
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: cohortReviewId
        in: path
        description: specifies which cohort review
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        description: cohort review
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortReview'
        required: false
      responses:
        200:
          description: The updated cohort review
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReview'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortId}/{cdrVersionId}:
    post:
      tags:
      - cohortReview
      summary: createCohortReview
      description: >
        This endpoint will create an cohort review which is a participant cohort sample specified by the review size parameter.
      operationId: createCohortReview
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: cohortId
        in: path
        description: Cohort ID
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        description: cohort review creation request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
        required: true
      responses:
        200:
          description: A cohortReviewId and cohort count
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReview'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortId}/{cdrVersionId}/participants:
    post:
      tags:
      - cohortReview
      summary: getParticipantCohortStatuses
      description: >
        Returns a collection of participants for the specified cohortId and cdrVersionId. This endpoint does pagination based on page, limit, order and column.
      operationId: getParticipantCohortStatuses
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: cohortId
        in: path
        description: Cohort ID
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: cdrVersionId
        in: path
        description: specifies which cdr version
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        description: request body for getting list of ParticipantCohortStatuses.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageFilterRequest'
        required: true
      responses:
        200:
          description: A collection of participants
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortReview'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/charts/{domain}:
    get:
      tags:
      - cohortReview
      summary: getCohortChartData
      description: Returns a collection of CohortChartData for UI charting in cohort review.
      operationId: getCohortChartData
      parameters:
      - name: domain
        in: path
        description: specifies which domain the CohortChartData should belong to.
        required: true
        style: simple
        schema:
          type: string
      - name: limit
        in: query
        description: the limit search results to
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: cohortReviewId
        in: path
        description: Cohort Review ID
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: A collection of CohortChartData
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortChartDataListResponse'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/participants/{participantId}:
    get:
      tags:
      - cohortReview
      summary: getParticipantCohortStatus
      description: This endpoint will return a ParticipantCohortStatus
      operationId: getParticipantCohortStatus
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: cohortReviewId
        in: path
        description: Cohort Review ID
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: participantId
        in: path
        description: specifies which participant
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: The ParticipantCohortStatus definition
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantCohortStatus'
      deprecated: false
    put:
      tags:
      - cohortReview
      summary: updateParticipantCohortStatus
      description: Modifies the ParticipantCohortStatus status
      operationId: updateParticipantCohortStatus
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
      - name: workspaceId
        in: path
        description: The Workspace ID (a.k.a. the workspace's Firecloud name)
        required: true
        style: simple
        schema:
          type: string
      - name: cohortReviewId
        in: path
        description: Cohort Review ID
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: participantId
        in: path
        description: specifies which participant
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contains the new review status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyCohortStatusRequest'
        required: false
      responses:
        200:
          description: The updated ParticipantCohortStatus definition
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantCohortStatus'
      deprecated: false
  /v1/workspaces/{workspaceNamespace}/{workspaceId}/review/{cohortReviewId}/participants/{participantId}/annotations:
    get:
      tags:
      - cohortReview
      summary: getParticipantCohortAnnotations
      description: This endpoint will get a collection of ParticipantCohortAnnotations.
      operationId: getParticipantCohortAnnotations
      parameters:
      - name: workspaceNamespace
        in: path
        description: The Workspace namespace
        required: true
        style: simple
        schema:
          type: string
[...]
