<clr-datagrid
  [clrDgLoading]="loading"
  (clrDgRefresh)="update($event)"
  class="datagrid-compact"
>
  <clr-dg-placeholder>No Medications Data</clr-dg-placeholder>
  <clr-dg-column [clrDgField]="'itemDate'" class="date-col">
    Date
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'standardVocabulary'" class="vocab-col">
    Standard Vocabulary
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'standardName'">
    Standard Name
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'signature'">
    Signature
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'sourceVocabulary'" class="vocab-col">
    Source Vocabulary
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'sourceValue'">
    Source Value
  </clr-dg-column>

  <clr-dg-column>
    Age At Event
  </clr-dg-column>

  <clr-dg-row *ngFor="let drug of drugs">
    <clr-dg-cell>
      {{ drug.itemDate | date:'yyyy-MM-dd HH:mm:ss' }}
    </clr-dg-cell>
    <clr-dg-cell>
      {{ drug.standardVocabulary }}
    </clr-dg-cell>
    <clr-dg-cell>
      {{ drug.standardName }}
    </clr-dg-cell>
    <clr-dg-cell>
      {{ drug.signature }}
    </clr-dg-cell>
    <clr-dg-cell>
      {{ drug.sourceVocabulary }}
    </clr-dg-cell>
    <clr-dg-cell
        [popper]="drug.sourceName"
        [popperTrigger]="'hover'"
        [popperPlacement]="'left'"
        [popperTarget]="sourceValue">
      <span #sourceValue>{{ drug.sourceValue }}</span>
    </clr-dg-cell>
    <clr-dg-cell>
      {{ drug.age }}
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
    {{ totalCount }} Records
    <clr-dg-pagination #pagination
      [clrDgTotalItems]="totalCount"
      [clrDgPageSize]="request.pageSize"
      [clrDgPage]="request.page + 1">
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
