/**
 * We have to override this so that the text will truncate correctly
 */
:host::ng-deep .clr-treenode-content {
  width: 100%!important;
}

.root-spinner {
  left: 50%;
  top: 50%;
}

.error {
  color: red;
}

.dropdown-search-container {
  position: absolute;
  width: 95%;
  margin-top: -1px;
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #FFFFFF;
  z-index: 1;
}

.condition-dropdown{
  padding-right: 1.5rem;
}

.search-container {
  width:100%;
}

.search-width {
  width:100%;
}

.tree-container {
  margin: 3rem 0 1rem;
  width: 99%;
}

.tree-container.border {
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.tree-container.ingredients {
  margin-top: 3.5rem;
}

.tree-header {
  overflow: auto;
  background: #fafafa;
  border-bottom: 1px solid #cccccc;
}

.tree-header > .btn-link {
  float: right;
  color: #216FB4;
  text-transform: none;
  letter-spacing: normal;
}

.alert.alert-warning {
  background: #f7981c;
  color: #ffffff;
  border: 1px solid #ebafa6;
  margin: 0.5rem 0.25rem;
}

.alert.alert-warning .alert-icon {
  color: #ffffff;
}
