/**
 * We have to override this so that the text will truncate correctly
 */
:host::ng-deep .clr-treenode-content {
  width: 100%!important;
}

.root-spinner {
  left: 50%;
  top: 50%;
}

.error {
  color: red;
}

.dropdown-search-container {
  position: absolute;
  width: 95%;
  margin-top: -1px;
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #FFFFFF;
  z-index: 1;
}

.condition-dropdown{
  padding-right: 1.5rem;
}

.search-container {
  width:100%;
}

.search-width {
  width:100%;
}

.tree-container {
  margin-top: 2.5rem;
}

.tree-container.ingredients {
  margin-top: 3.5rem;
}

.alert.alert-warning {
  color: #E28327;
  border: 0;
}

.alert.alert-warning .alert-icon {
  color: #E28327;
}
