<div id="wizard-modifier-container">
  <h5>Selected Modifiers</h5>
  <div *ngFor="let modifier of (modifiers$ | async); let i = index">
    <button type="button"
      [style.margin]="'0 0 0 0 '"
      [style.padding]="'0 0.25rem'"
      class="btn btn-icon btn-link btn-sm text-danger"
      (click)="remove(modifier)">
      <clr-icon shape="close"></clr-icon>
    </button>
    <span class="item-info">
      <small *ngIf="i > 0" class="font-weight-bold">AND</small>
      <small class="name">
        <strong>{{ name(modifier) }}</strong>
        <span class="text-muted">{{ value(modifier) }}</span>
      </small>
    </span>
  </div>
</div>
