ul {
  list-style-item: none;
}
li {
  display: flex;
  align-items: flex-end;
  margin: 0.5rem;
}
h3 {
  margin-top: 0;
}
.purpose, .review-buttons {
  flex: 1;
}

.error {
  color: #DC5030;
  background-color: #FFF1F0;
  height: 40px;
  width: 15rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
