<h2>Review Workspaces</h2>
<div *ngIf="contentLoaded; else contentLoading">
  <ul>
    <li *ngFor="let ws of workspaces">
      <div class="purpose">
        <h3>{{ws.name}}</h3>
        <p>by {{ws.creator}}</p>
        <p *ngIf="ws.description">{{ws.description}}</p>
        <p *ngIf="ws.researchPurpose.additionalNotes">{{ws.researchPurpose.additionalNotes}}</p>
      </div>
      <div class="review-buttons">
        <button (click)="approve(ws, true)">Approve</button>
        <button (click)="approve(ws, false)">Reject</button>
      </div>
    </li>
  </ul>
</div>
<ng-template #contentLoading>
  <div class="loading-area">
    <span class="spinner spinner-md" style="padding-top: 1rem"></span>
    <span class="loading-text">Loading workspaces for review...</span>
  </div>
</ng-template>
