.go-btn {
  transform: translateY(-49%);
}

.text-input-row {
  padding-left: 1rem;
}

.search-result-scroll-container {
  max-height: 35.5rem;
  overflow-y: auto
}

@media only screen and (max-width:575px) {
  .go-btn {
    transform: translateY(0%);
    margin-left: 80%;
  }
}


/* Some reason with the form , checkbox and checkbox-inline make it so you can't check the boxes. :(  . So styling ourselves */

.mycheckbox label {
  padding-right: 2em;
}
