<form class="form-block" [formGroup]="myForm" (ngSubmit)="searchData(myForm.value);sendString(myForm.value.search)" novalidate>
  <div class="row text-input-row right-gutter">
    <input value="{{retainedString}}" type="text" placeholder="Search by Name or Code" formControlName="search" class="form-control col-sm-11 col-md-11" name="search">
    <input type="hidden" id="standard_concept_input" formControlName="standard_concept">
    <div class="col-sm-1 col-md-1">
      <button (click)="sendString(myForm.value.search)" type="submit" class="btn btn-secondary go-btn">Go</button>
    </div>
  </div>
  <div>
    <!-- Begin:  Temporary hardcoded checkbox -->
    <!-- For somereason the checkbox classes make them not work -->
    <div class="mycheckbox">
      <!-- <label for="observed" class="custom-control custom-checkbox"> -->
      <input type="checkbox" formControlName="observed" name="observed" (change)="searchData(myForm.value)"> Observed
      <!-- </label> -->
    </div>
    <!-- End:  Temporary hardcoded checkbox -->
  </div>
</form>



<h5> Search Results</h5>
<!-- Data grid . The refresh event sends a state object of the data grid with page info and such -->
<clr-datagrid style="position: relative" (clrDgRefresh)="refresh($event)" class="search-result-scroll-container">
  <div *ngIf="loading" class="spinner-placement">
    <span style="transform:translate" class="spinner"></span>
  </div>

  <!-- <clr-dg-column>Concept Id</clr-dg-column> -->
  <clr-dg-column style="width:20rem; margin-left:1px;">Concept Name</clr-dg-column>
  <clr-dg-column class="mobile-hide">
    <clr-tooltip>
      <span clrTooltipTrigger>Domain</span>
      <clr-tooltip-content *clrIfOpen>
        <span>Domain defines the set of allowable Concepts for the fields in the CDM tables</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </clr-dg-column>
  <clr-dg-column>
    <clr-tooltip>
      <span clrTooltipTrigger>Vocabulary</span>
      <clr-tooltip-content *clrIfOpen>
        <span>Vocabulary is collected from various sources or created de novo by the OMOP community.</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </clr-dg-column>
  <clr-dg-column class="mobile-hide">
    <clr-tooltip>
      <span clrTooltipTrigger>Code</span>
      <clr-tooltip-content *clrIfOpen>
        <span>The source code being translated into a Standard Concept</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </clr-dg-column>
  <clr-dg-column class="mobile-hide">
    Prevalence
  </clr-dg-column>
  <clr-dg-column>Particpant Count</clr-dg-column>
  <clr-dg-row *clrDgItems="let concept of conceptResults; let i = index" (click)="itemClick(concept);">
    <!-- <clr-dg-cell>{{concept.concept_id}}</clr-dg-cell> -->
    <clr-dg-cell>{{concept.concept_name }}</clr-dg-cell>
    <clr-dg-cell class="mobile-hide">{{concept.domain_id}}</clr-dg-cell>
    <clr-dg-cell>{{concept.vocabulary_id}}</clr-dg-cell>
    <clr-dg-cell class="mobile-hide">{{concept.concept_code}}</clr-dg-cell>
    <clr-dg-cell class="mobile-hide">{{concept.prevalence | percent}}</clr-dg-cell>
    <clr-dg-cell>{{concept.count_value | number}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    Pager {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Concepts
    <clr-dg-pagination #pagination [clrDgPageSize]="page_len" [clrDgTotalItems]="totalItems" [clrDgPage]="1"></clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>

<!-- end row -->
