table td {
  width: 50%;
  vertical-align: middle;
}

table td input {
  width: 100%;
}

.defn-delete {
  margin: 0;
}

tbody.is-posting td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table-view {
  position: relative;
}

.spinner-overlay {
  position: absolute;
  top: 50%;
  right: 50%;
}
