<span *ngIf="isSource"><b> Source </b></span>
<span *ngIf="isStandard"><b> Standard </b></span>
<span *ngIf="indNum">{{indNum}}. </span>
<ng-container *ngIf="searchTerm; else noSearchTerm">
  <ng-container *ngFor="let word of words">
    <span [class.highlight]="matchString.test(word.toLowerCase())">
      {{word}}
    </span>
  </ng-container>
</ng-container>
<ng-template #noSearchTerm>
  <span *ngFor="let word of words">
    {{word}}
  </span>
</ng-template>
<span *ngIf="conceptId"> -- {{conceptId}}</span>