<span *ngIf="isSource"><b> Source </b></span>
<span *ngIf="isStandard"><b> Standard </b></span>
<span *ngIf="indNum">{{indNum}}. </span>
<ng-container *ngIf="searchTerm; else noSearchTerm">
  <span *ngFor="let word of words">
    <ng-container *ngIf="matchString.test(word.toLowerCase()); else noHighlight">
      <span class="noExtraSpace" *ngFor="let w of highlight(word)" [class.highlight]="matchString.test(w.toLowerCase())">
        {{w}}
      </span>
    </ng-container>
    <ng-template #noHighlight>
      {{word}}
    </ng-template>
  </span>
</ng-container>
<ng-template #noSearchTerm>
  <span *ngFor="let word of words">
    {{word}}
  </span>
</ng-template>
<span *ngIf="conceptId"> -- {{conceptId}}</span>