<ng-container *ngIf="isSource"><b> Source </b></ng-container>
<ng-container *ngIf="isStandard"><b> Standard </b></ng-container>
<ng-container *ngIf="indNum">{{indNum}}. </ng-container>
<ng-container *ngIf="searchTerm; else noSearchTerm">
  <span [class.highlight]="matchString.test(word.toLowerCase())" *ngFor="let word of words">{{word}}</span>
</ng-container>
<ng-template #noSearchTerm>
  <span *ngFor="let word of words">{{word}}</span>
</ng-template>
<ng-container *ngIf="conceptId"> -- {{conceptId}}</ng-container>