.indented {
  margin-left: 2%;
}

.table-header-descriptor {
  margin-top: 0;
  padding-right: 0.5rem;
}

.table-header {
  margin: 1rem 0 0.25rem 0;
}

h3 {
  display: inline-block;
}

.warning {
  background-color: #bbae00;
  color: white;
}

.rejected {
  background-color: red;
  color: white
}
