<h2>AoU Research Portal</h2>
<div class="area-block">
  <div class="table-header">
    <h3 class="table-header-descriptor">Workspaces</h3>
    <a class="btn btn-link" (click)="addWorkspace()">Add a Workspace</a>
  </div>
  <div class="indented">
    <clr-datagrid [clrDgLoading]="workspacesLoading">
      <clr-dg-column [style.width.%]="5">Status</clr-dg-column>
      <clr-dg-column [clrDgField]="'workspace.name'" [clrDgSortBy]="workspaceNameComparator" [style.width.%]="35">
        Name
        <clr-dg-string-filter [clrDgStringFilter]="workspaceNameFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column [style.width.%]="15">Last Modified</clr-dg-column>
      <clr-dg-column>Research Purpose</clr-dg-column>
      <clr-dg-placeholder>No workspaces found.</clr-dg-placeholder>
      <clr-dg-row *clrDgItems="let workspaceResponse of workspaceList" [clrDgItem]="workspaceResponse" class="table-row workspace-table-row">
        <clr-dg-cell>
          <div *ngIf="(workspaceResponse.workspace.researchPurpose.reviewRequested === true && workspaceResponse.workspace.researchPurpose.approved === null) else rejected">
            <clr-icon shape="warning-standard" class="warning"></clr-icon>
          </div>
          <ng-template #rejected>
            <div *ngIf="(workspaceResponse.workspace.researchPurpose.reviewRequested === true && workspaceResponse.workspace.researchPurpose.approved === false) else owner">
              <clr-icon shape="ban" class="rejected"></clr-icon>
            </div>
          </ng-template>
          <ng-template #owner>
            <clr-icon shape="success-standard" class="is-solid"></clr-icon>
          </ng-template>
          <!-- TODO: Add reader and writer display to notebook status. -->
        </clr-dg-cell>
        <clr-dg-cell><a routerLink="/workspace/{{workspaceResponse.workspace.namespace}}/{{workspaceResponse.workspace.id}}">{{workspaceResponse.workspace.name}}</a></clr-dg-cell>
        <clr-dg-cell>{{workspaceResponse.workspace.lastModifiedTime | date:'medium'}}</clr-dg-cell>
        <clr-dg-cell>{{workspaceResponse.workspace.description}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
