.container {
  display: flex;
  width: 100%;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}

.item-info {
  width: 100%;
  min-width: 0;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.item-info > small:not(:first-child):before {
  content: "\00a0";
}

.item-info > .name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.tooltip-text {
  font-size: 12px;
}

.text-size{
  font-size: 0.49rem;
  color: #4A4A4A;
}

.text-muted {
  font-size: 14px;
}

.selection-or {
  font-size: 14px;
}
