<div class="container">
  <button type="button"
    [style.margin]="'0 0 0 0 '"
    [style.padding]="'0 0.25rem'"
    class="btn btn-icon btn-link btn-sm text-danger"
    (click)="remove()">
    <clr-icon shape="close"></clr-icon>
  </button>
  <span class="item-info">
    <small *ngIf="index > 0" class="font-weight-bold">OR</small>
    <small *ngIf="parameter.get('group')" class="text-muted">Group</small>
    <small class="name">
      <strong>{{ _type }}</strong>
      <span class="text-muted">{{ name }}</span>
      <span class="text-muted">{{ attribute }}</span>
    </small>
  </span>
</div>
