<div class="container">
  <button type="button"
    [style.margin]="'0 0 0 0 '"
    [style.padding]="'0 0.25rem'"
    class="btn btn-icon btn-link btn-sm text-danger"
    (click)="remove(parameter)">
    <clr-icon shape="times-circle"></clr-icon>
  </button>
  <span class="item-info">
    <small *ngIf="showOr" class="selection-or font-weight-bold">OR</small>
    <small *ngIf="parameter.group" class="text-muted">Group</small>
    <small class="name"
           [popper]="codesPopper"
           [popperTrigger]="'hover'"
           [popperPlacement]="'bottom'">
      <strong *ngIf="showType">{{ _type }} </strong>
      <span class="text-size text-muted">{{ name }} </span>
      <span class="text-muted">{{ attribute }}</span>
    </small>
  </span>
  <popper-content #codesPopper>
  <p class="tooltip-text" [style.margin]="'0'">{{name}}</p>
  <p class="tooltip-text" [style.margin]="'0'">{{attribute}}</p>
  <p *ngIf="_type==='Deceased'" class="tooltip-text" [style.margin]="'0'">{{ _type }}</p>
  </popper-content>
</div>
