@mixin modal-main($width: 30%, $height: auto, $background: white) {
  position: fixed;
  background: $background;
  border-radius: 8px;
  width: $width;
  height: $height;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	z-index: 1050;
}

.modal-main {
	@include modal-main;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #313131;
  opacity: .85;
  z-index: 1040;
}

@mixin modal-title($font-size: 20px, $color: #302973) {
  margin-top: 4%;
  margin-left: 5%;
  font-size: $font-size;
  color: $color;
}

.modal-title {
	@include modal-title;
}

@mixin modal-body($font-size: 14px, $line-height: .8rem) {
  font-size: $font-size;
  line-height: $line-height;
  margin-left: 5%;
  margin-top: 3%;
}

.modal-body {
	@include	modal-body;
}

@mixin modal-input($width: 90%) {
  margin-left: .5rem;
  width: $width;
}

.modal-input {
	@include modal-input;
}

@mixin modal-unsuccessful-input($bgcolor: #FCEFEC, $bcolor: #F68D76) {
  background-color: $bgcolor;
  border-color: $bcolor;
}

.modal-unsuccessful-input {
	@include modal-unsuccessful-input;
}

@mixin modal-error($color: #2F2E7E, $width: 90%) {
  padding: 0 .5rem;
  font-weight: 600;
  color: $color;
  margin-top: .2rem;
  width: $width;
}

.modal-error {
	@include modal-error;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .4rem;
  margin-right: .4rem;
  margin-top: .4rem;
}
