<div class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-xs-10 query-title">
        Descriptive Statistics
      </div>
        <clr-icon [ngClass]="[enablePrint? 'print-icon':'print-icon-disable']"  class="is-solid co-sm-2 col-xs-2" (click)="onPrint()" shape="printer" size="32"></clr-icon>
    </div>
  </div>
  <div *ngFor="let g of groupKeys; let i = index">
    <div class="container">
      <div class="row group-header">
        <div *ngIf="g ==='ageRange'; else other" class="col-sm-7 col-xs-7 group-text">
          Age
        </div>
        <ng-template #other>
          <div class="col-sm-7 col-xs-7 group-text">
            {{g  | titlecase}}
          </div>
        </ng-template>

        <div class="col-sm-2 col-xs-2 group-text" *ngIf="i === 0">
          Total
        </div>
        <div class="col-sm-3 col-xs-3 group-text" *ngIf="i === 0">
          % of Cohort
        </div>
      </div>
    </div>
    <div *ngIf="graphData[g]?.length <= 0" class="loading-spinner spinner spinner-lg spin-in-overlay">
      Loading...
    </div>
      <ng-container *ngFor="let j of graphData[g]">
        <div class="container">
          <div class="row group-content">
            <div class="col-sm-7 col-xs-7">
              {{j?.group}}
            </div>
            <div class="col-sm-2 col-xs-2">
              {{j?.count | number}}
            </div>
            <div class="col-sm-3 col-xs-3">
              {{j?.percentage|number:'1.0-0'}} %
            </div>
          </div>
        </div>
      </ng-container>
  </div>
</div>
