.group-header{
  background-color: #E2E2EA;
  padding: 0.2rem;
  color: #262262;
  margin-top: 1rem;
}

.group-header .group-text {
  font-weight: 600;
  font-size: 14px;
}

.loading-spinner {
  margin-left: 12rem;
  margin-top: 0.5rem;

}

.group-content {
  padding-top: 0.2rem;
  color: black;
  font-size: 13px;
}

.query-title {
  font-size: 16px;
  font-weight: 600;
  color: #262262;
}
.print-icon {
  color: #262262;
  cursor: pointer;

}