<h2>Identity Verification</h2>
<div>
  <h3>Basic Information</h3>
  <div>
    <label for="first-name">First name</label>
    <input id="first-name" type="text" size="30" autofocus [(ngModel)]="request.firstName">
  </div>
  <div>
    <label for="last-name">Last name</label>
    <input id="last-name" type="text" size="30" [(ngModel)]="request.lastName">
  </div>
  <div>
    Address<br>
    <input type="text" size="45" placeholder="Street Line 1" [(ngModel)]="request.streetLine1"><br>
    <input type="text" size="45" placeholder="Street Line 2" [(ngModel)]="request.streetLine2"><br>
    <input type="text" size="30" placeholder="City" [(ngModel)]="request.city">
    <input type="text" size="2" [(ngModel)]="request.state">
    <input type="text" size="10" placeholder="Zip" [(ngModel)]="request.zip">
  </div>
  <div>
    <label for="dob">Date of birth</label>
    <input type="text" id="dob" size="12" [(ngModel)]="request.dob">
  </div>
  <h3>Documentation</h3>
  <div>
    <label for="document-type">Document type</label>
    <select id="document-type" [(ngModel)]="request.documentType">
      <option value="">None</option>
      <option value="ssn">SSN</option>
      <option value="drivers_license">Driver's License</option>
    </select>
  </div>
  <div>
    <label for="document-number">SSN/License Number</label>
    <input type="text" id="document-number" size="40" [(ngModel)]="request.documentNumber">
  </div>
</div>
<button class="btn btn-primary" style="margin-top: 1rem;" (click)="submit()">
  Submit for Verification
</button>
