<h2>Identity Verification</h2>
DISCLAIMER: THE FOLLOWING DATA WILL BE SHARED WITH 3RD PARTY!!

<h4>All Fields are Required</h4>

<div class="form-area">
  <div class="form-section">
    <h3>Basic Information</h3>
    <div *ngIf="showError" class="alert alert-danger">
      <strong> {{errorMsg}}</strong>
    </div>
    <div class="form-group row">
      <label for="first-name" class="col-sm-2 col-form-label">First name</label>
      <div class="col-sm-10">
        <input id="first-name" type="text" size="30" autofocus [(ngModel)]="request.firstName">
      </div>
    </div>
    <div class="form-group row">
      <label for="last-name" class="col-sm-2 col-form-label">Last name</label>
      <div class="col-sm-10">
        <input id="last-name" type="text" size="30" [(ngModel)]="request.lastName">
      </div>
    </div>
    <h4>Address</h4>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Street Line 1</label>
      <div class="col-md-10">
        <input type="text" size="45" [(ngModel)]="request.streetLine1"><br>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Street Line 2</label>
      <div class="col-sm-10">
        <input type="text" size="45" [(ngModel)]="request.streetLine2"><br>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input type="text" size="30" [(ngModel)]="request.city"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">State</label>
      <div class="col-sm-10">
        <input type="text" size="2" [(ngModel)]="request.state">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Zip</label>
      <div class="col-sm-10">
        <input type="text" size="10" placeholder="Zip" [(ngModel)]="request.zip">
      </div>
    </div>
    <div class="form-group row">
      <label for="dob" class="col-sm-2 col-form-label">Date of birth (mm/dd/yyyy)</label>
      <div class="col-sm-10">
        <input type="text" id="dob" size="12" [(ngModel)]="request.dob">
      </div>
    </div>
    <h3>Documentation</h3>
    <div class="form-group row">
      <label for="document-type" class="col-sm-2 col-form-label">Document type</label>
      <div class="col-sm-10">
        <select id="document-type" [(ngModel)]="request.documentType">
          <option value="">Select</option>
          <option value="ssn">SSN</option>
          <option value="drivers_license">Driver's License</option>
        </select>
      </div>
    </div>
    <div class="form-group row" *ngIf="request.documentType != ''">
      <label for="document-number" class="col-sm-2 col-form-label">{{request.documentType}}</label>
      <div class="col-sm-10">
        <input type="text" id="document-number" size="40" [(ngModel)]="request.documentNumber">
      </div>
    </div>
  </div>

  <button class="btn btn-primary" style="margin-top: 1rem;" (click)="submit()">
    Submit for Verification
  </button>
</div>