strong {
    font-family: GothamMedium;
    color: #302C71;
}

.search {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.search-title {
    white-space: nowrap;
    min-width: calc((100%/12)*3.5);
    font-family: unit, open-sans, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    height: 70px;
    color: #262262;
    display: flex;
    align-items: center;
    margin-right:6px;
}

.search-bar {
    min-width: calc((100%/12)*7.5);
    flex-grow: 1;
    font-size: 20px;
    padding-left: 10px;
}

.search-bar input {
    min-width: calc((100%/12)*10);
    padding: 35px;
}

.search-icon {
    width: calc((100%/12));
    height: 20px;
}

.result-heading {
    margin-left: 0;
    margin-bottom: 8px;
    font-family: unit, open-sans, sans-serif;
    padding: 0;
    color: #302C71;
    font-family: unit, open-sans, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.result-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 48px;
    flex-grow: 1;
}

.result-box {
    margin-right: 20px;
    margin-bottom: 1rem;
    padding: 18px;
    padding-bottom: 0;
    min-width: calc(((100%/12)*3) - 15px);
    max-width: 339px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}

.result-box-title {
    color: #337AB7;
    font-family: unit;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    width: 100%;
    padding-bottom: .5rem;
}

.result-box-title .info-icon {
    margin-left: .25rem;
}

.result-box:last-of-type {
    margin-right: 0;
}

.result-stat {
    color: #302C71;
    font-family: GothamBook;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.result-body {
    color: #302C71;
    font-family: GothamBook;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#survey .result-box:first-of-type .result-body_item:nth-of-type(2) {
    padding-bottom: .65rem;
}

.result-body_item:first-of-type {
    padding: .25rem 0;
}

.result-body_item:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.result-body-stat {
    padding-top: .5rem;
}

.result-bottom {
    /* padding: .5rem 0; */
    padding: 18px 0;
}

.result-bottom-link {
    color: #337AB7;
    cursor: pointer;
    font-size: 15px;
}

#pm-box {
    min-width: 490px;
    max-width: calc(((100%/12)*5));
}

#pm-box .result-body {}