.row.search {
    margin: .25rem;
}
.white-card-box {
    padding: .25rem;
}

.view-sub-title {
    font-size: 14px;
}

.search-result p.card-text {
    min-height: 2rem;
    padding-bottom: .5rem;
    margin-top: 0;
}

/* put some space between the cards when they go to the next line in the row */
.row.card-boxes .col {
    margin-bottom: .5rem;
    margin-top: .5rem;
}
/* result card */
.white-card-box.search-result {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    display: block;
}

.card-text.bottom {
    padding-bottom: .5rem;
}

.bolder {
    font-weight: bold;
    font-size: 16px;
}
.db-logo {
    margin-top: 1rem;
    height: 43px;
    width: 316px;
    color: #262262;
    font-family: "Gotham HTF";
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    /* the logo has a little padding in it not lining up with text so move it left a hair */
    margin-left: -.20rem;
}

.pm-text {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.box-title {
    color: #6CABE4;
}

.search-input-full{
    border: none;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15);
    height: 3rem;
    width: 75%;
    background-color: #A3D3F232;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #000000;
}

.search-icon {
    margin-top: 1%;
}

#search-db {
    margin-top: 3%;
}
