.search {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.search-title {
    width: calc((100%/12)*3.5);
    min-width: 311px;
    font-family: Oswald, open-sans, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 0;
    color: #262262;
    display: flex;
    align-items: center;
}

.search-bar {
    width: calc((100%/12)*7.5);
    flex-grow: 1;
    font-size: 16px;
}

.search-bar input {
    width: calc((100%/12)*10);
    padding: 35px;
    padding-left: 0;
}

.search-icon {
    width: calc((100%/12));
    height: 20px;
}

.spotlight-heading {
    margin-left: 0;
    margin-bottom: 8px;
    font-family: Oswald, open-sans, sans-serif;
    padding: 0;
    color: #302C71;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.spotlight-boxes {
    display: flex;
    margin-bottom:48px;
}

.spotlight-box {
    margin-right: 16px;
    width: calc(((100%/12)*4) - 32px);
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    padding:18px;
    padding-bottom:0;
}


.spotlight-box:last-of-type {
    margin-right: 0;
}