<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-10">

    <div class="page-header">
      <h2> {{title}} </h2>
      <p class="view-sub-title">{{subTitle}} </p>
    </div>

    <div class="white-card-box flex-items-xs-middle" >
      <div class="row search flex-items-xs-between">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-xs-middle search-input-full">
          <div class="search-wrapper">
            <clr-icon shape="search" class="input-icon-absolute is-info"></clr-icon>
            <input type="text" id="search-db" placeholder="Keyword Search" [formControl]="searchText" autofocus>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="loading" >
      <div class="col-xs-12 flex-xs-middle" style="text-align: center" >
        <span  class="spinner">
        Loading...
      </span>
      </div>
    </div>


    <h5 class="box-heading" style="display:block" *ngIf="showDataType(EHR_DATATYPE)" > EHR Domains:
      <clr-tooltip>
        <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
        <clr-tooltip-content clrPosition=right
                             clrSize="lg" *clrIfOpen>
          <div class="tooltip-header">EHR Domains</div>
          <div class="tooltip-label">Electronic health records contain information about an individual’s health.
            Medical concepts are similar to medical terms;
            they capture medical information in individual records and may sometimes have values associated with them.
            For example, “height” is a medical concept that has a measurement value (in centimeters).
            These concepts are categorized into different domains. Domains are types of medical information.
            There are numerous domains of data in EHR records,
            but some of the most common domains include conditions, drug exposures, measurements and procedures.
          </div>
        </clr-tooltip-content>
      </clr-tooltip>
      </h5>
    <div class="row card-boxes" *ngIf="showDataType(EHR_DATATYPE)" >
      <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let r of domainResults">
          <div class="white-card-box search-result">
            <h5 class="box-title">
              {{r.name}}
              <clr-tooltip>
                <clr-icon clrTooltipTrigger shape="info-standard" class="info-icon"></clr-icon>
                <clr-tooltip-content clrPosition=right
                                     clrSize="lg" *clrIfOpen>
                  <div class="tooltip-label">{{domainHelpText[r.domain.toLowerCase()]}}</div>
                </clr-tooltip-content>
              </clr-tooltip>
            </h5>
            <div class="card-stat">
              {{r.standardConceptCount | number}}
            </div>
            <p class="card-text bigger">
              <span *ngIf="searchText.value; else no_search_value">matching medical concepts</span>
              <ng-template #no_search_value><span>medical concepts</span></ng-template>
              <br><br>
              <span *ngIf="r.participantCount">
                <span class="bolder"> {{r.participantCount | number}}</span> participants in this domain
              </span>
            </p>

            <div class="card-text bottom">
              <button *ngIf="!searchText.value; else searchTextButton" class="btn btn-primary" (click)="viewEhrDomain(r)"> View Top 100 </button>
              <ng-template #searchTextButton>
                <button class="btn btn-primary" (click)="viewEhrDomain(r)"> View Results </button>
              </ng-template>
            </div>
          </div>
      </div>
      <div class="col col-xs-12" *ngIf="! domainResults || domainResults.length === 0">
        <h6> No EHR Data Results.</h6>
      </div>

    </div>

    <h5 class="box-heading" *ngIf="showDataType(SURVEY_DATATYPE)"> Surveys:  </h5>
    <div class="row card-boxes" *ngIf="showDataType(SURVEY_DATATYPE)">
      <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let r of surveyResults">
        <div class="white-card-box search-result">
          <h5 class="box-title">
            {{r.name}}
          </h5>
          <div class="card-stat">
            {{r.questionCount | number}}
          </div>
          <p class="card-text bigger">
            <span *ngIf="searchText.value; else no_search_value">matching survey questions</span>
            <ng-template #no_search_value><span>survey questions</span></ng-template>
            <br><br>
            <span>{{r.description}}</span>
          </p>

          <div class="card-text bottom">
            <button *ngIf="!searchText.value; else searchTextButton" class="btn btn-primary" (click)="viewSurvey(r)"> View Complete Survey </button>
            <ng-template #searchTextButton>
              <button class="btn btn-primary" (click)="viewSurvey(r)"> View Results </button>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="col-xs-12" *ngIf="! surveyResults || surveyResults.length === 0">
        <h6> No Survey Results.</h6>
      </div>

    </div>

  </div>

  <div class="hidden-sm-down  col-md-2">
    <img [src]="pageImage" />
  </div>

</div>
