<div *ngIf="resourcesLoading" class="spinner-container">
  <span class="spinner spinner-lg"></span>
</div>
<div #recentWork style="display: flex; flex-grow: 1;">
  <div class="recent-work" [class.no-title]="cssClass === 'for-list'" style="display:inline-block" *ngIf="resourceList && resourceList.length !== 0">
    <div class="title" style="margin-bottom: 0.5rem;">
      {{headerText}}
    </div>
    <div class="card-area">
      <div *ngIf="leftScrollVisible()" class="scroll-indicator" id="left-scroll"
           (click)="scrollLeft()">
        <div *ngIf="workspace; else homepageLeft" style="position: absolute; left: 1.2rem; z-index: 99; top: .65rem">
          <app-left-scroll-light-icon></app-left-scroll-light-icon>
        </div>
        <ng-template #homepageLeft>
          <app-left-scroll-icon></app-left-scroll-icon>
        </ng-template>
      </div>
      <div *ngFor="let resource of resourceList">
        <app-resource-card [resourceCard]="resource" [onUpdate]="updateList.bind(this)"></app-resource-card>
      </div>
      <div *ngIf="rightScrollVisible()" class="scroll-indicator" id="right-scroll"
           style="position: absolute; right: -1.5rem;" (click)="scrollRight()">
        <div *ngIf="workspace; else homepageRight" style="position: absolute; right: 1.3rem; top: .75rem">
          <app-right-scroll-light-icon></app-right-scroll-light-icon>
        </div>
        <ng-template #homepageRight>
          <app-right-scroll-icon></app-right-scroll-icon>
        </ng-template>
      </div>
    </div>
  </div>
</div>
