<div class="recent-work" style="display: inline-block">
    <div class="scroll-indicator" style="top: 4.5rem" (click)="moveDownList()">
        <clr-icon shape="angle" dir="left" class="scroll-arrow"></clr-icon>
    </div>
    <div class="title">
        Your Recent Work
    </div>
    <div class="card-area">
        <div style="display: flex">
            <div class="card" *ngFor="let resource of resourceList">
                <app-card [card]="resource"></app-card>
            </div>
        </div>
    </div>
    <div class="scroll-indicator" style="float: right; top: 3.2rem; left:.7rem" (click)="moveUpList()">
        <clr-icon shape="angle" dir="right" class="scroll-arrow"></clr-icon>
    </div>
</div>
