.white-card-box.top-stat {
    height: inherit;
}
.view-sub-title {
    color: #4A4A4A;
    font-weight: 300;
}
.box-sub-title.question {
    font-size: larger;
    display: inline;
}
.box-sub-title.question.question-display{
    font-size: larger;
}
.survey-results {
    padding: .5rem;
    position: relative;
    margin-top: 1rem;
    border-radius: 4px;

}
.survey-results-background {
    width: 100%;
    opacity: 0.59;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15);
    padding: 1rem;
    /* Opacity trick so the question cards can be white and not inherit these */
    position: absolute;
    top: 0;
    bottom: 0;
}

.survey-results .question-card {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0;
    border-radius:4px;
    position: relative;
    /*margin-right: 12px;
    margin-left: 12px;
    */
}



.survey-results .row.search {
    margin-left: .1rem;
    margin-right: .1rem;
    margin-bottom: 1rem;
}


.survey-results
.row.answers {
    margin-left: .5rem;
}

.answer-active, .answer-card, .answer-charts-wrapper {
    background-color: #D9E4EA;
}
.answer-card {
    height: 100%;
}

.survey-graph-answer {
    margin: 0 auto;
}

/* remove space between list and charts */
.answer-list {

}
.answer-charts {
    margin-left: 0px;
    padding-left: 0px;
}

.chart-wrapper {
    height: 240px;
}

.answer-charts .chart-wrapper {
    height: 240px;
    margin-top:0;
}
.answer-charts .chart-wrapper.age {
    height: 240px;
    margin-top: 0;
}

.row.answers .chart-wrapper {
    margin-bottom:0px;
}


.answers-bar-col {
    margin-top:1rem;
}

.btn-link.extra-search  {
    font-weight: bolder;
    text-decoration: underline;
}

.percent-bar {
    padding-right: 1rem;
}

.gender-chart-button {
    text-align: center;
}

.answer-text {
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}

.answer-box {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 0 0;
    min-height: 2rem;
}

.participant-count {
    font-size: 15px;
}

.survey-pdf-url {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.question-result {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C8C8C8;
}

.sub-question {
    overflow: auto;
    border: none;
}

.sub-question-results {
    padding-left: 2rem;
    padding-right: 2rem;
}
