<div class="survey-view">

  <div class="row">

    <div class="col-xs-12">
      <div class="page-header">
        <div *ngIf="survey && survey.conceptId">
          <div class="view-title"> {{survey.domainDisplay}} Survey Module ({{survey.conceptId}}) </div>
          <div class="view-sub-title">{{survey.domainDesc}} </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div *ngIf="survey && survey.conceptId" class="col-xs-12 col-sm-6 col-md-4">
      <div class="card stats-card">

        <div class="card-block card-title">
              Number Completed
        </div>
        <div class="card-block card-stat">
          {{survey.numParticipants | number }}
        </div>

      </div>
    </div>
    <div *ngIf="(resultsComplete )" class="col-md-3 col-sm-4 col-xs-12">
      <div class="card stats-card">

        <div class="card-block card-title">
          Questions
        </div>
        <div class="card-block card-stat">
          {{ surveyResult.items.length }}
        </div>

      </div>
    </div>
  </div>

  <div class="search-input-big">
    <clr-icon shape="search" class="input-icon is-info"></clr-icon>
    <input type="text" id="search-db" placeholder="Keyword Search" [(ngModel)]="searchText" (ngModelChange)="filterResults()">
  </div>

  <h6> Filtered by {{searchText}}</h6>

  <div class="survey-results" *ngIf="resultsComplete">

    <div class="survey-results-background"></div>
    <div class="container">
    <!-- Search box is not working inside this with the survey background
      <div class="search-input-big">
        <clr-icon shape="search" class="input-icon is-info"></clr-icon>
        <input type="text" id="search-db" placeholder="Keyword Search">
      </div> -->
      <div class="box-sub-title"> Click on each response to view age and gender distributions</div>
      <div class="row question-result" *ngFor="let q of questions, let i = index">

        <div class=" question-card">

          <div class="row question">

            <div class="col-md-6 col-xs-12 col-sm-12">
              <div class="box-title"> Question {{i + 1}}</div>
              <div class="box-sub-title"> {{ q.conceptName}} ({{q.conceptId}}) </div>
            </div>

            <div class="col-md-4 offset-md-2 col-xs-12 col-sm-12">
              <div class="response-dist" style="height:200px">
                <app-chart *ngIf="q.countAnalysis" [analysis]="q.countAnalysis" ></app-chart>
              </div>
            </div>

          </div>

          <div class="row ">
              <div class="col-xs-12">
                <a class="toggle-link" (click)="toggleAnswer(q.conceptId)"> See Answers <clr-icon *ngIf="!showAnswer[q.conceptId]" shape="caret" dir="right"></clr-icon> <clr-icon *ngIf="showAnswer[q.conceptId]" shape="caret" dir="down"></clr-icon> </a>
              </div>
          </div>

          <div class="row answers" [hidden]="!showAnswer[q.conceptId]">

            <div class="col-sm-6 col-xs-12">


              <div *ngFor="let a of q.countAnalysis.results"  >
                <div class="answer-text" (click)="showAnswerGraphs(q, a)" [class.answer-active]="a.id == selectedAnswer">
                  <label> {{a.stratum4}} </label>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 answer-charts">
              <div class="answer-card">
                Select charts go here
              </div>
            </div>

          </div> <!-- end collapsible answers -->


        </div>

      </div>
    </div>

  </div>

</div>
