.title-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.desc-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.title-container * {
    padding-right: var(--gutter);
    width: calc(auto + var(--gutter));
}

.title-container h1 {
    line-height: 1em;
}

.toggle-link, .toggle-link:link, .toggle-link:visited {
    color: var(--mid-blue);
}

.search-bar-container {
    margin-bottom: var(--gutter);
}

.survey-head {
    display: flex;
    position: relative;
    margin-bottom: calc(var(--gutter)*4)
}

.stat-container {
    display: flex;
    flex-direction: column;
}

.stat-container .secondary-display {
    font-size: 70px;
    line-height: 0.97em;
}

.stat-container:first-of-type {
    padding-right: 45px;
}

.stat-desc {
    font-size: .75em;
}

.pdf-link {
    position: absolute;
    right: 0;
    top: 0;
}

.survey-results {
    position: relative;
}

.no-results {
    margin-top: 1em;
}
.question-result {
    border-top: var(--tbl-border);
}
.question-result:first-of-type {
    border-top: none;
}
.see-answers {
    font-size: 1em;
}

.tbl-r.tbl-head {
    padding-bottom: 0;
}
.tbl-exp-r {
    padding: var(--gutter);
}

.tbl-exp-r:last-of-type {
    border-bottom: var(--tbl-border)
}

.question .display-body {
    padding-bottom: var(--gutter);
}

.question .body-default {
    padding-bottom: var(--gutter);
}

.tbl {
    padding-bottom:calc(var(--gutter)*7);
}

.tbl-r-group .tbl-d.display-body {
    font-size: .8em;
}

.tbl-exp-r .tbl-d {
    font-size: 1em;
}