<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

    <button type="button"
      class="btn btn-link btn-sm text-danger"
      (click)="actions.removeGroupItem(role, groupId, item.get('id'))">
      <clr-icon shape="close"></clr-icon>
    </button>

    <button
      class="btn btn-link btn-sm"
      (click)="launchWizard()">
      <clr-icon shape="pencil"></clr-icon>
    </button>

    <span>
      <span *ngIf="itemIndex > 0">
        <small class="font-weight-bold">
          OR
        </small>
      </span>

      <small class="text-muted">
        Contains
      </small>

      <small class="font-weight-bold">
        {{ description }}
      </small>
    </span>
  </div>


  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
    <span *ngIf="isRequesting"
      class="spinner spinner-inline"
      [style.vertical-align]="'middle'">
      Loading...
    </span>
    <small *ngIf="!isRequesting" class="font-weight-bold">
      {{ item.get('count', 0) }}
    </small>
  </div>
</div>
