.flex-container {
  display: flex;
}

.line-item {
  min-width: 0;
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trigger {
  cursor: pointer;
}

.trigger:hover > span {
  color: rgb(0, 124, 187)!important;
}

.padding-right {
  padding-right: 10px;
  font-size: 12px;
}

.hidden {
  display: none;
}

#close-button {
  color: rgb(245, 135, 113);
  margin: 0 !important;
}

#close-button:hover {
  color: rgb(255, 186, 164);
}

.code-text {
  font-weight: 300;
  font-size: 12px;
  color: #333333;
}

clr-icon[shape^=error-standard] {
  color: #d9534f;
}

.selection-or {
  font-size: 14px;
}

.undo-container {
  color: #E28327
}

.undo-text {
  font-size: 12px;
  margin: 0 0 2px 2px;
}

.undo-text > .btn.btn-link {
  font-weight: 600;
  letter-spacing: 0;
  height: 18px;
  line-height: 16px;
}
