<div class="flex-container">
  <clr-tooltip>
    <div class="line-item">
      <button
         type="button"
         class="btn btn-link btn-sm text-danger"
         (click)="actions.removeGroupItem(role, groupId, item.get('id'))">
        <clr-icon shape="close"></clr-icon>
      </button>

      <button
        type="button"
        class="btn btn-link btn-sm"
        (click)="launchWizard()">
        <clr-icon shape="pencil"></clr-icon>
      </button>

      <small clrTooltipTrigger class="trigger">
        <span *ngIf="itemIndex > 0" class="font-weight-bold">OR</span>
        <span class="text-muted">Contains</span>
        <span class="font-weight-bold">{{ codeType }}</span>
        <span class="text-muted">{{ codes }}</span>
      </small>
    </div>
    <clr-tooltip-content *clrIfOpen>
      <h4 [style.margin-top]="0" [style.color]="'#FFF'">{{ pluralizedCode }}</h4>
      {{ codes }}
    </clr-tooltip-content>
  </clr-tooltip>

  <div class="count">
    <span *ngIf="isRequesting"
       class="spinner spinner-inline"
       [style.vertical-align]="'middle'">
      Loading...
    </span>
    <small *ngIf="!isRequesting" class="font-weight-bold">
      {{ item.get('count', 0) }}
    </small>
  </div>
</div>
