.flex-container {
  display: flex;
}

.line-item {
  min-width: 0;
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trigger:hover > span {
  color: rgb(0, 124, 187)!important;
}

.margin-right {
  margin-right: 0px !important;
}

.padding-right {
  padding-right: 10px;
}

.hidden {
  display: none;
}
