.flex-container {
  display: flex;
}

.line-item {
  min-width: 0;
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trigger:hover > span {
  color: rgb(0, 124, 187)!important;
}

.padding-right {
  padding-right: 10px;
}

.hidden {
  display: none;
}

.close-button {
  color: rgb(245, 135, 113);
  margin: 0 !important;
}

.close-button:hover {
  color: rgb(255, 186, 164);
}
