<div
  [style.display]="'flex'"
  [style.align-items]="'center'"
  [style.justify-content]="flex-start">
  <div class="btn-group btn-sm btn-icon">
    <button
      class="btn"
      title="Prior Participant"
      [disabled]="isFirstParticipant"
      (click)="previous()">
      <clr-icon shape="caret" dir="left"></clr-icon>
    </button>
    <button
      class="btn"
      title="Participant Browser"
      (click)="up()">
      <clr-icon shape="caret" dir="up"></clr-icon>
    </button>
    <button
      class="btn"
      title="Next Participant"
      [disabled]="isLastParticipant"
      (click)="next()">
      <clr-icon shape="caret" dir="right"></clr-icon>
    </button>
  </div>

  <h3
    [style.margin]="'0'"
    [style.flex]="'1'">
    Participant {{ participant.id }}</h3>
  <span>
    <span class="label">{{ participant.dob }} (DOB)</span>
    <span class="label">{{ participant.gender }} (Gender)</span>
    <span class="label">{{ participant.race }} (Race)</span>
    <span class="label">{{ participant.ethnicity }} (Ethnicity)</span>
    <span
      (click)="toggleSidebar()"
      class="label clickable"
      [ngClass]="participant.statusLabelClass">
      {{ participant.formattedStatusText }} (Status)</span>
  </span>
</div>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="detail-overview-tab">Participant Overview</button>
    <clr-tab-content id="detail-overview-content" *clrIfActive>
      <h4>Participant {{ participant.id }} Overview</h4>
      <div class="row">
        <div class="col-md">
          <p appLorem></p>
          <p appLorem></p>
          <p appLorem></p>
        </div>
        <div class="col-md">
          Here be a chart mebbe
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink id="detail-conditions-tab">Conditions</button>
    <clr-tab-content id="detail-conditions-content" *clrIfActive>
      <h4>Participant {{ participant.id }} Conditions</h4>
      <h5>Table of Nonsense: </h5>

      <clr-datagrid>
        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'standard'">Standard Concept</clr-dg-column>
        <clr-dg-column [clrDgField]="'source'">Source Concept</clr-dg-column>
        <clr-dg-column [clrDgField]="'value'">Value</clr-dg-column>
        <clr-dg-column [clrDgField]="'dateOfDiagnosis'">Date of Diagnosis</clr-dg-column>
        <clr-dg-column [clrDgField]="'ageAtEvent'">Age at Event</clr-dg-column>

        <clr-dg-row *clrDgItems="let condition of DUMMY_CONDITIONS">
          <clr-dg-cell>{{ condition.name }}</clr-dg-cell>
          <clr-dg-cell>{{ condition.standard }}</clr-dg-cell>
          <clr-dg-cell>{{ condition.source }}</clr-dg-cell>
          <clr-dg-cell>{{ condition.value }}</clr-dg-cell>
          <clr-dg-cell>{{ condition.dateOfDiagnosis }}</clr-dg-cell>
          <clr-dg-cell>{{ condition.ageAtEvent }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer></clr-dg-footer>
      </clr-datagrid>

    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button disabled clrTabLink id="detail-measurements-tab">Measurements</button>
    <clr-tab-content id="detail-measurements-content" *clrIfActive>
      <h4>Participant {{ participant.id }} Measurements</h4>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button disabled clrTabLink id="detail-meds-tab">Medications</button>
    <clr-tab-content id="detail-meds-content" *clrIfActive>
      <h4>Participant {{ participant.id }} Medications</h4>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
