<app-data-browser-header [pageTitle]="pageTitle"></app-data-browser-header>


<div class="main-container">
  <div class="content-container">
    <nav class="sidenav  side-nav-display">
      <section class="sidenav-content">
         <app-home-aside [homeData]="homeData" (infoEmit)="receiveData($event)" (anchorEmit)="passAnchor($event)"></app-home-aside>
      </section>
    </nav>
    <div class="content-area">
      <app-home-info [infoData]="infoData" [anchor] = "anchor" [homeData]="homeData"></app-home-info>
    </div>
  </div>
</div>
