
:host::ng-deep .modal-dialog {
  width: auto;
}

:host::ng-deep .modal-content {
  width: 20rem;
}

:host::ng-deep .modal-title {
  height: 19px;
  width: 357px;
  color: #262262;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.header {
  height: 18px;
  width: 153px;
  color: #000000;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 19px;
  background-color: transparent;
  padding-bottom: 1.8rem;
  padding-left: 0.5rem;
}

.create-header {
  padding-bottom: 1.5rem;
}

.inputName, .concept-select {
  height: 35px;
  width: 17.7rem;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.inputName {
  margin-bottom: 1rem;
}

.line-break {
  border-bottom: 1px solid black;
  width: 100%;
  height: 1px;
  margin-bottom: 1rem;
}

.description {
  height: 168px;
  width: 406px;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: #FFFFFF;
}
