<div class="help-tip" *ngIf="showTip">
  <div class="help-tip-title">Help Tip</div>
  <div class="help-tip-text">After creating a cohort, create a notebook to import and analyze the data from the cohort.</div>
  <div (click)="dismissTip()" style="cursor: pointer"><clr-icon shape="times-circle" size="32px" style="position: absolute; top: .25rem; right: 1rem;height: 32px; width: 32px"></clr-icon></div>
</div>
<h3 class="notebooks-header">Notebooks</h3>
<div *ngIf="notebooksLoading" class="spinner-container">
  <span class="spinner spinner-lg"></span>
</div>
<div class="card-area" *ngIf="!notebooksLoading">
  <div role="tooltip" aria-haspopup="true" class="card add-card tooltip tooltip-md tooltip-top-right"
       [class.disabled]="actionsDisabled" (click)="actionsDisabled || newNotebook()">
    <div class="create-text">
      Create a<br/>New Notebook
      <clr-icon shape="plus-circle" class="plus-circle"></clr-icon>
    </div>
    <span *ngIf="awaitingReview" class="tooltip-content">Workspace is awaiting review</span>
    <span *ngIf="!writePermission" class="tooltip-content">Write permission required to create notebooks</span>
  </div>

  <div class="card item-card notebook-card" *ngFor="let notebook of notebookList">
    <div class="header-area">
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" [disabled]="actionsDisabled" clrDropdownTrigger>
          <clr-icon shape="ellipsis-vertical" class="ellipsis-vertical" [class.disabled]="actionsDisabled"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen>
          <button class="action-item"
                  (click)="renameThis(notebook)"
                  [class.disabled]="actionsDisabled"
                  [disabled]="actionsDisabled">
            <clr-icon shape="pencil"></clr-icon>
            Rename
          </button>
          <button class="action-item"
                  (click)="cloneThis(notebook)"
                  [class.disabled]="actionsDisabled"
                  [disabled]="actionsDisabled">
            <clr-icon shape="copy"></clr-icon>
            Clone
          </button>
          <button class="action-item"
                  (click)="confirmDelete(notebook)"
                  [class.disabled]="actionsDisabled"
                  [disabled]="actionsDisabled">
            <clr-icon shape="trash"></clr-icon>
            Delete
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
      <div class="name" [class.disabled]="actionsDisabled" (click)="actionsDisabled || openNotebook(notebook)">{{notebook.name}}</div>
    </div>
    <div class="footer">
      <div class="last-modified">
        <div>Last Update<br/>{{notebook.lastModifiedTime | date}}</div>
      </div>
      <div class="item-type notebook"><div>NB</div></div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="notebookError">
  <h3 class="modal-title">Error:</h3>
  <div class="modal-body">Could not fetch notebooks from workspace. Please <a (click)="submitNotebooksLoadBugReport()">submit a bug report.</a></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="notebookError = false">Ok</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="localizeNotebooksError">
  <h3 class="modal-title">Error:</h3>
  <div class="modal-body">Could not load your notebook. Please <a (click)="submitNotebookLocalizeBugReport()">submit a bug report.</a></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="localizeNotebooksError = false">Ok</button>
  </div>
</clr-modal>
<app-bug-report></app-bug-report>

<app-rename-modal [resourceType]="'notebook'" [resource]="notebookInFocus" (receiveRename)="receiveRename($event)"></app-rename-modal>
<app-confirm-delete-modal [resourceType]="'notebook'" [resource]="notebookInFocus" (receiveDelete)="receiveDelete($event)"></app-confirm-delete-modal>