.col-header {
  height: 2rem;
  display: flex;
  align-items: center;
}

h2 {
  margin: 0;
}

.circle-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.and-circle {
  background-color: rgb(226, 226, 233);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
