.col-header {
  height: 2rem;
  display: flex;
  align-items: center;
}

h2 {
  margin: 0;
}

.circle-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.and-circle {
  background-color: rgb(226, 226, 233);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.participant-header {
  font-weight: bold;
  font-size: 16px;
}

.btn.btn-info-outline.btn-sm {
  float: right;
  border: 1px solid rgba(215, 215, 215, 0.5);
  background: #FFFFFF;
  color: #9B9B9B;
  margin-top: -6px;
  margin-right: 0;
  border-bottom: 0;
  font-size: 10px;
  letter-spacing: 0;
  cursor: default;
}