<div>
  <div class="col-header">
    <h2 class="participant-header">{{ title | titlecase }}</h2>
  </div>

  <div *ngFor="let group of groups; let i = index;">
    <app-list-search-group [group]="group" [index]="i + index" [role]="role" [updated]="updateGroups" [updateRequest]="updateRequest">
    </app-list-search-group>
    <div class="circle-wrapper">
      <div class="and-circle">AND</div>
    </div>
  </div>
  <app-search-group-select [role]="role" [index]="emptyIndex"></app-search-group-select>
</div>
