<div class="row row-height">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 scrolling-tree">

    <span *ngIf="loading; then requestingNodes else nodesLoaded"></span>
    <ng-template #requestingNodes>
        <span class="spinner spinner-inline">
            Loading...
        </span>
        <span>
            Loading...
        </span>
    </ng-template>
    <ng-template #nodesLoaded>
      <clr-tree-node *ngFor="let node of nodes">
        <div class="row clr-treenode-link">
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-truncate">
            <span *ngIf="node.code; then showCode else noCode"></span>
            <ng-template #showCode>
              <small class="font-weight-bold">{{ node.code }}</small>-<small class="text-muted">{{ node.name }}</small>
            </ng-template>
            <ng-template #noCode>
              <small class="font-weight-bold">{{ node.name }}</small>
            </ng-template>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
            <span *ngIf="node.count === 0; then noCount else count"></span>
            <ng-template #count><span class="badge badge-light-blue">~{{ node.count }}&nbsp;&nbsp;</span></ng-template>
            <ng-template #noCount><span class="badge badge-light-blue invisible">~{{ node.count }}&nbsp;&nbsp;</span></ng-template>

            <span *ngIf="node.selectable; then selectable else notSelectable"></span>
            <ng-template #notSelectable><button type="button" class="btn btn-link btn-sm invisible"><clr-icon shape="plus-circle" size="20"></clr-icon></button></ng-template>
            <ng-template #selectable><button type="button" class="btn btn-link btn-sm" (click)="selectCriteria(node)"><clr-icon shape="plus-circle" size="20"></clr-icon></button></ng-template>
          </div>
        </div>
        <ng-template clrIfExpanded>
          <!--<app-wizard-tree-children [node]="node"></app-wizard-tree-children>-->
        </ng-template>
      </clr-tree-node>
    </ng-template>

  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <app-wizard-criteria-group (onRemove)="removeCriteria($event)"></app-wizard-criteria-group>
  </div>
</div>

