:host::ng-deep .modal-dialog {
  width: 18rem;
}

:host::ng-deep .modal-content {
  border-radius: 8px;
}

:host::ng-deep .modal-header {
  padding: 0;
}

.modal-title-text {
  margin-top: 0;
  font-size: 16px;
  line-height: 19px;
  color: #262262;
  font-weight: 500;
}

.form label, .form span, form label, form span {
  display: block;
  color: #262262;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.section {
  margin-top: 1rem;
}

input {
  font-weight: 300;
  width: 100%;
}

.button.section {
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 4rem;
  margin-right: 0;
  height: 2rem;
}

.btn.btn-link {
  padding: 0;
}
