<h2>Select Data Repository</h2>
<div *ngIf="user else loggedout">
  <p>Showing repositories available to {{user.name}} (permission level {{user.permission}}).</p>
  <label>Repositories:</label>
  <select #repositoryId>
    <option
        *ngFor="let repo of repositories"
        value="{{repo.id}}" [disabled]="repo.permission > user.permission">
      {{repo.name}} (requires permission level {{repo.permission}})
    </option>
  </select>
  <button (click)="goToCohort(repositoryId.value)">Build Cohort</button>
</div>
<ng-template #loggedout>Log in to view repositories.</ng-template>
