.card {
  border-radius: 0.2rem;
  border-color: rgba(215, 215, 215, 0.5);
  box-shadow: 0 0.125rem 0.125rem 0 #d7d7d7;
  margin: 0.6rem 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  color: rgb(38, 34, 98);
  background-color: rgb(226, 226, 233);
  font-size: 14px;
  font-weight: 600;
}

.card-footer >span{
  font-size: 14px;
  font-weight: 600;
}

#close-button {
  float: right;
  border: 1px solid rgba(215, 215, 215, 0.5);
  background: #FFFFFF;
  color: #2691D0;
  margin-top: -20px;
  margin-right: 0;
  border-bottom: 0;
  font-size: 10px;
  letter-spacing: 0;
}

.selection-button {
  color: rgb(114, 114, 114);
  border-color: rgb(195, 195, 195);
  font-weight: 100 !important;
}

.selection-button:hover {
  background-color: rgb(219, 228, 233);
  color: rgb(114, 114, 114);
  border-color: rgb(195, 195, 195);
}

.dropdown-item:hover {
  background-color: rgb(219, 228, 233);
}
