.card {
  border-radius: 0.2rem;
  border-color: rgba(215, 215, 215, 0.5);
  box-shadow: 0 0.125rem 0.125rem 0 #d7d7d7;
  margin: 0 0 0.6rem;
}

.card-block.search-item {
  margin: 0 0.5rem;
  padding: 0.5rem 0.25rem;
  border-bottom-color: rgb(195, 195, 195);
}

.temporal-sub-card-header {
  display: flex;
  padding: .5rem .75rem;
}

.card-header,
.card-footer {
  color: rgb(38, 34, 98);
  background-color: rgb(226, 226, 233);
  font-size: 14px;
  font-weight: 600;
  min-width: 100%;
}

:host::ng-deep clr-icon[shape=ellipsis-vertical] {
  color: #2691D0;
}

.card-footer > span{
  font-size: 14px;
  font-weight: 600;
}

.selection-button {
  color: rgb(114, 114, 114);
  border-color: rgb(195, 195, 195);
  font-weight: 100 !important;
}

.selection-button:hover {
  background-color: rgb(219, 228, 233);
  color: rgb(114, 114, 114);
  border-color: rgb(195, 195, 195);
}
.time-selection-button{
  color: rgb(114, 114, 114);
  border-color: rgb(195, 195, 195);
  font-weight: 100 !important;
  margin-right: 0.5rem;
  width: auto;
  text-align: start;
}
.time-selection-button:hover {
  background-color: rgb(219, 228, 233);
  color: rgb(114, 114, 114);
  border-color: rgb(195, 195, 195);
}
.dropdown-item:hover {
  background-color: rgb(219, 228, 233);
}
.toggle-switch, .toggle-switch label {
  display: inline-block;
  position: relative;
  height: 1rem;
  margin-right: 0rem!important;
  margin-left: -0.2rem;
}

.toggle-switch input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  position: absolute;
  top: .25rem;
  right: .25rem;
  height: .666667rem;
  width: .666667rem;
  opacity: 0;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

.toggle-switch input[type=checkbox]+label::before {
  position: absolute;
  display: inline-block;
  content: '';
  height: .75rem;
  width: 1.375rem;
  border: 2px solid #737373;
  border-radius: .375rem;
  background-color: #737373;
  top: .125rem;
  right: -1.75rem;
  transition: .15s ease-in;
  transition-property: border-color,background-color;
}

.toggle-switch input[type=checkbox]+label::after {
  position: absolute;
  display: inline-block;
  content: '';
  height: .5833rem;
  width: .5833rem;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  top: .20835rem;
  right: -1.041667rem;
  transition: right .15s ease-in;
}

.toggle-switch input[type=checkbox]:checked+label::before {
  border-color: #62a420;
  background-color: #62a420;
  transition: .15s ease-in;
  transition-property: border-color,background-color;
}

.toggle-switch input[type=checkbox]:checked+label::after {
  right: -1.666667rem;
  transition: right .15s ease-in;
}

.time-inputBox {
  height: 1.25rem;
  width: 2.5rem;
  border: 1px solid rgb(195, 195, 195);
  margin-top: 2px;
  padding: 0.6rem;
  border-radius: 0.1rem;
}

.of-text{
  padding-right: 6rem;
  padding-top: 0.2rem;
  font-size: 14px;
}

clr-icon[shape=error-standard] {
  color: #d9534f;
}

.group-overlay {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  display: none;
}

.group-overlay.hidden,
.group-overlay.pending {
  display: table;
}

.group-overlay > .group-overlay-inner {
  display: table-cell;
  vertical-align: middle;
  color: #E28327;
  font-size: 18px;
}

.overlay-text > .btn.btn-link {
  color: #2691D0;
  font-weight: 600;
  letter-spacing: 0;
}

.overlay-text > .btn.btn-link:focus {
  border: 1px solid transparent;
}

.item-or {
  float: right;
  margin-right: 46%;
  padding: 0 10px;
  background: #ffffff;
  color: rgb(195, 195, 195);
}

clr-icon[shape=warning-standard] {
  color: #E28327;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toggle-no-cursor {
  cursor: not-allowed;
}

.toggle-switch-disable {
  pointer-events: none;
}

.form-padding {
  padding-top: 0rem;
}

.card-footer .temporal-container {
  display: flex;
}

.col-sm-6 > .error {
  display: inline-block;
  background: #f7981c;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}
