<button
  type="button"
  class="btn btn-info-outline btn-sm"
  id="close-button"
  (click)="remove($event)">
  DELETE GROUP
</button>

<div class="card bg-faded">
  <!--********************************Temporal changes start***************************************-->
  <div class="card-header" *ngIf="temporalFlag">

    <clr-dropdown>
      <button type="button" class="btn time-selection-button" clrDropdownTrigger>
        <span>{{formatStatus(mention)}}</span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <button
          *ngFor="let mention of whichMention;"
          id="{{mention}}"
          class="dropdown-item"
          type="button"
          (click)="getMentionTitle(mention)"
          clrDropdownItem>{{formatStatus(mention)}}</button>
      </clr-dropdown-menu>
    </clr-dropdown>
    <span class="of-text"> of </span>
  </div>

  <!--**********************************Temporal changes end******************************************-->
<ul>
  <li id="non{{groupId}}" *ngFor="let itemId of nonTemporalItems; let itemIndex = index;" class="card-block card-test">
    <app-search-group-item
      (temporalGroupValue)="getTemporalGroup($event)"
      [role]="role"
      [groupId]="groupId"
      [itemId]="itemId"
      [itemIndex]="itemIndex">
    </app-search-group-item>
  </li>
</ul>
  <!--<ul *ngIf="!temporalFlag">-->
    <!--<li *ngFor="let itemId of temporalItems; let itemIndex = index;" class="card-block card-border">-->
     <!--temporal <app-search-group-item-->
        <!--(temporalGroupValue)="getTemporalGroup($event)"-->
        <!--[role]="role"-->
        <!--[groupId]="groupId"-->
        <!--[itemId]="itemId"-->
        <!--[itemIndex]="itemIndex">-->
      <!--</app-search-group-item>-->
    <!--</li>-->
  <!--</ul>-->
  <div class="card-header">
    <ng-template #groupDropDown>
      <clr-dropdown>
        <button type="button" class="btn selection-button" clrDropdownTrigger>
          Add Criteria <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <h4 class="dropdown-header">Program Data</h4>
          <button
            *ngFor="let criteria of programTypes"
            id="criteria.type program"
            class="dropdown-item"
            type="button"
            [disabled]="criteria.disabled"
            (click)="launchWizard(criteria)"
            clrDropdownItem>{{criteria.name}}</button>
          <div class="dropdown-divider"></div>
          <h4 class="dropdown-header">Domains</h4>
          <button *ngFor="let criteria of domainTypes"
                  id="criteria.type domains"
                  class="dropdown-item"
                  type="button"
                  [disabled]="criteria.disabled"
                  (click)="launchWizard(criteria)"
                  clrDropdownItem>{{criteria.name}}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </ng-template>


      <clr-dropdown *ngIf="temporalFlag; else groupDropDown">
        <button type="button" class="btn selection-button" clrDropdownTrigger>
          Add Criteria <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <ng-container *ngFor="let criteria of domainTypes">
            <button *ngIf="criteria.name !== 'Demographics'"
                    id="criteria.type domain"
                    class="dropdown-item"
                    type="button"
                    [disabled]="criteria.disabled"
                    (click)="launchWizard(criteria)"
                    clrDropdownItem>{{criteria.name}}</button>
          </ng-container>

        </clr-dropdown-menu>
      </clr-dropdown>
  </div>

  <!--********************************Temporal changes start***************************************-->
  <app-validator-errors [form]="timeForm"></app-validator-errors>

  <div class="temporal-sub-card-header" *ngIf="temporalFlag">
    <clr-dropdown>
      <button type="button" class="btn time-selection-button" clrDropdownTrigger>
        <span>{{formatStatus(time)}}</span>
         <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <button
          *ngFor="let timeName of timeDropDown"
          id="{{timeName}}"
          class="dropdown-item"
          type="button"
          (click)="getTimeTitle(timeName)"
          clrDropdownItem>{{formatStatus(timeName)}}</button>
      </clr-dropdown-menu>
    </clr-dropdown>


    <form [formGroup]="timeForm">
      <input *ngIf="time !== 'DURING_SAME_ENCOUNTER_AS'"  class="time-inputBox"
             (change)="getTimeValue($event)"
             type="number"
             [name]="timeValue"
             [id]="timeValue"
             [ngModel] = "timeValue"
             formControlName="inputTimeValue">
    </form>
  </div>

  <ul *ngIf="temporalFlag">
    <li *ngFor="let itemId of temporalItems; let itemIndex = index;" class="card-block">
     <app-search-group-item
        class="test"
        (temporalGroupValue)="getTemporalGroup($event)"
        [role]="role"
        [groupId]="groupId"
        [itemId]="itemId"
        [itemIndex]="itemIndex">
      </app-search-group-item>
    </li>
  </ul>
  <div class="temporal-sub-card-header" *ngIf="temporalFlag">
    <clr-dropdown>
      <button type="button" class="btn selection-button" clrDropdownTrigger>
        Add Criteria <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <ng-container *ngFor="let criteria of domainTypes">
          <button *ngIf="criteria.name !== 'Demographics'"
                  id="criteria.type"
                  class="dropdown-item"
                  type="button"
                  [disabled]="criteria.disabled"
                  (click)="launchWizard(criteria, 1)"
                  clrDropdownItem>{{criteria.name}}</button>
        </ng-container>

      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
<!--hi{{typeFlag}}-->
  <div class="container card-footer">
    <div class="row">
      <div class="toggle-switch col-sm-1" [ngClass]="typeFlag? 'toggle-switch' :'toggle-switch-disable'">
        <input class="" id="{{groupId}}" type="checkbox" [checked]="temporalFlag" (click)="getTemporal($event)">
        <label class="" for="{{groupId}}">
          <span class="solid-preview-label"></span>
         </label>
      </div>
      <div class="col-sm-5">Temporal</div>
      <div class="col-sm-6 text-right">
        Group Count:
        <span *ngIf="isRequesting"
              class="spinner spinner-inline"
              [style.vertical-align]="'middle'">
        Loading...
        </span>
        <span *ngIf="!isRequesting">
          {{ group.get('count') | number }}
        </span>
        <span *ngIf="error">
          <clr-icon
            [popper]="errorPopper"
            [popperTrigger]="'hover'"
            shape="error-standard"
            size="18"></clr-icon>
        </span>
      </div>
    </div>
  </div>
  <!--********************************Temporal changes End***************************************-->
</div>

<popper-content #errorPopper>
  <p  *ngIf="error && this.temporalItems.length" [style.margin]="'0'">A problem occurred and we were not able to retrieve the requested data</p>
  <p  *ngIf="!this.temporalItems.length"  [style.margin]="'0'">Please select criteria from dropdown to get count</p>
</popper-content>

