<div
  class="card bg-faded"
  [style.margin-top]="'1rem'"
  [style.margin-bottom]="'1rem'">

  <div class="card-header">
    <app-add-criteria
      [groupId]="group.get('id')"
      [role]="role">
    </app-add-criteria>
    <button
      type="button"
      class="btn btn-icon btn-link close"
      (click)="remove($event)">
      <clr-icon shape="close" size="24"></clr-icon>
    </button>
  </div>

  <div class="card-block">
    <app-search-group-item
      *ngFor="let itemId of group.get('items', []); let itemIndex = index;"
      [role]="role"
      [groupId]="group.get('id')"
      [itemId]="itemId"
      [itemIndex]="itemIndex">
    </app-search-group-item>
  </div>

  <div
    class="card-footer font-weight-bold bg-count text-right"
    [style.background-color]="'#d7d7d7'">
    Group Count:
    <span *ngIf="isRequesting"
      class="spinner spinner-inline"
      [style.vertical-align]="'middle'">
      Loading...
    </span>
    <span *ngIf="!isRequesting">
     {{ group.get('count') || 0 }}
    </span>
  </div>

</div>
