.standard-chart {
    display: block;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.small-chart {
    display: block;
    width: 400px;
    height: 300px;
}
/* tool-tip-styles */


highcharts-title {
    fill: #434348;
    font-weight: 400;
    font-size: 10px;
}
