<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-8">
    <div class="page-header">
      <h2> {{title}} </h2>
      <p class="view-sub-title">{{subTitle}} </p>
    </div>
    <div class="white-card-box" >

      <div class="box-header">
        <h5 class="box-title"> Survey Modules</h5>
        <p class="box-sub-title"> Explore each survey in depth. Click to view an interactive version of each survey response with distributions by age and gender.</p>
      </div>

      <div class="cards row">

        <!-- Show a card for each survey -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 survey-cards" *ngFor="let survey of surveys; let i = index" >
          <a (click)="viewSurvey(survey)" class="card clickable">
            <div class="card-header">
              {{survey.name}}
            </div>
            <div class="card-block">
              <div class="card-title">
                {{survey.participantCount | number}} Participants
              </div>
              <div class="card-text smaller">
                {{survey.description}}
              </div>
            </div>
          </a>
        </div>

      </div>

      <div class="box-header">
        <div class="box-title"> Survey Metadata</div>
        <div class="box-sub-title"> Interested in learning more about the instruments from which each survey question was derived? Explore the Survey Instruments explorer to view the full metadata of each question.</div>
      </div>

      <div class="buttons">
        <button class="btn btn-primary">Explore Survey Metadata </button>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4">
    <img [src]="pageImage" />
  </div>

</div>

