clr-datagrid {
  padding-top: 0;
}

:host::ng-deep .datagrid {
  margin-top: 0;
  background-color: #F1F1F1;
  border: none;
  max-width: 100%;
}

:host::ng-deep .datagrid-head {
  margin-bottom: 0.1rem;
  border: 1px solid #ccc;
}

:host::ng-deep .datagrid-body {
  border: 1px solid #ccc
}

clr-dg-row {
  background-color: white;
}

:host::ng-deep mark {
  background-color: rgba(101,159,61,0.2);
  color: #659F3D;
  font-weight: bolder;
}