<clr-datagrid [(clrDgSelected)]="selectedConcepts" [clrDgLoading]="loading">
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Synonyms</clr-dg-column>
  <clr-dg-column>Code</clr-dg-column>
  <clr-dg-column>Vocabulary</clr-dg-column>
  <clr-dg-column>Count</clr-dg-column>
  <div class="break"></div>
  <clr-dg-row *ngFor="let concept of concepts" [clrDgItem]="concept">
    <clr-dg-cell>{{concept.conceptName}}</clr-dg-cell>
    <clr-dg-cell>{{concept.conceptSynonyms.join(', ')}}</clr-dg-cell>
    <clr-dg-cell>{{concept.conceptCode}}</clr-dg-cell>
    <clr-dg-cell>{{concept.vocabularyId}}</clr-dg-cell>
    <clr-dg-cell>{{concept.countValue}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
