<div class="row">
  <div class="col-sm-1" style="margin-right:0.5rem;">
    <button (click)="moveLeft()" class="btn btn-primary btn-left" *ngIf="index > 0">
    </button>
  </div>
  <div class="col-sm-3">
    <app-card [card]="cards[index]" *ngIf="cards && cards[index]"></app-card>
  </div>
  <div class="col-sm-3">
    <app-card [card]="cards[index+1]" *ngIf="cards && cards[index+1]"></app-card>
  </div>
  <div class="col-sm-3">
    <app-card [card]="cards[index+2]" *ngIf="cards && cards[index+2]"></app-card>
  </div>
  <div class="col-sm-1">
    <button (click)="moveRight()" class="btn btn-primary btn-right" *ngIf="index+3 < cards.length">
    </button>
  </div>
</div>


