<clr-main-container class="main-bg" *ngIf="signedIn else login">
  <div id="workbench-header">workbench-header</div>
  <app-db-header [noMenu]="noHeaderMenu"></app-db-header>
  <div class="row">
    <div class="col-xs-6" id="breadcrumb">BreadCrumb</div>
    <div class="col-xs-6" id="social">social+bookmark</div>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</clr-main-container>
<footer>
  <div class="banner-container">
    <div class="banner-inner">
      <div class="banner-btn"></div>
      <p class="banner-text">Find out more about Data Access Levels and How to Apply. </p>
    </div>
  </div>
</footer>
<ng-template #login>
  <router-outlet></router-outlet>
</ng-template>