<clr-header class="header db-header">
  <div class="branding">
    <a routerLink="/" class="nav-link logo"><img [src]="logo"></a>
  </div>

  <div  class="header-nav menu" [clr-nav-level]="2">
    <a class="title nav-link db-logo" routerLink="/"> &nbsp; <img [src]="dbLogo"> &nbsp; </a>
    <a class="nav-link nav-text" #home routerLinkActive="active" routerLink="/quick-search">Quick Guided Search</a>
    <a class="nav-link nav-text" routerLinkActive="active" routerLink="quick-search/surveys">Survey Instruments</a>
  </div>
</clr-header>
