<header>
  <div class="branding">
    <a class="logo" href="/"><img [src]="logo"/></a>
    <div class="title"> <span class="title-data"> DATA </span> <span class="title-browser"> BROWSER </span></div>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-text" #home routerLinkActive="active" routerLink="/quick-search">Quick Guided Search</a>
    <a class="nav-link nav-text" routerLinkActive="active" routerLink="/surveys">Survey Instruments</a>
    <a class="nav-link nav-text" routerLinkActive="active" routerLink="/advanced-ehr">Advanced Electronic Health Record</a>
  </div>
</header>
