.db-header {
    width: 100%;
    background-color: #F0F0F1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 68px;
}

.db-nav {
    width: 40%;
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
}

.db-nav .link-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    color: #262262;
    font-weight: 700;
    font-family: 'unit', sans-serif !important;
    text-transform: uppercase;
}

.link-list__item {
    min-width: calc(100%/4 - 2rem);
    text-align: center;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-list__item:nth-of-type(2) {
    position: relative;
}

.link-list__item:nth-of-type(2)::after {
    border-bottom: solid #262262 .2rem;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
}

.link-list__item:hover {
    color: #262262a1;
    cursor: pointer;
}

.link-list__item img:hover {
    filter: opacity(.7)
}