.header, header, .header-1, header.header-1 {
    background-color:inherit;
    padding-top:24px;
    margin-bottom: 24px;
}

.branding {
    margin-right: 12px;
    padding-right: 0;
}
.branding .logo {
    padding-right: 0px;
    padding-top: 12px;
}
.branding .logo img {
    width:288px;
}



header .header-nav .nav-link {
    color:#4B4B81;
    font-size:14px;
    font-family: "Open Sans",open-sans,sans-serif;
}

.header-nav {
    margin-left: 0px;
    border-bottom: solid 1px #000000;

}
.header-nav.title {
    padding-right: 1rem;
    padding-left: 0;
    font-size:20px;
    font-family: "Open Sans",open-sans,sans-serif;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 0;
    line-height: 4.25;

}
span.title-data {
    color: #88BAE2;
}
span.title-browser {
    color: #252660;
}

.header-nav.menu {
    margin-left: 0px;
    width:60%;
}

.header-nav a{
    line-height: 6.5;
}
