<app-top-box>
  <button class="btn btn-link nav-link nav-item active" (click)="returnToConcepts()">Concepts</button>
  <button class="btn btn-link nav-link nav-item" routerLink="sets">Concept Sets</button>
  <app-tooltip>
    <div class="tooltip-header">What is a concept?</div>
    <div class="tooltip-label">
      Concepts describe information in a patient’s medical record,
      such as a condition they have, a  prescription they are
      taking or their physical measurements.
    </div>
    <div class="tooltip-header">What is a concept set?</div>
    <div class="tooltip-label">
      You can search for and save collections of concepts from a particular domain as a
      “Concept set”. For example, you can search for height, weight and blood pressure
      concepts from “Measurements” domain and call it “biometrics” concept set.
    </div>
    <div class="tooltip-header">How to use a concept set?</div>
    <div class="tooltip-label">
      You can use Notebooks to extract data defined in your “concept set” from your “cohort”.
      For example, you can launch a Notebook to import your “diabetes cases” cohort
      and then select your “biometrics” concept set, to get biometrics data for
      the participants in your cohort.
    </div>
  </app-tooltip>
  <div style="display: flex; align-items: center; margin-top: 1.5%;">
    <clr-icon shape="search" style="position: absolute; height: 1rem; width: 1rem; fill: #216FB4; left: calc(1rem + 4.3%);"></clr-icon>
    <input type="text" id="concept-search-input" [(ngModel)]="searchTerm" placeholder="Search concepts in domains" (keydown.enter)="searchButton()">
    <span class="btn-clear-container">
      <clr-icon *ngIf="currentSearchString != ''" shape="times-circle" (click)="clearSearch()" style="height: 1rem; width: 1rem; fill: #2691D0;"></clr-icon>
    </span>
    <clr-checkbox class="standard-concepts-checkbox" [(clrChecked)]="standardConceptsOnly">
      Standard concepts only
    </clr-checkbox>
  </div>
  <div class="error concept-search-error" *ngIf="showSearchError">
    Minimum concept search length is three characters.
    <clr-icon shape="times" style="margin-left: 2rem" (click)="showSearchError = false"></clr-icon>
  </div>
</app-top-box>
<div class="domain-box lower-box">
  {{conceptsSavedText}}
</div>

<div class="domain-box lower-box" *ngIf="!searching else chartBox">
  <div *ngIf="loadingDomains else domains" class="spinner-container">
    <span class="spinner spinner-lg"></span>
  </div>
  <ng-template #domains>
    <div class="card item-card" *ngFor="let domain of conceptDomainList">
      <div class="concept-name">
        {{domain.name}}
      </div>
      <div class="concept-text">
        <div>
          <span class="concept-count-text">{{standardConceptsOnly ? (domain.standardConceptCount | number: '1.0-0') : (domain.allConceptCount | number: '1.0-0')}}</span>
          <span class="concept-label-text">concepts</span>
        </div>
        in this domain.
        <div style="margin-top: 0.5rem">
          <span class="participant-count-text">{{domain.participantCount | number: '1.0-0'}}</span>
          participants in this domain.
        </div>
      </div>
      <div class="footer"><button class="btn btn-link browse-btn" (click)="browseDomain(domain)">Browse Domain</button></div>
    </div>
  </ng-template>
</div>
<ng-template #chartBox>
  <app-top-box>
    <div class="chart-box lower-box">
      <div class="chart-selector-tabs">
        <div *ngFor="let domain of conceptDomainCounts" class="chart-selector-tab">
          <button (click)="selectDomain(domain)" class="domain-selector-button btn btn-link nav-link nav-item" [class.active]="domain.domain === selectedDomain.domain" [class.spinnerloading]="domainLoading(domain)"
                  [disabled]="domainLoading(domain)">
            <div class="chart-selector-header">
              {{domain.name}}
              <span class="spinner spinner-sm spinner-inline" *ngIf="domainLoading(domain)"
                    style="margin-left:0.5rem; width:18px;">
              </span>
            </div>
            <div class="flex-flow: row">
              <div style="margin-left:0">{{domain.conceptCount}}</div>
              <div class="pill" style="margin-right:0"
                   *ngIf="selectedConceptDomainMap.size > 0 && selectedConceptDomainMap[domain.domain] && selectedConceptDomainMap[domain.domain] > 0">
                {{selectedConceptDomainMap[domain.domain]}}
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="filter-options">
        <div class="showing-count">Showing top {{concepts.length}} of {{selectedDomain.conceptCount}} {{selectedDomain.name}}</div>
      </div>
      <!--TODO: When we move to react, don't pass 'reactKey' as a prop, instead use the built in 'key' prop-->
      <app-concept-table [concepts]="concepts" [getSelectedConcepts]="selectConcept"
                         [loading]="searchLoading" [placeholderValue]="noConceptsConstant"
                         [reactKey]="selectedDomain.name"
                         [searchTerm]="currentSearchString">
      </app-concept-table>
      <app-sliding-fab [expanded]=addToSetText [submitFunction]="openAddModal"
                       [disable]="activeSelectedConceptCount === 0" [iconShape]="'plus'">
      </app-sliding-fab>
    </div>
  </app-top-box>
</ng-template>
<app-concept-add-modal *ngIf="conceptAddOpen"
        [selectedDomain]="selectedDomain"
        [selectedConcepts]="conceptsToAdd"
        [onSave]="afterConceptsSaved"
        [onClose]="closeAddModal"></app-concept-add-modal>
