<app-top-box>
  <clr-tabs>
    <clr-tab>
      <button clrTabLink (click)="searching = false;">Concepts</button>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Concept Sets</button>
    </clr-tab>
  </clr-tabs>
  <div style="display: flex; align-items: center; margin-top: 1.5%;">
    <clr-icon shape="search" style="position: absolute; height: 1rem; width: 1rem; fill: #216FB4; left: 5.3%;"></clr-icon>
    <input type="text" id="concept-search-input" [(ngModel)]="searchTerm" placeholder="Search concepts in domains">
    <button class="btn btn-secondary" (click)="searching = true">Search</button>
    <clr-checkbox class="standard-concepts-checkbox" [clrChecked]="standardConceptsOnly">
      Standard concepts only
    </clr-checkbox>
  </div>
  <div class="domain-box lower-box" *ngIf="!searching else chartBox">
    <div class="card item-card" *ngFor="let domain of conceptDomainList">
      <div class="concept-name">{{domain.name}}</div>
      <div class="concept-text">
        <div>
          <span class="concept-count-text">{{domain.conceptCount}} </span>
          <span class="concept-label-text">concepts</span>
        </div>
        in this domain.
        <div style="margin-top: 0.5rem">
          <span class="participant-count-text">{{domain.participantCount}}</span>
          participants in this domain.
        </div>
      </div>
      <div class="footer"><button class="btn btn-link browse-btn">Browse Domain</button></div>
    </div>
  </div>
  <ng-template #chartBox>
    <div class="chart-box lower-box">
      <clr-tabs class="chart-selector-tabs">
        <clr-tab *ngFor="let domain of conceptDomainList">
          <button clrTabLink (click)="selectDomain(domain.name)">
            <div class="chart-selector-header">{{domain.name}}</div>
            <div>{{domain.conceptCount}}</div>
          </button>
        </clr-tab>
      </clr-tabs>
      <div class="filter-options">
        Filter by vocabulary:
        <clr-checkbox class="filter-checkbox" [clrChecked]="standardConceptsOnly">
          SNOMED (4011)
        </clr-checkbox>
        <clr-checkbox class="filter-checkbox" [clrChecked]="standardConceptsOnly">
          CPT (2951)
        </clr-checkbox>
        <clr-checkbox class="filter-checkbox" [clrChecked]="standardConceptsOnly">
          ICD10 (2112)
        </clr-checkbox>
      </div>
      <app-concept-table [concepts]="concepts"></app-concept-table>
      <div (mouseenter)="addTextHovering=true" (mouseleave)="addTextHovering=false" (click)="openAddModal()" class="add-section">
        <div class="add-text" [class.hovering]="addTextHovering">Add to set</div>
        <clr-icon class="add-icon" shape="plus"></clr-icon>
      </div>
    </div>
  </ng-template>
</app-top-box>
<app-concept-add-modal></app-concept-add-modal>