<app-data-browser-header></app-data-browser-header>
<!-- <h1 *ngIf="section" class="text-center text-capitalize col-sm-12">{{section.name}}</h1> -->
<h1 *ngIf="section" class="text-center text-capitalize col-sm-12">All of Us Summary</h1>

<div class="container">
  <!-- <div class="btn-group btn-toggle">
    <button [ngClass]="{' btn-success':dataToggle}" style="outline:none" (click)="dataSelected()" class="btn btn-lg ">PPI</button>
    <button [ngClass]="{' btn-success':!dataToggle}" style="outline:none" (click)="dataSelected()" class="btn btn-lg  ">EHR</button>
  </div> -->
  <div *ngFor="let analysis of analyses;let i = index">
    <div *ngIf="analysis.analysis_id == 1" class="col-sm-12">
      <app-count [analysis]="analysis">
      </app-count>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let analysis of analyses;let i = index">

      <div *ngIf="dontShow(analysis.analysis_id)" class="col-sm-6">
        <app-chart [redraw]="redraw" [analysis]="analysis">
        </app-chart>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

</div>
