.item {
  display: flex;
  justify-content: space-between;
  align-items: middle;
}

.name {
  flex: 1;
}

.type {
  flex: 1;
}

.delete {
  min-width: 72px;
}

.is-posting {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.container {
  position: relative;
}

.spin-in-overlay {
  position: absolute;
  top: 50%;
  right: 50%;
}

.footer-button {
  margin-left: 10rem;
  margin-top: 3rem;
}
.footer-button .cancel{
  color:black;
  font-weight: 500;
  font-size: 14px;
}
.save-disable {
  pointer-events: none;
  opacity: 0.3;
}