<div class="container">
  <!--[cancelEvent] = "cancelFlag"-->
  <!--[saveEvent] = "saveButtonEvent"-->
  <app-set-annotation-item
          *ngFor="let defn of definitions"
          [definition]="defn"
          (isPosting)="isPosting($event, defn)">
  </app-set-annotation-item>

  <div *ngIf="posting" class="spinner spinner-md spin-in-overlay">
    Loading...
  </div>
</div>

<div class="footer-button">
  <button
          type="button"
          class="btn btn-link cancel"
          (click)="openEdit = false">
    Cancel
  </button>
  <button
          type="button"
          class="btn btn-primary"
          (click)="openEdit = false"
  >
    Save
  </button>
</div>
