<div class="container">
  <div class="item">
    <span class="name">Name</span>
    <span class="type">Type</span>
    <span class="delete">Remove</span>
  </div>
  <hr />
<h1>hi{{saveButtonEvent}}</h1>
  <app-set-annotation-item
          *ngFor="let defn of definitions"
          [definition]="defn"
          [cancelEvent] = "cancelFlag"
          [saveEvent] = "saveButtonEvent"
          (isPosting)="isPosting($event, defn)">
  </app-set-annotation-item>

  <div *ngIf="definitions.length === 0">
    <em>No review annotations defined yet.</em>
  </div>

  <!--<div *ngIf="posting" class="spinner spinner-md spin-in-overlay">-->
    <!--Loading...-->
  <!--</div>-->
</div>

<div class="footer-button">
  <button
          type="button"
          class="btn btn-link cancel"
          (click)="cancelFromChange()"
  >
    Cancel
  </button>
  <!--[ngClass]="{'save-disable': !saveButton}"-->
  <button
          type="button"
          class="btn btn-primary"
          (click)="saveFromChange()"
  >
    Save
  </button>

  <div class="spinner spinner-md spin-in-overlay">
    Loading...
  </div>
</div>