.spinner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;
}

.spinner-header {
  color: #007CBB;
  font-size: 16px;
  font-weight: bold;
}

.spinner-text {
  text-align: center;
  /* This forces the flex layout to put the text on a new line. */
  width: 100%;
}

.notebooks-header {
  color: #2F2E7E;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 0;
  padding-top: 0.5rem;
}

.progress-card {
  height: 180px;
  width: 195px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.progress-card-current {
  background-color: #F2FBE9;
}

.progress-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.progress-text {
  text-align: center;
  color: #000000;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}

.progress-icon {
  height: 46px;
  width: 46px;
  margin-bottom: 5px;
  opacity: 0.5;
  fill: #B3B2C8;
}

.progress-icon-done {
  fill: #8BC990;
  opacity: 1;
}

.spinner.spinner-sm {
  height: 46px;
  width: 46px;
  margin-bottom: 5px;
  float: left;
}

.i-frame {
  width: 100%;
  height: calc(100vh - 4.48rem);
}

.hidden {
  display: none;
}

#separator {
  border-bottom: 5px solid #2691D0;
  width: 100%;
}

#overlay-test {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}