<div *ngIf="this.errorHandlingService.serverError" class="error-handler">
  Server Error (500)
  <clr-icon shape="times" (click)="this.closeServerError()"></clr-icon>
</div>
<div *ngIf="this.errorHandlingService.noServerResponse" class="error-handler">
  Server not available (0)
  <clr-icon shape="times" (click)="this.closeNoServerResponse()"></clr-icon>
</div>
<div *ngIf="this.errorHandlingService.serverBusy" class="error-handler">
  Server is currently busy (503)
  <clr-icon shape="times" (click)="this.closeServerBusy()"></clr-icon>
</div>

<clr-modal [(clrModalOpen)]="this.errorHandlingService.userDisabledError">
  <h3 class="modal-title">This account has been disabled</h3>
  <div class="modal-body">
    Please contact a system administrator to inquire about the status of your account.
  </div>
</clr-modal>
