.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #313131;
  opacity: .8;
  z-index: 1040;
}

.main {
  height: 79.23%;
  width: 80%;
  border-radius: 8px;
  background-color: #262262;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  position: absolute;
  left: 10%;
  top: 1%;
  z-index: 1050;
}

.main.full-image {
  height: 50%;
}

.title {
  color: #FFFFFF;
  margin-top: 2%;
  margin-left: 3%;
  font-size: 21px;
  width: 100%;
}

.intro {
  color: #FFFFFF;
  font-size: 48px;
  width: 100%;
  margin-top: 3%;
  margin-left: 3%;
  font-weight: 600;
}

.breadcrumbs {
  width: 100%;
  margin-top: 5%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.breadcrumb-component {
  width: 128px;
}

.circle {
  border: 2px solid #8C9BA5;
  border-radius: 50%;
  height: 21.92px;
  width: 21.92px;
  left: 21.92px;
}

.current {
  min-height: 12px;
  min-width: 12px;
  margin-left: 3px;
  margin-bottom: 2px;
  background-color: #2691D0;
  border-radius: 50%;
  display: inline-block;
}

.circle.completed {
  left: 0px;
  border: 2px solid #2691D0;
}

.check {
  min-height: 10px;
  min-width: 10px;
  margin-left: 2px;
  margin-top: -3px;
}

.breadcrumb-title {
  transform: translate(-40%);
  text-align: center;
  color: #2691D0;
}

.connector.completed {
  border: 2px solid #2691D0;
}

.connector {
  border: 2px solid #8C9BA5;
  box-sizing: border-box;
  height: 3px;
  width: 107px;
  position: relative;
  left: 21.92px;
  top: -36px;
}

.divider {
  box-sizing: border-box;
  height: 2px;
  width: 90%;
  border: 0.5px solid #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  margin: auto;
}

.panel {
  margin-top: 5%;
  width: 100%;
  display: flex;
}

.panel-left {
  width: 75%;
}

.panel-title {
  width: 100%;
  margin-left: 5%;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
}

.panel-contents {
  padding-left: 5%;
  margin-top: 1%;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
}

.panel-text {
  margin-right: 2%;
  padding-top: .5%;
  font-size: 16px;
  line-height: 24px;
  white-space: pre-line;
  text-align: left;
}

.panel-right {
  margin-right: 5%;
  margin-bottom: 5%;
  width: 40%;
  height: 90%;
  position: relative;
  display: inline-block;
}

.panel-image {
  width: 88%;
  margin-top: 11%;
  margin-left: 11%;
  position: relative;
  z-index: 1;
  display: inline;
}

.full-image-wrapper {
  position: relative;
  display: inline-block;
}
.controls {
  width: 100%;
  position: absolute;
  bottom: 8%;
  display: flex;
  justify-content: space-between;
}

.controls>.left {
  width: 50%;
}

.controls>.right {
  display: flex;
  justify-content: flex-end;
  width: 49%;
}

.btn.btn-close {
  border: 0px;
  margin-left: 10%;
  color: #FFFFFF;
}

.btn.btn-close:hover {
  background-color: #004a70;
}

.btn.btn-primary {
  margin-right: 10%;
}

.resize-icon {
  cursor: pointer;
}

.invisible {
  display: none;
}

:host::ng-deep .link, .link:visited {
  color: #85BDE4;
}
