<div [class.modal-backdrop]="learning"></div>
<div class="main" id="quick-tour" *ngIf="learning && !fullImage">
  <div class="title">
    All of Us Researcher Workbench
  </div>
  <div class="intro">
    Quick Tour
  </div>
  <div class="breadcrumbs">
    <div *ngFor="let panel of panelTitles">
      <div class="breadcrumb-component">
        <div class="circle" id="{{panel}}" [class.completed]="panelTitles.indexOf(panel) <= selectedIndex" (click)="selectPanel(panel)">
          <div *ngIf="panel === selected" class="current"></div>
          <div *ngIf="panelTitles.indexOf(panel) < selectedIndex" class="check"><img [src]="checkImg"></div>
        </div>
        <div class="breadcrumb-title">{{panel}}</div>
        <div *ngIf="!(panel === panelTitles[panelTitles.length-1])" class="connector"
             [class.completed]="panelTitles.indexOf(panel) < selectedIndex"></div>
      </div>
    </div>
  </div>
  <div style="width: 100%; padding-top: 5%">
    <div class="divider"></div>
  </div>
  <div class="panel">
    <div class="panel-left">
      <div class="panel-title">
        {{selectedTitle(selected)}}
      </div>
      <div class="panel-contents">
        <div class="panel-text" [innerHtml]="panels.get(selected)"></div>
      </div>
    </div>
    <div class="panel-right">
      <img [src]="panelImages.get(selected)" class="panel-image">
      <div *ngIf="selectedIndex !== 0" style="position: absolute; right: 5%; bottom: 5%; height: 1rem; width: 1rem">
        <app-expand-icon class="resize-icon" style="position: absolute; z-index: 2;"  (click)="toggleImage()"></app-expand-icon>
      </div>
    </div>
  </div>
  <div class="controls">
    <div class="left">
      <button type="button" class="btn btn-close" id="previous" (click)="previous()" [disabled]="selectedIndex <= 0">PREVIOUS</button>
    </div>
    <div class="right">
      <button type="button" class="btn btn-close" id="close" (click)="close()">Close</button>
      <button type="button" class="btn btn-primary" id="next" (click)="next()" [disabled]="selectedIndex >= (panelTitles.length-1)">Next</button>
    </div>
  </div>
</div>
<div class="main" *ngIf="learning && fullImage">
  <div class="full-image-wrapper">
    <img [src]="panelImages.get(selected)" style="height: 100%; width: 100%">
    <app-shrink-icon class="resize-icon" (click)="toggleImage()" style="position: absolute; right: 5%; bottom: 5%"></app-shrink-icon>
  </div>
</div>
