.detail-header {
  display: flex;
  align-items: center;
}

.detail-header h4 {
  margin: 0 0.5rem;;
}

.detail-header button:first-of-type {
  margin: 0;
}

.btn-prev:focus {
  border: 1px solid;
}

.btn-next:focus {
  border: 1px solid;
  border-left: 0;
}
