<div class="item">
  <!-- SELECT BTN -->
  <button
          *ngIf="selectable"
          type="button"
          class="btn btn-sm btn-link selection-button"
          [class.pm]="isPM"
          [disabled]="isDisabled && !hasAttributes"
          (click)="select($event)">
    <clr-icon *ngIf="isDisabled && !hasAttributes" shape="check-circle" size="20" class="selection-icon"></clr-icon>
    <clr-icon *ngIf="!isDisabled && !hasAttributes" shape="plus-circle" size="20" class="selection-icon"></clr-icon>
    <clr-icon *ngIf="hasAttributes" shape="slider" dir="right" size="20" class="selection-icon-blue is-solid"></clr-icon>
  </button>

  <!-- CODE -->
  <div class="code font-weight-bold">
    {{ displayCode }}
  </div>

  <!-- NAME -->
  <div #name
    [popper]="popperName"
    [popperTrigger]="'hover'"
    [popperModifiers]="{preventOverflow: {boundariesElement: 'viewport'}}"
    [popperDisabled]="!isTruncated"
    class="name text-muted">
    <span [class.search-keyword]="matched">{{node.name}}</span>
  </div>

  <!-- COUNT -->
  <div *ngIf="showCount" class="count">
    <span class="badge badge-info">
      {{ node.count | number }}
    </span>
  </div>
</div>

