<clr-modal [(clrModalOpen)]="renaming" [clrModalSize]="'md'">
    <div class="modal-title">
        <!--The ngIf is to avoid null pointers before the modal is opened.-->
        <div *ngIf="renaming" class="modal-title-text">Please enter the new name for {{resource.name}}</div>
    </div>
    <div class="modal-body">
        <div class="form-section">
            <label>New Name: </label>
            <input id="new-name" type="text" class="input"
                   [(ngModel)]="newName">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="renaming=false">Cancel</button>
        <button type="button" class="btn btn-primary confirm-delete-btn" (click)="this.receiveRename.emit({name: resource.name, newName: newName});">Rename {{resourceType}}</button>
    </div>
</clr-modal>