
<clr-tree-node >
<!--  -->
<!-- <p > {{item.code}}</p> -->
  <button *ngIf="item.children"(click)="passChildren(item)" class="clr-treenode-link" [class.active]="active">  {{item.concept_name}} </button>
    <ng-template *ngIf="item.children"
      [clrIfExpanded]="!item.children">
      <div
      *ngFor="let child of item.children">

        <app-recursive-tree (conceptEmit)='passGrandChildren($event)'
            [item]="child">
        </app-recursive-tree>
      </div>
          <!-- <button (click)="passChildren(child)" class="clr-treenode-link" [class.active]="active">{{child.code}}__o</button> -->

    </ng-template>
</clr-tree-node>
