
<h3>
  Choose Demographics Filters
  <clr-icon shape="info-circle" class="is-highlight"
    [popper]="explanation"
    [popperTrigger]="'hover'"
    [popperPlacement]="'right'">
  </clr-icon>
</h3>
<popper-content #explanation>
  <p>
    The four subcategories of Demographics (Age, Gender, Race, and Deceased
    Status) are joined together with a Boolean <strong>AND</strong>.  For
    example, you may wish to search for people who identify as Female
    <em>and</em> Asian.
  </p>
  <p>
    Values <em>within</em> a subcategory are joined with a Boolean
    <strong>OR</strong>.  For example, you may wish to search for people
    classified as White <em>or</em> as African American.
  </p>
  <p>
    The default behavior is to include as many participants as possible.  For
    example, selecting no gender filters is equivalent to <em>not</em>
    filtering by gender, which is equivalent to selecting <em>all</em>
    available filters.
  </p>
  <p>
    Filtering by <strong>Deceased Status</strong> will have the effect of
    including only deceased participant data.  If you would like to
    <em>exclude</em> deceased participant data, create a demographic
    profile in the <strong>Exclude Participants</strong> column.
  </p>
</popper-content>

<form class="form-container" [formGroup]="demoForm">
  <!-- Age -->
  <div class="age-label">
    Current Age
  </div>
  <div class="control-wrapper slider-wrapper" [ngClass]="[deceasedClicked? 'deceaseNoCursor':'deceaseCursor']">
    <input type="number"
           id="min-age"
           [min]="minAge" [max]="maxAge"
           formControlName="ageMin"
           class="number-display"
           (blur)="checkMin()">
    <div class="slider">
      <div id="count-wrapper">
          <span id="age-count" class="badge badge-info">
            {{ ageCount | number }}
          </span>
      </div>
      <nouislider
              [min]="minAge" [max]="maxAge" [step]="1"
              [behaviour]="'drag'"
              [connect]="true"
              (slide)="centerAgeCount()"
              [formControl]="demoForm.controls.ageRange">
      </nouislider>
    </div>
    <input type="number"
           id="max-age"
           [min]="minAge" [max]="maxAge"
           formControlName="ageMax"
           class="number-display"
           (blur)="checkMax()">
    <clr-icon *ngIf= "!ageClicked" class="selection-icon" shape="plus-circle" size = '39' (click)="getAgeValue()"></clr-icon>
    <clr-icon *ngIf= "ageClicked" class="selection-icon selection-check-icon" shape="check-circle" size = '39'></clr-icon>
  </div>

  <!-- Genders -->
  <div class="demo-container test-container">
    <div>
      <div class="demo-title">
        Gender
      </div>
      <div class="control-wrapper">
        <crit-multi-select
                (addedItems)="getItems($event)"
                [options]="genderNodes"
                [getParamId]="selectedParamId"
                [includeSearchBox]="false"
                [initialSelection]="initialGenders"
                [loading]="loading">
        </crit-multi-select>
      </div>
    </div>

    <!-- Races -->
    <div>
      <div class="demo-title">
        Race
      </div>
      <div class="control-wrapper">
        <crit-multi-select
                (addedItems)="getItems($event)"
                [options]="raceNodes"
                [getParamId]="selectedParamId"
                [initialSelection]="initialRaces"
                [loading]="loading">
        </crit-multi-select>
      </div>
    </div>

    <!-- Ethnicities -->
    <div>
      <div class="demo-title">
        Ethnicity
      </div>
      <div class="control-wrapper">
        <crit-multi-select
                (addedItems)="getItems($event)"
                [includeSearchBox]="false"
                [options]="ethnicityNodes"
                [getParamId]="selectedParamId"
                [initialSelection]="initialEthnicities"
                [loading]="loading">
        </crit-multi-select>
      </div>
    </div>
  </div>
  <div>
    <div class="deceased-title">
      Deceased
    </div>
    <div class="control-wrapper">
      <div (click)="selectedDeasease()" [ngClass]="[ageClicked? 'deceaseNoCursor':'deceaseCursor']">
        <clr-icon *ngIf= "!deceasedClicked" class="decease-selection-icon" shape="plus-circle" size = '39'  ></clr-icon>
        <clr-icon *ngIf= "deceasedClicked" class="decease-selection-icon selection-check-icon" shape="check-circle" size = '39'></clr-icon>
        Is Deceased</div>
    </div>
  </div>
</form>
<div class="container count-preview" *ngIf="!noSelection">
  <div class="row">
    <div class="col-lg-1 " *ngIf="showCalculateContainer || preview.get('requesting')">
       <span class="spinner spinner-md">
    </span>
    </div>
    <div class="col-lg-2 calculate-button" *ngIf="showCalculateContainer || preview.get('requesting')">
      Calculating ...
    </div>
    <ng-container *ngIf="!preview.get('requesting') && !showCalculateContainer">
      <div class="col-lg-6 text-padding" *ngIf="preview.get('count') >= 0 || count">
        <div class="result-text">
          Results
        </div>
        <div>
          Number Participants:
          <span class="text-bold" *ngIf="preview.get('count') >= 0;else totalcount">
       {{ preview.get('count', 0) | number }}
        </span>
          <ng-template #totalcount >
            <span class="text-bold">
                {{count | number}}
            </span>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>
</div>

