h3 {
  margin-left: 2rem;
  margin-top:0.2rem;
}
.control-wrapper {
  margin: 0 1rem 0 0;
  display: flex;
  align-items: center;
}
.control-wrapper.slider-wrapper {
  width: 96%;
  padding-left: 1rem;
}
.slider {
  flex: 1;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}
.slider > #count-wrapper {
  text-align: center;
  height: 1.25rem;
  position: relative;
}
.ng2-nouislider {
  margin-top: 0;
}
.number-display {
  margin-top: 0.25rem;
  padding: 0 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
  width: 1rem;
  font-weight: 300;
  font-size: 0.5rem;
}
#min-age {
  margin-right: 0.5rem;
}
#max-age {
  margin-left: 0.5rem;
}
.age-label {
  font-size: 14px;
  font-weight: 600;
  color: #262262;
}
.count-preview {
  background-color: #E4F3FC;
  padding: 0.5rem;
  margin: 0 2.5%;
  position: absolute;
  width: 95%;
  bottom: 0.5rem;
}
.count-preview .text-bold {
  font-weight: bold;
  color: #4A4A4A;
}
.count-preview .result-text {
  color: #262262;
  font-size: 14px;
  font-weight: 500;
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.form-container {
  padding-left: 1rem;
  max-height: 15rem;
}
.form-container.age {
  margin: 0.5rem 1rem;
  padding-bottom: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.form-container.age clr-checkbox {
  padding-left: 1rem;
}
.form-container.age clr-checkbox .badge.badge-info{
  margin-left: 0.5rem;
}
.ds-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.ds-options {
  min-width: 7rem;
  margin: 0.25rem 0 0.25rem 0;
}
.option-list {
  overflow: auto;
}
.option {
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin-bottom: 0.5rem;
  padding: 0 .25rem;
  cursor: pointer;
}
.items-selection-icon {
  margin-right: 0.25rem;
  color: rgb(98, 164, 32);
}
.items-disabled-icon {
  margin-right: 0.25rem;
  color: rgb(98, 164, 32);
  opacity: 0.4;
  pointer-events: none;
}
.badge.badge-info {
  margin-left: 0.25rem;
}
