<form *ngIf="wizard" class="form-container" [class.age]="wizard.type === criteriaType.AGE" [formGroup]="demoForm" [ngSwitch]="wizard.type">
  <!-- Age -->
  <div *ngSwitchCase="criteriaType.AGE">
    <ng-container *ngIf="!loading">
      <div class="age-label">
        Age Range
      </div>
      <div class="control-wrapper slider-wrapper" [class.disabled]="deceased.value">
        <input type="number"
          id="min-age"
          [min]="minAge" [max]="maxAge"
          formControlName="ageMin"
          class="number-display"
          (blur)="checkMin()">
        <div class="slider">
          <div id="count-wrapper">
            <span *ngIf="ageCount !== null" id="age-count" class="badge badge-info">
              {{ ageCount | number }}
            </span>
          </div>
          <nouislider
            [min]="minAge" [max]="maxAge" [step]="1"
            [behaviour]="'drag'"
            [connect]="true"
            (slide)="centerAgeCount()"
            [formControl]="demoForm.controls.ageRange">
          </nouislider>
        </div>
        <input type="number"
          id="max-age"
          [min]="minAge" [max]="maxAge"
          formControlName="ageMax"
          class="number-display"
          (blur)="checkMax()">
      </div>

      <clr-checkbox formControlName="deceased">
        Is Deceased
        <span *ngIf="deceasedNode" class="badge badge-info">
          {{ deceasedNode.count | number }}
        </span>
      </clr-checkbox>
    </ng-container>
    <div *ngIf="loading" class="spinner" style="left: 45%"></div>
  </div>

  <!-- Gender/Race/Ethnicity -->
    <div *ngSwitchDefault>
      <div class="control-wrapper">
        <div class="ds-wrapper">
          <div class="ds-options">
            <div class="select-box">
              <div class="option-list" >
                <span *ngIf="loading" class="spinner spinner-md"></span>
                <div *ngFor="let opt of nodes; let i = index" class="option" (click)="selectOption(opt)">
                  <clr-icon  *ngIf="!selections.includes(opt.parameterId)"  shape="plus-circle"  size="20" class="selection-icon items-selection-icon" ></clr-icon>
                  <clr-icon  *ngIf="selections.includes(opt.parameterId)" shape="check-circle" size="20"  class="selection-icon items-disabled-icon"></clr-icon>
                  {{ opt.name | titlecase }}
                  <span *ngIf="opt.count" class="badge badge-info">
                    {{ opt.count | number }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
<div class="container count-preview" *ngIf="(selections && selections.length) && wizard.type !== criteriaType.AGE">
  <div class="row">
    <ng-container>
      <div class="col-lg-12 text-padding" *ngIf="count">
        <div class="result-text">
          Results
        </div>
        <div>
          Number Participants:
          <span class="text-bold">
            {{count | number}}
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>

