h3 {
  margin-left: 2rem;
  margin-top:0.2rem;
}

/* Form grid / layout */
.form-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-height: 2rem;
  margin: 0.25rem 0;
}

.form-row:first-child {
  margin-top: 0;
}

.form-row:last-child {
  margin-bottom: 0;
}

.form-label {
  min-width: 7rem;
  align-self: center;
  text-align: center;
}

.circle-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.and-circle {
  background-color: rgb(226, 226, 233);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  font-size: 0.45rem;
}

.control-wrapper {
  margin: 0 1rem 0 0;
  display: flex;
  align-items: center;
}

/* Slider elements */
.control-wrapper.slider-wrapper {
  width: 96%;
  padding-left: 1rem;
}

.slider {
  flex: 1;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

.slider > #count-wrapper {
  text-align: center;
  height: 1.25rem;
  position: relative;
}

.ng2-nouislider {
  margin-top: 0;
}

.number-display {
  margin-top: 0.25rem;
  padding: 0 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
  width: 1rem;
  font-weight: 300;
  font-size: 0.5rem;
}

#min-age {
  margin-right: 0.5rem;
}

#max-age {
  margin-left: 0.5rem;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}

/* Deceased status text */
label[for="deceased"] {
  font-weight: 400;
  font-size: 0.5rem;
  color: black;
}

.demo-container {
  display: flex;
  justify-content: space-around;
}

.selection-icon {
  margin: calc((1.25rem - 20px) / 2);
  color: rgb(98, 164, 32);
  padding-top: 0.2rem;
  padding-left: 0.8rem;
}

.age-label {
  font-size: 14px;
  font-weight: 600;
  color: #262262;
}

.demo-title {
  font-size: 14px;
  font-weight: 500;
  color: #262262;
}

.count-preview {
  background-color: #E4F3FC;
  padding: 0.8rem;
  margin-top: 1rem;
}
.count-preview  .calculate-btn{
  background-color: #2691D0;
  color: white;
}

.count-preview  .disable-link {
  pointer-events: none;
  opacity: 0.3;
}
.count-preview  .add-button {
  border-color: transparent;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  color: #2691D0;
}
.count-preview .text-bold {
  font-weight: bold;
  color: #4A4A4A;
}

.spin-top-padding {
  padding-top: 0.5rem;
}

.count-preview .result-text {
  color: #262262;
  font-size: 14px;
  font-weight: 500;
}

.spinner-inline {
  height: 0rem;
  width: 0rem;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.decease-selection-icon {
  margin: calc((1.25rem - 20px) / 2);
  color: rgb(98, 164, 32);
  padding-left: 0.8rem;
}

.deceased-title {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 14px;
  font-weight: 500;
  color: #262262;
}

.form-container {
  padding-left: 1rem;
}

.form-container.age {
  margin: 0.5rem 1rem;
  padding-bottom: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.form-container.age clr-checkbox {
  padding-left: 1rem;
}

.form-container.age clr-checkbox .badge.badge-info{
  margin-left: 0.5rem;
}

.selection-check-icon {
  opacity: 0.4;
  pointer-events: none;
}

.white-background {
  background-color: #FFFFFF;
}

.calculate-button {
  font-size: 14px;
  font-weight: 500;
  color: #262262;
}