<form *ngIf="wizard" class="form-container" [class.age]="wizard.type === criteriaType.AGE" [formGroup]="demoForm" [ngSwitch]="wizard.type">
  <!-- Age -->
  <div *ngSwitchCase="criteriaType.AGE">
    <ng-container *ngIf="!loading">
      <div class="age-label">
        Age Range
      </div>
      <div class="control-wrapper slider-wrapper" [class.disabled]="deceased.value">
        <input type="number"
          id="min-age"
          [min]="minAge" [max]="maxAge"
          formControlName="ageMin"
          class="number-display"
          (blur)="checkMin()">
        <div class="slider">
          <nouislider
            [min]="minAge" [max]="maxAge" [step]="1"
            [behaviour]="'drag'"
            [connect]="true"
            [formControl]="demoForm.controls.ageRange">
          </nouislider>
        </div>
        <input type="number"
          id="max-age"
          [min]="minAge" [max]="maxAge"
          formControlName="ageMax"
          class="number-display"
          (blur)="checkMax()">
      </div>

      <clr-checkbox formControlName="deceased" [clrDisabled]="!ageNode || !deceasedNode">
        Is Deceased
<!--        TODO need decision whether to keep this or use same count preview as Age -->
<!--        <span *ngIf="deceasedNode" class="badge badge-info">-->
<!--          {{ deceasedNode.count | number }}-->
<!--        </span>-->
      </clr-checkbox>
    </ng-container>
    <div *ngIf="loading" class="spinner" style="left: 45%"></div>
  </div>

  <!-- Gender/Race/Ethnicity -->
    <div *ngSwitchDefault>
      <div *ngIf="noSexData" class="alert alert-warning">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon is-solid" shape="exclamation-triangle"></clr-icon>
            </div>
            <span class="alert-text">
                This data does not exist in the dataset you’re currently using. To use this data, please create a new workspace with the most recent dataset.
              </span>
          </div>
        </div>
      </div>
      <div class="control-wrapper">
        <div class="ds-wrapper">
          <div class="ds-options">
            <div class="select-box">
              <div class="option-list" >
                <span *ngIf="loading" class="spinner spinner-md"></span>
                <div *ngFor="let opt of nodes; let i = index" class="option" (click)="selectOption(opt)">
                  <clr-icon  *ngIf="!selections.includes(opt.parameterId)"  shape="plus-circle"  size="20" class="selection-icon items-selection-icon" ></clr-icon>
                  <clr-icon  *ngIf="selections.includes(opt.parameterId)" shape="check-circle" size="20"  class="selection-icon items-disabled-icon"></clr-icon>
                  {{ opt.name | titlecase }}
                  <span *ngIf="opt.count" class="badge badge-info">
                    {{ opt.count | number }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
<div class="count-preview" [class.age]="wizard.type === criteriaType.AGE" *ngIf="showPreview">
  <div *ngIf="wizard.type === criteriaType.AGE" style="margin-right: 0.25rem">
    <button class="btn btn-primary" [clrLoading]="calculating" [disabled]="calculating || count" (click)="calculateAge()">
      Calculate
    </button>
  </div>
  <div *ngIf="count || wizard.type === criteriaType.AGE">
    <div class="result-text">
      Results
    </div>
    <div>
      Number Participants:
      <span class="text-bold">
        {{(count | number) || ' -- '}}
      </span>
    </div>
  </div>
</div>

