<div *ngIf="currentUrl && currentUrl.indexOf('/data-browser/') === -1" class="sign-in-container">
  <app-page-template-signed-out style="width: 100%" [imageSrc]=backgroundImgSrc [smallerImageSrc]=smallerBackgroundImgSrc>
    <div *ngIf="!showCreateAccount;" style="margin-top: 6.5rem;  padding-left: 3rem;">
      <h3>Already have an account?</h3>
      <div style="display: flex;">
        <button (click)="signIn()" class="btn btn-lg btn-primary">
          <img class="google-icon" [src]="googleIcon">
          Sign In with Google
        </button>
      </div>
      <div style="padding-top: 1rem;">
        <h4>Don't have an account?</h4>
        <button (click)="showCreateAccount = true" class="btn btn-secondary">Create Account</button>
      </div>
    </div>
    <div *ngIf="showCreateAccount;">
      <app-invitation-key></app-invitation-key>
    </div>
  </app-page-template-signed-out>
</div>
