<div class="item">
  <span class="name">
    <span *ngIf="!editing" class="name-display">
      {{ definition.columnName }}
    </span>
    <input *ngIf="editing"
      #nameInput
      id="{{ definition.columnName }}-edit-form"
      class="name-edit"
      type="text"
      [formControl]="name"
      (blur)="saveEdit()"
      (keyup.enter)="saveEdit()"
      (keyup.esc)="cancelEdit($event)">
  </span>

  <button type="button" class="btn btn-sm btn-link" (click)="edit()">
    <clr-icon shape="pencil" size="22"></clr-icon>
  </button>
  <button type="button" class="btn btn-sm btn-link text-danger" (click)="delete()">
    <clr-icon shape="minus-circle" size="22"></clr-icon>
  </button>
</div>

