/* Link styles */
a {
  padding: .25rem .25rem .25rem 1.25rem;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(86, 86, 86);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  transition: 0.3s;
}

a:hover:not(.closebtn) {
  background-color: rgb(238, 238, 238);
}

.btn-group-wrapper {
  display: flex;
}

.btn-group-wrapper > .btn-group {
  margin: auto;
}
