h2 {
  display: inline-block;
}

.field-label {
  font-size: 0.55rem;
}

.field-label-button-container {
  display:inline-block;
}

.field-label-button {
  height: 1rem;
  line-height: 0rem;
}

.field-wrapper {
  margin: 0.5rem 0 1.5rem 0;
}

label.long-text-field {
  display: block;
}

label clr-icon {
  margin-left: 0.25rem;
}

div.field {
  display: inline-block;
  margin-right: 2rem;
}

input[type=text]:not([readonly]) {
  padding: 0.75rem;
  width: 14rem;
}

label {
  padding-bottom: 0.5rem;
}

.alert {
  width: 14rem;
  margin-top: 0;
}

button.btn.btn-secondary {
  margin-top: 0.5rem;
  width: 10rem;
}

.percentText {
  position: absolute;
  top: 3.5rem;
  color: #8BC990;
  font-size: 22px;
  width: 5.8rem;
  text-align: center;
  line-height: 17px;
}

.profileCompletionText {
  width: 1rem;
  vertical-align: middle;
  width: 11rem;
  padding: 1.7rem 1rem 1rem 1rem;
  height: 100%;
  line-height: 17px;
}

textarea {
  height: 142px;
  width: 666px;
  resize: both;
  border-radius: 5px;
  border: 0.5px solid #C5C5C5;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}

.add-icon {
  height: 0.8rem;
  width: 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #262262;
}

.remove-icon {
  height: 1rem;
  width: 1rem;
  color: #D0021B;
}

button.btn.btn-primary {
  width: 8rem;
  height: 1.5rem;
}

button.btn.btn-link {
  color: #4A4A4A;
  font-size: 14px;
}

.alert-text-waiting {
  color: #E28327;
}

.alert {
  align-self: flex-start;
}

hr {
  width: 14rem;
  color: #C5C5C5;
}
