<h2>Profile</h2>
<button (mouseover)="editHover=true" (mouseleave)="editHover=false"
    routerLink="edit" class="btn btn-icon">
  <app-edit-icon [editHover]="editHover"></app-edit-icon>
</button>
<span *ngIf="!profileLoaded" class="spinner spinner-sm"></span>
<div class="field-wrapper">
  <div class="field">
    <h5 class="field-label">Given Name:</h5>
    <div *ngIf="profileLoaded else loading" class="data">{{profile.givenName}}</div>
  </div>
  <div class="field">
    <h5 class="field-label">Family Name:</h5>
    <div *ngIf="profileLoaded else loading" class="data">{{profile.familyName}}</div>
  </div>
</div>
<div class="field-wrapper">
  <div class="field">
    <h5 class="field-label">Contact Email:</h5>
    <div *ngIf="profileLoaded else loading" class="data">{{profile.contactEmail}}</div>
  </div>
</div>
<div class="field">
  <h5>Username:</h5>
  <div *ngIf="profileLoaded else loading" class="data">{{profile.username}}</div>
</div>
<ng-template #loading>
  <div class="loading-area">
    <span class="loading-text">Loading...</span>
  </div>
</ng-template>
<div>
  <h3>Identity Verification</h3>
  <div *ngIf="!verifiedStatusIsLoaded; else verifiedStatusMessage">
    <!-- TODO(dmohs): Spinner. -->
    Checking verification status...
  </div>
  <ng-template #verifiedStatusMessage>
    <div *ngIf="verifiedStatus === 'UNVERIFIED'">
      <div class="alert alert-warning">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">Your identity has not been verified.</span>
          </div>
        </div>
      </div>
      <div style="margin-top: 1rem;">
        <a routerLink="id-verification">Verify your identity</a>
      </div>
    </div>
    <div class="alert alert-success" *ngIf="verifiedStatus === 'VERIFIED'">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">Your identity has been verified.</span>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="verifiedStatus === 'REJECTED'">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Your identity cannot be validated.</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div *ngIf="profileLoaded">
  <button class="btn" (click)="submitTermsOfService()"
      [disabled]="email===null || this.profile.termsOfServiceCompletionTime !== null">
    Submit Terms of Service
  </button>
</div>
<div *ngIf="profileLoaded">
  <button class="btn" (click)="completeEthicsTraining()"
      [disabled]="email===null || this.profile.ethicsTrainingCompletionTime !== null">
    Complete Ethics Training
  </button>
</div>
<div *ngIf="profileLoaded">
  <button class="btn" (click)="submitDemographicSurvey()"
      [disabled]="email===null || this.profile.demographicSurveyCompletionTime !== null">
    Submit Demographics Survey
  </button>
</div>
