h2 {
  display: inline-block;
}

.btn {
  margin: 0 0 0.75rem 0.5rem;
}

.field-label {
  font-size: 0.55rem;
}

.field-label-button-container {
  display:inline-block;
}

.field-label-button {
  height: 1rem;
  line-height: 0rem;
}

.field-wrapper {
  margin: 0.5rem 0 1.5rem 0;
}

label.long-text-field {
  display: block;
}

label clr-icon {
  margin-left: 0.25rem;
}

div.field {
  display: inline-block;
  margin-right: 2rem;
}
input[type=text]:not([readonly]) {
  padding: 0.75rem;
  width: 14rem;
}

label {
  padding-bottom: 0.5rem;
}

.alert {
  width: 14rem;
}

button.btn.btn-secondary {
  width: 10rem;
}

.percentText {
  position: absolute;
  top: 2.8rem;
  color: #8BC990;
  font-family: "Gotham HTF";
  font-size: 22px;
  line-height: 34px;
  width: 5rem;
  text-align: center;
}

.profileCompletionText {
  width: 1rem;
  vertical-align: middle;
  width: 10rem;
  padding: 1rem;
  height: 100%;
}
