<div>
  <form [formGroup]="form">
    <section class="form-block">
      <label>Available Modifiers</label>

      <div class="form-group" formGroupName="ageAtEvent">
        <label for="age-at-event">Age at Event</label>
        <div class="select">
          <select formControlName="operator">
            <option value="equal">Equal To</option>
            <option value="greater">Greater Than</option>
            <option value="lesser">Less Than</option>
          </select>
        </div>
        <input type="number"
          formControlName="value"
          name="age-at-event"
          id="age-at-event"
          [min]="-1" [max]="121"
          >
        <button
            type="button"
            class="btn btn-sm btn-link"
            [disabled]="isSelected('ageAtEvent')"
            (click)="select('ageAtEvent')">
          <clr-icon *ngIf="isSelected('ageAtEvent')" shape="check-circle" size="20"></clr-icon>
          <clr-icon *ngIf="!isSelected('ageAtEvent')" shape="plus-circle" size="20"></clr-icon>
        </button>
      </div>

      <div class="form-group" formGroupName="numOfOccurrences">
        <label for="num-of-occurrences">Number of Occurrences</label>
        <div class="select">
          <select formControlName="operator">
            <option value="equal">Equal To</option>
            <option value="greater">Greater Than</option>
            <option value="lesser">Less Than</option>
          </select>
        </div>
        <input type="number"
          formControlName="value"
          name="num-of-occurrences"
          id="num-of-occurrences"
          [min]="-1" [max]="10001"
          >
        <button
            type="button"
            class="btn btn-sm btn-link"
            [disabled]="isSelected('numOfOccurrences')"
            (click)="select('numOfOccurrences')">
          <clr-icon *ngIf="isSelected('numOfOccurrences')" shape="check-circle" size="20"></clr-icon>
          <clr-icon *ngIf="!isSelected('numOfOccurrences')" shape="plus-circle" size="20"></clr-icon>
        </button>
      </div>

      <div class="form-group" formGroupName="eventDate">
        <label for="event-date">Date of Event</label>
        <div class="select">
          <select formControlName="operator">
            <option value="equal">On</option>
            <option value="greater">After</option>
            <option value="lesser">Before</option>
          </select>
        </div>
        <input type="date"
          formControlName="value"
          name="event-date"
          id="event-date"
          >
        <button
            type="button"
            class="btn btn-sm btn-link"
            [disabled]="isSelected('eventDate')"
            (click)="select('eventDate')">
          <clr-icon *ngIf="isSelected('eventDate')" shape="check-circle" size="20"></clr-icon>
          <clr-icon *ngIf="!isSelected('eventDate')" shape="plus-circle" size="20"></clr-icon>
        </button>
      </div>

    </section>
  </form>
</div>
