.column-title {
  color: #262262;
  font-weight: 800;
  font-size: 0.5rem;
}

.gray {
  background-color: #E2E2EA;
}

.review-name {
  font-size: 20px;
  font-weight: 300;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.participant-container {
  display:flex;
  margin-bottom: 1rem;
}

.participant-container .participant-title {
  color: #262262;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  width: 78%;

}

.participant-container .total-heading {
  color: #262262;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
  padding-top: 0.5rem;
}

.review-button {
  font-size: 18px!important;
  color: #2691D0!important;
  padding-bottom: 1.7rem;
}

.review-button.active, review-button:active, review-button:focus, review-button:hover  {
  font-weight: bold !important;
}

.review-button.active, review-button:active, review-button:hover {
  box-shadow: inset 0 -6px 0 #007cbb !important;
}

@media print{
.doNotPrint {
  display: none !important;
  -webkit-print-color-adjust: exact;
  box-shadow: none !important;
  }
  ::ng-deep .nav {
    box-shadow: none!important;
  }
}