<h3 class="mt-0">Please Select a Subject:</h3>
<div class="dg-wrapper">
  <clr-datagrid [(clrDgSingleSelected)]="selectedSubject">
    <clr-dg-column>Subject ID<clr-dg-string-filter [clrDgStringFilter]="subjectFilter"></clr-dg-string-filter></clr-dg-column>
    <clr-dg-column>Status<clr-dg-string-filter [clrDgStringFilter]="subjectFilter"></clr-dg-string-filter></clr-dg-column>

    <clr-dg-row *ngFor="let subject of subjects" [clrDgItem]="subject">
      <clr-dg-cell>{{subject.id}}</clr-dg-cell>
      <clr-dg-cell>{{subject.status}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>
