.sign-in-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: auto;
}

.google-icon {
  height: 54px;
  width: 54px;
  /*The image file comes with about 5 pixels of padding around it, which we want to trim off*/
  margin: -3px 19px -3px -3px;
}

.btn.btn-lg.btn-primary {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  height: auto;
  font-family: 'Roboto', sans-serif;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  border-radius: 2px;
}
