<div class="form-group">
  <label>Has Neck Pain?</label>
  <div class="radio">
    <input type="radio" name="hasNeckPain" id="radio-yes" value="yes">
    <label for="radio-yes">Yes</label>
  </div>
  <div class="radio">
    <input type="radio" name="hasNeckPain" id="radio-no" value="no">
    <label for="radio-no">No</label>
  </div>
  <div class="radio">
    <input type="radio" name="hasNeckPain" id="radio-na" value="na">
    <label for="radio-na">N/A</label>
  </div>
</div>

<div class="form-group">
  <label>Date</label>
  <input type="date">
</div>
