<div>
  <h4>Annotations</h4>
  <clr-checkbox [clrInline]="true" [(clrChecked)]="verbosity" [name]="'verbosity'">
    Verbose
  </clr-checkbox>
  <button
    type="button"
    class="btn btn-icon btn-link"
    (click)="state.annotationMgrState.next({
      open: true,
      mode: 'overview'
    })">
    <clr-icon shape="cog" size="24" title="Manage Annotations"></clr-icon>
  </button>
</div>

<app-participant-annotation
  *ngFor="let anno of (annotations$ | async)"
  [definition]="anno.definition"
  [value]="anno.value"
  [verbose]="verbosity">
</app-participant-annotation>
