<div class="row sub-header pb-1">
  <div class="col-xs-8">
    <div><span class="font-weight-bold">Subject Id:</span> 127736 - <span class="font-weight-bold">Gender:</span> Male - <span class="font-weight-bold">Age:</span> 68 - <span class="font-weight-bold">Race:</span> Caucasian - <span class="font-weight-bold">Ethnicity:</span> Non Hispanic - <span class="font-weight-bold">Deceased:</span> NA - <span class="font-weight-bold">Genotyping:</span> DNA sample not available</div>
    <div>
      <label><span class="font-weight-bold">Change Status:</span></label>
      <div class="radio-inline">
        <input type="radio" name="included" id="included">
        <label><span class="font-weight-bold">(I)</span> Included</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="excluded" id="excluded">
        <label><span class="font-weight-bold">(E)</span> Excluded</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="undeterminded" id="undeterminded">
        <label><span class="font-weight-bold">(U)</span> Undeterminded</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="notreviewed" id="notreviewed" checked="checked">
        <label><span class="font-weight-bold">(NR)</span> Not Reviewed</label>
      </div>
    </div>
  </div>
  <div class="col-xs-4 text-right">
    <button type="button" class="btn btn-outline"><clr-icon shape="plus"></clr-icon> Add Comment</button>
    <button type="button" class="btn btn-outline"><clr-icon shape="edit"></clr-icon> Edit/Create Annotations</button>
  </div>
</div>
<clr-tabs>
  <clr-tab>
    <button clrTabLink clrTabLinkId="link1">Medications</button>
    <clr-tab-content clrContentId="content1" *clrIfActive="true">
      <app-medications></app-medications>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Labs</button>
    <clr-tab-content *clrIfActive>
      Labs
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>ICD Codes</button>
    <clr-tab-content *clrIfActive>
      ICD Codes
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Comments</button>
    <clr-tab-content *clrIfActive>
      Comments
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Summary</button>
    <clr-tab-content *clrIfActive>
      Summary
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>CPT Codes</button>
    <clr-tab-content *clrIfActive>
      CPT Codes
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Vitals</button>
    <clr-tab-content *clrIfActive>
      Vitals
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
