.date-col {
  width: 8rem;
}

.vocab-col {
  width: 8rem;
}

clr-dg-cell.cell {
  font-size: 0.5rem;
}

.datagrid-host {
  max-height: calc(100vh - 260px);
  min-height: 20rem;
  overflow-y: auto;
  overflow-x: auto;
}

.gray{
  background-color: #E2E2EA;
}

:host::ng-deep .datagrid-compact .datagrid-foot {
  height: 1.5rem;
  line-height: calc(0.4rem - 1px);
}

:host::ng-deep .datagrid-foot-description {
  padding-top: 0.3rem;
}