.date-col {
  width: 8rem;
}

.vocab-col {
  width: 8rem;
}

clr-dg-cell.cell {
  font-size: 0.5rem;
}

.datagrid-host {
  max-height: calc(100vh - 260px);
  min-height: 20rem;
  overflow-y: auto;
}

.gray{
  background-color: #E2E2EA;
}
