<div class="change-account-email">
    <clr-modal [(clrModalOpen)]="changingEmail">
        <h3 class="modal-title">Change contact email</h3>
        <div class="modal-body">
            <div class="form-section">
                <label>Contact Email:</label>
                <input id="change-contact-email" type="text" class="input" name="contact-email"
                       [(ngModel)]="contactEmail" (blur)="leaveFocusEmail()" (focus)="enterFocusEmail()"
                       [ngClass]="{'unsuccessfulInput': showEmailValidationError}">
            </div>
            <div *ngIf="showEmailValidationError" class="error" id="invalid-email-error">
                Email is not valid.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="changingEmail=false">Cancel</button>
            <button [clrLoading]="waiting" id="change_email" type="button" class="btn btn-primary" (click)="updateAndSend()">Apply</button>
        </div>
    </clr-modal>
</div>
<div class="resend_welcome">
    <clr-modal [(clrModalOpen)]="resendingEmail">
        <h3 class="modal-title">Resend Instructions</h3>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="resendingEmail=false">Cancel</button>
            <button [clrLoading]="waiting" id="resend_instructions" type="button" class="btn btn-primary" (click)="send()">Send</button>
        </div>
    </clr-modal>
</div>
