.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  max-width: 100%;
}

.selection-button {
  align-self: center;
  /* Redo clarity's .btn styles */
  margin: 0;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  /* These have to specified or Clarity's will override us */
  min-width: 1.25rem;;
  max-width: 1.25rem;;
  min-height: 1.25rem;
  max-height: 1.25rem;
}

.selection-button.pm {
  /* Set margin for physical measurements items */
  margin: 0 6px 0 calc(-1.25rem - 6px);
}

.selection-icon {
  margin: calc((1.25rem - 20px) / 2);
  color: rgb(98, 164, 32);
}

selection-icon-blue {
  margin: calc((1.25rem - 20px) / 2);
  color: #216FB4;
}

.code {
  white-space: nowrap;
  font-size: 14px;
}

.name {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.2rem;
  font-size: 14px;
}

.count {
  white-space: nowrap;
  align-self: baseline;
}

::ng-deep .search-keyword {
  color: #659F3D;
  font-weight: bolder;
  background-color: rgba(101,159,61,0.2);
  padding: 2px 0;
}

::ng-deep .search-keyword[class^="match"] {
  background: transparent;
}
