.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  max-width: 100%;
}

.selection-button {
  color: rgb(98, 164, 32);
  align-self: center;

  /* Undo clarity's .btn styles */
  margin: 0;
  padding: 0;
  min-width: unset;
  max-width: unset;
  min-height: unset;
  max-height: unset;

  /* So we can size it ourselves */
  width: 1.25rem;
  height: 1.25rem;
}

.selection-icon {
  margin: calc((1.25rem - 20px) / 2);
}

.code {
  white-space: nowrap;
  font-size: smaller;
}

.name {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.2rem;
  font-size: smaller;
}

.count {
  white-space: nowrap;
  align-self: baseline;
}
