.flex-container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
}

.item-info {
  min-width: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.item-info > button {
  align-self: center;
  margin: 0;
  color: rgb(98, 164, 32);
  min-width: unset;
  padding: 0 0.25rem;
}

.item-info > .name {
  flex: 1;
  padding-left: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-count {
  padding: 0 0.5rem;
  white-space: nowrap;
}
