<!-- Cohort Review header -->
<app-overview-charts></app-overview-charts>
<div class="review-header">
  <!--<a-->
    <!--class="header-link"-->
    <!--title="Go to Cohort Overview"-->
    <!--routerLink="../overview"-->
    <!--routerLinkActive="active">-->
    <!--Overview-->
  <!--</a>-->
<!--<app-detail-all-events></app-detail-all-events>-->
  <!--<div class="vert-bar"></div>-->

  <a
    class="header-link"
    title="Go to Participant Browser"
    routerLink="../participants"
    routerLinkActive="active">
    Participants
  </a>
</div>
