.btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.db-btn {
    background: #262262;
    padding: .5rem .5rem;
    text-align: center;
    font-family: unit, open-sans, sans-serif;
    font-size: 20px;
    letter-spacing: .14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 26px;
    width: 373px;
    cursor: pointer;
    transition:.3s cubic-bezier(1,.18,0,1.12);
}

button,
a.btn {
    font-size: 12px;
    font-weight: 500;
    font-family: "GothamBook", open-sans, sans-serif;
    line-height: 14px;
}

.btn.btn-primary {
    background-color: #302C71;
    border: none;
    padding: 0rem 0.77rem;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.02rem;
    line-height: 0.77rem;
    height: 44px;
}

.btn.btn-primary.search {
    width: 129px;
}

button.btn.btn-primary:hover {
    background-color: #4356A7;
    color: #fff;
}

button.btn.btn-primary:disabled {
    background-color: #c3c3c3;
    color: #fff;
    cursor: auto;
}

button.btn.btn-secondary,
button.btn.btn-outline {
    border: 2px solid #262262;
    padding: 0rem 0.77rem;
    border-radius: 0.2rem;
    cursor: pointer;
    cursor: hand;
    text-transform: uppercase;
    color: #262262;
    letter-spacing: 0.02rem;
    line-height: 0.77rem;
}

button.btn.btn-secondary {
    font-size: 10px;
}

button.btn.btn-secondary:hover,
button.btn.btn-outline:hover {
    background-color: #262262;
    color: #fff;
}

button.btn.btn-secondary:disabled,
button.btn.btn-outline:disabled {
    border: 2px solid #c3c3c3;
    background-color: #f1f2f2;
    color: #c3c3c3;
    cursor: auto;
}

button.btn.btn-lg {
    height: 2.5rem;
}

button.icon-btn {
    background-color: inherit;
    border: none;
    height: 1rem;
}

button.icon-btn:focus {
    outline: none;
}

.btn-effect:hover{
  transition:.3s cubic-bezier(1,.18,0,1.12);
  transform: scale(1.01);
}