.card {
    border-radius: 5px;
    box-shadow: none;
    font-family: "Gotham HTF", open-sans, sans-serif;
    border: 1px solid #979797;
    background-color: #FFFFFF;
}

.card * {
    margin-top: 0rem;
}

.card-header {
    border-bottom: none;
    color: #302C71;
    font-size: 16px;
    font-weight: bold;
}

.card-title {
    font-weight: bold;
    letter-spacing: normal;
    font-size: 14px;
    color: #302C71;
    line-height: 14px;
}



.card-text {
    color: rgba(0,0,0,0.87);
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.card-text.smaller {
    font-size: 12px;
    line-height: 16px;
}
/* Stat card with big number in it */
.card.stats-card {
    min-width: 336px;
    padding-top: 36px;
    padding-bottom: 36px;
    border-radius: 0;
}

.stats-card .card-block {
    border-bottom:none;
    margin-bottom: 0;
}
.stats-card .card-title {
    font-size: 20px;
    color: #302C71;
    font-weight :300;
}
.card-stat {
    font-size:48px;
    color: rgba(0,0,0,0.87);
    font-family: "Gotham HTF", open-sans, sans-serif;
    font-weight: 300;
    line-height: 55px;
}

.card-text.bottom {
    position: absolute;
    bottom: 0px;
}




