input[type=date]:not([readonly]),
input[type=datetime-local]:not([readonly]),
input[type=email]:not([readonly]),
input[type=number]:not([readonly]),
input[type=password]:not([readonly]),
input[type=tel]:not([readonly]),
input[type=text]:not([readonly]),
input[type=time]:not([readonly]),
input[type=url]:not([readonly]) {
  padding: 1rem;
  border: none;
  border-bottom: solid 1px;
  background-color: inherit;
  width: 80%;
  background: none;
}


.search-input-big {
  padding: 0;
  margin-left:-24px;
}
.search-input-full {
  border-radius: 5px;
  background-color: #DAE6ED;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.search-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}
.search-wrapper input[type="text"]
{
  font-size:1rem;
}

.search-input-full input{
  border-bottom: none;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

}
.search-input-full input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: GothamBook,open-sans,sans-serif;
  font-size: 20px;
  font-weight:bolder;
}
.search-input-full input::-moz-placeholder { /* Firefox 19+ */
  font-family: GothamBook,open-sans,sans-serif;
  font-size: 16px;
  font-weight:bolder;
}
.search-input-full input:-ms-input-placeholder { /* IE 10+ */
  font-family: GothamBook,open-sans,sans-serif;
  font-size: 16px;
  font-weight:bolder;
}
.search-input-full input:-moz-placeholder { /* Firefox 18- */
  font-family: GothamBook,open-sans,sans-serif;
  font-size: 16px;
  font-weight:bolder;
}

.input-icon {
  position: relative;
  left: 24px;
  width: 24px;
  height: 24px;
}

.input-icon-absolute {
  position: absolute;
  top:12px;
  left: 12px;
  width: 24px;
  height: 24px;
}




