input[type=date]:not([readonly]),
input[type=datetime-local]:not([readonly]),
input[type=email]:not([readonly]),
input[type=number]:not([readonly]),
input[type=password]:not([readonly]),
input[type=tel]:not([readonly]),
input[type=text]:not([readonly]),
input[type=time]:not([readonly]),
input[type=url]:not([readonly]) {
  padding: 1rem;
  border: none;
  border-bottom: solid 1px;
  background-color: white;
  width: 80%;
}

.search-input-big {
  padding: 0;
  margin-left:-24px;
}
.input-icon {
  position: relative;
  left: 24px;
  width: 24px;
  height: 24px;
}

/* webkit solution */
::-webkit-input-placeholder { text-align:left; padding-left:24px; }
/* mozilla solution */
input:-moz-placeholder { text-align:left; }
