.content-container, .card-header, .card, .card-title, h1, h2, h3, h4, h5, h6, .title, .view-title, .box-title, .box-heading, p, div, .view-sub-title, .box-sub-title, label {
  font-family: "unit, sans-serif", open-sans, sans-serif;
  margin: 0;
}

/* primary display */

#db-title {
  text-align: center;
  width: calc((100%/12)- 8px);
  margin: auto;
}

#db-desc {
  text-align: center;
}

#db-sub-desc {
  padding: 2rem;
  text-align: center;
}

.primary-display, h1 {
  font-family: unit, sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08em;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-slate-blue);
}

.secondary-display, h2 {
  font-family: unit, sans-serif, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 38px;
  font-stretch: normal;
  line-height: 1.47em;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-slate-blue);
}

.display-body {
  font-family: unit, sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-slate-blue);
}

.body-lead {
  font-family: GothamBook, open-sans, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2em;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-slate-blue);
}

.body-default, p {
  font-family: GothamBook, open-sans, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-slate-blue);
}

.info-icon {
  color: var(--mid-blue);
  font-weight: 600;
  filter: contrast(56%) brightness(127.2%);
  transform: scale(0.8);
}

.db-card {
  padding: 18px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}

.db-card-inner {
  width: 100%;
}

.search-icon {
  width: calc((100%/12));
  height: 20px;
}

.info-text {
  font-size: .75em;
}

.graph-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: var(--gutter);
}

.chart-choice {
  padding: var(--gutter);
  color:var(--mid-blue);
  position: relative;
  display: flex;
}

.chart-choice.active::after {
  content: '';
  position: absolute;
  width: 86%;
  height: 5px;
  background: var(--mid-blue);
  left: 5%;
  bottom:-5px;
  border-radius: 5px;
  cursor: pointer;
}



.tbl {

}


.tbl-r {
  display: flex;
  justify-content: space-between;
  /* border:var(--tbl-border); */
  /* border-bottom: none; */
  
}

.tbl-r {
  cursor: pointer;
  transition: .2s background ease-out;
}

.expandable-grid-row:hover {  
  background: var(--pale-grey);
  transition: .1s background ease-in;
}
.aka {
  transition: .1s background ease-in;
  cursor: pointer;
}

.tbl-r-group {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.tbl-r-group .tbl-d {
  width: 31%;
  /* white-space: nowrap; */
}

.tbl-r-group .tbl-d:last-of-type {
  width: 40px;
  text-align: right;
}


.tbl-r.tbl-head {
  padding: var(--gutter);
  border-radius: 3px 3px 0 0;
}

.tbl-d {
  padding: 0 var(--gutter);
  position: relative;
}







.tbl-d {

  padding: 0 var(--gutter);
}
.tbl-d:first-of-type {
  padding: 0 var(--gutter);
}

.row-expansion {
  width: 100%;
  text-align: center;
  padding-top: var(--gutter);
  background: var(--pale-grey);
  border-top: none;
  padding-bottom:calc(var(--gutter)*3);
  
}

.tbl-r-state {
  background: var(--pale-grey);
}

.tbl-r-expanded {
  border-left: var(--tbl-border);
  border-right: var(--tbl-border);

}

.tbl-exp-r .tbl-r .tbl-d {
  max-width: 50%;
}

.tbl-exp-r {
  border: var(--tbl-border);
  border-bottom: none;
}