.content-container {
    font-family: "Gotham HTF", open-sans, sans-serif;
}
.page-header {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.title, .view-title, .box-title,  {
    color: #302C71;
}

.view-title {
    font-size: 32px;
    padding-top: 12px;
    padding-bottom:12px;

}

.view-sub-title, .box-sub-title {
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}


.white-box {
    padding: 1rem;
    background-color: white;
}

.box-header {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.box-title {
    font-size: 20px;
}


.box-sub-title {
    font-size: 14px;
    color: #5A5A5A;
}
