<div class="form-group">
  <label class="status" for="status-selector">
    Choose a Review Status for Participant {{ participant.id }}
  </label>
  <div>
    <clr-dropdown  class="participant-dropdown">
      <button type="button" class="btn btn-outline" clrDropdownTrigger>
        <span *ngIf = "defaultOption; else elseBlock">{{participantOption}}</span>
        <ng-template #elseBlock>
          <span>Select Operator</span>
        </ng-template>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu  clrPosition="bottom-left" *clrIfOpen>
        <button
                *ngFor="let status of cohortStatusList"
                (click)="participantOptionChange(status)"
                class="dropdown-item"
                type="button"
                clrDropdownItem>{{status.display}}</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</div>
