.detail-sidebar {
  position: absolute;
  top: 1px;
  right: 0px;
  /*border: 1px solid rgb(86, 86, 86);*/
  border-radius: 2px;
  height: 100%;
  background-color: #E2E2EA;
  display: flex;
  margin-right: -0.6rem;

}

.sidebar-handle {
  /*min-width: 24px;*/
  background-color: #728FA3;
  padding:0.6rem;
  position: absolute;
  margin-left: -2.3rem;
  border-radius: 0.2rem;
  top: 3rem;
  cursor: pointer;
}

.detail-page {
  transition: margin 0.5s;
  margin-right: 24px;
}

.detail-page.sidebar-open {
  margin-right: 324px;
  padding-right: 1rem;
}

.sidebar-content {
  width: 0;
  transition: 0.5s;
  overflow-x: hidden;
  flex: 1;
  padding-top:0.35rem;
  padding-bottom: 0.35rem;
  color: #4A4A4A;
}

.sidebar-content.sidebar-open {
  /*margin-left: 0.25rem;*/
  width: 385px;
  border-left: 1rem solid #728FA3;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.sidebar-handle.sidebar-open {
  margin-left: 0.25rem;
  width: 359px;
}
/*.detail-sidebar::before {*/
  /*content: "\00BB";*/
  /*background-color: yellow;*/
  /*color: red;*/
  /*font-weight: bold;*/
/*}*/
.angle-icon {
  color: white;
}
