
<div style="padding: 3rem 3rem 0 3rem;">
  <div *ngIf="!invitationKeyVerifed" class="form-area">
    <div class="form-section">
      <h2>Enter your Invitation Key:</h2>
      <input type="text" class="input" [(ngModel)]="invitationKey" placeholder="Invitation Key">
      <div *ngIf="invitationKeyReq" class="alert alert-danger">
        <strong> Invitation Key is required.</strong>
      </div>
      <div *ngIf="invitationKeyInvalid" class="alert alert-danger">
        <strong> Invitation Key is not Valid.</strong>
      </div>
    </div>
    <button id="next" (click)="next()" class="btn btn-primary" style="width: 10rem; height: 2rem">
      Next
    </button>
    <!-- 
    TODO: Find a contact person to re-implement
    <h4>Need an invitation key?</h4>
    <input type="text" class="input" [(ngModel)]="invitationKeyRequestEmail" placeholder="Email Address" style="display: block;">
    <button id="requestKey" (click)="requestKey()" class="btn btn-secondary" style="width: 9rem; height: 1.8rem">
      Request Invite Key
    </button>
    <div *ngIf="requestSent">
      <strong> The invitation key request has been sent.</strong>
    </div>
    -->
  </div>
  <div *ngIf="invitationKeyVerifed">
    <app-account-creation></app-account-creation>
  </div>
</div>
