<clr-modal [(clrModalOpen)]="editing" [clrModalSize]="'md'">
  <div class="modal-title">
    <div class="modal-title-text">Edit Cohort Information</div>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <!-- Cohort Name -->
      <div class="section">
        <label for="name" class="required">Cohort Name:</label>
        <input autofocus
               type="text"
               name="name"
               class="name-input"
               formControlName="name">
      </div>
      <div class="section">
        <label for="description">Description:</label>
        <textarea
            name="description"
            formControlName="description">
        </textarea>
      </div>
      <!-- Save / Revert / Cancel -->
      <div class="button section">
        <button
            type="button"
            class="btn btn-link"
            (click)="close()">
          Cancel
        </button>
        <button
            type="submit"
            class="btn btn-primary btn-save"
            title="{{ canSave ? 'Save Edits' : 'Edits are invalid or have not been made'}}"
            [clrLoading]="loading"
            [disabled]="!canSave"
            (click)="save()">
          Save
        </button>
      </div>
    </form>
  </div>
</clr-modal>
