<div>
  <h4>Annotations</h4>
  <clr-checkbox
    [clrInline]="true"
    [(clrChecked)]="showDataType"
    [name]="'show-data-type'">
    Show Type
  </clr-checkbox>
  <button
    type="button"
    class="btn btn-icon btn-link"
    (click)="openManager()">
    <clr-icon shape="cog" size="24" title="Manage Annotations"></clr-icon>
  </button>
</div>

<app-annotation-item
  *ngFor="let anno of (annotations$ | async)"
  [definition]="anno.definition"
  [value]="anno.value"
  [showDataType]="showDataType">
</app-annotation-item>
