<div class="annotations-container">
  <h4 class="annotations-color">Annotations</h4>
  <button
    type="button"
    class="btn btn-icon btn-link"
    (click)="openManager()">
    <clr-icon shape="plus-circle" size="21" title="Manage Annotations"></clr-icon>
  </button>
  <button *ngIf="annotationList.length > 0"
          (click)="openEditManager()"
          type="button"
          class="btn btn-icon btn-link">
    Edit
  </button>
</div>
<app-annotation-item
  *ngFor="let anno of annotationList"
  [annotation]="anno"
  [onChange]="setAnnotation"
></app-annotation-item>
