<div id="wizard-parameter-container">
  <h5>{{ (selectionTitle$ | async) }}</h5>
  <div *ngFor="let parameter of (criteriaList$ | async); let i = index">
    <button type="button"
      [style.margin]="'0 0 0 0 '"
      [style.padding]="'0 0.25rem'"
      class="btn btn-icon btn-link btn-sm text-danger"
      (click)="remove(parameter)">
      <clr-icon shape="close"></clr-icon>
    </button>
    <span class="item-info">
      <small *ngIf="i > 0" class="font-weight-bold">OR</small>
      <small *ngIf="parameter.get('group')" class="text-muted">Group</small>
      <small class="name">
        <strong>{{ typeDisplay(parameter) }}</strong>
        <span class="text-muted">{{ nameDisplay(parameter) }}</span>
        <span class="text-muted">{{ attributeDisplay(parameter) }}</span>
      </small>
    </span>
  </div>
</div>
