<clr-datagrid
  [clrDgLoading]="loading"
  (clrDgRefresh)="update($event)"
  class="datagrid-compact">

  <clr-dg-placeholder>No {{ tabname }} Data</clr-dg-placeholder>

  <clr-dg-column *ngFor="let col of columns"
    [clrDgField]="col.notField ? null : col.name"
    [ngClass]="col.classNames"
    >
    {{ col.displayName }}
  </clr-dg-column>

  <clr-dg-row *ngFor="let datum of data">
    <clr-dg-cell *ngFor="let col of columns" class="cell">
      <ng-container [ngSwitch]="col.name">
        <span *ngSwitchCase="'itemDate'">
          {{ datum.itemDate | date:'yyyy-MM-dd HH:mm:ss' }}
        </span>
        <span *ngSwitchCase="'sourceVocabulary'"
          [style.width.%]="100"
          [style.height.%]="100"
          [popper]="datum.sourceName || ''"
          [popperTrigger]="'hover'"
          [popperPlacement]="'left'"
          [popperTarget]="sourceValue">
          <span #sourceValue>{{ datum.sourceVocabulary }}</span>
        </span>
        <span *ngSwitchDefault >
          {{ datum[col.name] }}
        </span>
      </ng-container>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
    {{ totalCount }} Records
    <clr-dg-pagination #pagination
      [clrDgTotalItems]="totalCount"
      [clrDgPageSize]="request.pageSize"
      [clrDgPage]="request.page + 1">
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
