<clr-modal [(clrModalOpen)]="sharing">
  <div class="modal-title">
    <h2 style="height: 3%;	width: 45%;	color: rgba(48,41,115,1);font-weight: 500;font-size: 20px;	line-height: 24px;">
      Share {{workspace.name}}
      <clr-tooltip>
        <clr-icon #infoIcon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition="middle-right" clrSize="lg" *clrIfOpen>
          <div>
            Workspaces can only be shared with existing All of Us users. If you want to share your
            workspace with someone who is not yet a part of the All of Us community, have them
            <a routerLink="/" target="_blank">create an account</a> first and then you can share
            the workspace with them.
          </div>
        </clr-tooltip-content>
      </clr-tooltip>
    </h2>
  </div>
  <div class="modal-body" id="sharing-modal-body">
    <div class="dropdown"
         [class.open]="autocompleteUsers.length || autocompleteNoResults">
      <clr-icon class="search-icon" shape="search"></clr-icon>
      <input class="no-border"
             type="text"
             name="to-share"
             [(ngModel)]="searchTerm"
             placeholder="Find Collaborators"
             (ngModelChange)="searchTermChangedEvent($event)"
             #usernameSharingInput [disabled]="!hasPermission"/>
      <span *ngIf="autocompleteLoading" class="spinner spinner-inline"></span>
      <div *ngIf="showAutocompleteNoResults" class="dropdown-menu">
        <div class="dropdown-item disabled">
          <em>No results based on your search</em>
        </div>
      </div>
      <div *ngIf="showSearchResults" class="dropdown-menu">
        <div *ngFor="let autocompleteUser of autocompleteUsers">
          <div class="wrapper">
            <div class="box">
              <h5 class="user-name">
                {{autocompleteUser.givenName}} {{autocompleteUser.familyName}}
              </h5>
              <div class="user-email">{{autocompleteUser.email}}</div>
            </div>
            <div class="box">
              <div class="collaborator-icon">
                <clr-icon shape="plus-circle" (click)="addCollaborator(autocompleteUser)"></clr-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: This shouldn't happen ... if it does, that means a user was deleted in between search and add -->
    <div *ngIf="userNotFound" class="error-message">
      User {{toShare}} not found.
    </div>


    <div *ngIf="usersLoading" class="loading-users">
      <span class="spinner spinner-sm"></span>
      <span class="loading-text">Loading updated user list...</span>
    </div>
    <!-- Current Collaborators -->
    <div>
      <h3>Current Collaborators</h3>
      <div *ngIf="noOwner" class="error-message">
        There has to be atleast one Owner
      </div>
      <div *ngFor="let collaboratorUser of userRolesList" class="user"
           [ngClass]="{'owner' : (collaboratorUser.email === userEmail || !hasPermission)}">
        <div class="collaborator">
          <div class="user-name">
            {{collaboratorUser.givenName}} {{collaboratorUser.familyName}}
          </div>
          <div class="user-email">{{collaboratorUser.email}}</div>
          <div class="row">
            <div class="form-group select1">
              <label>
                <select [(ngModel)]="collaboratorUser.role" [disabled]="!hasPermission">
                  <option value="READER">Reader</option>
                  <option value="WRITER">Writer</option>
                  <option value="OWNER">Owner</option>
                </select>
              </label>
            </div>
            <div class="collaborator-icon">
              <clr-icon *ngIf="collaboratorUser.email !== userEmail && hasPermission"
                        shape="minus-circle"
                        class="remove-button"
                        (click)="removeCollaborator(collaboratorUser)"></clr-icon>
            </div>
          </div>
          <div style="border-top: 1px solid black; width: 100%; margin-top: .5rem;">

          </div>
     </div>
      </div>
      <div style="float: right; clear: both;">
        <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!hasPermission">Save
        </button>
      </div>
    </div>
  </div>

</clr-modal>
<clr-modal [(clrModalOpen)]="workspaceUpdateConflictError">
  <h3 class="modal-title">Conflicting update:</h3>
  <div class="modal-body">
    Another client has modified this workspace since the beginning of this
    sharing session. Please reload to avoid overwriting those changes.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="reloadConflictingWorkspace()">Reload Workspace</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">Cancel Sharing</button>
  </div>
</clr-modal>
<!-- TODO: Factor out to component -->
<ng-template #notFoundMessage>
  <h3>
    Workspace {{route.snapshot.params['ns']}}/{{route.snapshot.params['wsid']}} could not be found.
  </h3>
</ng-template>
<ng-template #loading>
  <span class="spinner spinner-md spinner-padded"></span>
  <span class="loading-text">Loading...</span>
</ng-template>
