<clr-modal [(clrModalOpen)]="sharing">
  <div class="modal-title">
    <h2 class="modal-title-text">
      Share {{workspace.name}}
      <clr-tooltip>
        <clr-icon #infoIcon clrTooltipTrigger shape="info-standard" class="is-solid info-icon"></clr-icon>
        <clr-tooltip-content clrPosition="middle-right" clrSize="lg" *clrIfOpen>
          <div>
            Workspaces can only be shared with existing All of Us users. If you want to share your
            workspace with someone who is not yet a part of the All of Us community, have them
            <a routerLink="/" target="_blank">create an account</a> first and then you can share
            the workspace with them.
          </div>
        </clr-tooltip-content>
      </clr-tooltip>
    </h2>
  </div>
  <div class="modal-body" id="sharing-modal-body">

    <div class="dropdown"
         [class.open]="autocompleteUsers.length || autocompleteNoResults">

      <div class="search-box">
        <clr-icon shape="search"></clr-icon>
        <input clrInput
               class="no-border"
               type="text"
               name="to-share"
               [(ngModel)]="searchTerm"
               [ngModelOptions]="{debounce: 10000}"
               placeholder="Find Collaborators"
               (ngModelChange)="toShareChangedEvent($event)"
               #usernameSharingInput [disabled]="!hasPermission"/>
        <span *ngIf="autocompleteLoading" class="spinner spinner-inline"></span>
      </div>

      <div *ngIf="showAutocompleteNoResults" class="dropdown-menu">
        <div class="dropdown-item disabled">
          <em>No results based on your search</em>
        </div>
      </div>

      <div *ngIf="showSearchResults" class="dropdown-menu">
        <div *ngFor="let autocompleteUser of autocompleteUsers"
             class="user dropdown-item bordered"
             (click)="selectUser(autocompleteUser)">

          <!-- TODO: Lots of duplicated code here. Can the user row be templatized???? -->
          <div class="collaborator">
            <h5 class="user-name">
              {{autocompleteUser.givenName}} {{autocompleteUser.familyName}}
            </h5>
            <div class="user-email">{{autocompleteUser.email}}</div>
          </div>
          <div class="collaborator-icon">
            <clr-icon shape="plus-circle"></clr-icon>
          </div>
        </div>
      </div>

      <div *ngIf="selectedUser">
        <div class="user">
          <div class="collaborator">
            <h5 class="user-name">
              {{selectedUser.givenName}} {{selectedUser.familyName}}
            </h5>
            <div class="user-email">{{selectedUser.email}}</div>
          </div>
          <div class="collaborator-icon">
            <clr-icon shape="minus-circle" (click)="clearSelectedUser()"></clr-icon>
          </div>
        </div>
        <div class="form-group select">
          <label>
            <select [disabled]="!hasPermission">
              <option value="Reader" (click)="setAccess('Reader')">Reader</option>
              <option value="Writer" (click)="setAccess('Writer')">Writer</option>
              <option value="Owner" (click)="setAccess('Owner')">Owner</option>
            </select>
          </label>
        </div>
        <!--<div>-->
          <!--<clr-dropdown>-->
            <!--<button type="button" class="btn btn-outline-primary permissions-button" clrDropdownTrigger [disabled]="!hasPermission">-->
              <!--{{selectedPermission}}-->
              <!--<clr-icon shape="caret down"></clr-icon>-->
            <!--</button>-->
            <!--<clr-dropdown-menu *clrIfOpen>-->
              <!--<button type="button" clrDropdownItem (click)="setAccess('Reader')">Reader</button>-->
              <!--<button type="button" clrDropdownItem (click)="setAccess('Writer')">Writer</button>-->
              <!--<button type="button" clrDropdownItem (click)="setAccess('Owner')">Owner</button>-->
            <!--</clr-dropdown-menu>-->
          <!--</clr-dropdown>-->
        <!--</div>-->

      </div>

    </div>

    <!-- TODO: This shouldn't happen ... if it does, that means a user was deleted in between search and add -->
    <div *ngIf="userNotFound" class="error-message">
      User {{toShare}} not found.
    </div>
    <div *ngIf="roleNotSelected" class="error-message">
      Please select a permission level.
    </div>

    <div *ngIf="usersLoading" class="loading-users">
      <span class="spinner spinner-sm"></span>
      <span class="loading-text">Loading updated user list...</span>
    </div>

    <!-- Current Collaborators -->
    <div>
      <div *ngFor="let collaboratorUser of workspace.userRoles" class="user" [ngClass]="{'owner' : (collaboratorUser.email === userEmail || !hasPermission)}">
        <div class="collaborator">
          <h5 class="user-name">
            {{collaboratorUser.givenName}} {{collaboratorUser.familyName}}
          </h5>
          <div class="user-email">{{collaboratorUser.email}}</div>
          <div class="form-group select">
            <label>
              <select [disabled]="!hasPermission">
                <option value="Reader">Reader</option>
                <option value="Writer">Writer</option>
                <option value="Owner">Owner</option>
              </select>
            </label>
          </div>
          <!--<div class="user-role">{{collaboratorUser.role}}</div>-->
        </div>
        <div class="collaborator-icon">
          <clr-icon *ngIf="collaboratorUser.email !== userEmail && hasPermission"
                    shape="minus-circle"
                    class="remove-button"
                    (click)="removeCollaborator(collaboratorUser)"></clr-icon>
        </div>
      </div>
    </div>

    <div style="border-top: 1px solid black; width: 100%; padding-top: .5rem;">
      <div style="float: right; clear: both;">
        <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addCollaborator()" [disabled]="!hasPermission || !selectedUser">Add</button>
      </div>
    </div>
  </div>

</clr-modal>
<clr-modal [(clrModalOpen)]="workspaceUpdateConflictError">
  <h3 class="modal-title">Conflicting update:</h3>
  <div class="modal-body">
    Another client has modified this workspace since the beginning of this
    sharing session. Please reload to avoid overwriting those changes.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="reloadConflictingWorkspace()">Reload Workspace</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">Cancel Sharing</button>
  </div>
</clr-modal>
<!-- TODO: Factor out to component -->
<ng-template #notFoundMessage>
  <h3>
    Workspace {{route.snapshot.params['ns']}}/{{route.snapshot.params['wsid']}} could not be found.
  </h3>
</ng-template>
<ng-template #loading>
  <span class="spinner spinner-md spinner-padded"></span>
  <span class="loading-text">Loading...</span>
</ng-template>
