<clr-modal [(clrModalOpen)]="sharing" [clrModalSize]="'lg'">
  <div class="modal-title">
    <h3 class="modal-title-text">Share {{workspace.name}}</h3>
  </div>
  <div class="modal-body" id="sharing-modal-body">
    <p class="paragraph-text">Workspaces can only be shared with existing All of Us users. If you want to
      share your workspace with someone who is not yet a part of the All of Us
      community, have them <a routerLink="/" target="_blank">create an account</a> first and then you can share the
      workspace with them.</p>
    <div class="sharing-area">
      <div class="adding-area">
        <div class="add-by-text-area">
          <label class="text-label" class="collaborator-label">Find Collaborators</label>
          <input type="text" class="input share" name="to-share" autofocus
              [(ngModel)]="toShare" placeholder="enter {{gsuiteDomain}} ID" (ngModelChange)="userNotFound = false"
              #usernameSharingInput [disabled]="!hasPermission">
          <button type="button" class="btn btn-primary sharing-buttons add-button" (click)="addCollaborator()" [disabled]="!hasPermission">Add</button>
          <div>
            <clr-dropdown>
              <button type="button" class="btn btn-outline-primary permissions-button" clrDropdownTrigger [disabled]="!hasPermission">
                {{selectedPermission}}
                <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen>
                <button type="button" clrDropdownItem (click)="setAccess('Reader')">Reader</button>
                <button type="button" clrDropdownItem (click)="setAccess('Writer')">Writer</button>
                <button type="button" clrDropdownItem (click)="setAccess('Owner')">Owner</button>
              </clr-dropdown-menu>
            </clr-dropdown>
          </div>
        </div>
        <div *ngIf="userNotFound" class="error-message">
          User {{toShare}} not found.
        </div>
      </div>
      <div class="removing-area">
        <h4 class="collaborator-label">Current Collaborators</h4>
        <ul>
          <div *ngFor="let user of workspace.userRoles" class="user" [ngClass]="{'owner' : (user.role.toString() == 'OWNER' || !hasPermission)}">
            <div class="collaborator-icon">
              <clr-icon *ngIf="user.email !== userEmail && hasPermission"
                      shape="minus-circle"
                      class="remove-button"
                      (click)="removeCollaborator(user)" style="color: #8BC990"></clr-icon>
            </div>
            <div class="collaborator">
              <h5 class="user-email">{{user.email}}</h5>
              <div class="user-role">{{user.role}}</div>
            </div>
          </div>
          <div *ngIf="usersLoading" class="loading-users">
            <span class="spinner spinner-sm"></span>
            <span class="loading-text">Loading updated user list...</span>
          </div>
        </ul>
      </div>
    </div>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="workspaceUpdateConflictError">
  <h3 class="modal-title">Conflicting update:</h3>
  <div class="modal-body">
    Another client has modified this workspace since the beginning of this
    sharing session. Please reload to avoid overwriting those changes.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="reloadConflictingWorkspace()">Reload Workspace</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">Cancel Sharing</button>
  </div>
</clr-modal>
<!-- TODO: Factor out to component -->
<ng-template #notFoundMessage>
  <h3>
    Workspace {{route.snapshot.params['ns']}}/{{route.snapshot.params['wsid']}} could not be found.
  </h3>
</ng-template>
<ng-template #loading>
  <span class="spinner spinner-md spinner-padded"></span>
  <span class="loading-text">Loading...</span>
</ng-template>
