.search-box {
  height: 40px;
  width: 100%;
  padding: 7px 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 90%;
}

.header {
  height: 3%;
  width: 0%;
  color: rgba(48,41,115,1);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

clr-icon {
  height: 18px;
  width: 18px;
}

.no-border {
  border: none!important;
  background: none!important;
}

.dropdown {
  width: 100%;
  margin-top: 0;
  border-bottom: 1px solid gray;
  padding-bottom: .5rem;
}

.dropdown.open {
  overflow-y: visible;
}

.dropdown-menu {
  display: block;
  max-height: 12rem;
  min-height: 30px;
  visibility: visible;
  overflow-y: scroll;
  max-width: 16rem;
  width: 100%;
  margin-top: .25rem;
}

.dropdown-item {
  /*padding-top: .5rem;*/
  height: 60px;
}

.info-icon {
  color: #2691D0;
}
.user-name .user-email {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.5rem;
  height: 4.5%;
  color: #4A4A4A;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 18px;
}

.user-role {
  font-weight: 300;
  line-height: 0.8rem;
  color: #565656;
  font-weight: 300;
  font-size: 0.4rem
}

.collaborator-icon {
  margin: 0 0 0 4rem;
  color: #2691D0;
  cursor: pointer;
}

.roles {
  width:6rem;
}

clr-dropdown {
  width: 8rem;
}

clr-dropdown > button {
  width: 100%;
}

.paragraph-text {
  font-size: 0.5rem;
  line-height: 0.8rem;
  margin: 0;
  padding: 0 0 1rem 0;
}

.paragraph-text a {
  font-family: inherit;
}

.return-button {
  display: block;
  padding: 0.4rem;
}

.spinner-padded {
  padding-top: 1rem;
}

.error-message {
  color: red;
}

.loading-users {
  padding-top: 1rem;
}

.modal-title-text {
  margin-top: 0;
}

:host::ng-deep .modal-dialog {
  width: 18rem;
}

.user-area {
  max-height: 12rem;
  overflow-y: scroll;
}

.info-icon {
  cursor: pointer;
  margin-left: 0.4rem;
}

.search-icon {
  color: rgba(48,41,115,1);
}

.user {
  display: flow-root;
  align-items: center;
  white-space: nowrap;
}

.bordered {
  border-bottom: 1px solid lightgray;
}

.roles select {
  height: 25px;
  width: 117px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: #FAFAFA;

}

.wrapper {
  display: grid;
  grid-template-columns: 9rem 0.1rem 0.1rem;
  grid-gap: 10px;
  align-items: center;
  height: 6.38%;
}

.box {
  border-radius: 5px;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}

.box.icon {
  padding-left: 3rem;

}

.row {
  margin-left: 0rem;
}
