.search-box {
  height: 40px;
  width: 100%;
  padding: 7px 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 90%;
}

.header {
  height: 24px;	width: 257px;	color: #302973;font-size: 20px;	font-weight: 500;	line-height: 24px;
}
clr-icon {
  height: 18px;
  width: 18px;
}

.no-border {
  border: none!important;
  background: none!important;
}

.dropdown {
  width: 100%;
  margin-top: 0;
  border-bottom: 1px solid gray;
  padding-bottom: .5rem;
}

.dropdown.open {
  overflow-y: visible;
}

.dropdown-menu {
  display: block;
  max-height: 12rem;
  min-height: 30px;
  visibility: visible;
  overflow-y: scroll;
  max-width: 16rem;
  width: 100%;
  margin-top: .25rem;
}

.dropdown-item {
  /*padding-top: .5rem;*/
  height: 60px;
}

.permissions-button {
  margin-top: 0.5rem;
  color: #565656;
  border: 1px solid #565656;
  font-size: 0.45rem;
  height: 1.1rem;
  line-height: 0.5em;
}
.info-icon {
  color: #2691D0;
}
.user-name .user-email {
  height: 3.88%;
  width: 14.69%;
  color: rgba(74,74,74,1);
  font-family: "Gotham HTF";
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.user-role {
  font-weight: 300;
  line-height: 0.8rem;
  color: rgb(38, 34, 98);
}

.user-email {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.5rem;
}

.user-role {
  color: #565656;
  font-weight: 300;
  font-size: 0.4rem
}

.collaborator {
  margin-top: 1rem;
}

.collaborator-icon {
  margin: 0 0 0 1rem;
  color: #2691D0;
  cursor: pointer;
}

.collaborator, .collaborator-icon {
  display: block;
}

clr-dropdown {
  width: 8rem;
}

clr-dropdown > button {
  width: 100%;
}

.paragraph-text {
  font-size: 0.5rem;
  line-height: 0.8rem;
  margin: 0;
  padding: 0 0 1rem 0;
}

.paragraph-text a {
  font-family: inherit;
}

.return-button {
  display: block;
  padding: 0.4rem;
}

.collaborator-label {
  font-size: 0.65rem;
  display: block;
  margin: 0 0 0.5rem 0;
  color: rgb(38, 34, 98);
}

.spinner-padded {
  padding-top: 1rem;
}

.error-message {
  color: red;
}

.loading-users {
  padding-top: 1rem;
}

.modal-title-text {
  margin-top: 0;
}

.header {
  height: 3%;
  width: 20.08%;
  color: rgba(48,41,115,1);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

:host::ng-deep .modal-dialog {
  width: 18rem;
}

.user-area {
  max-height: 12rem;
  overflow-y: scroll;
}

.info-icon {
  cursor: pointer;
}

.search-icon {
  color: rgba(48,41,115,1);
}

.user {
  display: flow-root;
  align-items: center;
}

.bordered {
  border-bottom: 1px solid lightgray;
}

.select1 select {
  height: 25px;
  width: 117px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: #FAFAFA;
}

.wrapper {
  display: grid;
  grid-template-columns: 9rem 0.1rem 0.1rem;
  grid-gap: 10px;
  align-items: center;
}

.box {
  border-radius: 5px;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  font-size: 150%;
}

.row {
  margin-left: 0rem;
}