<app-review-nav></app-review-nav>

<clr-datagrid
  (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
  <clr-dg-placeholder>No Participants</clr-dg-placeholder>

  <clr-dg-column [clrDgField]="'participantId'">Participant ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'birthDate'">Date of Birth</clr-dg-column>
  <clr-dg-column [clrDgField]="'gender'">Gender</clr-dg-column>
  <clr-dg-column [clrDgField]="'race'">Race</clr-dg-column>
  <clr-dg-column [clrDgField]="'ethnicity'">Ethnicity</clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">Review Status</clr-dg-column>

  <clr-dg-row *ngFor="let participant of DUMMY_DATA">
    <clr-dg-cell
      [style.cursor]="'pointer'"
      routerLink="{{ participant.id }}">
      {{ participant.id }}
    </clr-dg-cell>
    <clr-dg-cell>{{ participant.dob }}</clr-dg-cell>
    <clr-dg-cell>{{ participant.gender }}</clr-dg-cell>
    <clr-dg-cell>{{ participant.race }}</clr-dg-cell>
    <clr-dg-cell>{{ participant.ethnicity }}</clr-dg-cell>
    <clr-dg-cell>
      <span class="label"
        [ngClass]="participant.statusLabelClass">
        {{ participant.formattedStatusText }}
      </span>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
    {{ review.reviewSize }} Selected for Review from
    {{ review.matchedParticipantCount }} Participants
    <clr-dg-pagination #pagination
      [clrDgTotalItems]="review.reviewSize"
      [clrDgPageSize]="review.pageSize"
      [clrDgPage]="review.page + 1">
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
