.dropdown-item {
  height: 25px;
  overflow: visible;
}

.dropdown-item.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .popper-content {
  white-space: normal;
}

::ng-deep .search-keyword {
  color: #659F3D;
  font-weight: bolder;
  background: linear-gradient(to right, rgba(101,159,61,0.2) 0, rgba(101,159,61,0.2) 100%);
  padding: 2px 0;
}
