# we previously set this value to https://npm.fontawesome.com/ in order to access Font Awesome Pro packages with our auth token
# unfortunately, simply removing this setting can cause 401/Unauthorized errors under some scenarios (unclear when) for the Free packages we continue to use
# we can avoid this by forcing the use of our standard registry   
@fortawesome:registry=https://registry.yarnpkg.com/

# Include packages from https://github.com/DataBiosphere/terra-ui
@terra-ui-packages:registry=https://us-central1-npm.pkg.dev/dsp-artifact-registry/terra-ui-packages

