<div>
  <div class="overview-header">
    <h2 id="total-count">
      Total Count:
      <span *ngIf="(isRequesting$ | async)" class="spinner spinner-sm">
        Loading...
      </span>
      <span *ngIf="!(isRequesting$ | async)">
        {{ total$ | async }}
      </span>
    </h2>
    <div>
      <button
        type="button"
        class="btn btn-primary"
        [style.margin-left]="'0'"
        (click)="saveModal.open()">
        Save Cohort
      </button>
    </div>
  </div>

  <ng-container *ngIf="chartData$ | async as chartData">
    <div class="card bg-faded">
      <div class="card-header">
        Results by Gender
        <clr-icon shape="angle"
          [dir]="showGenderChart ? 'up' : 'down'"
          (click)="toggleShowGender()">
        </clr-icon>
      </div>
      <div *ngIf="showGenderChart" class="card-block">
        <app-gender-chart *ngIf="chartData.size"
          [data]="chartData">
        </app-gender-chart>
      </div>
    </div>

    <div class="card bg-faded">
      <div class="card-header">
        Results By Gender, Age Range, and Race
        <clr-icon shape="sort-by"
          [class.is-info]="stackChart"
          (click)="toggleChartMode()">
        </clr-icon>
        <clr-icon shape="angle"
          [dir]="showComboChart ? 'up' : 'down'"
          (click)="toggleShowCombo()">
        </clr-icon>
      </div>
      <div *ngIf="showComboChart" class="card-block">
        <app-combo-chart *ngIf="chartData.size"
          [data]="chartData"
          [mode]="stackChart ? 'stacked' : 'normalized'">
        </app-combo-chart>
      </div>
    </div>
  </ng-container>
</div>

<clr-modal
  #saveModal
  [clrModalStaticBackdrop]="false"
  [clrModalSize]="'lg'">
  <h3 class="modal-title">Save New Cohort</h3>

  <div class="modal-body">
    <form [formGroup]="cohortForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name" class="required">Cohort Name</label>
        <label
          aria-haspopup="true"
          role="tooltip"
          class="tooltip tooltip-validation tooltip-sm tooltip-bottom-left"
          [class.invalid]="name.invalid && (name.dirty || name.touched)">
          <input name="name"
            formControlName="name"
            size="76"
            type="text"
            autofocus>
          <span class="tooltip-content">
            A Name is required
          </span>
        </label>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description"
          formControlName="description">
        </textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="saveModal.close()">
      Cancel
    </button>

    <button
      type="button"
      class="btn btn-primary"
      (click)="submit()"
      [disabled]="!cohortForm.valid">
      Save Cohort
    </button>
  </div>
</clr-modal>
