.workspace-header {
  display: flex;
}

.description-text {
  color: #333;
  width: 100ex;
  padding-top: 0.5rem;
}

.indented {
  margin-left:2%;
}

.table-header-descriptor {
  margin-top: 0;
  padding-right: 0.5rem;
}

.table-header {
  margin: 1.5rem 0 0.25rem 0;
}

h3 {
  display: inline-block;
}

.permissions-group {
  margin: 1rem 0rem 0rem 1rem;
}

.cluster-spinner {
  display: inline-block;
}

.notebook-table-row {
  cursor: pointer;
}

.btn.btn-link.awaiting-review {
  cursor: not-allowed;
  color: #565656;
}



.btn.btn-primary.btn-create {
  width: max-content;
}


.main-body {
  flex-grow: 1;
  margin-right: 0.6rem;
}

.right-sidebar {
  background-color: #E2E2EA;
  width: 2rem;
  margin-right: -0.6rem;
  padding-left: 0.5rem;
  box-shadow: -3px 0 4px 0 rgba(0,0,0,0.15);
  z-index: 1;
}

.right-sidebar.right-sidebar-open {
  width: 16rem;
}

.workspace-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  height: 100%;
}

.subheader {
  color: #2F2E7E;
  font-size: 0.8rem;
  font-weight: 500;
}

button.btn.btn-link {
  color: #2691D0;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: none;
  border-right: 1px solid #979797;
  width: 10rem;
}

button.btn.btn-link.final {
  border-right: none;
}

button.btn.btn-link.selected {
  font-weight: normal;
}

.information-area {
  display: flex;
  flex-wrap: wrap;
}

.information-box {
  background-color: #CDCDE2;
  height: 2rem;
  width: 6rem;
  border-radius: 5px;
  line-height: 14px;
  padding: 0.4rem;
  color: #000000;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.information-header {
  text-transform: uppercase;
  font-size: 0.4rem;
}

.information-body {
  font-size: 0.5rem;
}

app-workspace-nav-bar {
  /*Change for sidebar*/
  width: calc(100% + 1rem);
}

.collaborator-text {
  display: inline-block;
  margin-right: 0.5rem;
}

.btn-short {
  display: inline-block;
  height: 0.9rem;
}
