
.area-block{
  margin-top: 20px;
  margin-left: 4%;
}

.indented{
  margin-left:2%;
}

.table-header {
  border-bottom: 2px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
}
.table-header > div {
  flex: 1 1 0;
}
.table-row {
  display: flex;
  padding: 0.5em 0;
}
.table-row > div {
  flex: 1 1 0;
}
h3{
  display: inline-block;
  margin: 0.5em 0 0.5em 0;
}

a{
  display:inline-block;
  color: #5DADE0;
}

a:hover {color:#262262;}

table{
  width: 100%;
  text-align: left;
}

th{
  width:19%;
}
td{
  width:19%;
  padding-top: 1em;
}
