<div *ngIf="!notFound else notFoundMessage">
  <div *ngIf="!workspaceLoading; else workspacePageLoading" style="display: flex;">
    <h2>{{workspace.name}}</h2>
    <clr-button-group class="permissions-group btn-primary">
      <clr-button [disabled]="!writePermission" (click)="edit()"
          class="btn btn-icon">
        <clr-icon class="is-solid" shape="pencil"></clr-icon>
      </clr-button>
      <clr-button (click)="share()" class="btn btn-icon">
        <clr-icon class="is-solid" shape="users"></clr-icon>
      </clr-button>
      <clr-button [disabled]="!ownerPermission"
          (click)="delete()" class="btn btn-icon btn-danger btn-deleting"
          [clrLoading]="deleting">
        <clr-icon class="is-solid" shape="trash"></clr-icon>
      </clr-button>
    </clr-button-group>
  </div>
  <ng-template #workspacePageLoading>
    <div class="loading-area">
      <span class="spinner spinner-md" style="padding-top: 1rem"></span>
      <span class="loading-text">Loading...</span>
    </div>
  </ng-template>
  <div *ngIf="!workspaceLoading;" class="description-text">
    {{workspace.description}}
  </div>
  <div class="area-block">
    <h3>CDR Version</h3>
    <div class="indented">
      <!-- TODO: Add CDR Version Info - blrubenstein -->
      <p *ngIf="!workspaceLoading;" class="cdr-text">
        {{workspace.cdrVersionId}}
      </p>
    </div>
  </div>
  <div class="area-block">
    <div class="table-header">
      <h3 class="table-header-descriptor">Cohorts</h3>
      <a class="btn btn-link" routerLink="{{document.location.pathname}}/cohorts/build">Add a Cohort</a>
    </div>
    <div class="indented">
      <clr-datagrid [clrDgLoading]="cohortsLoading">
        <clr-dg-column [clrDgField]="'cohort.name'" [clrDgSortBy]="cohortNameComparator" [style.width.%]="25">
          Name
          <clr-dg-string-filter [clrDgStringFilter]="cohortNameFilter"></clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'cohort.description'" [clrDgSortBy]="cohortDescriptionComparator" [style.width.%]="50">
          Description
          <clr-dg-string-filter [clrDgStringFilter]="cohortDescriptionFilter"></clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-column [style.width.%]="25">Created Date</clr-dg-column>
        <clr-dg-placeholder>No cohorts found in this workspace.</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let cohort of cohortList" [clrDgItem]="cohort" class="table-row cohort-table-row">
          <clr-dg-action-overflow>
            <button class="action-item"
              routerLink="{{document.location.pathname}}/cohorts/build"
              [queryParams]="{criteria: cohort.criteria}">
              <clr-icon shape="copy"></clr-icon>
              Clone
            </button>
            <button class="action-item"
              routerLink="{{document.location.pathname}}/cohorts/{{cohort.id}}/edit">
              <clr-icon shape="pencil"></clr-icon>
              Edit
            </button>
            <button class="action-item"
              routerLink="/cohorts/{{cohort.id}}/review">
              <clr-icon shape="grid-view"></clr-icon>
              Review
            </button>
          </clr-dg-action-overflow>
          <clr-dg-cell>{{cohort.name}}</clr-dg-cell>
          <clr-dg-cell>{{cohort.description}}</clr-dg-cell>
          <clr-dg-cell>{{cohort.creationTime | date:'medium'}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
  <clr-modal [(clrModalOpen)]="cohortsError">
    <h3 class="modal-title">Error:</h3>
    <div class="modal-body">Could not fetch cohorts from workspace.</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="cohortsError = false">Ok</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="clusterPulled">
    <h3 class="modal-title">Cluster Created:</h3>
    <div class="modal-body">Your notebook cluster is ready. Would you like to enter the cluster?</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="openCluster()">Ok</button>
      <button type="button" class="btn btn-primary" (click)="cancelCluster()">Cancel</button>
    </div>
  </clr-modal>
  <div class="area-block">
    <div class="table-header">
      <h3 class="table-header-descriptor">Notebooks</h3>
      <button class="btn" (click)="launchNotebook()">Launch Notebook Server</button>
      <button class="btn" (click)="createAndLaunchNotebook()">
        <div *ngIf="!clusterLoading; else clusterCreateLoading">Create Notebook Server</div>
        <ng-template #clusterCreateLoading>
          <div>
            <span class="spinner spinner-sm"></span>
            <span class="loading-text">Creating Notebook Server...</span>
          </div>
        </ng-template>
      </button>
      <button class="btn" (click)="killNotebook()">Delete Notebook Server</button>
    </div>
    <div class="indented">
      <clr-datagrid [clrDgLoading]="notebooksLoading">
        <clr-dg-column [clrDgField]="'notebook.name'" [clrDgSortBy]="notebookNameComparator">
          Name
          <clr-dg-string-filter [clrDgStringFilter]="notebookNameFilter"></clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'notebook.description'" [clrDgSortBy]="notebookDescriptionComparator">
          Description
          <clr-dg-string-filter [clrDgStringFilter]="notebookDescriptionFilter" [(clrFilterValue)]="a"></clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-column>URL</clr-dg-column>
        <clr-dg-placeholder>No notebooks found in this workspace.</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let notebook of notebookList" [clrDgItem]="notebook" class="table-row notebook-table-row">
          <clr-dg-cell>{{notebook.name}}</clr-dg-cell>
          <clr-dg-cell>{{notebook.description}}</clr-dg-cell>
          <clr-dg-cell>{{document.location.href}}{{notebook.url}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
</div>
<!-- TODO: Factor out to component -->
<ng-template #notFoundMessage>
  <h3>
    Workspace {{route.snapshot.params['ns']}}/{{route.snapshot.params['wsid']}} could not be found.
  </h3>
</ng-template>
