.area-block {
  margin-top: 0.2rem;
  margin-left: 4%;
}

.description-text {
  color: #333;
  width: 100ex;
}

.indented {
  margin-left:2%;
}

.table-header-descriptor {
  margin-top: 0;
  padding-right: 0.5rem;
}

.table-header {
  margin: 1.5rem 0 0.25rem 0;
}

h3 {
  display: inline-block;
}

.permissions-group {
  margin: 1rem 0rem 0rem 1rem;
}

.cluster-spinner {
  display: inline-block;
}

.notebook-table-row {
  cursor: pointer;
}
