.area-block {
  margin-top: 0.25rem;
  margin-left: 4%;
}

.description-text {
  color: #333;
}

.indented {
  margin-left:2%;
}

.table-header-descriptor {
  margin-top: 0;
  padding-right: 0.5rem;
}

.table-header {
  margin: 1.5rem 0 0.25rem 0;
}

h3 {
  display: inline-block;
}
