
.area-block {
  margin-top: 0.25em;
  margin-left: 4%;
}

.description-text {
  color: #333;
}

.indented {
  margin-left:2%;
}

.table-header {
  border-bottom: 2px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  padding: 1em 0;
  display: flex;
}

.table-header > div {
  flex: 1 1 0;
}

.table-header > div.wider-table {
  flex: 2 2 0;
}

.table-row {
  display: flex;
  padding: 0.5em 0;
}

.table-row > div {
  flex: 1 1 0;
}
/* TODO: Change style format for below once SCSS is in */
.table-row > div.wider-table {
  flex: 2 2 0;
}


h3 {
  display: inline-block;
  margin: 0.5em 0;
}

a {
  color: #5DADE0;
}

a:hover {
  color: #262262;
}
