<div class="workspace-container">
  <div class="main-body">
    <h2 class="greeting">{{greeting}}</h2>
    <div style="width: 200px">
      <div role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top-right">
        <span *ngIf="awaitingReview" class="tooltip-content">Workspace is awaiting review</span>
        <span *ngIf="!writePermission" class="tooltip-content">Write permission required to create cohorts</span>
        <div class="card add-card" [ngClass]="{'disabled' : !writePermission}" (click)="!writePermission || buildCohort()">
          <div class="create-text">
            Create a <br/>New Cohort
            <clr-icon shape="plus-circle" class="plus-circle"></clr-icon>
          </div>
        </div>
      </div>
      <div role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top-right">
        <span *ngIf="awaitingReview" class="tooltip-content">Workspace is awaiting review</span>
        <span *ngIf="!writePermission" class="tooltip-content">Write permission required to create notebooks</span>
        <div class="card add-card" [ngClass]="{'disabled' : !writePermission}" style="margin-top: 13px;" (click)="!writePermission || newNotebook()">
          <div class="create-text">
            Create a<br/>New Notebook
            <clr-icon shape="plus-circle" class="plus-circle"></clr-icon>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top: 1rem;">
      <h4 class="subheader">Research Purpose</h4>
      <div class="description-text">
        {{workspace.description}}
    <div style="position: relative; left: 250px; top: -200px">
      <div class="help-tip" style="height: 128px; width: 293px" *ngIf="newWorkspace">
        <div class="help-tip help-tip-title">Welcome to your workspace!</div>
        <div class="help-tip help-tip-text">One of the first things you may want to do is create a cohort and a notebook</div>
      </div>
    </div>
  </div>
  <div class="right-sidebar">
    <div>
      <h6 class="collaborator-text">Collaborators:</h6>
      <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top-left">
        <button class="btn btn-secondary btn-short" [disabled]="!ownerPermission" (click)="share()">Share</button>
        <span *ngIf="!ownerPermission" class="tooltip-content">
          Owner access is required to share the workspace.
        </span>
      </span>

    </div>
    <div *ngFor="let user of workspace.userRoles">
      <div>{{user.role}}: {{user.email}}</div>
    </div>
    <h6>Workspace Information</h6>
    <div class="information-area">
      <div class="information-box">
        <div class="information-header">
          CDR
        </div>
        <div class="information-body cdr-version-text">
          {{workspace.cdrVersionId}}
        </div>
      </div>
      <div class="information-box">
        <div class="information-header">
          Creation Date
        </div>
        <div class="information-body">
          {{workspaceCreationTime}}
        </div>
      </div>
      <div class="information-box">
        <div class="information-header">
          Last Updated
        </div>
        <div class="information-body">
          {{workspaceLastModifiedTime}}
        </div>
      </div>
      <div class="information-box">
        <div class="information-header">
          Data Access Level
        </div>
        <div class="information-body">
          {{workspace.dataAccessLevel | titlecase}}
        </div>
      </div>
    </div>
    <a href="https://console.cloud.google.com/storage/browser/{{workspace.googleBucketName}}">Google Bucket</a>
  </div>
</div>
<app-workspace-share></app-workspace-share>
<clr-modal [(clrModalOpen)]="notebookError">
  <h3 class="modal-title">Error:</h3>
  <div class="modal-body">Could not fetch notebooks from workspace. Please <a (click)="submitNotebooksLoadBugReport()">submit a bug report.</a></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="notebookError = false">Ok</button>
  </div>
</clr-modal>
<app-bug-report></app-bug-report>
