.workspace-header {
  display: flex;
}

.greeting {
  width: 35%;
  color: #2F2E7E;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  display: flex
}

.description-text {
  color: #333;
  width: 89%;
  padding-top: 0.5rem;
}

.indented {
  margin-left:2%;
}

.table-header-descriptor {
  margin-top: 0;
  padding-right: 0.5rem;
}

.table-header {
  margin: 1.5rem 0 0.25rem 0;
}

h3 {
  display: inline-block;
}

.permissions-group {
  margin: 1rem 0rem 0rem 1rem;
}

.spinner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.spinner {
  margin-top: 1rem;
}

.notebook-table-row {
  cursor: pointer;
}

.btn.btn-link.awaiting-review {
  cursor: not-allowed;
  color: #565656;
}

.btn.btn-primary.btn-create {
  width: max-content;
}

.main-body {
  width: 100%;
  position: relative;
}

.right-sidebar {
  background-color: #E2E2EA;
  margin-right: -0.6rem;
  padding-left: 0.5rem;
  width: 22%;
}

.workspace-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100% - 60px);
}

.subheader {
  color: #2F2E7E;
  font-size: 0.8rem;
  font-weight: 600;
}

button.btn.btn-link {
  color: #2691D0;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: none;
  border-right: 1px solid #979797;
  width: 10rem;
}

button.btn.btn-link.final {
  border-right: none;
}

button.btn.btn-link.selected {
  font-weight: normal;
}

.information-area {
  display: flex;
  flex-wrap: wrap;
}

.information-box {
  background-color: #CDCDE2;
  height: 2rem;
  width: 6rem;
  border-radius: 5px;
  line-height: 14px;
  padding: 0.4rem;
  color: #000000;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.information-header {
  text-transform: uppercase;
  font-size: 0.4rem;
}

.information-body {
  font-size: 0.5rem;
}

app-workspace-nav-bar {
  /*Change for sidebar*/
  width: calc(100% + 1rem);
}

.collaborator-text {
  display: inline-block;
  margin-right: 0.5rem;
}

.btn-short {
  display: inline-block;
  height: 0.9rem;
}

.research-purpose-item {
  line-height: 18px;
  margin-bottom: 7px;
}

.research-purpose-items {
  margin-top: 1rem;
  width: 89%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #262262;
  font-size: 12px;
  font-weight: 400;
}

.column {
  width: 45%;
  padding-right: 5%;
}

.action-item {
  text-align: left;
  color: #4A4A4A;
  fill: none;
  cursor: pointer;
  border: none;
  width: 100%;
  background-color: transparent;
}

.action-item.disabled {
  color: #AAAFB4;
  cursor: not-allowed;
}

.action-item.disabled {
  outline: none;
}

.padding-wrapper {
  padding-left: 1rem;
}

.btn-alink {
background-color: #262262;
border: none;
padding: 0rem 0.77rem;
border-radius: 0.3rem;
cursor: pointer;
cursor: hand;
text-transform: uppercase;
color: #fff;
letter-spacing: 0.02rem;
}

.btn.btn-alink:hover {
  background-color: #4356A7;
  color: #fff;
}
