:root {
  --larger-image: '';
  --smaller-image: '';
}
:host::ng-deep .template {
  background-color: #dedfe1;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: contain;
  background-position: bottom right -1rem;
  background-image: var(--larger-image);
}
:host::ng-deep .sign {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: auto;
}

:host::ng-deep .headerImage {
  height:1.75rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

:host::ng-deep .logoImage {
  width:33rem;
  height:auto;
}

:host::ng-deep @media all and (max-width: 900px) {
   .template {
    background-size: 0% 0%;
  }
}

:host::ng-deep @media all and (max-width: 1300px) and (min-width: 900px) {
   .template {
    background-image: var(--smaller-image);
    background-position: bottom right;

  }
}


:host::ng-deep .signed-out-content {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  min-width: 25rem;
}

:host::ng-deep .row {
  margin: 0;
}
