.template {
  background-color: #dedfe1;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: contain;
  background-position: bottom right -1rem;
  background-image: var(--larger-image);
}

.headerImage {
  height:1.75rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.logoImage {
  width:33rem;
  height:auto;
}

@media all and (max-width: 900px) {
  .template {
    background-size: 0% 0%;
  }
}

@media all and (max-width: 1300px) and (min-width: 900px) {
  .template {
    background-image: var(--smaller-image);
    background-position: bottom right;

  }
}


.signed-out-content {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  min-width: 25rem;
}

.row {
  margin: 0;
}
