<app-top-box>
  <button class="btn btn-link nav-link nav-item" [routerLink]="['/workspaces', wsNamespace, wsId, 'concepts']">Concepts</button>
  <button class="btn btn-link nav-link nav-item active" [routerLink]="['/workspaces', wsNamespace, wsId, 'concepts', 'sets']">Concept Sets</button>
  <app-tooltip>
    <div class="tooltip-header">What is a concept?</div>
    <div class="tooltip-label">
      Concepts describe information in a patient’s medical record,
      such as a condition they have, a  prescription they are
      taking or their physical measurements.
    </div>
    <div class="tooltip-header">What is a concept set?</div>
    <div class="tooltip-label">
      You can search for and save collections of concepts from a particular domain as a
      “Concept set”. For example, you can search for height, weight and blood pressure
      concepts from “Measurements” domain and call it “biometrics” concept set.
    </div>
    <div class="tooltip-header">How to use a concept set?</div>
    <div class="tooltip-label">
      You can use Notebooks to extract data defined in your “concept set” from your “cohort”.
      For example, you can launch a Notebook to import your “diabetes cases” cohort
      and then select your “biometrics” concept set, to get biometrics data for
      the participants in your cohort.
    </div>
  </app-tooltip>
  <div *ngIf="conceptSetsLoading" class="spinner-container">
    <span class="spinner spinner-lg"></span>
  </div>
  <div class="card-area" *ngIf="!conceptSetsLoading">
    <div role="tooltip" aria-haspopup="true" class="card add-card tooltip tooltip-md tooltip-top-right"
         [class.disabled]="actionsDisabled || !conceptDomainList" (click)="actionsDisabled ||  !conceptDomainList || newConceptSet()">
      <div class="create-text">
        Create a<br/>Concept Set
        <clr-icon shape="plus-circle" class="plus-circle"></clr-icon>
      </div>
      <span *ngIf="!writePermission" class="tooltip-content">Write permission required to create concept sets.</span>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
      <div *ngFor="let conceptSet of resourceList">
        <app-resource-card [resourceCard]="conceptSet"
                           [onUpdate]="loadConceptSets">
        </app-resource-card>
      </div>
    </div>
  </div>
</app-top-box>
<app-create-concept-modal *ngIf="isCreateModalOpen"
                          [onCreate]="loadConceptSets"
                          [onClose]="closeCreateModal"
                          [conceptDomainList]="conceptDomainList"
                          [existingConceptSets]="conceptSetsList">
</app-create-concept-modal>
