.btn.btn-link.nav-link.nav-item {
    color: #2691D0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: .2rem;
}

.btn.btn-link.nav-link.nav-item.active {
    font-weight: bolder;
    border-bottom: solid 3px;
}

.spinner {
    margin-top: 1rem;
}

.spinner-text {
    text-align: center;
    /* This forces the flex layout to put the text on a new line. */
    width: 100%;
}

.spinner-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card.item-card .name.disabled {
    cursor: not-allowed;
    word-wrap: break-word;
    color: #AAAFB4;
}

.card-area {
    display: flex;
    justify-content: flex-start;
}
