<div class="ds-wrapper">
  <div class="ds-options">
    <div class="select-box">
      <div *ngIf="includeSearchBox" class="box-header demo-search-box">
        <input
                [formControl]="filter"
                [name]="filter"
                [id]="filter"
                type="text"
                placeholder="Search" />
        <label for="filter">
          <clr-icon *ngIf="filter.value && filter.value.trim()"
                    shape="window-close"
                    (click)="unsetFilter()">
          </clr-icon>
          <clr-icon *ngIf="!filter.value || !filter.value.trim()"
                    shape="search">
          </clr-icon>
        </label>
      </div>
      <div class="" [ngClass]="[includeSearchBox? 'search-option-list' :'option-list']" >
        <span *ngIf="loading" class="spinner spinner-md"></span>
        <div *ngFor="let opt of filteredOptions; let i = index" class="option" (click)="select(opt)">
          <clr-icon  *ngIf="!selectedOption.includes(opt.get('parameterId'))"  shape="plus-circle"  size="20" class="selection-icon items-selection-icon" ></clr-icon>
          <clr-icon  *ngIf="selectedOption.includes(opt.get('parameterId'))" shape="check-circle" size="20"  class="selection-icon items-disabled-icon"></clr-icon>
          {{ opt.get('name', '') | titlecase }}
          <span *ngIf="opt.get('count')" class="badge badge-info">
            {{ opt.get('count') | number }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

